<div id="career_popup" class="o-hidden">
    <div class="popup-wrapper o-rounded-15 px-4 py-3 px-lg-5 o-box-shadow-darker">
        <div class="px-0 py-0 px-md-1 py-md-1 position-relative">
            <button class="btn close-btn"><img width="15" src="../../../../img/svg/close.svg" alt="Bezár"></button>
            <div class="row mt-5 align-items-center">
                <div class="col-12 col-lg-6 mb-3">
                    <h5 class="o-base-red o-noto-bold text-left">Nem töltöttél fel Önéletrajzot a jelentkezéshez</h5>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="ml-3 c-input-box">
                        <input type="file" name="file-1" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="">
                        <label for="file-1"> <img src="../../../../img/svg/plus2.svg" alt="" title=".jpg, .png, .pdf, .docx formátum a megengedett"> <span>Szeretném most feltölteni az Önéletrajzomat!</span></label>
                    </div>
                </div>
                <div class="col-12">
                    <p class="o-base-blue text-left">Amennyiben nem szeretnél önéletrajzot feltölteni, kérjük töltsd ki űrlapunkat!</p>
                </div>
            </div>
            <div class="row mt-3">
                {{> sales_slider }}
            </div>
        </div>
    </div>
</div>