<script>
    // function showExitPopup() {
    //
    //     document.getElementById("exit_popup").style.display = "block";
    //
    //     if(window.popupdisabled === 1) { return; }
    //     window.popupdisabled = 1;
    //
    //     document.getElementById("exit_popup").style.height = "100%";
    //
    //     setTimeout(function(){
    //         window.popupdisabled = 0 },
    //             20000);
    // }
    //
    // function closeExitPopup() {
    //     document.getElementById("exit_popup").style.height = "0%";
    // }
    //
    // document.body.addEventListener("mouseleave", function (event) {
    //     if (event.clientY <= 0 || event.clientX <= 0 || (event.clientX >= window.innerWidth || event.clientY >= window.innerHeight)) {
    //         showExitPopup();
    //     }
    // });
</script>

<div id="exit_popup" class="o-hidden" onclick="closeExitPopup()">
    <div class="popup-wrapper o-rounded-15 p-2 p-md-3 p-3" onclick="event.stopPropagation()">
        <div class="px-0 py-0 px-md-3 py-md-3">
            <button class="btn close-btn" onclick="closeExitPopup()"><img width="15" src="../../../../img/svg/close.svg" alt="Bezár"></button>
            <h2 class="o-base-blue o-noto-bold text-center text-md-left py-3 w-100 d-flex justify-content-center">Ez is érdekelhet!</h2>
            <div class="o-card o-bg-white-gray o-rounded-15 p-2 p-md-3 h-100 o-box-shadow-base mh-200">
                <h6 class="o-base-red o-noto-bold text-left">Lorem ipsum dolor sit Lorem ipsum dolor sit amet</h6>
                <div class="card-content mt-4 text-left">
                    <ul class="list-unstyled">
                        <li class="mb-2 o-base-blue"><img width="20" src="../../../../img/svg/check-circle-regular.svg" alt="" class="mr-2"><a href="#" class="o-black-grayish o-underline-text">Lorem ipsum dolor sit Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </a></li>
                        <li class="mb-2 o-base-blue"><img width="20" src="../../../../img/svg/check-circle-regular.svg" alt="" class="mr-2"><a href="#" class="o-black-grayish o-underline-text">Lorem ipsum dolor sit Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </a></li>
                        <li class="mb-2 o-base-blue"><img width="20" src="../../../../img/svg/check-circle-regular.svg" alt="" class="mr-2"><a href="#" class="o-black-grayish o-underline-text">Lorem ipsum dolor sit</a></li>
                        <li class="mb-2 o-base-blue"><img width="20" src="../../../../img/svg/check-circle-regular.svg" alt="" class="mr-2"><a href="#" class="o-black-grayish o-underline-text">Lorem ipsum dolor sit Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </a></li>
                        <li class="mb-2 o-base-blue"><img width="20" src="../../../../img/svg/check-circle-regular.svg" alt="" class="mr-2"><a href="#" class="o-black-grayish o-underline-text">Lorem ipsum dolor sit Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </a></li>
                        <li class="mb-2 o-base-blue"><img width="20" src="../../../../img/svg/check-circle-regular.svg" alt="" class="mr-2"><a href="#" class="o-black-grayish o-underline-text">Lorem ipsum dolor sit Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </a></li>
                    </ul>
                </div>
            </div>
            <div class="row pt-3 pb-3">
                <div class="col-12 col-md-6 offset-md-3 mb-2 mb-md-0">
                    <button class="btn popup-btn -btn o-blue-primary-btn o-rounded-7 d-block w-100 m-auto" onclick="closeExitPopup()">Ne zavarjanak</button>
                </div>
            </div>
        </div>
    </div>
</div>