<div id="reg_log_popup" class="o-hidden">
    <div class="popup-wrapper o-rounded-15 p-1 p-md-2 o-box-shadow-darker">
        <h5 class="o-black-grayish o-noto-bold pt-4">A bejelentkezés funkció hamarosan elérhető.</h5>
        <div class="px-0 py-0 px-md-1 py-md-1">
            <div class="close-btn cursor-pointer"><img src="../../../../img/svg/close.svg" alt="Bezár"></div>
            <div class="row mt-3 p-3">
                <div class="col-12 col-xl-6 mb-2 mb-md-0">
                    <div class="o-card o-bg-white-gray o-rounded-15 px-3 mb-5 py-4 p-md-5 h-100 o-box-shadow-base">
                        <div class="d-flex">
                            <a data-toggle="o-tab" data-tabs=".otabs" data-tab=".tab-1" class="o-noto-bold o-base-blue px-3 py-2 text-decoration-none otab-menu active font-18" id="login" href="#!">Belépek</a>
                            <a data-toggle="o-tab" data-tabs=".otabs" data-tab=".tab-2" class="o-base-blue o-noto-bold o-rounded-15 px-3 py-2 text-decoration-none otab-menu font-18" id="reg" href="#!">Regisztrálok</a>
                        </div>
                        <div class="otabs">
                            <div class="card-content mt-3 otab tab-1 active">
                                <label class="sr-only" for="rlUserName">Név</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-darker" id="rlUserName" placeholder="Név">
                                </div>
                                <label class="sr-only" for="rlUserMail">E-mail</label>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-darker" id="rlUserMail" placeholder="E-mail">
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <small><a href="" class="o-base-blue">Elfelejtettem a jelszavam</a></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center mt-3">
                                        <a href="#!" class="o-blue-primary-btn o-rounded-15 align-items-center d-flex w-100 px-3 py-3 o-box-shadow-base o-h-50"><img
                                                src="../../../../img/svg/fb-rounded.svg" alt="" class="mr-2"><span class="o-noto-bold">Belépek a Facebook fiókommal</span></a>
                                    </div>
                                    <div class="col-12 d-flex justify-content-center mt-3">
                                        <a href="#!" class="o-blue-primary-btn align-items-center o-rounded-15 d-flex w-100 px-3 py-3 o-box-shadow-base o-h-50"><img
                                                src="../../../../img/svg/google-plus.svg" alt="" class="mr-2"><spam class="o-noto-bold">Belépek a Google fiókommal</spam></a>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-8 col-md-6">
                                        <button type="button" class="o-primary-btn o-btn-group o-btn-login" role="button">
                                            <span>Belépek</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content mt-3 otab tab-2">
                                <label class="sr-only" for="rlUserName2">Név</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-darker" id="rlUserName2" placeholder="Név">
                                </div>
                                <label class="sr-only" for="rlUserMail2">E-mail</label>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-darker" id="rlUserMail2" placeholder="E-mail">
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center mt-3">
                                        <a href="#!" class="o-blue-primary-btn align-items-center o-rounded-15 d-flex w-100 px-3 py-3 o-box-shadow-base o-h-50"><img
                                                src="../../../../img/svg/fb-rounded.svg" alt="" class="mr-2"><span class="o-noto-bold">Regisztrálok a Facebook fiókommal</span></a>
                                    </div>
                                    <div class="col-12 d-flex justify-content-center mt-3">
                                        <a href="#!" class="o-blue-primary-btn align-items-center o-rounded-15 d-flex w-100 px-3 py-3 o-box-shadow-base o-h-50"><img
                                                src="../../../../img/svg/google-plus.svg" alt="" class="mr-2"><span class="o-noto-bold">Regisztrálok a Google fiókommal</span></a>
                                    </div>
                                    <div class="col-12 d-flex justify-content-left mt-3 align-items-center text-left">
                                        <input class="mr-2 input-height-50 checkbox-medium" type="checkbox" id="privacyReg">
                                        <label class="o-small o-base-blue o-line-height-1" for="privacyReg">Az <a href="#" class="o-base-blue o-underline-text" target="_blank">Adatvédelmi tájékoztatót</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott személyes adataim kezeléséhez.</label>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-8 col-md-6">
                                        <button type="button" class="o-primary-btn o-btn-group o-btn-checklist" role="button">
                                            <span>Regisztrálok</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-5 mt-xl-0">
                    <div class="o-card o-bg-white-gray o-rounded-15 px-3 mb-5 py-4 p-md-5 h-100 o-box-shadow-base">
                        <h5 class="o-base-red o-noto-bold text-left font-18">Nincs még Openhouse fiókja? REGISZTRÁLJON!</h5>
                        <!--<div class="d-block d-lg-none">
                            <div class="d-flex justify-content-center mt-3">
                                <a href="#!" class="o-blue-primary-btn o-small o-noto-bold o-rounded-15 d-flex w-100 px-3 py-3 o-box-shadow-base">Érdekli miért éri meg regisztrálni? Olvasson tovább!</a>
                            </div>
                        </div>-->
                        <div class="card-content mt-4 text-left">
                            <ul class="list-unstyled">
                                <li class="mb-3 o-base-blue o-check-circle-regular">Elmentheted kereséseidet</li>
                                <li class="mb-3 o-base-blue o-check-circle-regular">Követheted kedvenc ingatlanjaidat</li>
                                <li class="mb-3 o-base-blue o-check-circle-regular">Értesítést kérhetsz új ingatlanokról</li>
                                <li class="mb-3 o-base-blue o-check-circle-regular">Megbízásba adhatod ingatanodat</li>
                                <li class="mb-3 o-base-blue o-check-circle-regular">Nyomon követheted ingatlanod statisztikáit</li>
                                <li class="mb-3 o-base-blue o-check-circle-regular">Időpontokat foglalhatsz</li>
                                <li class="mb-3 o-base-blue o-check-circle-regular">Új tippet nyújthatsz be</li>
                            </ul>
                            <div class="otabs">
                                <div class="otab tab-1 active">
                                    <div class="col-8 col-md-6">
                                        <button type="button" class="o-primary-btn o-btn-group o-btn-login" role="button">
                                            <span>Belépek</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row otab tab-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>