.categories-section {
  .card-img-overlay {
    background: $overlay-bg;
    @extend .o-rounded-15;
  }

  .title-wrapper {
    position: absolute;
    top: 1.5rem;

    @include media-breakpoint-up(xl) {
      top: 2rem;
    }
  }

  .card-title {
    font-size: 1.125rem;
    font-family: $noto-bold;

    @include media-breakpoint-up(xl) {
      font-size: 1.75rem;
    }

    &:after {
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
      height: 5px;
      content: '';
      background-color: $white;
      transition: all 200ms linear;
      border-radius: 5px;
    }
  }

  .link {
    .card-link {
      position: absolute;
      top: 4rem;
      min-width: 155px;

      @include media-breakpoint-up(lg) {
        top: 5rem;
      }
    }
  }

  .categories-section_main {

    margin-right: -5px !important;
    margin-left: -5px !important;

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col,
    .col-auto,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm,
    .col-sm-auto,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md,
    .col-md-auto,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg,
    .col-lg-auto,
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl,
    .col-xl-auto {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  .card-img {
    @include media-breakpoint-down(lg) {
      max-height: 200px;
      object-fit: cover;
    }
  }
}