.main-hero {
  min-height: 380px;
  .tab-content {
    max-width: 1300px;
    margin: auto;
    width: 100%;
    .tab-item.active {
      .tab-link {
        background-color: $darker-red;
      }
    }
  }
  .o-prepend-group {

    .input-group-prepend {
      .input-group-text {
        font-family: $noto-bold;
        color: $base-blue;
        background-color: $white;
        border: none;
        font-size: 1rem;
        @include media-breakpoint-up(sm) {
          font-size: inherit;
        }
      }
    }
  }

  div.form-control, #min_area {
    @include media-breakpoint-down(sm) {
      border-bottom-left-radius: 15px !important;
      border-top-left-radius: 15px !important;
     /* padding-left: 5px !important;*/
    }
  }

  .input-group-text {
    @include media-breakpoint-down(sm) {
      border-bottom-right-radius: 15px !important;
      border-top-right-radius: 15px !important;
    }
  }

  .form-control {
    @extend .input-height-50;
    font-size: 1rem;
    @include media-breakpoint-up(sm) {
      font-size: inherit;
    }
  }

  .map-icon {
    background-color: $darker-red;
    color: white;
    font-size: 2rem;
    border-radius: $rounded-15;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: auto;
    @include media-breakpoint-up(lg) {
      height: 50px;
      width: 50px;
    }
    .fas {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}