<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="aboutUs">

{{> header }}

<main class="main about-us">
    {{> about_us_hero }}
    {{> about_us_join }}
    <section class="container-fluid pt-3 position-relative">
        <div class="container">
            <div class="row align-items-center mb-3">
                <div class="col-12 px-0 text-white">
                    <div class="o-call-to-action-bubble d-flex align-items-center mt-4 mb-4">
                        <h2 class="o-bubble-title base-red-bg mb-0">Az Openhouse cégcsoportról</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 px-0 pb-2">
                    <h5>Az Openhouse cégcsoport elsősorban ingatlanközvetítői franchise hálózatával, az Openhouse Ingatlan- és Pénzügyi Közvetítő Hálózattal vált országosan ismertté. Több tucat ingatlanirodával és közel 250 fős értékesítői gárdával évek óta a piacvezető ingatlanhálózatok között található országos szinten.</h5>
                </div>
                <div class="col-12 px-0 pb-2">
                    <h5>Az Openhouse márkanév alatt az ingatlanközvetítés mellett az ingatlan vásárláshoz szorosan kapcsolódó finanszírozásban is segítséget nyújtunk ügyfeleinknek.</h5>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid pt-3 position-relative pb-3">
        <div class="container pb-5">
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="row pt-3 position-relative mt-xl-0">
                        <div class="col-12">
                            <div class="counter-card row text-white justify-content-center align-items-center py-5 m-auto">
                                <div class="col-12 px-4 py-2">
                                    <div class="row text-center">
                                        <div class="col-6 border-right p-3">
                                            <h2><span id="value1">13</span> +</h2>
                                            <p>tapasztalat</p>
                                        </div>
                                        <div class="col-6 p-3">
                                            <h2><span id="value2">32</span></h2>
                                            <p>iroda</p>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-6 border-top border-right p-3">
                                            <h2><span id="value3">130</span> +</h2>
                                            <p>munkatárs</p>
                                        </div>
                                        <div class="col-6 border-top p-3">
                                            <h2><span id="value4">60000</span> +</h2>
                                            <p>Elégedett ügyfél</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 text-center text-md-left">
                    <div class="row pt-3 position-relative mt-xl-0">
                        <div class="col-12">
                            <div class="list-card o-rounded-15 py-3 py-lg-5 o-box-shadow-darker row o-black justify-content-center align-items-center m-auto">
                                <div class="col-12">
                                    <h4 class="o-base-blue mb-4 o-noto-bold">A cégcsoport több tevékenységi területen is működik önálló szervezeti egységekkel:</h4>
                                    <ul class="list-unstyled text-left">
                                        <li class="o-done-icon">
                                            <p class="mb-0">Nyitott Ház Kft.  - Ingatlanközvetítés, ingatlanirodák - és franchise rendszer üzemeltetése
                                                <a href="https://oh.hu/" class="o-base-blue">(https://oh.hu/)</a></p>
                                        </li>
                                        <li class="o-done-icon">
                                            <p class="mb-0">Open House Kft. - Bank - és biztosító független pénzügyi közvetítőként pénzügyi közvetítői tevékenységet folytat <a href="https://oh.hu/" class="o-base-blue">(https://oh.hu/)</a></p>
                                        </li>
                                        <li class="o-done-icon">
                                            <p class="mb-0">Openinvest Kft. - Ingatlanfejlesztés és - beruházás területén működik</p>
                                        </li>
                                        <li class="o-done-icon">
                                            <p class="mb-0">Openjobs Kft. -  Online állásportál üzemeltetése <a href="https://draftme.hu/" class="o-base-blue">(https://draftme.hu/)</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 position-relative o-gray-bg mb-5">
        <div class="container">
            {{> mini_image_slider }}
        </div>
    </section>
    {{> slick_card_3_col_news }}
    <section class="container-fluid base-red-bg pt-5 position-relative o-blue-opacity-bg mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 o-mt-m3 px-0">
                    <figure class="o-border-red-deco">
                        <a href="#!">
                            <img class="img-fluid" src="../../img/aloldalak/rolunk/pic.png" alt="Társadalmi felelősségvállalás">
                        </a>
                    </figure>
                </div>
                <div class="col-12 col-md-7 text-center text-md-left pl-md-5 pl-0 pb-5">
                    <h3 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start">Csatlakozz az Openhouse-hoz!</h3>
                    <p class="text-white py-3">Érdekel az ingatlanszakma? Csatlakozz hozzánk értékesítőként, nyisd meg ingatlanirodádat hálózatunk tagjaként!
                        Érdekelnek a részletek! </p>
                    <div class="row mt-3 justify-content-between align-items-center">
                        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                            <a href="karrier" class="o-primary-btn o-btn-group w-100">
                                <span>Karrier</span>
                            </a>
                        </div>
                        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                            <a href="karrier" class="o-primary-btn o-btn-group w-100">
                                <span>Franchise</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer }}
</body>
<!--<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>-->

</html>