<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="csr">

{{> header }}

<main class="main csr">
    {{> csr_hero }}
    <section class="container-fluid pt-3 position-relative mb-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-left pl-md-5 pl-0 pb-5">
                    <h2 class="w-100 d-flex align-items-center o-base-blue justify-content-center justify-content-md-start font-size-25">Az Openhouse nemcsak az ingatlanról és a pénzügyekről szól, hanem a társadalmi felelősségvállalásról is.</h2>
                    <p class="py-3 o-black font-size-18">
                        A hátrányos helyzetű családokat és a nehéz körülmények között élő gyermekeket is támogatjuk. Az életkörülményeik jobbá tételének érdekében rendszeres gyűjtéseket szervezünk, melyhez irodáink, munkatársaink és a tulajdonosok is hozzájárulnak. Támogatunk alapítványokat, sporteseményeket, figyelünk továbbá arra, hogy cégünk ökológiai lábnyomát csökkentsük, hogy földünk az utánunk következő generációk számára is élhető hely maradjon.
                    </p>
                    <h4 class="w-100 d-flex o-noto-bold align-items-center text-left justify-content-start py-3 o-base-blue mt-3 mb-3">Te is csatlakoznál? Itt követheted tevékenységünket vagy jelezheted szándékodat.</h4>
                    <div class="d-flex mb-5 mb-xl-0 justify-content-start align-items-center">
                        <div class="col-lg-4 pl-0">
                            <a href="https://www.facebook.com/ohingatlan" target="_blank" class="d-flex align-items-center w-100 mt-3 text-decoration-none">
                                <div class="o-line-height-base d-flex align-items-center justify-content-center col-2">
                                    <img width="25" src="../../img/svg/dupla_nyil2.svg" alt=""></div>
                                <div class="o-noto-bold o-base-blue col-6">facebook</div>

                            </a>
                        </div>
                        <div class="col-lg-4 pl-0">
                            <a href="https://www.instagram.com/openhouseingatlan/" target="_blank" class="d-flex align-items-center w-100 mt-3 text-decoration-none">
                                <div class="o-line-height-base d-flex align-items-center justify-content-center col-2">
                                    <img width="25" src="../../img/svg/dupla_nyil2.svg" alt=""></div>
                                <div class="o-noto-bold o-base-blue col-6">instagram</div>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 o-mt-m3">
                    <figure class="o-border-red-deco">
                        <a href="#!">
                            <img class="img-fluid" src="../../img/aloldalak/csr/team.png" alt="Csapat">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid position-relative">
        <div class="row align-items-center mb-3">
            <div class="col-12 col-md-10">
                <div class="o-call-to-action-bubble d-flex align-items-center mb-4">
                    <h2 class="o-bubble-title o-blue-primary-bg text-white mb-0">Társadalmi felelősség - képekben</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 mb-4 card-deck">
                    <div class="o-card card o-box-shadow-darker">
                        <div class="o-card-header">
                            <a href="#!">
                                <img src="../../img/aloldalak/csr/csr-1.png">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-content">
                                <p class="o-noto-bold o-base-red">2020.10.15.</p>
                                <h5 class="o-card-second-title card-title o-noto-bold">Rászoruló családok részére osztottunk ki számítógépeket és monitorokat</h5>
                                <h6 class="card-title o-black o-noto-bold">50 gyermek online tanulását könnyítettük meg.</h6>
                            </div>
                        </div>
                        <div class="o-card-footer border-top px-3 py-2">
                            <div class="d-flex o-base-red o-noto-bold align-items-center">
                                <span><img width="20" src="../../img/svg/tag.svg" alt="cimke"></span>
                                <span class="small o-tags col-10"><a href="#!">támogatás</a>, <a href="#!">csr</a>, <a href="#!">otthon</a>, <a href="#!">felajánlás</a></span>
                                <div class="d-flex justify-content-end col-2">
                                    <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 card-deck">
                    <div class="o-card card o-box-shadow-darker">
                        <div class="o-card-header">
                            <a href="#!">
                                <img src="../../img/aloldalak/csr/csr-2.png">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-content">
                                <p class="o-noto-bold o-base-red">2020.05.15.</p>
                                <h5 class="o-card-second-title card-title o-noto-bold">Az Openhouse gyermekotthonok számára ajánlott fel íróasztalokat</h5>
                                <h6 class="card-title o-black o-noto-bold">Kiemelten fontos a közösség összefogása.</h6>
                            </div>
                        </div>
                        <div class="o-card-footer border-top px-3 py-2">
                            <div class="d-flex o-base-red o-noto-bold align-items-center">
                                <span><img width="20" src="../../img/svg/tag.svg" alt="cimke"></span>
                                <span class="small o-tags col-10"><a href="#!">felajánlás</a>, <a href="#!">csr</a>, <a href="#!">támogatás</a>, <a href="#!">közösség</a></span>
                                <div class="d-flex justify-content-end col-2">
                                    <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 card-deck">
                    <div class="o-card card o-box-shadow-darker">
                        <div class="o-card-header">
                            <a href="#!">
                                <img src="../../img/aloldalak/csr/csr-3.png">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-content">
                                <p class="o-noto-bold o-base-red">2020.01.06.</p>
                                <h5 class="o-card-second-title card-title o-noto-bold">Egészséges és sérült gyerekek együtt játszhatnak az óvodában</h5>
                                <h6 class="card-title o-black o-noto-bold"> Az Openhouse 120 ezer Ft-os támogatást nyújtott.</h6>
                            </div>
                        </div>
                        <div class="o-card-footer border-top px-3 py-2">
                            <div class="d-flex o-base-red o-noto-bold align-items-center">
                                <span><img width="20" src="../../img/svg/tag.svg" alt="cimke"></span>
                                <span class="small o-tags col-10"><a href="#!">adomány</a>, <a href="#!">támogatás</a>, <a href="#!">csr</a>, <a href="#!">közösség</a></span>
                                <div class="d-flex justify-content-end col-2">
                                    <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 card-deck">
                    <div class="o-card card o-box-shadow-darker">
                        <div class="o-card-header">
                            <a href="#!">
                                <img src="../../img/aloldalak/csr/csr-1.png">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-content">
                                <p class="o-noto-bold o-base-red">2020.10.15.</p>
                                <h5 class="o-card-second-title card-title o-noto-bold">Rászoruló családok részére osztottunk ki számítógépeket és monitorokat</h5>
                                <h6 class="card-title o-black o-noto-bold">50 gyermek online tanulását könnyítettük meg.</h6>
                            </div>
                        </div>
                        <div class="o-card-footer border-top px-3 py-2">
                            <div class="d-flex o-base-red o-noto-bold align-items-center">
                                <span><img width="20" src="../../img/svg/tag.svg" alt="cimke"></span>
                                <span class="small o-tags col-10"><a href="#!">támogatás</a>, <a href="#!">csr</a>, <a href="#!">otthon</a>, <a href="#!">felajánlás</a></span>
                                <div class="d-flex justify-content-end col-2">
                                    <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 card-deck">
                    <div class="o-card card o-box-shadow-darker">
                        <div class="o-card-header">
                            <a href="#!">
                                <img src="../../img/aloldalak/csr/csr-2.png">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-content">
                                <p class="o-noto-bold o-base-red">2020.05.15.</p>
                                <h5 class="o-card-second-title card-title o-noto-bold">Az Openhouse gyermekotthonok számára ajánlott fel íróasztalokat</h5>
                                <h6 class="card-title o-black o-noto-bold">Kiemelten fontos a közösség összefogása.</h6>
                            </div>
                        </div>
                        <div class="o-card-footer border-top px-3 py-2">
                            <div class="d-flex o-base-red o-noto-bold align-items-center">
                                <span><img width="20" src="../../img/svg/tag.svg" alt="cimke"></span>
                                <span class="small o-tags col-10"><a href="#!">felajánlás</a>, <a href="#!">csr</a>, <a href="#!">támogatás</a>, <a href="#!">közösség</a></span>
                                <div class="d-flex justify-content-end col-2">
                                    <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 card-deck">
                    <div class="o-card card o-box-shadow-darker">
                        <div class="o-card-header">
                            <a href="#!">
                                <img src="../../img/aloldalak/csr/csr-3.png">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-content">
                                <p class="o-noto-bold o-base-red">2020.01.06.</p>
                                <h5 class="o-card-second-title card-title o-noto-bold">Egészséges és sérült gyerekek együtt játszhatnak az óvodában</h5>
                                <h6 class="card-title o-black o-noto-bold"> Az Openhouse 120 ezer Ft-os támogatást nyújtott.</h6>
                            </div>
                        </div>
                        <div class="o-card-footer border-top px-3 py-2">
                            <div class="d-flex o-base-red o-noto-bold align-items-center">
                                <span><img width="20" src="../../img/svg/tag.svg" alt="cimke"></span>
                                <span class="small o-tags col-10"><a href="#!">adomány</a>, <a href="#!">támogatás</a>, <a href="#!">csr</a>, <a href="#!">közösség</a></span>
                                <div class="d-flex justify-content-end col-2">
                                    <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-5">
                <div class="d-flex justify-content-center m-auto">
                    <a href="#!" class="o-base-blue text-decoration-none">1 oldal</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span><a href="#!" class="o-base-blue text-decoration-none">48</a>
                </div>
            </div>
            <div class="row mx-4 d-flex justify-content-end">
                <a href="#!" class="o-base-blue text-decoration-none o-noto-bold">Következő oldal <i class="fas fa-chevron-right ml-2"></i></a>
            </div>
        </div>
    </section>
</main>
{{> footer }}
</body>
</html>