<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="home">

{{> header }}

<main class="main list">
    <section class="container-fluid pt-5 position-relative pb-5 pt-5 o-lighter-gray-bg">
        <div class="pb-5">
            <div class="row justify-content-center">
                <div class="col-3 d-none d-xl-block">
                    {{> list_sidebar }}
                </div>
                <div class="col-12 col-xl-8 ml-xl-3">
                    {{> list_card_header }}
                    <div class="row pt-5 px-xl-4">
                        <div class="col-12 mb-3">
                            {{> listcard }}
                        </div>
                        <div class="col-12">
                            {{> listcard }}
                        </div>
                    </div>
                    <div class="row pt-3 px-xl-4">
                        <div class="col-12 mb-3">
                            {{> listcard }}
                        </div>
                        <div class="col-12">
                            {{> listcard }}
                        </div>
                    </div>
                    <div class="row pt-5 px-xl-4">
                        <div class="col-12">
                            <div class="card o-card bp-bg o-rounded-15">
                                <div class="card-body pb-0 d-flex justify-content-center align-items-center">
                                    <div class="row">
                                        <div class="col-12 col-lg-4 mb-5 mb-lg-0 d-flex justify-content-center justify-content-lg-start align-items-center">
                                            <a href="#!" class="bg-white bb-logo-wrapper" target="_blank">
                                                <svg width="200" class="" fill="#d80018" id="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172.9 36.6">
                                                    <path class="st0" d="M20.5 17.9c-.1-2.8 3.7-1 3.6-4 0-1-.8-1.7-2-1.7-2.5.1-2.1 2.7-3.8 2.7H18c-1.7-.1-1.3-2.6-3.8-2.7-1.2 0-1.9.7-2 1.7-.1 2.9 3.7 1.2 3.6 4-.1 3.1-4.5.2-4.6 3.9-.1 1.4 1 2.5 2.4 2.6 1.8.1 2.4-1 3-1.9 0-.1.1-.1.1-.2.2-.3.5-.6.9-.8.2-.1.4-.1.6-.1.3 0 .6.1.8.2.2.1.5.4.9.9.6.9 1.2 1.9 2.9 1.8 1.4-.1 2.4-1.2 2.4-2.6-.2-3.6-4.5-.7-4.7-3.8zm-.9 1.5c0 .8-.6 1.4-1.4 1.4-.8 0-1.4-.6-1.4-1.4V17c0-.8.6-1.4 1.4-1.4.8 0 1.4.6 1.4 1.4v2.4z"></path>
                                                    <path class="st0" d="M18.2 0C8.2 0 0 8.2 0 18.3c0 10.1 8.2 18.3 18.2 18.3 10.1 0 18.2-8.2 18.2-18.3C36.4 8.2 28.3 0 18.2 0zm4.7 28c-1.9.1-3.6-.6-4.7-1.5-1.1.9-2.7 1.6-4.7 1.5-3.7-.1-6.5-2.9-6.4-6.1.1-2.1 1.5-3.8 3.4-4.6-1.4-1-2.1-2.5-2-4.1.1-2.1 2-4.8 5.8-4.6 1.5.1 2.9.7 3.9 1.5 1-.8 2.4-1.5 3.9-1.5 3.8-.1 5.7 2.6 5.8 4.6.1 1.7-.6 3.1-2 4.1 1.9.8 3.3 2.5 3.4 4.6.1 3.2-2.7 6-6.4 6.1zM46.9 19.2h-2.4v2.9h2.4c1.1 0 1.6-.7 1.6-1.5-.1-.7-.6-1.4-1.6-1.4m-.2-4.8h-2.3v2.8h2.3c1 0 1.5-.6 1.5-1.4 0-.9-.5-1.4-1.5-1.4m.4 9.9h-5v-12h4.8c2.3 0 3.7 1.3 3.7 3.4 0 1.3-.9 2.2-1.5 2.5.7.3 1.6 1.1 1.6 2.7 0 2.2-1.5 3.4-3.6 3.4M57.3 24.4c-2.4 0-4.4-1.7-4.4-4.2v-7.9h2.3v7.8c0 1.4.8 2.2 2.1 2.2s2.1-.8 2.1-2.2v-7.8h2.3v7.9c0 2.5-2 4.2-4.4 4.2M70.1 15.1c-.4-.5-.9-.7-1.7-.7h-1.8v7.8h1.8c.8 0 1.3-.3 1.7-.7.4-.5.5-1.4.5-3.2 0-1.9-.1-2.6-.5-3.2m1.6 8c-.8.8-1.9 1.1-3.1 1.1h-4.3v-12h4.3c1.2 0 2.4.4 3.1 1.1 1.3 1.3 1.2 3 1.2 4.8 0 1.9.1 3.7-1.2 5M79.1 15.8l-1.5 4.4h3l-1.5-4.4zm2.8 8.5l-.7-2.1H77l-.7 2.1h-2.4l4.3-12H80l4.3 12h-2.4zM90.3 14.4h-2.2v3.3h2.2c1.1 0 1.7-.7 1.7-1.6s-.7-1.7-1.7-1.7m.1 5.4h-2.3v4.5h-2.3v-12h4.6c2.5 0 3.9 1.7 3.9 3.7 0 2.1-1.4 3.8-3.9 3.8M96.3 24.3v-12h7.8v2.1h-5.5v2.8h4.7v2.1h-4.7v2.9h5.5v2.1zM109.7 24.4c-1.8 0-3.2-.4-4.3-1.6l1.5-1.5c.8.8 1.8 1 2.9 1 1.4 0 2.1-.5 2.1-1.5 0-.4-.1-.8-.4-1-.2-.2-.5-.3-1.1-.4l-1.4-.2c-1-.2-1.8-.5-2.3-1-.6-.6-.9-1.3-.9-2.4 0-2.1 1.6-3.6 4.1-3.6 1.6 0 2.8.4 3.8 1.4l-1.5 1.5c-.8-.7-1.7-.8-2.4-.8-1.2 0-1.8.7-1.8 1.5 0 .3.1.6.4.9.2.2.6.4 1.1.5l1.4.2c1.1.2 1.8.5 2.3.9.6.6.9 1.5.9 2.5 0 2.3-1.9 3.6-4.4 3.6M120.8 14.4v9.9h-2.3v-9.9h-3.1v-2.1h8.5v2.1zM134.4 19.2H132v2.9h2.4c1.1 0 1.6-.7 1.6-1.5 0-.7-.5-1.4-1.6-1.4m-.1-4.8H132v2.8h2.3c1 0 1.5-.6 1.5-1.4 0-.9-.5-1.4-1.5-1.4m.4 9.9h-5v-12h4.8c2.3 0 3.7 1.3 3.7 3.4 0 1.3-.9 2.2-1.5 2.5.7.3 1.6 1.1 1.6 2.7 0 2.2-1.5 3.4-3.6 3.4M144.7 15.8l-1.5 4.4h3l-1.5-4.4zm2.8 8.5l-.7-2.1h-4.2l-.7 2.1h-2.4l4.3-12h1.8l4.3 12h-2.4zM158.4 24.3l-4.7-7.4v7.4h-2.3v-12h2l4.7 7.3v-7.3h2.4v12zM170.2 24.3l-3.1-5.5-1.5 1.9v3.6h-2.4v-12h2.4v5.2l4.2-5.2h2.8l-4 4.8 4.3 7.2z"></path>
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="col-12 col-lg-8">
                                            <div class="col-12 d-flex justify-content-center align-items-center">
                                                <h5 class="text-white o-noto-bold text-center">El tud képzelni hitelfelvételt bonyodalmak nélkül?</h5>
                                            </div>
                                            <div class="col-8 m-auto d-flex align-items-center">
                                                <button type="button" class="o-primary-btn o-btn-group o-btn-info" role="button">
                                                    <span>Érdekelnek a részletek</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5 px-xl-4">
                        <div class="col-12 mb-3">
                            {{> listcard }}
                        </div>
                        <div class="col-12">
                            {{> listcard }}
                        </div>
                    </div>
                    <div class="row pt-5 px-xl-4">
                        <div class="col-12 mb-3">
                            {{> listcard }}
                        </div>
                        <div class="col-12">
                            {{> listcard }}
                        </div>
                    </div>
                    <div class="row my-3 py-3 px-4">
                        <div class="col-12 col-lg-7 d-flex justify-content-center justify-content-lg-end pr-lg-5">
                            <a href="#!" class="o-base-blue text-decoration-none">1 oldal</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span><a href="#!" class="o-base-blue text-decoration-none">48</a>
                        </div>
                        <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-end">
                            <a href="#!" class="o-base-blue text-decoration-none o-noto-bold">Következő oldal <i class="fas fa-chevron-right ml-2"></i></a>
                        </div>
                    </div>
                    <div class="row pt-3 px-xl-4">
                        <div class="col-12">
                            <div class="card o-card base-red-bg o-rounded-15">
                                <div class="card-body pb-0 d-flex justify-content-center align-items-center">
                                    <div class="row px-1 px-lg-3 py-5">
                                        <div class="col-12">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="col-12">
                                                    <h5 class="text-white o-noto-bold text-center">Szeretnél elsők között értesülni a legfrissebb hirdetéseinkről?</h5>
                                                    <h6 class="text-white o-noto-bold text-center">Ingyenes Ingatlanfigyelő szolgáltatásunknak köszönhetően automatikusan és azonnal értesülhetsz a hozzánk frissen beérkező, a fenti keresésnek megfelelő ingatlanról!</h6>
                                                </div>
                                            </div>
                                            <form action="">
                                                <div class="row pt-5 pb-5">
                                                    <div class="col-12 col-lg-8 m-auto">
                                                        <div class="row">
                                                            <div class="col-12 col-lg-6 pl-0 mb-2 mb-lg-0">
                                                                <label class="sr-only" for="mail3">E-mail</label>
                                                                <div class="input-group">
                                                                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50" id="mail3" placeholder="E-mail">
                                                                </div>
                                                            </div>
                                                            <div class="col-10 col-lg-6 m-auto d-flex align-items-center">
                                                                <button type="button" class="o-primary-btn o-btn-group o-btn-newsletter" role="button">
                                                                    <span>Értesitést kérek</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-10 offset-md-1 custom-c-input custom-c-input-50">
                                                    <div class="d-flex px-3 align-items-center custom-control custom-checkbox">
                                                        <input class="mr-2 input-height-50 custom-control-input" type="checkbox" id="privacy">
                                                        <label class="mb-0 mb-0 text-white custom-control-label o-small" for="privacy"><span class="o-small text-white">Az <a class="text-white o-underline-text" href="szabalyzatok-es-tajekoztatok#privacy2"> Adatvédelmi nyilatkozatot </a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez</span></label>
                                                    </div>
                                                    <!--<div class="d-flex px-3 align-items-center">-->
                                                    <!--<input class="mr-2 input-height-50" type="checkbox" id="privacy">-->
                                                    <!--<label class="mb-0 text-white privacy-label" for="privacy">Hozzájárulok ahhoz, hogy az Openhouse Ingatlaniroda az általam megadott emailcímre a www.oh.hu oldal ingatlanfigyelő szolgáltatásának nyújtása érdekében a keresési feltételeknek megfelelő ingatlanok adatait a hozzájárulás visszavonásáig rendszeres időközönként elküldje, és ebből a célból az emailcímemet az Adatkezelési tájékoztatóban foglaltak szerint kezelje.</label>-->
                                                    <!--</div>-->
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer }}

</body>

</html>