<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="references">

{{> header }}

<main class="main references">
    {{> values_hero }}
    <section class="container-fluid position-relative o-lighter-gray-bg o-card-sections">
        <div class="container pb-5 pt-5">
            <div class="row justify-content-center card-sections-container">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="o-card bg-white o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0">
                            <img class="pt-3 pb-3 finances-card-svg" src="../../img/svg/szakertelem.svg" alt="Szakértelem">
                            <div class="card-body">
                                <h4 class="card-title o-base-blue o-noto-bold">Szakértelem</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque.</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros.</p>
                                <div class="col-7 col-lg-10">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore1" role="button" aria-expanded="false" aria-controls="showMore1">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore1">
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="o-card bg-white o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0">
                            <img class="pt-3 pb-3 finances-card-svg" src="../../img/svg/innovacio.svg" alt="Innováció">
                            <div class="card-body">
                                <h4 class="card-title o-base-blue o-noto-bold">Innováció - fejlődés</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque.</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros.</p>
                                <div class="col-7 col-lg-10">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore2" role="button" aria-expanded="false" aria-controls="showMore2">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore2">
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="o-card bg-white o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0">
                            <img class="pt-3 pb-3 finances-card-svg" src="../../img/svg/munkakapcsolat.svg" alt="Innováció">
                            <div class="card-body">
                                <h4 class="card-title o-base-blue o-noto-bold">Hivatalos munkakapcsolat</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque.</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros.</p>
                                <div class="col-7 col-lg-10">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore3" role="button" aria-expanded="false" aria-controls="showMore3">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore3">
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="o-card bg-white o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0">
                            <img class="pt-3 pb-3 finances-card-svg" src="../../img/svg/csapat.svg" alt="Csapatmunka">
                            <div class="card-body">
                                <h4 class="card-title o-base-blue o-noto-bold">Csapatmunka - összetartás</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque.</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros.</p>
                                <div class="col-7 col-lg-10">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore4" role="button" aria-expanded="false" aria-controls="showMore4">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore4">
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="o-card bg-white o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0">
                            <img class="pt-3 pb-3 finances-card-svg" src="../../img/svg/csalad.svg" alt="Családias légkör">
                            <div class="card-body">
                                <h4 class="card-title o-base-blue o-noto-bold">Családias légkör</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque.</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros.</p>
                                <div class="col-7 col-lg-10">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore5" role="button" aria-expanded="false" aria-controls="showMore5">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore5">
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="o-card bg-white o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0">
                            <img class="pt-3 pb-3 finances-card-svg" src="../../img/svg/fenntarthatosag.svg" alt="Családias légkör">
                            <div class="card-body">
                                <h4 class="card-title o-base-blue o-noto-bold">Fenntarthatóság</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque.</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros.</p>
                                <div class="col-7 col-lg-10">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore6" role="button" aria-expanded="false" aria-controls="showMore6">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore6">
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida ornare ornare. In vestibulum eleifend pretium. Sed id lobortis eros. Aliquam nisl nulla, auctor vitae mollis finibus, scelerisque a neque. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-5">
                <div class="d-flex justify-content-center m-auto">
                    <a href="#!" class="o-base-blue text-decoration-none">1 oldal</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span><a href="#!" class="o-base-blue text-decoration-none">48</a>
                </div>
            </div>
            <div class="row mx-4 d-flex justify-content-end">
                <a href="#!" class="o-base-blue text-decoration-none o-noto-bold">Következő oldal <i class="fas fa-chevron-right ml-2"></i></a>
            </div>
        </div>
    </section>
    <!--<section class="container-fluid position-relative o-lighter-gray-bg o-card-sections">-->
        <!--<div class="container pb-5 pt-5">-->
            <!--<div class="row video-row bg-white o-rounded-15 justify-content-center card-sections-container">-->
                <!--<div class="col-12 col-md-6 mb-4">-->
                    <!--<div class="o-carousel">-->
                        <!--<div class="p-3 mb-3 mb-lg-0">-->
                            <!--<div class="card-body">-->
                                <!--<h4 class="card-title o-base-blue o-noto-bold">Az Openhopuse értékei</h4>-->
                                <!--<p class="card-text">Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui, a vulputate lacus blandit nec.</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-12 col-md-6 mb-4">-->
                    <!--<div class="p-3 mb-3 mb-lg-0">-->
                        <!--<a class="video-wrapper" href="https://www.youtube.com/channel/UC7JvFhCjfLw9irv9DG7Yx3A" target="_blank"><img class="pt-3 pb-3" src="../../img/aloldalak/ertekek/video.png" alt="Videónk"></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    {{> values_join }}
</main>
{{> footer }}
</body>
</html>