<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="privacyDetails">

{{> header }}

<main class="main privacy-details list">
    <section class="container-fluid pt-5 position-relative pb-5 pt-5 o-lighter-gray-bg">
        <div class="pb-5">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-3 mb-3 mb-xl-0">
                    {{> list_sidebar_privacy }}
                </div>
                <div class="col-12 col-xl-8 ml-xl-5 mb-5 mb-lg-0">
                    <div class="tab-content side-tabs">
                        <div class="tab-pane fade show active" id="privacy1" role="tabpanel">
                            <section class="card o-card bg-white o-rounded-15 p-3 col-12">
                                {{> _privacy1 }}
                            </section>
                        </div>
                        <div class="tab-pane fade" id="privacy2" role="tabpanel">
                            <section class="card o-card bg-white o-rounded-15 p-3 col-12">
                                {{> _privacy2 }}
                            </section>
                        </div>
                        <div class="tab-pane fade" id="privacy3" role="tabpanel">
                            <section class="card o-card bg-white o-rounded-15 p-3 col-12">
                                {{> _privacy3 }}
                            </section>
                        </div>
                        <div class="tab-pane fade" id="privacy4" role="tabpanel">
                            <section class="card o-card bg-white o-rounded-15 p-3 col-12">
                                {{> _privacy4 }}
                            </section>
                        </div>
                        <div class="tab-pane fade" id="privacy5" role="tabpanel">
                            <section class="card o-card bg-white o-rounded-15 p-3 col-12">
                                {{> _privacy5 }}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer }}

</body>

</html>