<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="references">

{{> header }}

<main class="main references">
    {{> references_hero }}
    <section class="container-fluid position-relative o-lighter-gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="#!">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <a class="text-decoration-none" href="#!"><span class="o-intense-red-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-right o-sales-red-label">Ingatlan eladás</span></a>
                                    <span class="text-white h5 o-sales-time o-noto-bold">Eladási idő: 10 nap</span>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="#!"><h5 class="o-card-title card-title">Társasházi lakás</h5></a>
                                            <a class="text-decoration-none" href="#!"><div class="o-card-second-title card-title h5">Budapest</div></a>
                                            <a class="text-decoration-none" href="#!"><p class="o-black o-noto-bold card-title">Értékesítő: Németh Anna</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-7 col-lg-8">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore1" role="button" aria-expanded="false" aria-controls="showMore1">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                                <div class="col-5 col-lg-4">
                                    <div class="d-flex justify-content-end">
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore1">
                                        <div class="px-3">
                                            <hr class="o-border-top-gray-2 mt-1 mb-1">
                                        </div>
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Cras egestas tincidunt!</p>
                                            <p>
                                                Nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui.
                                            </p>
                                            <p>Vulputate lacus: Blandit Nec</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="#!">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <a class="text-decoration-none" href="#!"><span class="o-intense-red-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-right o-sales-red-label">Ingatlan eladás</span></a>
                                    <span class="text-white h5 o-sales-time o-noto-bold">Eladási idő: 10 nap</span>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="#!"><h5 class="o-card-title card-title">Társasházi lakás</h5></a>
                                            <a class="text-decoration-none" href="#!"><div class="o-card-second-title card-title h5">Budapest</div></a>
                                            <a class="text-decoration-none" href="#!"><p class="o-black o-noto-bold card-title">Értékesítő: Németh Anna</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-7 col-lg-8">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore2" role="button" aria-expanded="false" aria-controls="showMore2">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                                <div class="col-5 col-lg-4">
                                    <div class="d-flex justify-content-end">
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore2">
                                        <div class="px-3">
                                            <hr class="o-border-top-gray-2 mt-1 mb-1">
                                        </div>
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Cras egestas tincidunt!</p>
                                            <p>
                                                Nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui.
                                            </p>
                                            <p>Vulputate lacus: Blandit Nec</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="#!">
                                    <img src="../../img/ajanlatok/ajanlat_3.jpg">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <a class="text-decoration-none" href="#!"><span class="o-intense-red-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-right o-sales-red-label">Ingatlan eladás</span></a>
                                    <span class="text-white h5 o-sales-time o-noto-bold">Eladási idő: 10 nap</span>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="#!"><h5 class="o-card-title card-title">Társasházi lakás</h5></a>
                                            <a class="text-decoration-none" href="#!"><div class="o-card-second-title card-title h5">Budapest</div></a>
                                            <a class="text-decoration-none" href="#!"><p class="o-black o-noto-bold card-title">Értékesítő: Németh Anna</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-7 col-lg-8">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore3" role="button" aria-expanded="false" aria-controls="showMore3">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                                <div class="col-5 col-lg-4">
                                    <div class="d-flex justify-content-end">
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore3">
                                        <div class="px-3">
                                            <hr class="o-border-top-gray-2 mt-1 mb-1">
                                        </div>
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Cras egestas tincidunt!</p>
                                            <p>
                                                Nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui.
                                            </p>
                                            <p>Vulputate lacus: Blandit Nec</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="#!">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <a class="text-decoration-none" href="#!"><span class="o-intense-red-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-right o-sales-red-label">Ingatlan eladás</span></a>
                                    <span class="text-white h5 o-sales-time o-noto-bold">Eladási idő: 10 nap</span>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="#!"><h5 class="o-card-title card-title">Társasházi lakás</h5></a>
                                            <a class="text-decoration-none" href="#!"><div class="o-card-second-title card-title h5">Budapest</div></a>
                                            <a class="text-decoration-none" href="#!"><p class="o-black o-noto-bold card-title">Értékesítő: Németh Anna</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-7 col-lg-8">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore4" role="button" aria-expanded="false" aria-controls="showMore4">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                                <div class="col-5 col-lg-4">
                                    <div class="d-flex justify-content-end">
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore4">
                                        <div class="px-3">
                                            <hr class="o-border-top-gray-2 mt-1 mb-1">
                                        </div>
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Cras egestas tincidunt!</p>
                                            <p>
                                                Nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui.
                                            </p>
                                            <p>Vulputate lacus: Blandit Nec</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="#!">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <a class="text-decoration-none" href="#!"><span class="o-intense-red-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-right o-sales-red-label">Ingatlan eladás</span></a>
                                    <span class="text-white h5 o-sales-time o-noto-bold">Eladási idő: 10 nap</span>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="#!"><h5 class="o-card-title card-title">Társasházi lakás</h5></a>
                                            <a class="text-decoration-none" href="#!"><div class="o-card-second-title card-title h5">Budapest</div></a>
                                            <a class="text-decoration-none" href="#!"><p class="o-black o-noto-bold card-title">Értékesítő: Németh Anna</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-7 col-lg-8">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore5" role="button" aria-expanded="false" aria-controls="showMore5">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                                <div class="col-5 col-lg-4">
                                    <div class="d-flex justify-content-end">
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore5">
                                        <div class="px-3">
                                            <hr class="o-border-top-gray-2 mt-1 mb-1">
                                        </div>
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Cras egestas tincidunt!</p>
                                            <p>
                                                Nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui.
                                            </p>
                                            <p>Vulputate lacus: Blandit Nec</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="#!">
                                    <img src="../../img/ajanlatok/ajanlat_3.jpg">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <a class="text-decoration-none" href="#!"><span class="o-intense-red-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-right o-sales-red-label">Ingatlan eladás</span></a>
                                    <span class="text-white h5 o-sales-time o-noto-bold">Eladási idő: 10 nap</span>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="#!"><h5 class="o-card-title card-title">Társasházi lakás</h5></a>
                                            <a class="text-decoration-none" href="#!"><div class="o-card-second-title card-title h5">Budapest</div></a>
                                            <a class="text-decoration-none" href="#!"><p class="o-black o-noto-bold card-title">Értékesítő: Németh Anna</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-7 col-lg-8">
                                    <a class="btn-group align-items-center w-100 text-decoration-none collapsed" data-toggle="collapse" href="#showMore6" role="button" aria-expanded="false" aria-controls="showMore6">
                                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                                            Bővebben
                                        </button>
                                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                                            <img width="20" src="../../img/svg/nyil_feher.svg" alt="Bővebben">
                                        </button>
                                    </a>
                                </div>
                                <div class="col-5 col-lg-4">
                                    <div class="d-flex justify-content-end">
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse o-gray-200" id="showMore6">
                                        <div class="px-3">
                                            <hr class="o-border-top-gray-2 mt-1 mb-1">
                                        </div>
                                        <div class="card card-body mb-5 o-box-shadow-none">
                                            <p>Cras egestas tincidunt!</p>
                                            <p>
                                                Nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui.
                                            </p>
                                            <p>Vulputate lacus: Blandit Nec</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-5">
                <div class="d-flex justify-content-center m-auto">
                    <a href="#!" class="o-base-blue text-decoration-none">1 oldal</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span><a href="#!" class="o-base-blue text-decoration-none">48</a>
                </div>
            </div>
            <div class="row mx-4 d-flex justify-content-end">
                <a href="#!" class="o-base-blue text-decoration-none o-noto-bold">Következő oldal <i class="fas fa-chevron-right ml-2"></i></a>
            </div>
        </div>
    </section>
    <section class="container-fluid blue-white-half-gradient  pt-5 trust-section position-relative">
        <h2 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 text-white">Forduljon hozzánk bizalommal!</h2>
        <h5 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 py-3 text-white">Kérje munkatársaink segítségét ingatlanügyekkel kapcsolatban, töltse ki az űrlapot és visszahívjuk!</h5>
        <div class="container pb-3 ">
            <form class="container" action="">
                <div class="form-row align-items-center mt-4">
                    <div class="col-12 col-md-3 pr-0 mb-2 mb-md-0">
                        <label class="sr-only" for="settlement">Település</label>
                        <div class="input-group">
                            <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="settlement" placeholder="Település">
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pr-0 mb-2 mb-md-0">
                        <label class="sr-only" for="name">Név</label>
                        <div class="input-group">
                            <input type="text" class="form-control o-rounded-15-left-15 o-rounded-15-right-0 border-right border-top-0 border-bottom-0 border-left-0 o-h-50" id="name" placeholder="Név">
                        </div>
                    </div>
                    <div class="col-6 col-md-3 pl-0 mb-2 mb-md-0">
                        <label class="sr-only" for="tel">Telefonszám</label>
                        <div class="input-group">
                            <input type="tel" class="form-control o-rounded-15-left-0 o-rounded-15-right-15 border-0 o-h-50" id="tel" placeholder="Telefonszám">
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-0">
                        <div class="btn-group align-items-center w-100" role="group" aria-label="Button group">
                            <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50">
                                Visszahívást kérek
                            </button>
                            <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50">
                                <img width="30" src="../../img/svg/kuldes.svg">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="o-carousel carousel-trust mt-5 mb-5">
                <div>
                    <div class="o-card">
                        <div class="o-card-header o-rounded-15">
                            <img class="o-rounded-15" src="../../img/forduljon-hozzank/team-4.png">
                            <div class="o-card-img-overlay o-rounded-15"></div>
                            <div class="img-bottom-overlay">
                                <h5 class="text-white o-noto-bold mb-0">Németh Anna</h5>
                                <p class="text-white">Irodavezető</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card">
                        <div class="o-card-header">
                            <img class="o-rounded-15" src="../../img/forduljon-hozzank/team-3.png">
                            <div class="o-card-img-overlay o-rounded-15"></div>
                            <div class="img-bottom-overlay">
                                <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                <p class="text-white">Irodavezető</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card">
                        <div class="o-card-header">
                            <img class="o-rounded-15" src="../../img/forduljon-hozzank/team-2.png">
                            <div class="o-card-img-overlay o-rounded-15"></div>
                            <div class="img-bottom-overlay">
                                <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                <p class="text-white">Irodavezető</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card">
                        <div class="o-card-header">
                            <img class="o-rounded-15" src="../../img/forduljon-hozzank/team-1.png">
                            <div class="o-card-img-overlay o-rounded-15"></div>
                            <div class="img-bottom-overlay">
                                <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                <p class="text-white">Irodavezető</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card">
                        <div class="o-card-header">
                            <img class="o-rounded-15" src="../../img/forduljon-hozzank/team-4.png">
                            <div class="o-card-img-overlay o-rounded-15"></div>
                            <div class="img-bottom-overlay">
                                <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                <p class="text-white">Irodavezető</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card">
                        <div class="o-card-header">
                            <img class="o-rounded-15" src="../../img/forduljon-hozzank/team-3.png">
                            <div class="o-card-img-overlay o-rounded-15"></div>
                            <div class="img-bottom-overlay">
                                <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                <p class="text-white">Irodavezető</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card">
                        <div class="o-card-header">
                            <img class="o-rounded-15" src="../../img/forduljon-hozzank/team-2.png">
                            <div class="o-card-img-overlay o-rounded-15"></div>
                            <div class="img-bottom-overlay">
                                <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                <p class="text-white">Irodavezető</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card">
                        <div class="o-card-header">
                            <img class="o-rounded-15" src="../../img/forduljon-hozzank/team-1.png">
                            <div class="o-card-img-overlay o-rounded-15"></div>
                            <div class="img-bottom-overlay">
                                <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                <p class="text-white">Irodavezető</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer }}
</body>
</html>