<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="career">

{{> header }}

<main class="main career">
    {{> career_hero }}
    {{> career_main_cards }}
    {{> collapse_main }}
</main>
{{> footer }}
</body>
<!--<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>-->

</html>