<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="contact">

{{> header }}

<main class="main">
    <section class="container-fluid o-blue-gradient text-white">
        <h1 class="w-100 d-flex align-items-center justify-content-center pl-5 pr-5 row pt-5 pb-5">Frontend Styleguide - Komponensek bemutatása</h1>
    </section>
    {{> typography }}
    {{> buttons_section }}
    {{> icon_width_pseudo_elements }}
    {{> card_variations }}
</main>
{{> footer }}
</body>
<!--<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>-->

</html>