<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="finances">

{{> header }}

<main class="main finances">
    {{> finances_hero }}
    {{> finances_8_card_section }}
    <section class="container-fluid position-relative">
        <div class="container pb-md-5 pb-xl-0">
            <div class="row align-items-center mb-3">
                <div class="col-12 text-white">
                    <div class="o-call-to-action-bubble d-flex align-items-center custom-margin-y">
                        <h2 class="o-bubble-title mb-0 base-red-bg">Ismerd meg Pénzügyi Közvetítő Hálózatunkat!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pb-3">
                    <h5>Az Openhouse az elmúlt évek során nem csak a dunántúli régióban, hanem országosan is meghatározó ingatlanközvetítő hálózattá nőtte ki magát az ingatlanközvetítői piacon. Célunk volt, hogy az ingatlanközvetítés mellett az ingatlanvásárláshoz szorosan kapcsolódó finanszírozásban is segítséget nyújtsunk Ügyfeleink részére. Ezért létrehoztuk a pénzügyi közvetítéssel foglalkozó üzletágunkat, amely 2010 óta működik az Openhouse cégcsoport tagjaként.</h5>
                </div>
                <div class="col-12 pb-3 mb-5 mb-lg-3">
                    <h5>Az elmúlt évek alatt több ezer ingatlan vásárláshoz kapcsolódó hitelfelvételt kísértek végig hitelközvetítőink,
                        több száz bankszámlanyitás, személyi kölcsön igénylés és lakástakarékpénztári szerződéskötés köszönhető munkájuknak.
                        Hitelszakértőink az ügyfelek egyedi igényei alapján összegyűjtik a bankok különféle ajánlatait, a hitelfelvételnél teljes körű, díjmentes ügyintézéssel állnak rendelkezésre és végig kísérik az ügyfeleket a hitelfelvétel komplex folyamatán.
                    </h5>
                </div>
            </div>
        </div>
    </section>
    <section class="custom-padding-y position-relative mt-5 mt-xl-0">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-xl-7 o-mt-m6">
                    <div class="row pt-3 position-relative o-mt-m6 mt-xl-0">
                        <div class="col-12 pt-5">
                            <div class="counter-card-2 o-box-shadow-darker row text-white justify-content-center align-items-center m-auto">
                                <div class="col-12 p-3">
                                    <div class="row text-center">
                                        <div class="col-12 p-3">
                                            <h2 class="text-80">16.500</h2>
                                            <h5>sikeres ügylet</h5>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-6 border-right p-3">
                                            <h3 class="text-60">több mint, <br>65 milliárd</h3>
                                            <h5>folyósított hitel</h5>
                                        </div>
                                        <div class="col-6 p-3">
                                            <h3 class="text-60">3.600</h3>
                                            <h5>számlatermék</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-5 text-center text-md-left">
                    <div class="row pt-3 position-relative o-mt-m3 mt-xl-0">
                        <div class="col-12">
                            <div class="list-card o-box-shadow-darker row o-black justify-content-center align-items-center m-auto">
                                <div class="col-12 text-left">
                                    <h4 class="o-base-blue mb-4 o-noto-bold">Mi a sikerünk titka?</h4>
                                    <ul class="list-unstyled">
                                        <li class="o-done-icon pb-2"><p class="mb-0">Csapatként működünk, segítjük egymást és szenvedélyesen végezzük a munkánkat</p></li>
                                        <li class="o-done-icon pb-2"><p class="mb-0">Szakértőink naprakész tudással rendelkeznek a gyorsan változó hitelezési piacról</p></li>
                                        <li class="o-done-icon"><p class="mb-0">Több, mint 13.000 elégedett ügyfél ajánl minket, nekik már bizonyítottuk szakértelmünket</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="base-red-bg position-relative px-lg-2 custom-padding-y choice-section-red">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="w-100 d-flex align-items-center justify-content-center text-center text-white">Miért válassz minket?</h2>
                    <h5 class="w-100 d-flex align-items-center justify-content-center text-center py-3 text-white">Babaváró hitel, otthonteremtési támogatások? Lakáscélú vagy szabad felhasználású jelzáloghitel? Építési hitel? Hogyan tudom elkezdeni az építkezést? Miből tudok családi házat vásárolni? Hogy tudom a családommal kihasználni az összes támogatást? A hitelfelvétel folyamata bonyolult, a hitelszakértőink segítségével érthetőbb és egyszerűbb lesz az ingatlanvásárlás folyamata.</h5>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white position-relative choice-section px-4 px-lg-2">
        <div class="ml-sm-5 mr-sm-5">
            <div class="mt-5 o-carousel">
                <div class="financial-flip-slider justify-content-between choice-row card-deck">
                    <div class="o-card o-rounded-15 py-5 mr-2 o-box-shadow-darker card-flip h-100 mb-2">
                        <div class="o-card-header o-rounded-15 card-front">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12">
                                    <figure class="d-flex justify-content-center">
                                        <img class="o-rounded-15" src="../../img/svg/finanszirozas.svg">
                                    </figure>
                                    <div class="text-center">
                                        <h5 class="o-noto-bold mb-0 o-black-grayish">Független finanszírozási szakértők</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-back o-rounded-15">
                            <div class="card-body px-3 py-2">
                                <p class="card-text">Nem vagyunk elkötelezettek egyik bank felé sem. Minden banki változást lekövetve, folyamatosan frissítjük szakmai tudásunkat és érthetően elmagyarázzuk a hitelfelvétel lépéseit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="o-card o-rounded-15 py-5 mr-2 o-box-shadow-darker card-flip mb-2">
                        <div class="o-card-header o-rounded-15 card-front">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12">
                                    <figure class="d-flex justify-content-center">
                                        <img class="o-rounded-15" src="../../img/svg/ajanlatok.svg">
                                    </figure>
                                    <div class="text-center">
                                        <h5 class="o-noto-bold mb-0 o-black-grayish">Személyre szabott,
                                            banksemleges ajánlatok</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-back o-rounded-15">
                            <div class="card-body px-3 py-2">
                                <p class="card-text">Több bank ajánlatát gyűjtjük össze a Te egyedi igényeidnek megfelelően.</p>
                            </div>
                        </div>
                    </div>
                    <div class="o-card o-rounded-15 py-5 mr-2 o-box-shadow-darker card-flip mb-2">
                        <div class="o-card-header o-rounded-15 card-front">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12">
                                    <figure class="d-flex justify-content-center">
                                        <img class="o-rounded-15" src="../../img/svg/feltetelek.svg">
                                    </figure>
                                    <div class="text-center">
                                        <h5 class="o-noto-bold mb-0 o-black-grayish">Banki ajánlatoknál kedvezőbb feltételek</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-back o-rounded-15">
                            <div class="card-body px-3 py-2">
                                <p class="card-text">Egyedi kedvezményekre vagyunk jogosultak a bankoknál, így lehetséges, hogy kedvezőbb hitelkamatot és egyéb díjelengedéseket is tudunk biztosítani a számodra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="o-card o-rounded-15 py-5 mr-2 o-box-shadow-darker card-flip mb-2">
                        <div class="o-card-header o-rounded-15 card-front">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12">
                                    <figure class="d-flex justify-content-center">
                                        <img class="o-rounded-15" src="../../img/svg/ugyintezes.svg">
                                    </figure>
                                    <div class="text-center">
                                        <h5 class="o-noto-bold mb-0 o-black-grayish">Teljes körű, díjmentes ügyintézés</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-back o-rounded-15">
                            <div class="card-body px-3 py-2">
                                <p class="card-text">
                                    A hitelkonstrukció kiválasztását követően a hitelbírálathoz szükséges dokumentáció előkészítése, banki kapcsolattartás, a hitelfelvétel nyomon követése folyósításig a mi feladatunk. Ez neked díjmentes, a mi munkánkat a bank fizeti meg.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="o-card o-rounded-15 py-5 o-box-shadow-darker card-flip mb-2">
                        <div class="o-card-header o-rounded-15 card-front">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12">
                                    <figure class="d-flex justify-content-center">
                                        <img class="o-rounded-15" src="../../img/svg/ugyintezes.svg">
                                    </figure>
                                    <div class="text-center">
                                        <h5 class="o-noto-bold mb-0 o-black-grayish">Időt és pénzt takarítasz meg</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-back o-rounded-15">
                            <div class="card-body px-3 py-2">
                                <p class="card-text">
                                    Nem kell személyesen felkeresned a különböző bankokat, hogy megtudd, melyik banki hitel a legjobb Neked. Hitelszakértőnk összehasonlítja a piacon elérhető ajánlatokat és a legkedvezőbbet kínálja neked, amivel több százezer forintot is megtakaríthatsz.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="offices-cards container-fluid o-gray-bg pb-5 pt-5 partner-section">
        <h2 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 pb-3 pb-md-4 o-black-grayish">Partnereink</h2>
        <div class="container">
            <div class="row">
                <div class="o-carousel">
                    <div class="team-box">
                        <div class="bg-white o-box-shadow-darker o-rounded-15 slider-wrapper">
                            <div class="partner-slider">
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/erste.svg" alt="Partnereink">
                                </a>
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/budapest-bank.svg" alt="Partnereink">
                                </a>
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/cibbank.svg" alt="Partnereink">
                                </a>
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/sber.svg" alt="Partnereink">
                                </a>
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/kh.svg" alt="Partnereink">
                                </a>
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/mkb.svg" alt="Partnereink">
                                </a>
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/otp-bank.svg" alt="Partnereink">
                                </a>
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/raiffeisen.svg" alt="Partnereink">
                                </a>
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/sopron.svg" alt="Partnereink">
                                </a>
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/unicreditlogo_hu.svg" alt="Partnereink">
                                </a>
                                <a href="#">
                                    <img class="img-fluid m-auto" src="../../img/penzugy/partnerek/oberbank_logo.svg" alt="Partnereink">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid text-white pattern-section px-0 mb-5 pb-5 pb-lg-0">
        <div class="container">
            <div class="row align-items-center mb-3 mx-0">
                <div class="col-12 mb-5 mb-lg-0">
                    <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y">
                        <h2 class="o-bubble-title mb-0 base-red-bg">Spórolj velünk százezreket!</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-relative mt-5">
            <img class="pattern-bg" src="../../img/penzugy/calltoaction.jpg" alt="Spóroljon velünk százezreket háttérkép">
            <div class="container">
                <div class="pattern-row pattern-row2">
                    <div class="col-12">
                        <div class="row align-items-center pb-lg-3">
                            <div class="col-12">
                                <p class="text-center text-lg-left o-noto-bold">Elérhetőségének megadását követően kollégánk 1 munkanapon belül felveszi veled a kapcsolatot!</p>
                            </div>
                        </div>
                        <div class="row pb-lg-5 align-items-center">
                            <div class="col-12 col-xl-6 px-0">
                                <div class="row">
                                    <div class="col-12 col-xl-4 pr-xl-0 mb-3 mb-xl-0">
                                        <label class="sr-only" for="name2">Név</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control o-rounded-15 o-rounded-15-right-xl-0 border-right border-top-0 border-bottom-0 border-left-0 o-h-50" id="name2" placeholder="Név">
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4 pl-xl-0 pr-xl-0 mb-3 mb-xl-0">
                                        <label class="sr-only" for="name2">Telefonszám</label>
                                        <div class="input-group">
                                            <input type="tel" class="form-control o-rounded-15 o-rounded-xl-0 border-right border-top-0 border-bottom-0 border-left-0 o-h-50" id="name2" placeholder="Telefonszám">
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4 pl-xl-0 mb-3 mb-xl-0">
                                        <label class="sr-only" for="name2">Település</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control o-rounded-15 o-rounded-15-left-xl-0 border-right border-top-0 border-bottom-0 border-left-0 o-h-50" id="name2" placeholder="Település">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-3 mb-3 mb-xl-0 px-0 px-xl-2">
                                <label class="sr-only" for="houseType">Ház/Lakás/Vásárlás</label>
                                <select name="city" id="houseType"  class="form-control o-rounded-15">
                                    <option value=""></option>
                                    <option value="0">Ház</option>
                                    <option value="0">Lakás</option>
                                </select>
                            </div>
                            <div class="col-12 col-xl-3 px-0">
                                <button type="button" class="o-primary-btn o-btn-group o-btn-send o-base-btn-size text-decoration-none" role="button">
                                    <span>Visszahívást kérek!</span>
                                </button>
                            </div>
                            <div class="col-12 py-2 px-0">
                                <div class="d-flex px-3 align-items-center justify-content-center text-decoration-none">
                                    <input class="mr-2 input-height-50 checkbox-medium" type="checkbox" id="callToActionPrivacy">
                                    <label class="mb-0 o-line-height-1" for="callToActionPrivacy"><span class="o-small text-white">Az <a class="text-white o-underline-text" href="szabalyzatok-es-tajekoztatok#privacy2">Adatvédelmi nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="pattern2" src="../../img/call-to-action-1/teglalap_vagott.svg" alt="">
        </div>
    </section>
    <div class="py-1 py-xl-3"></div>
    <div class="pt-3 pt-sm-5 pt-lg-0"></div>
    <section class="base-red-bg custom-padding-y position-relative o-blue-opacity-bg finances-career-section custom-margin-t">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 o-mt-m3">
                    <figure class="o-border-red-deco">
                        <a href="#!">
                            <img class="img-fluid" src="../../img/penzugy/support.png" alt="Társadalmi felelősségvállalás">
                        </a>
                    </figure>
                </div>
                <div class="col-12 col-md-7 text-center text-md-left pl-md-5">
                    <h3 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start">Építsd karriered pénzügyi közvetítőként</h3>
                    <p class="text-white py-3 mb-0">
                        Pénzügyi Közvetítő Hálózatunk bővítése céljából keressük azokat a vállalkozó szellemű hitelközvetítőket és biztosításközvetítőket, akiknek fontos a folyamatos szakmai mentorálás, innovatív fejlesztések, biztos háttértámogatás és a kiszámíthatóság.
                    </p>
                    <h4 class="w-100 d-flex o-noto-bold align-items-center py-2 text-white justify-content-center justify-content-md-start">Támogatunk, hogy Te is sikeres és elismert szakértő legyél!</h4>
                    <div class="row mt-3 justify-content-between align-items-center">
                        <div class="col-12 col-lg-6">
                            <a href="karrier#collapseFinancial" type="button" class="o-primary-btn o-btn-group text-decoration-none w-100" role="button">
                                <span>Érdekel</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {{> slick_card_3_col_news }}
</main>
{{> footer }}
</body>
<!--<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>-->

</html>