<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="franchise">

{{> header }}

<main class="main franchise">
    {{> franchise_hero }}
    {{> franchise_first_card_section }}
    {{> franchise_support }}
    {{> franchise_open_office_section }}
    {{> franchise_chart }}
    {{> franchise_faq }}
    {{> franchise_map }}
    {{> franchise_values }}
    {{> slick_card_3_col_news }}
</main>
{{> footer }}
</body>
<!--<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>-->

</html>