<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="home">

{{> header }}

<main class="main home-page">
    {{> hero-search }}
    {{> categories_section }}
    <section class="red-gray-half-gradient custom-padding-y position-relative custom-margin-y">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="w-100 d-flex align-items-center justify-content-center text-center text-white">Kiemelt ajánlataink</h2>
                    <h5 class="w-100 d-flex align-items-center justify-content-center text-center py-3 text-white">Otthon a karosszékben
                        ülve is „körbejárhatod” a kiemelt ingatlanokat és kiválaszthatod a legmegfelelőbbet.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> spec_offers }}
                </div>
            </div>
        </div>
    </section>
    {{> slick_card_3_col_services }}
    {{> credit_section }}
    {{> with_trust_section }}
    {{> slick_card_3_col_news }}
    {{> newsletter_section }}
    {{> socially_responsible_section }}
    {{> real_estate_slider_list }}
    {{> exit_popup }}
</main>
{{> footer }}

</body>

</html>