<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="residentialParkMain">

{{> header }}

<main class="main residential-park-main">
    {{> residential_hero }}
    <section class="container-fluid position-relative o-lighter-gray-bg">
        <div class="container pb-5 pt-5">
            <div class="row justify-content-center o-mt-m6">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="label-holder">
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Új építésű</a>
                                <a class="text-decoration-none flag-label o-blue-secondary-bg" href="#!">Videós</a>
                                <a class="text-decoration-none flag-label o-lighter-red-bg-opacity" href="#!">5%-os ÁFA</a>
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Kiemelt</a>
                            </div>
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="lakopark">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_3.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok" class="d-none">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <span class="text-white h5 o-sales-time o-noto-bold o-small px-3 py-2 o-rounded-15 o-blue-opacity-bg">Tervezett átadás: 2020.09.01</span>
                                    <div class="o-slider-dots">
                                        <span class="active"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-title card-title text-capitalize mb-1">csillag lakópark</h5></a>
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-second-title card-title">Budapest, I. Kerület</h5></a>
                                        </div>
                                    </div>

                                    <div class="row o-icon-row o-border-top-gray-2 o-border-bottom-gray-2 d-flex align-items-center">
                                        <div class="col o-border-right-gray-2 px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="25" src="../../img/svg/wallet.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">24-73 M ft</h5>
                                            </div>
                                        </div>
                                        <div class="col px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="25" src="../../img/svg/nm.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">44 - 108</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-6">
                                    <p class="o-intense-red o-noto-bold mb-0">10 lakás</p>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div onclick="changeSvg(event, this)" class="p-2 fav-icon cursor-pointer">
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <svg title="Kedvelés" width="25" alt="Kedvenc" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                                        <path class="layer_2" fill="#B2B2B2" d="M22.2,4.5c-2.5,0-4.9,1.3-5.9,3.4c-1.1-2.1-3.4-3.4-5.9-3.4c-4,0-9.3,3.2-6.9,12C6.3,25,16.3,30.1,16.3,30.1
                                            c0,0,10-5,12.8-13.6C31.6,7.7,26.2,4.5,22.2,4.5z"/>
                                    </svg>
                                        </div>
                                        <a class="p-2" href="#!"><img width="25" src="../../img/svg/lista.svg" title="Összehasonlítás" alt="Lista"></a>
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" title="Megosztás" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="label-holder">
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Új építésű</a>
                                <a class="text-decoration-none flag-label o-blue-secondary-bg" href="#!">Videós</a>
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Kiemelt</a>
                            </div>
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="lakopark">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_3.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok" class="d-none">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <span class="text-white h5 o-sales-time o-noto-bold o-small px-3 py-2 o-rounded-15 o-blue-opacity-bg">Tervezett átadás: 2020.09.01</span>
                                    <div class="o-slider-dots">
                                        <span class="active"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-title card-title text-capitalize mb-1">csillag lakópark</h5></a>
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-second-title card-title">Budapest, I. Kerület</h5></a>
                                        </div>
                                    </div>

                                    <div class="row o-icon-row o-border-top-gray-2 o-border-bottom-gray-2 d-flex align-items-center">
                                        <div class="col o-border-right-gray-2 px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="25" src="../../img/svg/wallet.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">24-73 M ft</h5>
                                            </div>
                                        </div>
                                        <div class="col px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="25" src="../../img/svg/nm.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">44 - 108</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-6">
                                    <p class="o-intense-red o-noto-bold mb-0">10 lakás</p>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div onclick="changeSvg(event, this)" class="p-2 fav-icon cursor-pointer">
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <svg title="Kedvelés" width="25" alt="Kedvenc" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                                        <path class="layer_2" fill="#B2B2B2" d="M22.2,4.5c-2.5,0-4.9,1.3-5.9,3.4c-1.1-2.1-3.4-3.4-5.9-3.4c-4,0-9.3,3.2-6.9,12C6.3,25,16.3,30.1,16.3,30.1
                                            c0,0,10-5,12.8-13.6C31.6,7.7,26.2,4.5,22.2,4.5z"/>
                                    </svg>
                                        </div>
                                        <a class="p-2" href="#!"><img width="25" src="../../img/svg/lista.svg" title="Összehasonlítás" alt="Lista"></a>
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" title="Megosztás" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="label-holder">
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Új építésű</a>
                                <a class="text-decoration-none flag-label o-blue-opacity-bg" href="#!">Panorámakép</a>
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Kiemelt</a>
                            </div>
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="lakopark">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_3.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok" class="d-none">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <span class="text-white h5 o-sales-time o-noto-bold o-small px-3 py-2 o-rounded-15 o-blue-opacity-bg">Tervezett átadás: 2020.09.01</span>
                                    <div class="o-slider-dots">
                                        <span class="active"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-title card-title text-capitalize mb-1">csillag lakópark</h5></a>
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-second-title card-title">Budapest, I. Kerület</h5></a>
                                        </div>
                                    </div>

                                    <div class="row o-icon-row o-border-top-gray-2 o-border-bottom-gray-2 d-flex align-items-center">
                                        <div class="col o-border-right-gray-2 px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="25" src="../../img/svg/wallet.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">24-73 M ft</h5>
                                            </div>
                                        </div>
                                        <div class="col px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="25" src="../../img/svg/nm.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">44 - 108</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-6">
                                    <p class="o-intense-red o-noto-bold mb-0">10 lakás</p>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div onclick="changeSvg(event, this)" class="p-2 fav-icon cursor-pointer">
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <svg title="Kedvelés" width="25" alt="Kedvenc" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                                        <path class="layer_2" fill="#B2B2B2" d="M22.2,4.5c-2.5,0-4.9,1.3-5.9,3.4c-1.1-2.1-3.4-3.4-5.9-3.4c-4,0-9.3,3.2-6.9,12C6.3,25,16.3,30.1,16.3,30.1
                                            c0,0,10-5,12.8-13.6C31.6,7.7,26.2,4.5,22.2,4.5z"/>
                                    </svg>
                                        </div>
                                        <a class="p-2" href="#!"><img width="25" src="../../img/svg/lista.svg" title="Összehasonlítás" alt="Lista"></a>
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" title="Megosztás" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="base-red-bg o-rounded-15 py-3 px-3 py-md-5 px-md-5">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6 col-lg-8">
                                <h4 class="w-100 d-flex align-items-center text-white text-center text-md-left justify-content-center justify-content-md-start">Kérj ajánlatot gyorsan és egyszerűen!</h4>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 text-center text-md-left pl-md-5 mt-3 mt-md-0">
                                <a href="kapcsolat#baseContactFormSection" class="o-primary-btn o-btn-group o-btn-send w-100">
                                    <span>Üzenetküldés</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="label-holder">
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Új építésű</a>
                                <a class="text-decoration-none flag-label o-blue-opacity-bg" href="#!">Panorámakép</a>
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Kiemelt</a>
                            </div>
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="lakopark">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_3.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok" class="d-none">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <span class="text-white h5 o-sales-time o-noto-bold o-small px-3 py-2 o-rounded-15 o-blue-opacity-bg">Tervezett átadás: 2020.09.01</span>
                                    <div class="o-slider-dots">
                                        <span class="active"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-title card-title text-capitalize mb-1">csillag lakópark</h5></a>
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-second-title card-title">Budapest, I. Kerület</h5></a>
                                        </div>
                                    </div>

                                    <div class="row o-icon-row o-border-top-gray-2 o-border-bottom-gray-2 d-flex align-items-center">
                                        <div class="col o-border-right-gray-2 px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="25" src="../../img/svg/wallet.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">24-73 M ft</h5>
                                            </div>
                                        </div>
                                        <div class="col px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="25" src="../../img/svg/nm.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">44 - 108</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-6">
                                    <p class="o-intense-red o-noto-bold mb-0">10 lakás</p>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div onclick="changeSvg(event, this)" class="p-2 fav-icon cursor-pointer">
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <svg title="Kedvelés" width="25" alt="Kedvenc" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                                        <path class="layer_2" fill="#B2B2B2" d="M22.2,4.5c-2.5,0-4.9,1.3-5.9,3.4c-1.1-2.1-3.4-3.4-5.9-3.4c-4,0-9.3,3.2-6.9,12C6.3,25,16.3,30.1,16.3,30.1
                                            c0,0,10-5,12.8-13.6C31.6,7.7,26.2,4.5,22.2,4.5z"/>
                                    </svg>
                                        </div>
                                        <a class="p-2" href="#!"><img width="25" src="../../img/svg/lista.svg" title="Összehasonlítás" alt="Lista"></a>
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" title="Megosztás" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="label-holder">
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Új építésű</a>
                            </div>
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="lakopark">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_3.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok" class="d-none">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <span class="text-white h5 o-sales-time o-noto-bold o-small px-3 py-2 o-rounded-15 o-blue-opacity-bg">Tervezett átadás: 2020.09.01</span>
                                    <div class="o-slider-dots">
                                        <span class="active"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-title card-title text-capitalize mb-1">csillag lakópark</h5></a>
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-second-title card-title">Budapest, I. Kerület</h5></a>
                                        </div>
                                    </div>

                                    <div class="row o-icon-row o-border-top-gray-2 o-border-bottom-gray-2 d-flex align-items-center">
                                        <div class="col o-border-right-gray-2 px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="35" src="../../img/svg/wallet.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">24-73 M ft</h5>
                                            </div>
                                        </div>
                                        <div class="col px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="35" src="../../img/svg/nm.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">44 - 108</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-6">
                                    <p class="o-intense-red o-noto-bold mb-0">10 lakás</p>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div onclick="changeSvg(event, this)" class="p-2 fav-icon cursor-pointer">
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <svg title="Kedvelés" width="25" alt="Kedvenc" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                                        <path class="layer_2" fill="#B2B2B2" d="M22.2,4.5c-2.5,0-4.9,1.3-5.9,3.4c-1.1-2.1-3.4-3.4-5.9-3.4c-4,0-9.3,3.2-6.9,12C6.3,25,16.3,30.1,16.3,30.1
                                            c0,0,10-5,12.8-13.6C31.6,7.7,26.2,4.5,22.2,4.5z"/>
                                    </svg>
                                        </div>
                                        <a class="p-2" href="#!"><img width="25" src="../../img/svg/lista.svg" title="Összehasonlítás" alt="Lista"></a>
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" title="Megosztás" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="o-carousel">
                        <div class="card o-card o-box-shadow-darker">
                            <div class="label-holder">
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Új építésű</a>
                                <a class="text-decoration-none flag-label o-blue-secondary-bg" href="#!">Videós</a>
                                <a class="text-decoration-none flag-label o-blue-opacity-bg" href="#!">Panorámakép</a>
                                <a class="text-decoration-none flag-label o-intense-red-bg" href="#!">Kiemelt</a>
                            </div>
                            <div class="o-card-header">
                                <a class="stretched-link o-img-dot-slider" href="lakopark">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_3.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_1.jpg" alt="Ajnánlatok" class="d-none">
                                    <img src="../../img/ajanlatok/ajanlat_2.jpg" alt="Ajnánlatok" class="d-none">
                                </a>
                                <div class="o-card-img-overlay"></div>
                                <div class="img-bottom-overlay">
                                    <span class="text-white h5 o-sales-time o-noto-bold o-small px-3 py-2 o-rounded-15 o-blue-opacity-bg">Tervezett átadás: 2020.09.01</span>
                                    <div class="o-slider-dots">
                                        <span class="active"></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pb-0">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-title card-title text-capitalize mb-1">csillag lakópark</h5></a>
                                            <a class="text-decoration-none" href="lakopark"><h5 class="o-card-second-title card-title">Budapest, I. Kerület</h5></a>
                                        </div>
                                    </div>

                                    <div class="row o-icon-row o-border-top-gray-2 o-border-bottom-gray-2 d-flex align-items-center">
                                        <div class="col o-border-right-gray-2 px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="25" src="../../img/svg/wallet.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">24-73 M ft</h5>
                                            </div>
                                        </div>
                                        <div class="col px-1 py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-3"><img width="25" src="../../img/svg/nm.svg" alt="icon"></div>
                                                <h5 class="o-base-blue o-noto-bold text-uppercase mb-0">44 - 108</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                                <div class="col-6">
                                    <p class="o-intense-red o-noto-bold mb-0">10 lakás</p>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div onclick="changeSvg(event, this)" class="p-2 fav-icon cursor-pointer">
                                            <?xml version="1.0" encoding="utf-8"?>
                                            <svg title="Kedvelés" width="25" alt="Kedvenc" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                                        <path class="layer_2" fill="#B2B2B2" d="M22.2,4.5c-2.5,0-4.9,1.3-5.9,3.4c-1.1-2.1-3.4-3.4-5.9-3.4c-4,0-9.3,3.2-6.9,12C6.3,25,16.3,30.1,16.3,30.1
                                            c0,0,10-5,12.8-13.6C31.6,7.7,26.2,4.5,22.2,4.5z"/>
                                    </svg>
                                        </div>
                                        <a class="p-2" href="#!"><img width="25" src="../../img/svg/lista.svg" title="Összehasonlítás" alt="Lista"></a>
                                        <a class="p-2" href="#!"><img width="20" src="../../img/svg/share.svg" title="Megosztás" alt="Megosztás"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12 col-lg-7 d-flex justify-content-center justify-content-lg-end pr-lg-5">
                    <a href="#!" class="o-base-blue text-decoration-none">1 oldal</a><span>&nbsp;&nbsp;/&nbsp;&nbsp;</span><a href="#!" class="o-base-blue text-decoration-none">48</a>
                </div>
                <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-end">
                    <a href="#!" class="o-base-blue text-decoration-none o-noto-bold">Következő oldal <i class="fas fa-chevron-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </section>
    {{> newsletter_section }}
</main>
{{> footer }}
</body>
<!--<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>-->

</html>