<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="sales">

{{> header }}

<main class="main sales">
    {{> sales_hero }}
    {{> sales_cards }}
    {{> sales_roadmap }}
</main>
{{> footer }}
</body>
<!--<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.js"></script>-->

</html>