<div class="o-bg-white-gray o-box-shadow-darker o-rounded-15 sales-slider-section w-100 position-relative">
    <div class="o-carousel">
        <div class="text-decoration-none">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img class="img-fluid sales-slider-img o-rounded-15" src="../../../../img/aloldalak/karrier/sales1.png" alt="Telitalálatos értékesítő?">
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center position-relative">
                    <div class="slider-text px-3 py-5 px-md-5">
                        <h3 class="o-base-blue text-left">Telitalálatos értékesítő vagy?</h3>
                        <h4 class="o-base-red text-left text-uppercase o-noto-bold py-1 py-xl-3">Csatlakozz hozzánk!</h4>
                        <p class="o-base-blue">Az űrlap kitöltése kb. 3 percet vesz igénybe, kérlek töltsd ki az eredményesebb kiválasztás érdekében.</p>
                        <div class="btn-group align-items-center w-100 mt-3 col-10 pl-0" role="group">
                            <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 o-noto-bold col-10">Kitöltöm a tesztet!</button>
                            <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-h-50 o-line-height-base col-2 d-flex align-items-center justify-content-center">
                                <img width="25" src="../../../../img/svg/write_white.svg" alt="Kitöltöm a tesztet!"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


