<div class="card o-card o-box-shadow-darker">
    <div class="d-flex oh-list-flex-wrap justify-content-between">
        <div class="o-card-header col-md-6 px-0">
            <div class="label-holder">
                <a class="text-decoration-none flag-label o-intense-red-bg " href="#!">Kiemelt</a>
                <a class="text-decoration-none flag-label o-blue-secondary-bg" href="#!">Videós</a>
                <a class="text-decoration-none flag-label o-blue-opacity-bg" href="#!">Panorámakép</a>
                <a class="text-decoration-none flag-label o-lighter-red-bg-opacity" href="#!">5%-os ÁFA</a>
            </div>

            <a class="stretched-link o-img-dot-slider" href="#!">
                <img class="left-rounded" src="../../../../img/ajanlatok/ajanlat_1.jpg">
                <img class="left-rounded d-none" src="../../../../img/ajanlatok/ajanlat_2.jpg">
                <img class="left-rounded d-none" src="../../../../img/ajanlatok/ajanlat_3.jpg">
                <img class="left-rounded d-none" src="../../../../img/ajanlatok/ajanlat_1.jpg">
                <img class="left-rounded d-none" src="../../../../img/ajanlatok/ajanlat_2.jpg">
            </a>
            <div class="o-card-img-overlay"></div>
            <div class="img-bottom-overlay">
                <span class="text-white h5 o-price-label o-noto-bold">25 000 000 Ft</span>
                <div class="o-slider-dots">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="card-body pb-0 col-md-6">
            <div class="card-content">
                <div class="row justify-content-between">
                    <div class="col-12 my-1 my-lg-3">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <a class="text-decoration-none" href="#!"><h3 class="o-card-title card-title o-line-height-medium mb-0">Társasházi lakás </h3></a>
                                <a class="text-decoration-none" href="#!"><h3 class="o-card-second-title card-title o-line-height-medium mb-0">Budapest, III. ker</h3></a>
                            </div>
                            <div>
                                <a href="#!" class="text-decoration-none"><span class="o-blue-primary-bg text-white salable-tag">Eladó</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 py-3">
                        <p class="o-line-height-medium small mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt imperdiet vehicula. Integer vehicula sodales orci a pellentesque. Integer consectetur nibh quis porta fringilla. Cras mollis nunc lectus, vel facilisis…</p>
                    </div>
                </div>

                <div class="row o-icon-row o-border-top-gray-2 o-border-bottom-gray-2">
                    <div class="col o-border-right-gray-2 px-1 px-lg-3 py-2 py-lg-3">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="pr-3"><img src="../../../../img/svg/nm.svg" alt="icon"></div>
                            <h4 class="o-base-blue o-noto-bold mb-0">2</h4>
                        </div>
                    </div>
                    <div class="col o-border-right-gray-2 px-1 px-lg-3 py-2 py-lg-3">
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="pr-3"><img src="../../../../img/svg/szoba.svg" alt="icon"></div>
                            <h4 class="o-base-blue o-noto-bold mb-0">1</h4>
                        </div>
                    </div>
                    <div class="col px-1 px-lg-3 py-2 py-lg-3">
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="pr-3"><img src="../../../../img/svg/garazs.svg" alt="icon"></div>
                            <h4 class="o-base-blue o-noto-bold mb-0">46</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row o-card-footer justify-content-between py-2 align-items-center">
                <div class="col-6">
                    <p class="o-intense-red o-noto-bold mb-0">#145820</p>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <div onclick="changeSvg(event, this)" class="p-2 fav-icon cursor-pointer">
                            <?xml version="1.0" encoding="utf-8"?>
                            <svg title="Kedvelés" width="25" alt="Kedvenc" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                            <path class="layer_2" fill="#B2B2B2" d="M22.2,4.5c-2.5,0-4.9,1.3-5.9,3.4c-1.1-2.1-3.4-3.4-5.9-3.4c-4,0-9.3,3.2-6.9,12C6.3,25,16.3,30.1,16.3,30.1
                                c0,0,10-5,12.8-13.6C31.6,7.7,26.2,4.5,22.2,4.5z"/>
                            </svg>
                        </div>
                        <a class="p-2" href="#!"><img width="25" src="../../../../img/svg/lista.svg" title="Összehasonlítás" alt="Lista"></a>
                        <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg" title="Megosztás" alt="Megosztás"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>