<div class="card o-card text-center text-md-left">
    <div class="o-card-header">
        <img class="img-fluid" src="../../../../img/szolgaltatasok/szolg-1.jpg">
        <div class="o-card-img-overlay"></div>
    </div>
    <div class="card-body">
        <div class="card-content">
            <div class="row justify-content-between">
                <div class="col-12">
                    <a class="text-decoration-none" href="#!"><div class="o-card-second-title card-title h5">Lakástakarékpénztár</div></a>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus pellentesque orci sit amet dignissim. </p>
                </div>
                <div class="offset-3 offset-md-0 col-6 mt-3 mb-2">
                    <div class="btn-group align-items-center w-100" role="group" aria-label="Button group">
                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15">
                            Bővebben
                        </button>
                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="stretched-link"></a>
    </div>
</div>