<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card p-3 p-lg-5 mb-5 introduction">
            <div class="row mb-4">
                <div class="col-12">
                    <h5 class="o-noto-bold o-base-blue mb-0">Lorem ipsum dolor</h5>
                    <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
                    <div class="card-text pt-3 pb-3">
                        <p class="mb-0">Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui, a vulputate lacus blandit nec.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card p-3 p-lg-5 mb-5 introduction">
            <div class="row mb-4">
                <div class="col-12">
                    <h5 class="o-noto-bold o-base-blue mb-0">Lorem ipsum dolor</h5>
                    <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
                    <div class="card-text pt-3 pb-3">
                        <p class="mb-0">Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui, a vulputate lacus blandit nec.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>