<section class="main-hero o-blue-gradient text-white">
    <h1 class="w-100 d-flex align-items-center justify-content-center text-center pl-5 pr-5 row pt-5 pb-5">Az ingatlan és az otthon közötti út élményéért dolgozunk!</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <p class="text-white text-center font-size-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi non nunc aliquam mattis ut vel sem. Nunc non tortor id justo convallis molestie. Vestibulum sapien nisi, sollicitudin ac arcu vitae, viverra feugiat erat. Aenean laoreet venenatis accumsan. Proin bibendum velit nisl, vitae pharetra magna bibendum at.</p>
                <h3 class="text-white text-center">Tekintse meg referenciáinkat!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <form class="" action="">
                    <div class="form-row align-items-center mt-4">
                        <div class="col-12 col-md-4 pr-0 mb-2 mb-md-0">
                            <label class="sr-only" for="salesAgent">Ingatlanértékesítő</label>
                            <select name="salesAgent" id="salesAgent"  class="form-control o-rounded-15">
                                <option value=""></option>
                                <option value="1">Németh Anna</option>
                                <option value="2">Kovács Réka</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4 pr-0 mb-2 mb-md-0">
                            <label class="sr-only" for="salesAgentCity">Település</label>
                            <select name="salesAgentCity" id="salesAgentCity"  class="form-control o-rounded-15">
                                <option value=""></option>
                                <option value="1">Budapest</option>
                                <option value="2">Kecskemét</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <button type="button" class="o-primary-btn o-btn-group o-btn-search" role="button">
                                <span>Találatok megtekintése</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
