<div id="accordion">
    <div class="card o-rounded-7 mb-2">
        <div class="card-header bg-white border-0" id="heading6">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                    <i class="fas"></i>
                    Collapsible Group Item
                </button>
            </h5>
        </div>

        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
    <div class="card o-rounded-7 mb-2">
        <div class="card-header bg-white border-0" id="heading7">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    <i class="fas"></i>
                    Collapsible Group Item
                </button>
            </h5>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
    <div class="card o-rounded-7 mb-2">
        <div class="card-header bg-white border-0" id="heading8">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    <i class="fas"></i>
                    Collapsible Group Item
                </button>
            </h5>
        </div>
        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
    <div class="card o-rounded-7 mb-2">
        <div class="card-header bg-white border-0" id="heading9">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    <i class="fas"></i>
                    Collapsible Group Item
                </button>
            </h5>
        </div>
        <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
    <div class="card o-rounded-7">
        <div class="card-header bg-white border-0" id="heading10">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    <i class="fas"></i>
                    Collapsible Group Item
                </button>
            </h5>
        </div>
        <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
</div>