<div id="accordion">
    <div class="card o-rounded-7 mb-2">
        <div class="card-header bg-white border-0" id="heading1">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    <i class="fas"></i>
                    Collapsible Group Item
                </button>
            </h5>
        </div>

        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
    <div class="card o-rounded-7 mb-2">
        <div class="card-header bg-white border-0" id="heading2">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    <i class="fas"></i>
                    Collapsible Group Item
                </button>
            </h5>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
    <div class="card o-rounded-7 mb-2">
        <div class="card-header bg-white border-0" id="heading3">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <i class="fas"></i>
                    Collapsible Group Item
                </button>
            </h5>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
    <div class="card o-rounded-7 mb-2">
        <div class="card-header bg-white border-0" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <i class="fas"></i>
                    Collapsible Group Item
                </button>
            </h5>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
    <div class="card o-rounded-7">
        <div class="card-header bg-white border-0" id="heading5">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <i class="fas"></i>
                    Collapsible Group Item
                </button>
            </h5>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
</div>