<section class="main-hero o-blue-gradient text-white">
    <h1 class="w-100 d-flex align-items-center justify-content-center text-center custom-padding-y">Az Openhouse Alapértékei</h1>
    <div class="container pb-5 pb-sm-0">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <p class="text-white text-center font-size-20">Számunkra fontos az erős kultúra és az alapértékeink. Elkötelezettek vagyunk az iránt, hogy dolgozóinknak, ügyfeleinknek és minden együttműködő partnerünknek a lehető legjobbat nyújtsuk.</p>
            </div>
        </div>
    </div>
</section>