<section class="container-fluid custom-padding-y position-relative mb-3 o-lighter-gray-bg o-card-sections">
    <div class="container card-sections-container">
        <div class="row">
            <div class="col-12">
  <div class="d-none d-lg-block">
            <div class="row mb-5">
                <div class="col-12 col-md-6 col-xl-3 mb-5 mb-xl-0">
                    <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0">
                        <img class="finances-card-svg" src="../../../../img/svg/jelzalog.svg" alt="Jelzáloghitelek">
                        <div class="card-body">
                            <h4 class="card-title o-card-blue-title">Jelzáloghitelek</h4>
                            <p class="card-text">Új vagy használt ingatlanvásárláshoz, korszerűsítésre, építésre</p>
                            <div class="col-10 pl-0">
                                <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed" data-target="#showMore1" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="showMore1">
                                    <span> Bővebben</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="collapse o-gray-200" id="showMore1">
                                    <div class="card card-body o-box-shadow-none">
                                        <p>Tervezed, hogy saját otthonba költözöl? Segítünk a banki ajánlatok közül kiválasztani a számodra legjobbat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 mb-5 mb-xl-0">
                    <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3  mb-3 mb-lg-0">
                        <img class="finances-card-svg" src="../../../../img/svg/kolcson.svg" alt="Személyi kölcsön">
                        <div class="card-body">
                            <h4 class="card-title o-card-blue-title">Személyi kölcsön</h4>
                            <p class="card-text">Átmeneti anyagi segítségre van szükséged a céljaid eléréséhez?</p>
                            <div class="col-10 pl-0">
                                <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                        data-target="#showMore2" data-toggle="collapse" role="button" aria-expanded="false"
                                        aria-controls="showMore2">
                                    <span> Bővebben</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="collapse o-gray-200" id="showMore2">
                                    <div class="card card-body o-box-shadow-none">
                                        <p>Akár 1-3 nap alatt közelebb kerülhetsz terveid megvalósításához, mi megtaláljuk a megfelelő személyi kölcsönt hozzá.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 mb-5 mb-xl-0">
                    <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0">
                        <img class="finances-card-svg" src="../../../../img/svg/babarvaro.svg" alt="Babaváró hitel">
                        <div class="card-body">
                            <h4 class="card-title o-card-blue-title">Babaváró hitel</h4>
                            <p class="card-text">Családot tervezel? Babaváró hitel a gyermeket tervező házaspároknak.</p>
                            <div class="col-10 pl-0">
                                <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                        data-target="#showMore3" data-toggle="collapse" role="button" aria-expanded="false"
                                        aria-controls="showMore3">
                                    <span> Bővebben</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="collapse o-gray-200" id="showMore3">
                                    <div class="card card-body o-box-shadow-none">
                                        <p>Akár 10 millió Ft kamatmentes kölcsön a Tiétek lehet! Te már igénybe vetted?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3">
                        <img class="finances-card-svg" src="../../../../img/svg/hitel.svg" alt="Meglévő hitel kialakítása">
                        <div class="card-body">
                            <h4 class="card-title o-card-blue-title">Meglévő hitel kialakítása</h4>
                            <p class="card-text">Váltsd ki a korábban felvett kölcsönödet kedvezőbb kamatozású hitelre!</p>
                            <div class="col-10 pl-0">
                                <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                        data-target="#showMore4" data-toggle="collapse" role="button" aria-expanded="false"
                                        aria-controls="showMore4">
                                    <span> Bővebben</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="collapse o-gray-200" id="showMore4">
                                    <div class="card card-body o-box-shadow-none">
                                        <p>A jelenlegi piaci környezetben alacsonyabbak a kamatok az előző évekhez képest, így olcsóbbak a hitelek, kiszámíthatóbb a törlesztésük.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-3 mb-5 mb-xl-0">
                    <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3  mb-3 mb-lg-0">
                        <img class="finances-card-svg" src="../../../../img/svg/csok.svg" alt="CSOK ügyintézés">
                        <div class="card-body">
                            <h4 class="card-title o-card-blue-title">CSOK ügyintézés</h4>
                            <p class="card-text">A Családi Otthonteremtési Kedvezmény a családok részére nyújt segítséget ingatlanvásárláshoz.</p>
                            <div class="col-10 pl-0">
                                <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                        data-target="#showMore5" data-toggle="collapse" role="button" aria-expanded="false"
                                        aria-controls="showMore5">
                                    <span> Bővebben</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="collapse o-gray-200" id="showMore5">
                                    <div class="card card-body o-box-shadow-none">
                                        <p>CSOK támogatás, kamattámogatott lakáshitel és falusi CSOK teljes körű ügyintézése.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 mb-5 mb-xl-0">
                    <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3  mb-3 mb-lg-0">
                        <img class="finances-card-svg" src="../../../../img/svg/bankszamla.svg" alt="Bankszámlához
                            tartozó termékek">
                        <div class="card-body">
                            <h4 class="card-title o-card-blue-title">Bankszámlához
                                tartozó termékek</h4>
                            <p class="card-text">Bankszámla, hitelkártya és folyószámlahitel.</p>
                            <div class="col-10 pl-0">
                                <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                        data-target="#showMore6" data-toggle="collapse" role="button" aria-expanded="false"
                                        aria-controls="showMore6">
                                    <span> Bővebben</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="collapse o-gray-200" id="showMore6">
                                    <div class="card card-body o-box-shadow-none">
                                        <p>A spórolás legegyszerűbb módja, hogy a bankolási szokásaidnak megfelelő bankszámlával rendelkezz. Segítünk a választásban.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 mb-5mb-xl-0">
                    <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0">
                        <img class="finances-card-svg" src="../../../../img/svg/lakastakarek.svg" alt="Lakástakarék pénztár">
                        <div class="card-body">
                            <h4 class="card-title o-card-blue-title">Lakástakarék pénztár</h4>
                            <p class="card-text">Igen, még mindig elérhető!</p>
                            <div class="col-10 pl-0">
                                <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                        data-target="#showMore7" data-toggle="collapse" role="button" aria-expanded="false"
                                        aria-controls="showMore7">
                                    <span> Bővebben</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="collapse o-gray-200" id="showMore7">
                                    <div class="card card-body o-box-shadow-none">
                                        <p>A megtakarítás az első lépés a pénzügyi tudatossághoz, ehhez tökéletes választás egy lakástakarék pénztári megtakarítás.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 mb-5 mb-xl-0">
                    <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3">
                        <img class="finances-card-svg" src="../../../../img/svg/biztositas.svg" alt="Biztosítások">
                        <div class="card-body">
                            <h4 class="card-title o-card-blue-title">Biztosítások</h4>
                            <p class="card-text">Találd meg velünk a legjobb lakásbiztosítást!</p>
                            <div class="col-10 pl-0">
                                <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                        data-target="#showMore8" data-toggle="collapse" role="button" aria-expanded="false"
                                        aria-controls="showMore8">
                                    <span> Bővebben</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="collapse o-gray-200" id="showMore8">
                                    <div class="card card-body o-box-shadow-none">
                                        <p>Az új ingatlanodra szeretnél lakásbiztosítást kötni? Szeretnéd tudni, hogy megfelelő védelmet nyújt-e a jelenlegi biztosításod? Mindkét esetben állunk rendelkezésedre.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-carousel d-lg-none mt-5">
            <div class="financial-card-slider o-mt-m3">
                <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3">
                    <img class="finances-card-svg" src="../../../../img/svg/jelzalog.svg" alt="Jelzáloghitelek">
                    <div class="card-body">
                        <h4 class="card-title o-card-blue-title">Jelzáloghitelek</h4>
                        <p class="card-text">Új vagy használt ingatlanvásárláshoz, korszerűsítésre, építésre</p>
                        <div class="col-10 pl-0">
                            <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                    data-target="#showMore9" data-toggle="collapse" role="button" aria-expanded="false"
                                    aria-controls="showMore9">
                                <span> Bővebben</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse o-gray-200" id="showMore9">
                                <div class="card card-body o-box-shadow-none">
                                    <p>Tervezed, hogy saját otthonba költözöl? Segítünk a banki ajánlatok közül kiválasztani a számodra legjobbat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3">
                    <img class="finances-card-svg" src="../../../../img/svg/kolcson.svg" alt="Személyi kölcsön">
                    <div class="card-body">
                        <h4 class="card-title o-card-blue-title">Személyi kölcsön</h4>
                        <p class="card-text">Átmeneti anyagi segítségre van szükséged a céljaid eléréséhez?</p>
                        <div class="col-10 pl-0">
                            <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                    data-target="#showMore10" data-toggle="collapse" role="button" aria-expanded="false"
                                    aria-controls="showMore10">
                                <span> Bővebben</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse o-gray-200" id="showMore10">
                                <div class="card card-body o-box-shadow-none">
                                    <p>Akár 1-3 nap alatt közelebb kerülhetsz terveid megvalósításához, mi megtaláljuk a megfelelő személyi kölcsönt hozzá.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3">
                    <img class="finances-card-svg" src="../../../../img/svg/babarvaro.svg" alt="Babaváró hitel">
                    <div class="card-body">
                        <h4 class="card-title o-card-blue-title">Babaváró hitel</h4>
                        <p class="card-text">Családot tervezel? Babaváró hitel a gyermeket tervező házaspároknak.</p>
                        <div class="col-10 pl-0">
                            <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                    data-target="#showMore11" data-toggle="collapse" role="button" aria-expanded="false"
                                    aria-controls="showMore11">
                                <span> Bővebben</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse o-gray-200" id="showMore11">
                                <div class="card card-body o-box-shadow-none">
                                    <p>Akár 10 millió Ft kamatmentes kölcsön a Tiétek lehet! Te már igénybe vetted?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3">
                    <img class="finances-card-svg" src="../../../../img/svg/hitel.svg" alt="Meglévő hitel kialakítása">
                    <div class="card-body">
                        <h4 class="card-title o-card-blue-title">Meglévő hitel kialakítása</h4>
                        <p class="card-text">Váltsd ki a korábban felvett kölcsönödet kedvezőbb kamatozású hitelre!</p>
                        <div class="col-10 pl-0">
                            <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                    data-target="#showMore12" data-toggle="collapse" role="button" aria-expanded="false"
                                    aria-controls="showMore12">
                                <span> Bővebben</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse o-gray-200" id="showMore12">
                                <div class="card card-body o-box-shadow-none">
                                    <p>A jelenlegi piaci környezetben alacsonyabbak a kamatok az előző évekhez képest, így olcsóbbak a hitelek, kiszámíthatóbb a törlesztésük.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3">
                    <img class="finances-card-svg" src="../../../../img/svg/csok.svg" alt="CSOK ügyintézés">
                    <div class="card-body">
                        <h4 class="card-title o-card-blue-title">CSOK ügyintézés</h4>
                        <p class="card-text">A Családi Otthonteremtési Kedvezmény a családok részére nyújt segítséget ingatlanvásárláshoz.</p>
                        <div class="col-10 pl-0">
                            <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                    data-target="#showMore13" data-toggle="collapse" role="button" aria-expanded="false"
                                    aria-controls="showMore13">
                                <span> Bővebben</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse o-gray-200" id="showMore13">
                                <div class="card card-body o-box-shadow-none">
                                    <p>CSOK támogatás, kamattámogatott lakáshitel és falusi CSOK teljes körű ügyintézése.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3">
                    <img class="finances-card-svg" src="../../../../img/svg/bankszamla.svg" alt="Bankszámlához
                            tartozó termékek">
                    <div class="card-body">
                        <h4 class="card-title o-card-blue-title">Bankszámlához
                            tartozó termékek</h4>
                        <p class="card-text">Bankszámla, hitelkártya és folyószámlahitel.</p>
                        <div class="col-10 pl-0">
                            <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                    data-target="#showMore14" data-toggle="collapse" role="button" aria-expanded="false"
                                    aria-controls="showMore14">
                                <span> Bővebben</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse o-gray-200" id="showMore14">
                                <div class="card card-body o-box-shadow-none">
                                    <p>A spórolás legegyszerűbb módja, hogy a bankolási szokásaidnak megfelelő bankszámlával rendelkezz. Segítünk a választásban.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3">
                    <img class="finances-card-svg" src="../../../../img/svg/lakastakarek.svg" alt="Lakástakarék pénztár">
                    <div class="card-body">
                        <h4 class="card-title o-card-blue-title">Lakástakarék pénztár</h4>
                        <p class="card-text">Igen, még mindig elérhető!</p>
                        <div class="col-10 pl-0">
                            <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                    data-target="#showMore15" data-toggle="collapse" role="button" aria-expanded="false"
                                    aria-controls="showMore15">
                                <span> Bővebben</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse o-gray-200" id="showMore15">
                                <div class="card card-body o-box-shadow-none">
                                    <p>A megtakarítás az első lépés a pénzügyi tudatossághoz, ehhez tökéletes választás egy lakástakarék pénztári megtakarítás.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-card o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3">
                    <img class="finances-card-svg" src="../../../../img/svg/biztositas.svg" alt="Biztosítások">
                    <div class="card-body">
                        <h4 class="card-title o-card-blue-title">Biztosítások</h4>
                        <p class="card-text">Találd meg velünk a legjobb lakásbiztosítást!</p>
                        <div class="col-10 pl-0">
                            <button type="button" class="o-primary-btn o-btn-group text-decoration-none o-medium-btn-size collapsed"
                                    data-target="#showMore16" data-toggle="collapse" role="button" aria-expanded="false"
                                    aria-controls="showMore16">
                                <span> Bővebben</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse o-gray-200" id="showMore16">
                                <div class="card card-body o-box-shadow-none">
                                    <p>Az új ingatlanodra szeretnél lakásbiztosítást kötni? Szeretnéd tudni, hogy megfelelő védelmet nyújt-e a jelenlegi biztosításod? Mindkét esetben állunk rendelkezésedre.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>

        </div>
      
    </div>
</section>