<section class="main-hero o-blue-gradient text-white">
    <div class="container custom-margin-y">
        <div class="row align-items-center custom-padding-y">
            <div class="col-12">
                <div class="o-call-to-action-bubble d-flex align-items-center">
                    <h2 class="o-bubble-title base-red-bg mb-0">Személyre szabott pénzügyi megoldások</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="w-100 d-flex align-items-center justify-content-start">Lakásvásárláshoz keresed a legmegfelelőbb hitelt?</h1>
                <h5 class="w-100 d-flex align-items-center justify-content-start pt-3 pb-2">Átmeneti segítségre van szükséged személyi kölcsön formájában?</h5>
                <h5 class="w-100 d-flex align-items-center justify-content-start pb-2">Bankot váltanál, de a bonyolult ügyintézés miatt nem teszed meg?</h5>
                <h5 class="w-100 d-flex align-items-center justify-content-start pb-2">Segítségre van szükséged a különféle családtámogatások közötti eligazodásban?</h5>
                <div class="col-12 col-md-4 col-xl-3 mt-3 pl-0">
                    <a href="kapcsolat" type="button" class="o-primary-btn o-btn-group o-btn-send text-decoration-none" role="button">
                        <span> Kapcsolatfelvétel</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>