.o-border-shadow-image {
  transition: .5s ease;
  &:hover {
    box-shadow: 0px -15px 0px 0px $base-red;
    -webkit-box-shadow: 0px -15px 0px 0px $base-red;
    -moz-box-shadow: 0px -15px 0px 0px $base-red;
    border-radius: 15px;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    transition: .5s ease;
  }
}