/* buttons
------------------------------------ */
.btn:hover {
  background-color: $lighter-red;
}

a:hover {
  color: $lighter-red;
}

.o-blue-primary-btn {
  background-color: $dark-blue !important;
  color: $white !important;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: $lighter-red !important;
  }
}



.o-gray-disabled-btn {
  background-color: $dark-gray;
  color: $white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @extend .o-box-shadow-darker;

  &:hover {
    background-color: $dark-gray !important;
    color: $white !important;
  }
}

.o-gray-primary-btn {
  background-color: $dark-gray !important;
  color: $white !important;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: $lighter-red !important;
  }
}

.o-red-primary-btn {
  background-color: $darker-red !important;
  color: $white !important;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: $lighter-red;
  }
}

.o-red-secondary-btn {
  background-color: $base-red;
  color: $white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: $lighter-red;
  }
}

.o-light-red-btn {
  background-color: $intense-red !important;
  color: $white !important;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: $lighter-red !important;
  }
}

.o-bg-transparent {
  background-color: transparent;

  &.active {
    background-color: $base-red;
    color: $white;
  }
}

.show-more-box {
  max-height: 160px;
  position: relative;
  overflow: hidden;
}

.show-more-box .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  border-bottom-left-radius: $rounded-15;
  border-bottom-right-radius: $rounded-15;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, $base-blue);
}


.show-more-btn:after {
  position: absolute !important;
}

.o-btn-group.o-medium-btn-size {
  height: $medium-button-size;
  padding-left: rem(34px);
  padding-right: rem(34px + $medium-button-size);
  font-size: rem(18px);
}

.card-body .o-btn-group.o-medium-btn-size {
  height: $medium-button-size;
  padding-left: rem(24px);
  padding-right: rem(22px + $medium-button-size);
  font-size: rem(18px);
}

.o-medium-btn-size:after {
  padding: 0.3rem !important;
}

.o-base-btn-size:after {
  padding: 0.5rem;
}

.o-btn-group.o-large-btn-size {
  padding-top: .71rem;
  padding-bottom: .71rem;
  padding-left: 1rem;
  padding-right: 3rem;
  line-height: 1.5rem;
  font-size: 1rem;

  &::after {
    width: 2.5rem;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 3.625rem;
    padding-right: 8rem;
    font-size: 1.56rem;
    line-height: 2.125rem;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;

    &::after {
      width: rem($large-button-size);
    }
  }

  @media screen and (min-width: 1920px) {
    font-size: 1.302rem;
  }
}

.o-primary-btn {
  position: relative;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $darker-red;
  font-family: $noto-bold;
  font-size: 1.125rem;
  color: $white;
  box-shadow: $box-shadow-05-02-black;
  -moz-box-shadow: $box-shadow-05-02-black;
  -webkit-box-shadow: $box-shadow-05-02-black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @extend .btn;
  @extend .o-rounded-15;

  @extend .font-18;
  border: 0;

  &:hover {
    background-color: $base-red;
    color: $white;
  }
}

.hero-search-input {
  border-radius: 7px;
}

.o-primary-btn {
  padding-left: 3rem;
  padding-right: 6.125rem;
  height: unset;
  padding-top: rem(9.75px);
  padding-bottom: rem(9.75px);
}

@media screen and (max-width: 1199px) {
  .o-primary-btn {
    font-size: rem(14px);
    padding-left: 2rem;
    padding-right: 6.125rem
  }
}

.o-blue-secondary-btn {
  background-color: $dark-blue !important;
  color: $white;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: $base-blue !important;
    color: $white;
  }

  &::after {
    background-color: $dark-blue !important;
  }

  &::after:hover {
    background-color: $base-blue !important;
  }
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.o-blue-btn {
  background-color: $dark-blue;
}

.o-btn-group {
  justify-content: start;

  span {
    width: 100%;
    text-align: center;
  }
}

//base checron right icon
.o-btn-group::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  position: absolute;
  transition: 0.2s all;
  opacity: 1;
  font-size: 1.5rem;
  background-color: $base-red;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  border-top-right-radius: $rounded-15;
  border-bottom-right-radius: $rounded-15;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5rem;
}

.o-intense-red-icon:hover {
  background-color: $intense-red;
}

.o-intense-red-icon::after {
  background-color: $intense-red;
}

.chevron-down::after {
  content: "\f078";
}

.chevron-up::after {
  content: "\f077";
}

.o-primary-btn {
  &.o-btn-search::after {
    /* content: url("/img/svg/kereses2.svg"); */
    background-color: #b0091b;
    background-image: url("/img/svg/kereses2.svg");
    content: "";
  }

  &::after {
    background-repeat: no-repeat;
    background-size: rem(20px);
    background-position: center;
  }

  &.o-btn-info::after {
    background-color: #b0091b;
    background-image: url("/img/svg/info.svg");
    content: "";
  }

  &.o-btn-send::after {
    background-color: #b0091b;
    background-image: url("/img/svg/kuldes.svg");
    content: "";
  }

  &.o-btn-newsletter::after {
    background-color: #b0091b;
    background-image: url("/img/svg/hirlevel.svg");
    content: "";
  }

  &.o-btn-house::after {
    background-color: #b0091b;
    background-image: url("/img/svg/house.svg");
    content: "";
  }

  &.o-btn-checklist::after {
    background-color: #b0091b;
    background-image: url("/img/svg/checklist.svg");
    content: "";
  }

  &.o-btn-login::after {
    background-color: #b0091b;
    background-image: url("/img/svg/login.svg");
    content: "";
  }

  &.o-btn-contact::after {
    background-image: url("/img/svg/contact.svg");
    content: "";
  }
}

.o-btn-icon-none {
  padding: 0.5rem;
}

.o-btn-icon-none::after {
  content: none;
}

.o-btn-write::after {
  content: url("/img/svg/write_white.svg");
}

.o-btn-calculator::after {
  content: url("/img/svg/calculator.svg");
}

.o-btn-logout::after {
  content: url("/img/svg/logout.svg");
}

/* list before */

.o-check-circle-regular {
  display: flex;
  align-items: center;
}

.o-check-circle-regular::before {
  margin-right: 10px;
  content: url("/img/svg/check-circle-regular.svg");
}

.o-plus-icon {
  display: flex;
  align-items: center;
}

.o-plus-icon::before {
  margin-right: 10px;
  content: url("/img/svg/plus_ikon.svg");
}

.o-double-arrow {
  display: flex;
  align-items: center;
}

.o-double-arrow::before {
  margin-right: 10px;
  content: url("/img/svg/dupla_nyil2.svg");
}

.o-done-icon {
  display: flex;
  align-items: center;
}

.o-done-icon::before {
  margin-right: 10px;
  content: url("/img/svg/done2.svg");
}