.o-call-to-action-bubble {
  position: relative;
  width: auto;
  
  .o-bubble-title {
    height: 80px;
    width: auto;
    display: flex;
    position: relative;
    z-index: 99;
    align-items: center;
    border-top-right-radius: 155px;
    border-bottom-right-radius: 155px;
    text-align: left;
    padding: 2rem 1.5rem 2rem 0;
    box-shadow: 0 7px 4px -4px rgba(0,0,0,0.5);
    @include media-breakpoint-up(xl) {
      height: 121px;
      padding-left: 0;
      padding-right: 3rem;
    }

    &:before {
      content: '';
      height: 80px;
      width: 30rem;
      position: absolute;
      z-index: -1;
      left: -29.5rem;
      box-shadow: 0 7px 4px -4px rgba(0,0,0,0.5);
      @include media-breakpoint-up(xl) {
        height: 121px;
      }
    }

    &.base-red-bg:before {
      background-color: $base-red;
    }

    &.o-blue-primary-bg:before {
      background-color: $base-blue;
    }

    //@media all and (min-width: 1380px) {
    //  padding-left: 6rem;
    //}
    //
    //@media all and (min-width: 1680px) {
    //  padding-left: 7rem;
    //}
    //
    //@media all and (min-width: 1920px) {
    //  padding-left: 6.5rem;
    //}
  }
}