//base card style
.oh-list-flex-wrap {
  flex-wrap: wrap;
  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
  }

  .o-card-header img {
    position: relative;
    top: 0;
    bottom: 0;
    max-height: 385px !important;
    height: 100%;
  }

  .o-card-img-overlay {
    @include media-breakpoint-up(md) {
      border-bottom-left-radius: $rounded-15;
    }
  }
}

.card {
  border-radius: $rounded-15;
  border: 0;
  -webkit-box-shadow: $box-shadow-22-02-black;
  -moz-box-shadow: $box-shadow-22-02-black;
  box-shadow: $box-shadow-22-02-black;
  &.o-card {
    -webkit-box-shadow: $box-shadow-22-02-black;
    -moz-box-shadow: $box-shadow-22-02-black;
    box-shadow: $box-shadow-22-02-black;
    .o-card-title {
      color: $black;
      font-family: $noto-bold;
      margin-bottom: 0;
    }

    .o-card-second-title {
      color: $base-blue;
      font-family: $noto-bold;
    }

    .o-card-footer {
      i {
        font-size: 1.2rem;
      }
      a img, .fav-icon svg {
        width: 20px;
        @include media-breakpoint-up(sm) {
          width: 25px;
        }
      }
    }
  }

  .o-card-header {
    position: relative;
    border-top-left-radius: $rounded-15;
    border-top-right-radius: $rounded-15;
    img {
      border-top-left-radius: $rounded-15;
      border-top-right-radius: $rounded-15;
      width: 100%;
      max-height: 296px;
      object-fit: cover;
      -o-object-fit: cover;
      &.left-rounded {
        border-bottom-left-radius: $rounded-15;
        border-top-right-radius: 0;
      }
    }

    .img-bottom-overlay {
      z-index: 9999;
      .o-price-label, .o-sales-time {
        position: absolute;
        bottom: 0;
        left: 1rem;
        color: white;
      }
      .o-sale-price {
        position: absolute;
        bottom: 2rem;
        left: 1rem;
      }

      .o-price-label {
        font-size: 1.5rem;
        @include media-breakpoint-up(md) {
          font-size: 1.8rem;
        }
      }
    }

    .o-card-img-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: rgba(24,24,24,0);
      background: $overlay-bg-2;
    }

    .o-slider-dots {
      position: absolute;
      display: flex;
      right: 1rem;
      bottom: 1rem;
      z-index: 1;

      span {
        width: 10px;
        height: 10px;
        background-color: $white;
        border-radius: 50%;
        margin: 0 0.33rem 0;
        cursor: pointer;
        &.active {
          background-color: $darker-gray;
        }
      }
    }

    .stretched-link.o-img-dot-slider {
      color: $white;
      outline: none;
    }
  }

  .o-red-card-label {
    background-color: $base-red;
    color: $white;
    border-radius: $rounded-15;
    padding: 0.3rem 1rem;
  }
}


@media (min-width: 576px) {
  .card-deck .o-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 15px;
  }
}


.drop-shadow-01 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(24,24,24,0.15);
  border-radius: $rounded-15;
}

.salable-tag {
  padding: 0.5rem 2.5rem;
  border-radius: $rounded-15;
}