.o-page-pagination {
  .page-item {
    .page-link {
      margin-left: 4px;
      color: $base-blue;
      height: 2.375rem;
      width: 2.375rem;
      font-family: $noto-bold;
      @extend .o-rounded-7;
      &:active,
      &.active,
      &:hover {
        color: $base-red;
      }

      @include media-breakpoint-up(md) {
        margin-left: 10px;
      }

      .pagi-prev {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }
  }
}


.franchise {
  .o-page-pagination {
    .page-item {
      .page-link {
        @include media-breakpoint-up(md) {
          height: 3.375rem;
          width: 3.375rem;
          margin: 0 .5rem;
          font-size: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
