.tag-cloud {
  width: 100%;
  margin: auto;
  li {
    margin: 5px 5px 5px 2px;
    float: left;
    a {
      padding: 0.2rem 1rem;
      &:hover {
        background-color: $base-red !important;
      }
    }
  }
}