//news base
.news-row {
  @include media-breakpoint-down(lg) {
    flex-direction: column-reverse;
  }
}

.news-card {
  .news-nav {
    li {
      a:hover {
        color: $darker-red;
      }

      &.active {
        @extend .o-rounded-7;
        background-color: $darker-red;
        a {
          color: $white !important;
        }
      }
    }
  }
}

.o-tags a {
  color: $base-red;
}

//.newsletter-section {
//  background-image: url("/img/aloldalak/details/newsletter2.jpg");
//  background-size: cover;
//  background-repeat: no-repeat;
//}

.newsletter-section-homepage {
  background-image: url('/img/aloldalak/details/newsletter2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .o-btn-newsletter{
    width: 100%;
    @include media-breakpoint-up(md) {
        width: 50%;
        margin: auto;
    }
    @include media-breakpoint-up(lg) {
        width: auto;
        margin-left: rem(30px);
    }
  }
}

//news single

.news-details {
  .image-left {
    @include media-breakpoint-up(lg) {
      float: left;
      max-width: 50%;
    }
  }
  .image-right {
    @include media-breakpoint-up(lg) {
      float: right;
      max-width: 50%;
    }
  }
}
