.privacy-details {
  .privacy-details .nav {
    display: block;
  }
  .privacy-list {
    a {
      text-decoration: none;
      font-family: $noto-bold;
      &:hover,
      &.active {
        background-color: $white;
        color: $base-blue !important;
      }
    }
  }
}