.profile-details {
  .user-details .nav {
    display: block;
  }
  .profile-list {
    a {
      &:hover,
      &.active {
        background-color: $darker-blue;
      }
    }
  }
}


.tab-content.side-tabs {
  .tab-pane {
    display: none;
    overflow-y: initial;
    &.active {
      display: block;
    }
  }
}


//input file

.c-input-box {
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile-1 + label {
    color: $white;
    background-color: $dark-blue;
  }

  .inputfile + label {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    padding: 0.825rem 3.25rem;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputfile + label img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
  }
}


//fav real estate

.fav-label {
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem;
  background-color: $base-blue-opacity;
}


//img card

.img-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: $rounded-15;
}

.tip-card {
  min-height: 400px;
  background-image: url('/img/tipp/tipp_mobil.png');
  @include media-breakpoint-up(md) {
    background-image: url('/img/tipp/tipp_desktop.png');
  }
}


.statement {
  background-color: $white-opacity;
  min-height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}


//toggle switch custom css

.notification-section .toggle-wrapper * {
  &:before, &:after {
    content: '';
    position: relative;
  }
}

.toggle-wrapper {
  position: relative;
  margin-right: 1rem;

  input.custom-switch {
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }

  .toggle {
    position: relative;
    display: inline-block;
  }

  .toggle-item {
    width: 6em;
    height: 2.5em;
    display: inline-block;
    border-radius: 50px;
    margin: 1rem 1rem 1rem 0;
    position: relative;
    transition: all .3s ease;
    transform-origin: 20% center;
    cursor: pointer;
    background: $white;
    border: .5px solid rgba(117, 117, 117, 0.31);
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.2), 0 -3px 4px rgba(0,0,0,0.15);
    &::before {
      display: block;
      transition: all .2s ease;
      top: .25em;
      left: .25em;
      border-radius: 2em;
      transition: .3s ease;
      border: none;
      box-shadow: inset 0.5px -1px 1px rgba(0, 0, 0, 0.35);
      background: #fff;
      transform: rotate(-25deg);
    }
  }

  .custom-switch:checked + .toggle-item {
    background: $base-blue;
    &::before {
      left: 58px;
    }
  }

  .simple-switch label:before {
    border: none;
    width: 2em;
    height: 2em;
    background: $white;
    transform: rotate(-25deg);
  }
}


//credit

.credit-card {
  min-height: 400px;
  background-image: url('/img/hitel/credit_mobil.png');
  @include media-breakpoint-up(md) {
    background-image: url('/img/hitel/credit_desktop.png');
  }
}

//messages

.messages-menu {
  span {
    width: 5px;
    height: 5px;
    background-color: $base-blue;
    display: block;
    margin-bottom: 1px;
    padding: 3px;
  }
}


.messages-sidebar {
  .user-details-box {
    border-radius: $rounded-15;
    &.active {
      background-color: $dark-gray;
    }

    &:hover {
      background-color: $light-gray;
    }
  }
}

.messages-view {
  background-color: $white-gray;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 5rem;
}

.real-messages-view {
  background-color: $white;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 5rem;
  border: 0;
  p {
    font-size: 0.8rem;
    @include media-breakpoint-up(md) {
      font-size: inherit;
    }
  }

  img.small-img {
    width: 40px;
    @include media-breakpoint-up(md) {
      width: 65px;
    }
  }
}


.small-message-view {
  input.form-control.o-h-70 {
    @include media-breakpoint-up(md) {
      height: 70px !important;
    }
  }
}


.media-meta-day {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0;
  color: $tr-gray-black-1;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear
}

.media-meta-day::before {
  margin-right: 16px
}

.media-meta-day::before,
.media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 2px solid $lighter-gray;
}

.media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 2px solid $lighter-gray;
}

.media-meta-day::after {
  margin-left: 16px
}


.messages-sidebar {
  @include media-breakpoint-down(md) {
    position: absolute;
    z-index: 5;
    background-color: $white;
    border-radius: $rounded-15;
    height: 100%;
    display: none;
  }
}


.msg-time-send {
  position: absolute;
  right: 2rem;
  bottom: -2rem;
  color: $base-blue;
  font-size: 12px;
  &::before {
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-right: .5rem;
  }
}


.send-message-row {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  left: -10px;
  margin: auto;
  @include media-breakpoint-up(lg) {
    width: 96%;
    left: -2px;
  }
}