.csr {
  .main-hero {
    min-height: 550px;
    background-image: url('/img/aloldalak/csr/csr-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}