<script>
  function docReady(fn) {
    if (document.readyState === "complete" || document.readyState === "interactive") {
      setTimeout(fn, 1);
    } else {
      document.addEventListener("DOMContentLoaded", fn);
    }
  }

  function showPriceControls(event) {
    event.stopPropagation();

    document.querySelector('#price_overlay').style.display = "none";
    document.querySelectorAll('.price-control').forEach((element) => {
      element.style.display = "";
    });
  }

  function hidePriceControls(event) {
    if (event != undefined) {
      event.stopPropagation();
    }

    if (parseInt(document.querySelector('#min_price').value) > 0 || parseInt(document.querySelector('#max_price').value) > 0) {
      document.querySelector('#price_overlay').style.display = "none";
      return;
    }

    document.querySelector('#price_overlay').style.display = "";
    document.querySelectorAll('.price-control').forEach((element) => {
      element.style.display = "none";
    });
  }

  function showRoomControls(event) {
    event.stopPropagation();

    document.querySelector('#room_overlay').style.display = "none";
    document.querySelectorAll('.room-control').forEach((element) => {
      element.style.display = "";
    });
  }

  function hideRoomControls(event) {
    if (event != undefined) {
      event.stopPropagation();
    }

    if (parseInt(document.querySelector('#min_room').value) > 0 || parseInt(document.querySelector('#max_room').value) > 0) {
      document.querySelector('#room_overlay').style.display = "none";
      return;
    }

    document.querySelector('#room_overlay').style.display = "";
    document.querySelectorAll('.room-control').forEach((element) => {
      element.style.display = "none";
    });
  }

  docReady(function () {
    hidePriceControls();
    hideRoomControls();
  });

  {{!-- document.addEventListener("DOMContentLoaded", function(){
    let button = document.querySelector(".main-hero .o-btn-search");
    let w = button.offsetWidth;
    console.log(w);
    button.parentNode.style.maxWidth = w + 11 + "px";
    button.parentNode.style.width = w + 11 + "px";
    button.parentNode.style.flexBasis = w + 11 + "px";
  }); --}}

</script>
<section class="main-hero pb-5 pb-md-0 o-dark-blue-lighter-grad text-white"
  onclick="hidePriceControls(event); hideRoomControls(event);">
  <h1 class="w-100 d-flex align-items-center justify-content-center text-center pl-lg-5 pr-lg-5 custom-padding-t">Nézz
    körül lakóparkjainkban!</h1>
  <div class="container px-0 pb-5 pb-md-0">
    <p class="text-white text-center font-size-20">Az Openhouse kínálatából itt kiválaszthatod a neked legjobban
      megfelelő újépítésű otthont. Munkatársaink kiválasztják a számodra legkedvezőbb pénzügyi terméket a bankok
      ajánlati közül. </p>
    <div class="tab-content mt-5">
      <form action="">
        <div class="form-row align-items-center mt-3 mt-lg-4 w-100">
          <div class="row flex-grow-1">
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
              <label class="sr-only" for="salesAgentCity">Település</label>
              <select name="city" id="salesAgentCity" class="form-control o-rounded-15" style="width: 100%">
                <option value=""></option>
                <option value="0">Budapest</option>
                <option value="0">Szombathely</option>
              </select>
            </div>
            <div class="col-12 col-lg-4 pr-0">
              <label class="sr-only" for="price_overlay">Ár</label>
              <div class="input-group mb-3 mb-lg-0 o-prepend-group">
                <div class="form-control o-rounded-15 o-h-50" id="price_overlay"
                  style="background-color:white; line-height: 2.8; color: #757575;" onclick="showPriceControls(event);">
                  Ár
                </div>
                <input type="text" class="form-control o-rounded-15-left-15 o-rounded-15-right-0 border-0 price-control"
                  id="min_price" placeholder="Min" onclick="event.stopPropagation()">
                <!--<span class="price-control"> - </span>-->
                <input type="text"
                  class="form-control o-rounded-15-right-0 border-left border-right-0 border-top-0 border-bottom-0 price-control"
                  id="max_price" placeholder="Max" onclick="event.stopPropagation()">
                <div class="input-group-prepend">
                  <div class="input-group-text"><span id="area_unit_sell">millió Ft</span></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 pl-md-0">
              <label class="sr-only" for="room_overlay">Szobaszám</label>
              <div class="input-group mb-3 mb-lg-0">
                <div class="form-control o-h-50 o-rounded-15-left-0 o-rounded-15-right-15" id="room_overlay"
                  style="background-color:white; line-height: 2.8; color: #757575;" onclick="showRoomControls(event);">
                  Szobaszám
                </div>
                <input type="text"
                  class="form-control rounded-0 border-left o-rounded-15-left-15-md-down border-right-0 border-bottom-0 room-control"
                  id="min_room" placeholder="Min / Szoba" onclick="event.stopPropagation()">
                <!--<span class="area-control"> - </span>-->
                <input type="text"
                  class="form-control o-rounded-15-right-15 border-left border-right-0 border-bottom-0 room-control"
                  id="max_room" placeholder="Max / Szoba" onclick="event.stopPropagation()">
              </div>
            </div>
          </div>

          

          <div class="col flex-shrink-0">
            <button type="button" class="o-primary-btn o-btn-group o-btn-search" role="button">
              <span>Találatok megtekintése</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>