<section class="container-fluid base-red-bg py-3 px-3 py-md-5 px-md-5 position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-7">
                <h3 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start">Érdekelnek a legfrissebb hírek. </h3>
            </div>
            <div class="col-12 col-md-5 text-center text-md-left pl-md-5 pl-0">
                <a href="hirek" class="btn-group align-items-center w-100" aria-label="Button group">
                    <button type="button" class="btn o-light-red-btn o-rounded-15-left-15 o-h-50 col-10 col-md-9 col-xl-10">
                        Feliratkozom
                    </button>
                    <button type="button" class="btn o-red-primary-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2 col-md-3 col-xl-2">
                        <img width="20" src="../../../../img/svg/newsletter.svg">
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

