<div class="card p-3 px-lg-4 pt-lg-5 pb-lg-3 mb-5 o-mt-m6 o-mt-lg-m5">
    <div class="row px-4 py-3">
        <div class="col-12 col-xl-6 text-left">
            <h3 class="w-100 d-flex align-items-center o-base-blue justify-content-center justify-content-md-start o-noto-bold">Alapértékeink</h3>
            <h5 class="w-100 d-flex  align-items-center py-3 o-black-grayish o-noto-bold justify-content-center justify-content-md-start">
                Számunkra fontos az erős kultúra és az alapértékeink. Elkötelezettek vagyunk az iránt, hogy dolgozóinknak, ügyfeleinknek és minden együttműködő partnerünknek a lehető legjobbat nyújtsuk.
            </h5>
            <ul class="list-unstyled pb-5 pb-lg-0">
                <li class="o-double-arrow text-left mb-1">Az ingatlan és az otthon közötti út élményéért dolgozunk.</li>
                <li class="o-double-arrow text-left mb-1">Őszintén és nyíltan kommunikálunk.</li>
                <li class="o-double-arrow text-left mb-1">Csapatjátékosok vagyunk.</li>
                <li class="o-double-arrow text-left mb-1">Felkaroljuk és előremozdítjuk a változást.</li>
                <li class="o-double-arrow text-left mb-1">Keressük a fejlődés és a tanulás lehetőségét.</li>
                <li class="o-double-arrow text-left mb-1">Alázattal, szenvedéllyel és optimistán állunk a dolgokhoz.</li>
                <li class="o-double-arrow text-left mb-1">Kilépünk a komfortzónánkból.</li>
                <li class="o-double-arrow text-left mb-1">A humor életünk fontos része.</li>
            </ul>
        </div>
        <div class="col-12 col-xl-6">
            <img class="img-fluid red-box-shadow o-rounded-15" src="../../../../img/aloldalak/rolunk/rolunk.png" alt="Alapértékeink">
        </div>
    </div>
</div>