<div class="collapse scroll-collapse" id="collapseBroker" aria-labelledby="career4" data-parent="#careerAccordion">
    <div class="card p-3 p-lg-5 mb-5 introduction">
        <div class="row mb-4">
            <div class="col-12">
                <h5 class="o-noto-bold o-base-blue mb-0">Home broker állások</h5>
                <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
                <p class="card-text py-3 py-lg-4">
                    Ingatlanközvetítés szabadon, mesterfokon!
                    Ha már megtanultad a szakmát és szeretnél szabadon, ám egy nagy hálózat háttértámogatásával dolgozni, akkor közöttünk a helyed!
                </p>
            </div>
        </div>
    </div>
    <div class="mx-5 card-deck-section d-none d-lg-block">
        <div class="row mb-5">
            <div class="col-12 col-md-6 col-xl-3 mb-3 mb-xl-0 card-deck">
                <div class="o-card bg-white o-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/szakertelem.svg" alt="Magas szakértelem">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">Magas szakértelem</h4>
                        <p class="card-text">Ingatlanközvetítői hátterükkel az Openhouse Home Brokerei magas szinten alkalmazzák az ügyfélközpontú értékesítés módszereit.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-3 mb-xl-0 card-deck">
                <div class="o-card bg-white o-red-deco o-rounded-15 o-rounded-top-right-0 p-3  mb-3 mb-lg-0 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/innovacio.svg" alt="Marketing szabadság">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">Marketing szabadság</h4>
                        <p class="card-text">Önállóan határozza meg az ingatlanok marketingjét és gondoskodik a leghatásosabb eszközökről.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-3 mb-xl-0 card-deck">
                <div class="o-card bg-white o-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/rugalmassag.svg" alt="Irodai kötöttségek nélkül">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">Irodai kötöttségek nélkül</h4>
                        <p class="card-text">Az Openhouse Home Broker a saját otthonában végzi a háttérmunkát, melyhez rendszeresen igénybevehetiaz Openhouse hálózat mentori támogatását. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 card-deck">
                <div class="o-card bg-white o-red-deco o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/csapat.svg" alt="Teljes körű szolgáltatás">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">Teljes körű szolgáltatás</h4>
                        <p class="card-text">Az ingatlan műszaki állapotát felméri és árat becsül. A tulajdonosokkal megbízást köt, hogy potenciális vevőket keressen, ehhez fotókat, videókat, alaprajzot készít, hirdetéseket ad fel, megkeresi a leghatékonyabb marketing lehetőségeket, piacot kutat. A vevők számára pedig az igényeiknek és lehetőségeiknek legjobban megfelelő ingatlanokat kínálja fel. Az eladót és a vevőt egyaránt segíti az adásvételi szerződés létrejöttében.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> career_mobile_slider_broker }}
    <div class="o-mt-m6 o-mt-lg-m10 mb-5">{{> mini_image_slider }}</div>
    <div class="row">
        <div class="col-12 col-lg-6 card-deck">
            <div class="card p-3 p-lg-5 mb-5 introduction">
                <div class="row mb-4">
                    <div class="col-12">
                        <h5 class="o-noto-bold o-base-blue mb-0">Velünk könnyebb!</h5>
                        <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
                        <div class="card-text pt-3 pb-3">
                            <p class="mb-0">
                                Az Openhouse magas márkaismertségejelentősen megkönnyíti a közvetítési, értékesítési folyamataidat és csapatunk tagjaként hasznosíthatod az országos hálózatunk előnyeit.Az elérhető egyik leginnovatívabb ingatlan-nyilvántartási Back Office rendszerünk használata mellettszemélyes szakmai támogatást is biztosítunk számodra, továbbá fejlett ingatlan-marketing támogatást is igényelhetsz.A teljes körű ügyfélkiszolgálás jegyében jogi és hitelügyintézői, pénzügyi támogatói kapcsolatainkat is használhatod.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 card-deck">
            <div class="card p-3 p-lg-5 mb-5 introduction">
                <div class="row mb-4">
                    <div class="col-12">
                        <h5 class="o-noto-bold o-base-blue mb-0">Kimagasló jövedelem vár!</h5>
                        <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
                        <div class="card-text pt-3 pb-3">
                            <p class="mb-0">Nagyon magas jutalékot fizetünk a sikeres munkádért: minimum 70%-ot, mely szorgalmadtól, sikereidtől függően 90% is lehet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> filter_bar_blue }}
    <div class="o-card card px-3 py-3 px-lg-5 py-lg-5 mb-5">
        <div class="row pt-1 pb-1">
            <div class="col-12 col-lg-6 mb-4">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Home Broker</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Home Broker</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Home Broker</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Home Broker</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Home Broker</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Home Broker</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-7">
                <div class="d-flex justify-content-center justify-content-lg-end">
                    <span class="o-gray-100 pr-lg-5">1 oldal / 24</span>
                </div>
            </div>
            <div class="col-12 col-lg-3 offset-lg-2">
                <div class="d-flex justify-content-center justify-content-lg-end">
                    <a href="#!" class="o-base-blue text-decoration-non o-noto-bold">Következő oldal <i class="fas fa-chevron-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>