<div class="collapse scroll-collapse" id="collapseSales" aria-labelledby="career2" data-parent="#careerAccordion">
    <div class="card p-3 p-lg-5 mb-5 introduction">
        <div class="row mb-4">
            <div class="col-12">
                <h5 class="o-noto-bold o-base-blue mb-0">Ingatlanértékesítő állások</h5>
                <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
                <div class="card-text pt-3 pb-3">
                    <p class="mb-0"><strong>Ingatlanértékesítőink képzett szakemberek, akik az Openhouse franchise hálózat tagjaiként szolgáltatást nyújtanak az ingatlanok eladása/bérbeadása érdekében. </strong></p>
                     <p class="mb-0">Ügyfeleket keresnek, akik eladnák/bérbeadnák ingatlanjaikat, megbízásba veszik az ingatlanokat, szervezik a marketinget, végül összekötik a vásárlókat az eladókkal. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-5 card-deck-section d-none d-lg-block">
        <div class="row mb-5">
            <div class="col-12 col-md-6 col-xl-3 mb-3 mb-xl-0 card-deck">
                <div class="o-card bg-white o-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/szakertelem.svg" alt="Szenvedély és empátia">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">Szenvedély és empátia</h4>
                        <p class="card-text">Az igazán jó értékesítő azt szeretné kideríteni, hogy az ügyfél mit szeretne és ennek elérésében lesz segítségére. Nincs annál felemelőbb érzés, mint részt venni abban a családi boldogságban, amikor otthont teremtünk ügyfeleinknek. Akik örömteli izgatottsággal, elégedetten és hálásan költöznek be új otthonukba, melynek megteremtéséhez sokszor egy élet munkájára van szükség.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-3 mb-xl-0 card-deck">
                <div class="o-card bg-white o-red-deco o-rounded-15 o-rounded-top-right-0 p-3  mb-3 mb-lg-0 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/innovacio.svg" alt="Sokszínűség">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">Sokszínűség</h4>
                        <p class="card-text">Egy értékesítő munkája nagyon változatos, nincs két egyforma nap és nincs két egyforma ügyfél sem. Ideje nagy részét a terepen tölti, emellett rengeteget kommunikál. Az ingatlanértékesítéshez kapcsolódó ügyleteket a kapcsolatfelvételtől a lezárásig végigkíséri, mind eladói, mind vevői oldalon.
                            Az ingatlanok, melyekkel foglalkozik, a legkülönbözőbb típusúak lehetnek. Lakások, családi házak, telkek, mezőgazdasági területek, ipari létesítmények, építési projektek. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-3 mb-xl-0 card-deck">
                <div class="o-card bg-white o-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/rugalmassag.svg" alt="A szakma fortélyainak ismerete">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">A szakma fortélyainak ismerete</h4>
                        <p class="card-text">Megtanulta és magas színvonalon műveli azokat a tevékenységeket, melyek elengedhetleneka szolgáltatása nyújtásához. Tisztában van:</p>
                        <ul class="card-list">
                            <li>az ingatlan felmérésével és értékének meghatározásával</li>
                            <li>a műszaki és jogi ismeretekkel</li>
                            <li>a hatékony marketing eszközökkel</li>
                            <li>a fotózással</li>
                            <li>az alaprajz-készítéssel</li>
                            <li>a telefonálás művészetével</li>
                            <li>és nem utolsósorban az asszertív kommunikációval.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 card-deck">
                <div class="o-card bg-white o-red-deco o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/csapat.svg" alt="A szolgáltatása">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">A szolgáltatása</h4>
                        <p class="card-text">Rendkívül sokrétű: az ingatlan műszaki állapotát felméri és árat becsül. A tulajdonosokkal megbízást köt, hogy potenciális vevőket keressen, ehhez fotókat, videókat, alaprajzot készít, hirdetéseket ad fel, megkeresi a leghatékonyabb marketing lehetőségeket és piacot kutat. A vevők számára pedig az igényeiknek és lehetőségeiknek legjobban megfelelő ingatlanokat kínálja fel. Az eladót és a vevőt egyaránt segíti az adásvételi szerződés létrejöttében.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> career_mobile_slider_sales }}
    <div class="o-mt-m6 o-mt-lg-m10 mb-5">{{> mini_image_slider }}</div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card p-3 p-lg-5 mb-5 introduction">
                <div class="row mb-4">
                    <div class="col-12">
                        <h5 class="o-noto-bold o-base-blue mb-0">Segítünk elérni a céljaidat!</h5>
                        <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
                        <div class="card-text pt-3 pb-3">
                            <p class="mb-0">Korszerű IT hátteret biztosítunk hirdetéseid kezeléséhez, irodáinkban barátságos, színvonalas környezetben tárgyalhatsz az ügyfelekkel és bármikor használhatod innovatív eszközeinket (pl.: 360°-os kamera, VR prezentáció). Megteremtjük a jogi hátteret és az értékesítéshez szükséges kreatív marketing eszközöket is.</p>
                            <p class="mb-0">Akár kezdőként jelentkezel, akár a szakmán belül szeretnél váltani, mi a tudásszintedhez legjobban igazodó programokkal támogatjuk a fejlődésedet. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card p-3 p-lg-5 mb-5 introduction">
                <div class="row mb-4">
                    <div class="col-12">
                        <h5 class="o-noto-bold o-base-blue mb-0">Kiemelkedő jövedelem vár rád!</h5>
                        <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
                        <div class="card-text pt-3 pb-3">
                            <p class="mb-0">Most teljesülhet a vágyad, hogy szabadabb legyél és jövedelmed a teljesítményedhez igazodjon: az ingatlanközvetítői szakmában vállalkozóként Te szabod meg az időbeosztásodat és jövedelmed is a teljesítményeddel arányosan nő. Ráadásul egy országos hálózat csapatának tagjaként több a lehetőséged: a teljes hálózati portfolió értékesítésében részt vehetsz és jövedelmet szerezhetsz akkor is, ha éppen szabadságon vagy. </p>
                            <p class="mb-0"><strong>Dolgozzunk együtt, a siker Téged is vár!</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> filter_bar_blue }}
    <div class="o-card card px-3 py-3 px-lg-5 py-lg-5 mb-5">
        <div class="row pt-1 pb-1">
            <div class="col-12 col-lg-6 mb-4">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-7">
                <div class="d-flex justify-content-center justify-content-lg-end">
                    <span class="o-gray-100">1 oldal / 24</span>
                </div>
            </div>
            <div class="col-12 col-lg-3 offset-lg-2">
                <div class="d-flex justify-content-center justify-content-lg-end">
                    <a href="#!" class="o-base-blue text-decoration-non o-noto-bold">Következő oldal <i class="fas fa-chevron-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>