<div class="collapse scroll-collapse" id="collapseOffice2" aria-labelledby="careerOfficeDetails" data-parent="#careerAccordion">
    <div class="card p-3 p-lg-5 mb-5">
        <div class="row mb-4">
            <div class="col-12">
                <h5 class="o-noto-bold o-base-blue mb-0">Az Openhouse Szeged Ingatlaniroda állásajánlatai</h5>
                <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
                <div class="card-text pt-3 pb-3">
                     <p class="mb-0">Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed sodales arcu nunc id nibh. Maecenas scelerisque, mauris vel vehicula vulputate, ligula nisi efficitur lorem, quis vestibulum urna nisi eu odio. Pellentesque euismod porttitor posuere. Vestibulum libero lorem, sagittis at malesuada vitae, hendrerit nec nulla. Donec aliquet ut tortor vel varius.</p>
                </div>
            </div>
        </div>
    </div>
    {{> mini_image_slider }}
    <div class="mt-5"></div>
    {{> filter_bar_blue }}
    <div class="o-card card px-3 py-3 px-lg-5 py-lg-5 mb-5">
        <div class="row pt-1 pb-1">
            <div class="col-12 col-lg-6 mb-4">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg px-5 py-2 text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4 d-none d-lg-block">
                <div class="o-card card px-4 py-5 o-box-shadow-darker">
                    <div class="o-card-header">
                        <h5 class="o-black o-noto-bold">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                        <div class="o-h-40 d-flex align-items-center">
                            <h4 class="o-base-blue o-noto-bold mb-0">Ingatlan értékesítő</h4>
                        </div>
                        <hr class="o-border-top-gray-2">
                    </div>
                    <div class="card-body py-0 px-0">
                        <div class="card-content row">
                            <div class="col-12 col-lg-7">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                            <div class="col-12 col-lg-5">
                                <a href="allas-adatlap" class="o-primary-btn o-btn-group o-btn-info">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-card-footer row">
                        <div class="card-content tag-cloud">
                            <ul class="list-unstyled">
                                <li>
                                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                                </li>
                                <li>
                                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                                </li>
                                <li>
                                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                                </li>
                                <li>
                                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Laptop</a>
                                </li>
                                <li>
                                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-7">
                <div class="d-flex justify-content-center justify-content-lg-end">
                    <span class="o-gray-100 pr-lg-5">1 oldal / 24</span>
                </div>
            </div>
            <div class="col-12 col-lg-3 offset-lg-2">
                <div class="d-flex justify-content-center justify-content-lg-end">
                    <a href="#!" class="o-base-blue text-decoration-non o-noto-bold">Következő oldal <i class="fas fa-chevron-right ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>