<div class="collapse scroll-collapse" id="collapseOh" aria-labelledby="career1" data-parent="#careerAccordion">
    <div class="card p-3 p-lg-5 mb-5 introduction">
        <div class="row mb-4">
            <div class="col-12">
                <h5 class="o-noto-bold o-base-blue mb-0">Vállalati kultúra</h5>
                <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
                <p class="card-text pt-3 pt-lg-4">
                    Hisszük, hogy az otthon értéket képvisel, az ingatlant üzletként kezeljük, szerintünk a partnerség a siker része, a változás mindig fejlődéssel jár, a közösség pedig erőt ad.
                    Hiszünk a folyamatos fejlődésben, a gyorsan változó világ kihívásaira adott pozitív válaszokban.
                </p>
                <p><strong>Az ingatlan és az otthon közötti út élményéért dolgozunk.</strong></p>
            </div>
        </div>
    </div>
    <div class="mx-5 card-deck-section d-none d-lg-block">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3 mb-3 mb-xl-0 card-deck">
                <div class="o-card bg-white o-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/csapat.svg" alt="Ösztönözzük a csapatmunkát">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">Ösztönözzük a csapatmunkát</h4>
                        <p class="card-text">Alapértékeink mentén figyelünk egymásra, támogatjuk a másikat és értékes időt töltünk együtt. Közösségi programokat szervezünk, ahol a tudásmegosztás mellett közös csapatépítő élmények várnak a résztvevőkre. Hivatásuk iránt elkötelezett szakemberekkel dolgozunk, akik tesznek sikereik elérése érdekében.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-3 mb-xl-0 card-deck">
                <div class="o-card bg-white o-red-deco o-rounded-15 o-rounded-top-right-0 p-3  mb-3 mb-lg-0 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/munkakapcsolat.svg" alt="Elismerjük a teljesítményt">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">Elismerjük a teljesítményt</h4>
                        <p class="card-text">A kiemelkedő teljesítménymindig a kitartó, szenvedélyes munka eredménye,ezért versenyképes, teljesítményarányos jövedelemmel és bónusszal ismerjük el kollégáink munkáját. Értékesítőink számára versenyeket szervezünk, valamint célirányos programokkal támogatjuk a szakmai fejlődésüket.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-3 mb-xl-0 card-deck">
                <div class="o-card bg-white o-red-deco o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/szakertelem.svg" alt="Segítjük a szakmai fejlődést">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">Segítjük a szakmai fejlődést</h4>
                        <p class="card-text">Kezdő munkatársaink a képzések és az integráció során sajátítják el a szükséges tudást, tapasztalt kollégáinknak pedig folyamatos szakmai workshopokat szervezünk, hogy ismereteiket könnyedén bővítsék.
                            Karrier programunkban a kiemelkedő teljesítményt elérő kollégák a vezetői készségeiket is fejlesztik, hogy még hatékonyabban oszthassák meg tudásukat.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 card-deck">
                <div class="o-card bg-white o-red-deco o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 o-box-shadow-darker">
                    <img class="pt-3 pb-3" src="../../../../img/svg/innovacio.svg" alt="Keressük az innovatív megoldásokat">
                    <div class="">
                        <h4 class="card-title o-base-blue o-noto-bold">Keressük az innovatív megoldásokat</h4>
                        <p class="card-text">Újításainkban kiemelt hangsúlyt kapnak az online fejlesztések és a digitalizáció. Díjazzuk a legjobb ötleket és beépítjük őket a működésünkbe. Figyelünk a nemzetközi trendekre és ügyfeleink véleményére, hogy az új technológiák alkalmazásával magasabb hozzáadott értékek közvetítsünk. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> career_mobile_slider_oh }}
    {{> _career_values_section }}
    <div class="mb-5">{{> mini_image_slider }}</div>
    {{> oh_testi_slider }}
</div>