<section class="container-fluid o-gray-gradient-35-c8 pt-5 pb-5 pb-xl-0 career-card-section">
  <div class="mx-lg-5">
    <div class="row o-mt-m10">
      <div class="col-12 col-xl-4 mb-5 mb-xl-0">
        <div class="card o-card o-red-deco text-center text-md-left o-box-shadow-darker" id="career1">
          <div class="o-card-header-wrapper position-relative">
            <img class="img-fluid custom-size-1 o-rounded-15-top-left-15"
              src="../../../../img/aloldalak/karrier/kartyak/1.png">
          </div>
          <div class="card-body">
            <div class="card-content">
              <div class="row justify-content-between">
                <div class="col-12 text-left">
                  <h5 class="o-card-second-title card-title">Miért jó az Openhouse-nál?</h5>
                  <ul class="list-unstyled">
                    <li class="o-double-arrow text-left"><span>Ösztönözzük a csapatmunkát</span></li>
                    <li class="o-double-arrow text-left"><span>Elismerjük a teljesítményt</span></li>
                    <li class="o-double-arrow text-left"><span>Segítjük a szakmai fejlődést</span></li>
                    <li class="o-double-arrow text-left"><span>A céljai elérését segítő közeg támogatja.</span></li>
                    <li class="o-double-arrow text-left"><span><strong>Keressük az innovatív
                          megoldásokat</strong></span></li>
                  </ul>
                </div>
                <div class="col-12 col-md-8 mt-3 mb-2">
                  <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size collapsed" role="button"
                    data-toggle="collapse" data-target="#collapseOh" aria-expanded="true" aria-controls="collapseOh">
                    <span>Bővebben</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-8">
        <div class="row mb-5 mb-xl-0">
          <div class="col-12 col-xl-6 mb-5">
            <div class="card o-card text-center text-md-left o-box-shadow-darker" id="career2">
              <div class="o-card-header-wrapper position-relative">
                <img class="img-fluid custom-size-2 o-rounded-15-top-left-15"
                  src="../../../../img/aloldalak/karrier/kartyak/2.png">
                <div class="white-hover-overlay">
                  <ul class="list-unstyled">
                    <li class="o-double-arrow text-left"><span>Az igazán jó értékesítő szenvedélyes és
                        ügyfélközpontú.</span></li>
                    <li class="o-double-arrow text-left"><span>A szolgáltatása rendkívül sokrétű.</span></li>
                    <li class="o-double-arrow text-left"><span>A szakma fortélyait ismeri és magas színvonalon
                        műveli.</span></li>
                    <li class="o-double-arrow text-left"><span>A céljai elérését segítő közeg támogatja.</span></li>
                    <li class="o-double-arrow text-left"><span><strong>Kiemelkedő jövedelem vár rá.</strong></span></li>
                  </ul>
                </div>
              </div>
              <div class="card-body text-left career-card-body">
                <div class="card-content">
                  <div class="row justify-content-between">
                    <div class="col-12">
                      <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <h5 class="o-base-blue card-title o-noto-bold mb-sm-0">Ingatlanértékesítő</h5>
                        <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size collapsed ml-auto"
                          role="button" data-toggle="collapse" data-target="#collapseSales" aria-expanded="true"
                          aria-controls="collapseSales">
                          <span>Tovább</span>
                        </button>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <h6 class="o-base-blue card-title o-noto-bold pt-2">Képes lennél rá?
                            <button
                              class="o-base-blue o-underline-text career-btn border-0 o-bg-transparent pl-0">Töltsd ki
                              tesztünket!</button>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<a href="#" class="stretched-link"></a>-->
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="card o-card text-center text-md-left o-box-shadow-darker" id="career3">
              <div class="o-card-header-wrapper position-relative">
                <img class="img-fluid custom-size-2 o-rounded-15-top-left-15"
                  src="../../../../img/aloldalak/karrier/kartyak/3.png">
              </div>
              <div class="card-body text-left career-card-body">
                <div class="card-content">
                  <div class="row justify-content-between">
                    <div class="col-12">
                      <div class="d-flex justify-content-between align-items-center flex-wrap">
                          <h5 class="o-base-blue card-title o-noto-bold mb-sm-0">Pénzügyi közvetítő</h5>
                          <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size collapsed ml-auto"
                            role="button" data-toggle="collapse" data-target="#collapseFinancial" aria-expanded="true"
                            aria-controls="collapseFinancial">
                            <span>Tovább</span>
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<a href="#" class="stretched-link"></a>-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-xl-6 mb-5">
            <div class="card o-card text-center text-md-left o-box-shadow-darker" id="career4">
              <div class="o-card-header-wrapper position-relative">
                <img class="img-fluid custom-size-2 o-rounded-15-top-left-15"
                  src="../../../../img/aloldalak/karrier/kartyak/4.png">
                <div class="white-hover-overlay">
                  <ul class="list-unstyled">
                    <li class="o-double-arrow text-left"><span>Magas szakértelem, és ügyfélközpontú értékesítés
                        jellemzi.</span></li>
                    <li class="o-double-arrow text-left"><span>Önállóan gondoskodik a leghatásosabb marketing
                        eszközökről.</span></li>
                    <li class="o-double-arrow text-left"><span>A háttérmunkát irodai kötöttségek nélkül végzi.</span>
                    </li>
                    <li class="o-double-arrow text-left"><span>Országos hálózatunk támogatja a munkáját.</span></li>
                    <li class="o-double-arrow text-left"><span><strong>Kimagasló jövedelem vár rá.</strong></span></li>
                  </ul>
                </div>
              </div>
              <div class="card-body text-left career-card-body">
                <div class="card-content">
                  <div class="row justify-content-between">
                    <div class="col-12">
                      <div class="d-flex justify-content-between align-items-center flex-wrap">
                          <h5 class="o-base-blue card-title o-noto-bold mb-sm-0">Home Broker</h5>
                          <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size collapsed ml-auto"
                            role="button" data-toggle="collapse" data-target="#collapseBroker" aria-expanded="true"
                            aria-controls="collapseBroker">
                            <span>Tovább</span>
                          </button>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <h6 class="o-base-blue card-title o-noto-bold pt-2">Képes lennél rá?
                            <button class="o-base-blue o-underline-text career-btn border-0 o-bg-transparent pl-0">
                              Töltsd ki tesztünket!</button>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<a href="#" class="stretched-link"></a>-->
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="card o-card text-center text-md-left o-box-shadow-darker" id="career5">
              <div class="o-card-header-wrapper position-relative">
                <img class="img-fluid custom-size-2 o-rounded-15-top-left-15"
                  src="../../../../img/aloldalak/karrier/kartyak/5.png">
              </div>
              <div class="card-body text-left career-card-body">
                <div class="card-content">
                  <div class="row justify-content-between">
                    <div class="col-12">
                      <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <h5 class="o-base-blue card-title o-noto-bold mb-sm-0">Irodai munkakör</h5>
                        <button type="button"
                          class="o-primary-btn o-btn-group o-gray-disabled-btn o-medium-btn-size collapsed ml-auto"
                          role="button" data-toggle="collapse" data-target="#collapseOffice" aria-expanded="true"
                          aria-controls="collapseOffice">
                          <span>Tovább</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<a href="#" class="stretched-link"></a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>