<section class="main-hero container-fluid text-white o-dark-blue-lighter-grad px-0">
    <div class="container pb-5 mb-5 pb-md-0 mb-md-0">
        <h1 class="w-100 d-flex align-items-center justify-content-center custom-padding-y px-lg-5 text-center">Az ingatlan és az otthon közötti út élményéért dolgozunk!</h1>
        <h5 class="text-center px-lg-5">
            Hisszük, hogy a hosszú távú minőségi munkavégzéshez, amit minden Ügyfelünk elvár a kollégáinktól, szükséges egy olyan eszmeiség, ami azt fogalmazza meg, hogy az alapvető juttatások mellett miért is csináljuk mi nap, mint nap az ingatlanértékesítői tevékenységet.
        </h5>
    </div>
</section>