<section class="container-fluid o-lighter-gray-bg collapse-section pb-5">
    <div class="container p-0" id="careerAccordion">
        {{> _collapse_oh }}
        {{> _collapse_sales }}
        {{> _collapse_financial }}
        {{> _collapse_broker }}
        {{> _collapse_office }}
        {{> _collapse_details_office }}
        {{> sales_slider }}
        {{> career_popup }}
    </div>
</section>
<section class="container-fluid pt-5 position-relative o-blue-opacity-bg career-form-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                <div class="o-border-red-deco join-img-wrapper">
                    <img class="img-fluid o-rounded-15-top-left-15" src="../../../../img/aloldalak/karrier/join.png" alt="Csatlakozz">
                </div>
            </div>
            <div class=" o-card o-rounded-15 p-3 col-12 col-lg-7 mb-5 mb-lg-0 mr-lg-5">
                <div class="sales-details-card p-1 p-lg-3 p-xl-4">
                    <div class="row">
                        <div class="col-12 pb-2 pb-md-0">
                            <div class="mt-3">
                                <h1 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start">Csatlakozz az Openhouse-hoz!</h1>
                                <h6 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start mb-4 mt-4">Amennyiben szívesen dolgoznál nálunk, kérünk küldd el a jelentkezésed.</h6>
                                <!--<span class="o-smaller text-white">*Kötelezően kitöltendő mezők</span>-->
                            </div>
                        </div>
                    </div>
                    <!--<hr class="o-border-top-gray-2">-->
                    <form action="" id="baseContactFormC">
                        <div class="row mb-xl-3">
                            <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                                <label class="sr-only" for="contactNameC">Név *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="contactNameC" placeholder="Név *" required>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                                <label class="sr-only" for="contactMailC">E-mail *</label>
                                <div class="input-group">
                                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="contactMailC" placeholder="E-mail *" required>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-xl-3">
                            <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                                <label class="sr-only" for="contactTelC">Telefon *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="contactTelC" placeholder="Telefon *" required>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3 mb-xl-0 ">
                                <label class="sr-only" for="#contactOfficeCareer">Kiválasztott iroda</label>
                                <select name="#contactOfficeCareer" id="#contactOfficeCareer"  class="form-control o-rounded-15">
                                    <option value=""></option>
                                    <option value="1">Iroda 1</option>
                                    <option value="2">Iroda 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 mb-xl-0">
                                <label class="sr-only" for="userMessageP">Üzenet</label>
                                <div class="mb-3 input-group jQTAreaCountBox">
                                    <small class="jQTAreaCountRow">
                                        <em class="jQTAreaCount"></em> / <em class="jQTAreaValue"></em>
                                    </small>
                                    <textarea maxlength="256" class="w-100 o-box-shadow-base form-control resize-none py-3" name="userMessage" rows="6" id="userMessageP" placeholder="Üzenet"></textarea>
                                    <p class="jQTAreaExt mt-3 o-rounded-15"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-7 mb-3 mb-xl-0">
                                <div class="d-flex px-lg-3 align-items-center text-decoration-none justify-content-start">
                                    <input class="mr-2 input-height-50 checkbox-bigger" type="checkbox" id="newsletterP">
                                    <label class="mb-0 o-line-height-1" for="newsletterP"><span class="o-small text-white">Az <a class="text-white o-underline-text" href="">Adatvédelmi nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</span></label>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 mb-xl-0">
                                <div class="ml-lg-3 c-input-box">
                                    <input type="file" name="file-1" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="">
                                    <label for="file-1"> <img src="../../../../img/svg/plus2.svg" alt="" title=".jpg, .png, .pdf, .docx formátum a megengedett"> <span>Új fájl hozzáadása</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-lg-6">
                                <button type="button" class="o-primary-btn o-btn-group o-btn-send mt-3 w-100" role="button">
                                    <span>Küldés</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
