<section class="container-fluid bg-white" id="map"></section>
<div class="row" id="mapCard">
    <div class="col-12">
        <div class="card o-card o-blue-primary-bg o-rounded-15 px-3 custom-padding-y list-sidebar">
            <div class="list-header m-auto w-100">
                <h5 class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex o-noto-bold justify-content-center">Ingatlaniroda keresés</h5>
            </div>
            <div class="card-body px-0 pb-0">
                <div class="card-content">
                    <div class="row">
                        <div class="col-12">
                            <label class="sr-only" for="city">Település</label>
                            <select name="city[]" id="city"  class="form-control o-rounded-15 w-100" multiple="multiple">
                                <option value=""></option>
                                <option value="1">Budapest</option>
                                <option value="2">Szombathely</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                <button  type="button" class="o-primary-btn o-btn-group o-btn-search o-base-btn-size w-100 pl-lg-3 pr-lg-5" role="button">
                    <span>Találatok megtekintése</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 47.4813602, lng: 18.9902188 },
            zoom: 10,
            mapId: 'c91b22f93a93f14b'

        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtP3it4SaBept-fewzCUoOAt1ljJAYJVI&map_ids=c91b22f93a93f14b&callback=initMap">
</script>