<section class="offices-cards container-fluid o-gray-bg pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="o-carousel carousel-offices">
                <div>
                    <div class="o-card card px-4 py-5">
                        <div class="o-card-header">
                            <h6 class="o-black o-noto-bold">Győr-Moson-Sopron megye</h6>
                            <div class="o-h-40 d-flex align-items-center">
                                <h5 class="o-base-blue o-noto-bold mb-0">Openhouse Mosonmagyaróvár Ingatlaniroda</h5>
                            </div>
                            <hr class="o-border-top-gray-2">
                        </div>
                        <div class="card-body py-0 px-0">
                            <div class="card-content">
                                <p class="o-noto-bold o-gray-200">9200 Mosonmagyaróvár, Hanság u. 4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">movar@oh.hu</a></p>
                            </div>
                        </div>
                        <div class="o-card-footer row">
                            <div class="d-flex col-6 o-base-red o-noto-bold align-items-center">
                                <a href="iroda-adatlap" class="o-primary-btn o-btn-group o-btn-info o-medium-btn-size text-decoration-none" role="button">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card card px-4 py-5">
                        <div class="o-card-header">
                            <h6 class="o-black o-noto-bold">Fejér megye</h6>
                            <div class="o-h-40 d-flex align-items-center">
                                <h5 class="o-base-blue o-noto-bold mb-0">Openhouse Székesfehérvár Ingatlaniroda</h5>
                            </div>
                            <hr class="o-border-top-gray-2">
                        </div>
                        <div class="card-body py-0 px-0">
                            <div class="card-content">
                                <p class="o-noto-bold o-gray-200">8000 Székesfehérvár, Széchenyi u. 2-4.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:tfehervar@oh.hu">tfehervar@oh.hu</a></p>
                            </div>
                        </div>
                        <div class="o-card-footer row">
                            <div class="d-flex col-6 o-base-red o-noto-bold align-items-center">
                                <a href="iroda-adatlap" class="o-primary-btn o-btn-group o-btn-info o-medium-btn-size text-decoration-none" role="button">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card card px-4 py-5">
                        <div class="o-card-header">
                            <h6 class="o-black o-noto-bold">Csongrád megye</h6>
                            <div class="o-h-40 d-flex align-items-center">
                                <h5 class="o-base-blue o-noto-bold mb-0">Openhouse Szeged Ingatlaniroda</h5>
                            </div>
                            <hr class="o-border-top-gray-2">
                        </div>
                        <div class="card-body py-0 px-0">
                            <div class="card-content">
                                <p class="o-noto-bold o-gray-200">6721 Szeged, József Attila sugárút 2.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:szeged.oh@oh.hu">szeged.oh@oh.hu</a></p>
                            </div>
                        </div>
                        <div class="o-card-footer row">
                            <div class="d-flex col-6 o-base-red o-noto-bold align-items-center">
                                <a href="iroda-adatlap" class="o-primary-btn o-btn-group o-btn-info o-medium-btn-size text-decoration-none" role="button">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card card px-4 py-5">
                        <div class="o-card-header">
                            <h6 class="o-black o-noto-bold">Győr-Moson-Sopron megye</h6>
                            <div class="o-h-40 d-flex align-items-center">
                                <h5 class="o-base-blue o-noto-bold mb-0">Openhouse Győr - Verseny utca II.</h5>
                            </div>
                            <hr class="o-border-top-gray-2">
                        </div>
                        <div class="card-body py-0 px-0">
                            <div class="card-content">
                                <p class="o-noto-bold o-gray-200">9030 Győr, Verseny utca 32.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:gyor1.oh.hu">gyor1.oh.hu</a></p>
                            </div>
                        </div>
                        <div class="o-card-footer row">
                            <div class="d-flex col-6 o-base-red o-noto-bold align-items-center">
                                <a href="iroda-adatlap" class="o-primary-btn o-btn-group o-btn-info o-medium-btn-size text-decoration-none" role="button">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card card px-4 py-5">
                        <div class="o-card-header">
                            <h6 class="o-black o-noto-bold">Veszprém megye</h6>
                            <div class="o-h-40 d-flex align-items-center">
                                <h5 class="o-base-blue o-noto-bold mb-0">Openhouse Pápa Ingatlaniroda</h5>
                            </div>
                            <hr class="o-border-top-gray-2">
                        </div>
                        <div class="card-body py-0 px-0">
                            <div class="card-content">
                                <p class="o-noto-bold o-gray-200">8500 Pápa, Deák Ferenc utca 6. fsz. 2.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:movar@oh.hu">papa@oh.hu</a></p>
                            </div>
                        </div>
                        <div class="o-card-footer row">
                            <div class="d-flex col-6 o-base-red o-noto-bold align-items-center">
                                <a href="iroda-adatlap" class="o-primary-btn o-btn-group o-btn-info o-medium-btn-size text-decoration-none" role="button">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="o-card card px-4 py-5">
                        <div class="o-card-header">
                            <h6 class="o-black o-noto-bold">Heves megye</h6>
                            <div class="o-h-40 d-flex align-items-center">
                                <h5 class="o-base-blue o-noto-bold mb-0">Openhouse Eger Ingatlaniroda</h5>
                            </div>
                            <hr class="o-border-top-gray-2">
                        </div>
                        <div class="card-body py-0 px-0">
                            <div class="card-content">
                                <p class="o-noto-bold o-gray-200">3300 Eger, Deák Ferenc u. 18.</p>
                                <p class="phone d-flex m-auto w-100">
                                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                                        <span>+36 00 000 </span>
                                    </a>
                                    <a href="#" class="phone-show px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                                </p>
                                <p class="o-light-gray">E-mail: <a class="text-decoration-none o-black" href="mailto:eger@oh.hu">eger@oh.hu</a></p>
                            </div>
                        </div>
                        <div class="o-card-footer row">
                            <div class="d-flex col-6 o-base-red o-noto-bold align-items-center">
                                <a href="iroda-adatlap" class="o-primary-btn o-btn-group o-btn-info o-medium-btn-size text-decoration-none" role="button">
                                    <span>Bővebben</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>