.career {
  .career-card-section {
    .card {
      .custom-btn {
        position: absolute;
        right: 0;
        bottom: 3.5rem;
        width: 140px;
      }
    }

    .career-card-body {
      @include media-breakpoint-up(lg) {
        min-height: 165px;
      }

      @include media-breakpoint-up(xl) {
        min-height: 148px;
      }
    }
  }

  .main-hero {
    min-height: 300px;
    padding-bottom: 4rem;
    @include media-breakpoint-up(md) {
      padding-bottom: 10rem;
    }
    @include media-breakpoint-up(lg) {
      min-height: 400px;
    }
  }

  .o-card-header-wrapper {
    @extend .o-border-red-deco;
    img {
      object-fit: cover;
      -o-object-fit: cover;
      width: 100%;
    }

    .white-hover-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: $white;
      opacity: 0;
      padding: 1rem;
      cursor: pointer;
      transition-duration: 1s;
      transition-timing-function: linear;
      transition-delay: .5s;
      &:hover {
        opacity: .8;
      }
      img {
        width: 25px;
      }

      li {
        padding-bottom: 0.4rem;
        font-size: 0.98rem;

        /* iPhone5+ */
        @media
        only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min--moz-device-pixel-ratio: 1.5),
        only screen and (min-device-pixel-ratio: 1.5){
          font-size: 0.8rem;
        }

        /* iPhone 4/4S */
        @media
        only screen and (min-device-width: 320px)
        and (max-device-width: 480px)
        and (-webkit-device-pixel-ratio: 2)
        and (device-aspect-ratio: 2/3)
        {
          font-size: 0.8rem;
        }

        //iphone 6 / 6s
        @media only screen
        and (min-device-width: 375px)
        and (max-device-width: 667px)
        and (-webkit-min-device-pixel-ratio: 2) {
          padding-bottom: 0.2rem;
          font-size: 1rem;
        }



        @include media-breakpoint-up(lg) {
          padding-bottom: 0.4rem;
          font-size: 1.2rem;
        }

        @include media-breakpoint-up(xl) {
          padding-bottom: 0.4rem;
          font-size: 0.85rem;
        }

        @media all and (min-width:1500px) {
          font-size: 0.95rem;
        }
      }
    }

  }

  .collapsed {
    .btn-left {
      @extend .o-red-primary-btn;
    }

    .btn-right {
      @extend .o-light-red-btn;
    }
  }

  .custom-size-1 {
    height: 495px;
  }

  .custom-size-2 {
    height: 232px;
  }


  .collapse-section {
    .introduction {
      min-height: 350px;
    }
    .card-deck-section {
      position: relative;
      top: -5rem;
      @include media-breakpoint-up(lg) {
        top: -10rem;
      }
      .card-deck {
        margin-right: auto;
        margin-left: auto;
        img {
          width: 80px;
        }
        //.o-card {
        //  border-top: 15px solid $base-red;
        //}
      }

      .card-list {
        li {
          font-size: 0.85rem;
        }
      }

      .card-title {
        font-size: 1.4rem;
      }

      .card-text {
        font-size: 0.85rem;
      }
    }

    .scroll-collapse {
      padding-top: 2rem;
    }
  }

  .career-form-section {
    margin-bottom: 5rem;
  }
}

.career-details-intro {
  ul li::marker {
    color: $base-blue;
    font-size: 1.5em;
  }
}

.career-details-img {
  border-bottom-right-radius: 0;
  object-fit: cover;
  width: 100%;
  border-bottom-left-radius: 0;
  position: relative;
  top: 0;
  left: -1px;
  bottom: 0;
  height: 100%;
  @include media-breakpoint-up(md) {
    max-height: 355px;
    max-width: 95%;
    border-top-right-radius: 0;
    border-bottom-left-radius: $rounded-15;
  }
}

.join-img-wrapper {
  position: relative;
  top: -3.4rem;
  img {
    min-height: 250px;
    object-fit: cover;
    -o-object-fit: cover;
    margin: auto;
    display: block;
    width: 100%;
    @include media-breakpoint-up(md) {
      min-height: 720px;
    }
  }
}

