#mapCard.contact-map {
  position: absolute;
  top: 60rem;
  @include media-breakpoint-up(md) {
      top: 35rem;
  }
}

#contact {
  .contact-cards {
    .card-first {
      &.card {
        @extend .o-border-red-deco;
      }
    }

    .card-second {
      &.card {
        @extend .o-border-blue-deco;
      }
    }
  }
}