<div class="o-carousel card-deck-section d-block d-lg-none">
    <div class="mb-5 career-mobile-slider">
        <div class="mb-3 mb-xl-0 card-deck">
            <div class="o-card bg-white o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/szakertelem.svg" alt="Magas szakértelem">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">Magas szakértelem</h4>
                    <p class="card-text">Ingatlanközvetítői hátterükkel az Openhouse Home Brokerei magas szinten alkalmazzák az ügyfélközpontú értékesítés módszereit.</p>
                </div>
            </div>
        </div>
        <div class="mb-3 mb-xl-0 card-deck">
            <div class="o-card bg-white o-rounded-15 o-rounded-top-right-0 p-3  mb-3 mb-lg-0 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/innovacio.svg" alt="Marketing szabadság">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">Marketing szabadság</h4>
                    <p class="card-text">Önállóan határozza meg az ingatlanok marketingjét és gondoskodik a leghatásosabb eszközökről.</p>
                </div>
            </div>
        </div>
        <div class="mb-3 mb-xl-0 card-deck">
            <div class="o-card bg-white o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/rugalmassag.svg" alt="Irodai kötöttségek nélkül">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">Irodai kötöttségek nélkül</h4>
                    <p class="card-text">Az Openhouse Home Broker a saját otthonában végzi a háttérmunkát, melyhez rendszeresen igénybevehetiaz Openhouse hálózat mentori támogatását. </p>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="o-card bg-white o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/csapat.svg" alt="Teljes körű szolgáltatás">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">Teljes körű szolgáltatás</h4>
                    <p class="card-text">Az ingatlan műszaki állapotát felméri és árat becsül. A tulajdonosokkal megbízást köt, hogy potenciális vevőket keressen, ehhez fotókat, videókat, alaprajzot készít, hirdetéseket ad fel, megkeresi a leghatékonyabb marketing lehetőségeket, piacot kutat. A vevők számára pedig az igényeiknek és lehetőségeiknek legjobban megfelelő ingatlanokat kínálja fel. Az eladót és a vevőt egyaránt segíti az adásvételi szerződés létrejöttében.</p>
                </div>
            </div>
        </div>
    </div>
</div>