<div class="o-carousel card-deck-section d-block d-lg-none">
    <div class="mb-5 career-mobile-slider">
        <div class="mb-3 mb-xl-0 card-deck">
            <div class="o-card bg-white o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/csapat.svg" alt="Ösztönözzük a csapatmunkát">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">Ösztönözzük a csapatmunkát</h4>
                    <p class="card-text">Alapértékeink mentén figyelünk egymásra, támogatjuk a másikat és értékes időt töltünk együtt. Közösségi programokat szervezünk, ahol a tudásmegosztás mellett közös csapatépítő élmények várnak a résztvevőkre. Hivatásuk iránt elkötelezett szakemberekkel dolgozunk, akik tesznek sikereik elérése érdekében.</p>
                </div>
            </div>
        </div>
        <div class="mb-3 mb-xl-0 card-deck">
            <div class="o-card bg-white o-rounded-15 o-rounded-top-right-0 p-3  mb-3 mb-lg-0 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/munkakapcsolat.svg" alt="Elismerjük a teljesítményt">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">Elismerjük a teljesítményt</h4>
                    <p class="card-text">A kiemelkedő teljesítménymindig a kitartó, szenvedélyes munka eredménye,ezért versenyképes, teljesítményarányos jövedelemmel és bónusszal ismerjük el kollégáink munkáját. Értékesítőink számára versenyeket szervezünk, valamint célirányos programokkal támogatjuk a szakmai fejlődésüket.</p>
                </div>
            </div>
        </div>
        <div class="mb-3 mb-xl-0 card-deck">
            <div class="o-card bg-white o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/szakertelem.svg" alt="Segítjük a szakmai fejlődést">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">Segítjük a szakmai fejlődést</h4>
                    <p class="card-text">Kezdő munkatársaink a képzések és az integráció során sajátítják el a szükséges tudást, tapasztalt kollégáinknak pedig folyamatos szakmai workshopokat szervezünk, hogy ismereteiket könnyedén bővítsék.
                        Karrier programunkban a kiemelkedő teljesítményt elérő kollégák a vezetői készségeiket is fejlesztik, hogy még hatékonyabban oszthassák meg tudásukat.</p>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="o-card bg-white o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/innovacio.svg" alt="Keressük az innovatív megoldásokat">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">Keressük az innovatív megoldásokat</h4>
                    <p class="card-text">Újításainkban kiemelt hangsúlyt kapnak az online fejlesztések és a digitalizáció. Díjazzuk a legjobb ötleket és beépítjük őket a működésünkbe. Figyelünk a nemzetközi trendekre és ügyfeleink véleményére, hogy az új technológiák alkalmazásával magasabb hozzáadott értékek közvetítsünk. </p>
                </div>
            </div>
        </div>
    </div>
</div>