<div class="o-carousel card-deck-section d-block d-lg-none">
    <div class="mb-5 career-mobile-slider">
        <div class="mb-3 mb-xl-0 card-deck">
            <div class="o-card bg-white o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/szakertelem.svg" alt="Szenvedély és empátia">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">Szenvedély és empátia</h4>mx-0
                    <p class="card-text">Az igazán jó értékesítő azt szeretné kideríteni, hogy az ügyfél mit szeretne és ennek elérésében lesz segítségére. Nincs annál felemelőbb érzés, mint részt venni abban a családi boldogságban, amikor otthont teremtünk ügyfeleinknek. Akik örömteli izgatottsággal, elégedetten és hálásan költöznek be új otthonukba, melynek megteremtéséhez sokszor egy élet munkájára van szükség.</p>
                </div>
            </div>
        </div>
        <div class="mb-3 mb-xl-0 card-deck">
            <div class="o-card bg-white o-rounded-15 o-rounded-top-right-0 p-3  mb-3 mb-lg-0 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/innovacio.svg" alt="Sokszínűség">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">Sokszínűség</h4>
                    <p class="card-text">Egy értékesítő munkája nagyon változatos, nincs két egyforma nap és nincs két egyforma ügyfél sem. Ideje nagy részét a terepen tölti, emellett rengeteget kommunikál. Az ingatlanértékesítéshez kapcsolódó ügyleteket a kapcsolatfelvételtől a lezárásig végigkíséri, mind eladói, mind vevői oldalon.
                        Az ingatlanok, melyekkel foglalkozik, a legkülönbözőbb típusúak lehetnek. Lakások, családi házak, telkek, mezőgazdasági területek, ipari létesítmények, építési projektek. </p>
                </div>
            </div>
        </div>
        <div class="mb-3 mb-xl-0 card-deck">
            <div class="o-card bg-white o-rounded-15 o-rounded-top-right-0 p-3 mb-3 mb-lg-0 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/rugalmassag.svg" alt="A szakma fortélyainak ismerete">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">A szakma fortélyainak ismerete</h4>
                    <p class="card-text">Megtanulta és magas színvonalon műveli azokat a tevékenységeket, melyek elengedhetleneka szolgáltatása nyújtásához. Tisztában van:</p>
                    <ul class="card-list">
                        <li>az ingatlan felmérésével és értékének meghatározásával</li>
                        <li>a műszaki és jogi ismeretekkel</li>
                        <li>a hatékony marketing eszközökkel</li>
                        <li>a fotózással</li>
                        <li>az alaprajz-készítéssel</li>
                        <li>a telefonálás művészetével</li>
                        <li>és nem utolsósorban az asszertív kommunikációval.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="o-card bg-white o-border-red-deco o-rounded-15 o-rounded-top-right-0 p-3 o-box-shadow-darker mx-0">
                <img class="pt-3 pb-3" src="../../../../img/svg/csapat.svg" alt="A szolgáltatása">
                <div class="">
                    <h4 class="card-title o-base-blue o-noto-bold">A szolgáltatása</h4>
                    <p class="card-text">Rendkívül sokrétű: az ingatlan műszaki állapotát felméri és árat becsül. A tulajdonosokkal megbízást köt, hogy potenciális vevőket keressen, ehhez fotókat, videókat, alaprajzot készít, hirdetéseket ad fel, megkeresi a leghatékonyabb marketing lehetőségeket és piacot kutat. A vevők számára pedig az igényeiknek és lehetőségeiknek legjobban megfelelő ingatlanokat kínálja fel. Az eladót és a vevőt egyaránt segíti az adásvételi szerződés létrejöttében.</p>
                </div>
            </div>
        </div>
    </div>
</div>