<div class="team-box">
    <div class="bg-white o-box-shadow-darker o-rounded-15 slider-wrapper">
        <h4 class="o-noto-bold o-base-blue mb-0">Mindennapok az Openhouse-nál</h4>
        <hr class="o-border-top-gray-2">
        <div class="o-carousel team-slider">
            <div class="cursor-pointer" data-toggle="modal" data-target="#sliderModalCenter">
                <img class="img-fluid" src="../../../../img/aloldalak/rolunk/pic.png" alt="Társadalmi felelősségvállalás">
            </div>
            <div class="cursor-pointer" data-toggle="modal" data-target="#sliderModalCenter">
                <img class="img-fluid" src="../../../../img/aloldalak/rolunk/rolunk.png" alt="Társadalmi felelősségvállalás">
            </div>
            <div class="cursor-pointer" data-toggle="modal" data-target="#sliderModalCenter">
                <img class="img-fluid" src="../../../../img/aloldalak/rolunk/pic.png" alt="Társadalmi felelősségvállalás">
            </div>
            <div class="cursor-pointer" data-toggle="modal" data-target="#sliderModalCenter">
                <img class="img-fluid" src="../../../../img/aloldalak/rolunk/rolunk.png" alt="Társadalmi felelősségvállalás">
            </div>
            <div class="cursor-pointer" data-toggle="modal" data-target="#sliderModalCenter">
                <img class="img-fluid" src="../../../../img/aloldalak/rolunk/pic.png" alt="Társadalmi felelősségvállalás">
            </div>
            <div class="cursor-pointer" data-toggle="modal" data-target="#sliderModalCenter">
                <img class="img-fluid" src="../../../../img/aloldalak/rolunk/rolunk.png" alt="Társadalmi felelősségvállalás">
            </div>
            <div class="cursor-pointer" data-toggle="modal" data-target="#sliderModalCenter">
                <img class="img-fluid" src="../../../../img/aloldalak/rolunk/pic.png" alt="Társadalmi felelősségvállalás">
            </div>
            <div class="cursor-pointer" data-toggle="modal" data-target="#sliderModalCenter">
                <img class="img-fluid" src="../../../../img/aloldalak/rolunk/rolunk.png" alt="Társadalmi felelősségvállalás">
            </div>
        </div>
    </div>
</div>

<div class="modal-slider modal fade" id="sliderModalCenter" tabindex="-1" role="dialog" aria-labelledby="imageModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-3 w-100 o-rounded-15">
            <div class="modal-header">
                <h6 class="o-noto-bold o-base-blue mb-0">Mindennapok az Openhouse-nál</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="wrap-modal-slider">
                    <div class="modal-slider-mini">
                        <div>
                            <img class="img-fluid mx-auto" src="../../../../img/aloldalak/rolunk/pic.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div>
                            <img class="img-fluid mx-auto" src="../../../../img/aloldalak/rolunk/rolunk.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div>
                            <img class="img-fluid mx-auto" src="../../../../img/aloldalak/rolunk/pic.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div>
                            <img class="img-fluid mx-auto" src="../../../../img/aloldalak/rolunk/rolunk.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div>
                            <img class="img-fluid mx-auto" src="../../../../img/aloldalak/rolunk/pic.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div>
                            <img class="img-fluid mx-auto" src="../../../../img/aloldalak/rolunk/rolunk.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div>
                            <img class="img-fluid mx-auto" src="../../../../img/aloldalak/rolunk/pic.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div>
                            <img class="img-fluid mx-auto" src="../../../../img/aloldalak/rolunk/rolunk.png" alt="Társadalmi felelősségvállalás">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

