<div class="team-box mb-5">
    <div class="bg-white o-box-shadow-darker o-rounded-15 slider-wrapper">
        <h4 class="o-noto-bold o-base-blue mb-0">Értékesítőink mondták</h4>
        <hr class="o-border-top-gray-2">
        <div class="o-carousel oh-testi-slider">
            <div class="cursor-pointer py-3">
                <div class="o-card o-rounded-15 bg-white o-box-shadow-darker p-3 p-lg-4">
                    <p><img class="img-fluid float-left pr-4 red-box-shadow o-rounded-15" src="../../../../img/aloldalak/karrier/munkatars.png" alt="Munkatársaink">
                        Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget.</p>
                    <p class="o-noto-bold o-base-blue">Németh Anna</p>
                </div>
            </div>
            <div class="cursor-pointer py-3">
                <div class="o-card o-rounded-15 bg-white o-box-shadow-darker p-3 p-lg-4">
                    <p><img class="img-fluid float-left pr-4 red-box-shadow o-rounded-15" src="../../../../img/aloldalak/karrier/munkatars.png" alt="Munkatársaink">
                        Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget.</p>
                    <p class="o-noto-bold o-base-blue">Németh Anna</p>
                </div>
            </div>
            <div class="cursor-pointer py-3">
                <div class="o-card o-rounded-15 bg-white o-box-shadow-darker p-3 p-lg-4">
                    <p><img class="img-fluid float-left pr-4 red-box-shadow o-rounded-15" src="../../../../img/aloldalak/karrier/munkatars.png" alt="Munkatársaink">
                        Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget.</p>
                    <p class="o-noto-bold o-base-blue">Németh Anna</p>
                </div>
            </div>
        </div>
    </div>
</div>