<div class="real-estate-nav">
    <div>
        <div class="estate-item">
            <p class="active">Eladó lakás</p>
        </div>
    </div>
    <div>
        <div class="estate-item">
            <p>Kiadó lakás</p>
        </div>
    </div>
    <div>
        <div class="estate-item">
            <p>Eladó ház</p>
        </div>
    </div>
    <div>
        <div class="estate-item">
            <p>Kiadó ház</p>
        </div>
    </div>
    <div>
        <div class="estate-item">
            <p>Eladó telek</p>
        </div>
    </div>
</div>
<div class="o-carousel w-100">
    <div class="carousel-real-estate-list custom-padding-y card">
        <div>
            <div class="row justify-content-between">
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó lakás Celldömölk</a></li>
                            <li><a href="#!">eladó lakás Jászberény</a></li>
                            <li><a href="#!">eladó lakás Tatabánya</a></li>
                            <li><a href="#!">eladó lakás Debrecen</a></li>
                            <li><a href="#!">eladó lakás Győr</a></li>
                            <li><a href="#!">eladó lakás Nagykanizsa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó lakás Komárom</a></li>
                            <li><a href="#!">eladó lakás Mosonmagyaróvár</a></li>
                            <li><a href="#!">eladó lakás Sárvár</a></li>
                            <li><a href="#!">eladó lakás Eger</a></li>
                            <li><a href="#!">eladó lakás Miskolc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó lakás Szeged</a></li>
                            <li><a href="#!">eladó lakás Székesfehérvár</a></li>
                            <li><a href="#!">eladó lakás Szolnok</a></li>
                            <li><a href="#!">eladó lakás Szombathely</a></li>
                            <li><a href="#!">eladó lakás Békéscsaba</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó lakás Budapest</a></li>
                            <li><a href="#!">eladó lakás Zalaegerszeg</a></li>
                            <li><a href="#!">eladó lakás Siófok</a></li>
                            <li><a href="#!">eladó lakás Balatonboglár</a></li>
                            <li><a href="#!">eladó lakás Balatonfüred</a></li>
                            <li><a href="#!">lakásbiztosítás</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row justify-content-between">
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">kiadó lakás Celldömölk</a></li>
                            <li><a href="#!">kiadó lakás Jászberény</a></li>
                            <li><a href="#!">kiadó lakás Tatabánya</a></li>
                            <li><a href="#!">kiadó lakás Debrecen</a></li>
                            <li><a href="#!">kiadó lakás Győr</a></li>
                            <li><a href="#!">kiadó lakás Nagykanizsa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">kiadó lakás Komárom</a></li>
                            <li><a href="#!">kiadó lakás Mosonmagyaróvár</a></li>
                            <li><a href="#!">kiadó lakás Sárvár</a></li>
                            <li><a href="#!">kiadó lakás Eger</a></li>
                            <li><a href="#!">kiadó lakás Miskolc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">kiadó lakás Szeged</a></li>
                            <li><a href="#!">kiadó lakás Székesfehérvár</a></li>
                            <li><a href="#!">kiadó lakás Szolnok</a></li>
                            <li><a href="#!">kiadó lakás Szombathely</a></li>
                            <li><a href="#!">kiadó lakás Békéscsaba</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">kiadó lakás Budapest</a></li>
                            <li><a href="#!">kiadó lakás Zalaegerszeg</a></li>
                            <li><a href="#!">kiadó lakás Siófok</a></li>
                            <li><a href="#!">kiadó lakás Balatonboglár</a></li>
                            <li><a href="#!">kiadó lakás Balatonfüred</a></li>
                            <li><a href="#!">lakásbiztosítás</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row justify-content-between">
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó ház Celldömölk</a></li>
                            <li><a href="#!">eladó ház Jászberény</a></li>
                            <li><a href="#!">eladó ház Tatabánya</a></li>
                            <li><a href="#!">eladó ház Debrecen</a></li>
                            <li><a href="#!">eladó ház Győr</a></li>
                            <li><a href="#!">eladó ház Nagykanizsa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó ház Komárom</a></li>
                            <li><a href="#!">eladó ház Mosonmagyaróvár</a></li>
                            <li><a href="#!">eladó ház Sárvár</a></li>
                            <li><a href="#!">eladó ház Eger</a></li>
                            <li><a href="#!">eladó ház Miskolc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó ház Szeged</a></li>
                            <li><a href="#!">eladó ház Székesfehérvár</a></li>
                            <li><a href="#!">eladó ház Szolnok</a></li>
                            <li><a href="#!">eladó ház Szombathely</a></li>
                            <li><a href="#!">eladó ház Békéscsaba</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó ház Budapest</a></li>
                            <li><a href="#!">eladó ház Zalaegerszeg</a></li>
                            <li><a href="#!">eladó ház Siófok</a></li>
                            <li><a href="#!">eladó ház Balatonboglár</a></li>
                            <li><a href="#!">eladó ház Balatonfüred</a></li>
                            <li><a href="#!">lakásbiztosítás</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row justify-content-between">
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">kiadó ház Celldömölk</a></li>
                            <li><a href="#!">kiadó ház Jászberény</a></li>
                            <li><a href="#!">kiadó ház Tatabánya</a></li>
                            <li><a href="#!">kiadó ház Debrecen</a></li>
                            <li><a href="#!">kiadó ház Győr</a></li>
                            <li><a href="#!">kiadó ház Nagykanizsa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">kiadó ház Komárom</a></li>
                            <li><a href="#!">kiadó ház Mosonmagyaróvár</a></li>
                            <li><a href="#!">kiadó ház Sárvár</a></li>
                            <li><a href="#!">kiadó ház Eger</a></li>
                            <li><a href="#!">kiadó ház Miskolc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">kiadó ház Szeged</a></li>
                            <li><a href="#!">kiadó ház Székesfehérvár</a></li>
                            <li><a href="#!">kiadó ház Szolnok</a></li>
                            <li><a href="#!">kiadó ház Szombathely</a></li>
                            <li><a href="#!">kiadó ház Békéscsaba</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">kiadó ház Budapest</a></li>
                            <li><a href="#!">kiadó ház Zalaegerszeg</a></li>
                            <li><a href="#!">kiadó ház Siófok</a></li>
                            <li><a href="#!">kiadó ház Balatonboglár</a></li>
                            <li><a href="#!">kiadó ház Balatonfüred</a></li>
                            <li><a href="#!">lakásbiztosítás</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row justify-content-between">
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó telek Celldömölk</a></li>
                            <li><a href="#!">eladó telek Jászberény</a></li>
                            <li><a href="#!">eladó ház Tatabánya</a></li>
                            <li><a href="#!">eladó telek Debrecen</a></li>
                            <li><a href="#!">eladó telek Győr</a></li>
                            <li><a href="#!">eladó telek Nagykanizsa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó telek Komárom</a></li>
                            <li><a href="#!">eladó telek Mosonmagyaróvár</a></li>
                            <li><a href="#!">eladó telek Sárvár</a></li>
                            <li><a href="#!">eladó telek Eger</a></li>
                            <li><a href="#!">eladó telek Miskolc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó telek Szeged</a></li>
                            <li><a href="#!">eladó telek Székesfehérvár</a></li>
                            <li><a href="#!">eladó telek Szolnok</a></li>
                            <li><a href="#!">eladó telek Szombathely</a></li>
                            <li><a href="#!">eladó telek Békéscsaba</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card-body card-content">
                        <ul class="list-unstyled">
                            <li><a href="#!">eladó telek Budapest</a></li>
                            <li><a href="#!">eladó telek Zalaegerszeg</a></li>
                            <li><a href="#!">eladó telek Siófok</a></li>
                            <li><a href="#!">eladó telek Balatonboglár</a></li>
                            <li><a href="#!">eladó telek Balatonfüred</a></li>
                            <li><a href="#!">lakásbiztosítás</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>