<section class="position-relative">
    <div class="pb-3 px-lg-3">
        <div class="o-carousel carousel-news-related">
            <div>
                <div class="o-card card o-box-shadow-darker">
                    <div class="o-card-header">
                        <a href="#!">
                            <img src="../../../../img/hirek/hirek-1.png">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <p class="o-noto-bold o-base-red">2020.03.20.</p>
                            <h5 class="o-card-second-title card-title o-noto-bold">CSOK Otthonteremtési támogatás</h5>
                            <h6 class="card-title o-black o-noto-bold">Összefoglaltuk az összes fontos tudnivalót a CSOK-kal kapcsolatban.</h6>
                        </div>
                    </div>
                    <div class="o-card-footer border-top px-3 py-2">
                        <div class="d-flex o-base-red o-noto-bold align-items-center">
                            <span><img width="20" src="../../../../img/svg/tag.svg" alt="cimke"></span>
                            <span class="small o-tags col-10"><a href="#!">támogatás</a>, <a href="#!">csok</a>, <a href="#!">otthon</a>, <a href="#!">tájékoztatás</a></span>
                            <div class="d-flex justify-content-end col-2">
                                <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg" alt="Megosztás"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="o-card card o-box-shadow-darker">
                    <div class="o-card-header">
                        <a href="#!">
                            <img src="../../../../img/hirek/hirek-2.png">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <p class="o-noto-bold o-base-red">2020.03.20.</p>
                            <h5 class="o-card-second-title card-title o-noto-bold">CSOK Otthonteremtési támogatás</h5>
                            <h6 class="card-title o-black o-noto-bold">Összefoglaltuk az összes fontos tudnivalót a CSOK-kal kapcsolatban.</h6>
                        </div>
                    </div>
                    <div class="o-card-footer border-top px-3 py-2">
                        <div class="d-flex o-base-red o-noto-bold align-items-center">
                            <span><img width="20" src="../../../../img/svg/tag.svg" alt="cimke"></span>
                            <span class="small o-tags col-10"><a href="#!">támogatás</a>, <a href="#!">csok</a>, <a href="#!">otthon</a>, <a href="#!">tájékoztatás</a></span>
                            <div class="d-flex justify-content-end col-2">
                                <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg" alt="Megosztás"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="o-card card o-box-shadow-darker">
                    <div class="o-card-header">
                        <a href="#!">
                            <img src="../../../../img/hirek/hirek-3.png">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <p class="o-noto-bold o-base-red">2020.03.20.</p>
                            <h5 class="o-card-second-title card-title o-noto-bold">CSOK Otthonteremtési támogatás</h5>
                            <h6 class="card-title o-black o-noto-bold">Összefoglaltuk az összes fontos tudnivalót a CSOK-kal kapcsolatban.</h6>
                        </div>
                    </div>
                    <div class="o-card-footer border-top px-3 py-2">
                        <div class="d-flex o-base-red o-noto-bold align-items-center">
                            <span><img width="20" src="../../../../img/svg/tag.svg" alt="cimke"></span>
                            <span class="small o-tags col-10"><a href="#!">támogatás</a>, <a href="#!">csok</a>, <a href="#!">otthon</a>, <a href="#!">tájékoztatás</a></span>
                            <div class="d-flex justify-content-end col-2">
                                <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg" alt="Megosztás"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="o-card card o-box-shadow-darker">
                    <div class="o-card-header">
                        <a href="#!">
                            <img src="../../../../img/hirek/hirek-1.png">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <p class="o-noto-bold o-base-red">2020.03.20.</p>
                            <h5 class="o-card-second-title card-title o-noto-bold">CSOK Otthonteremtési támogatás</h5>
                            <h6 class="card-title o-black o-noto-bold">Összefoglaltuk az összes fontos tudnivalót a CSOK-kal kapcsolatban.</h6>
                        </div>
                    </div>
                    <div class="o-card-footer border-top px-3 py-2">
                        <div class="d-flex o-base-red o-noto-bold align-items-center">
                            <span><img width="20" src="../../../../img/svg/tag.svg" alt="cimke"></span>
                            <span class="small o-tags col-10"><a href="#!">támogatás</a>, <a href="#!">csok</a>, <a href="#!">otthon</a>, <a href="#!">tájékoztatás</a></span>
                            <div class="d-flex justify-content-end col-2">
                                <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg" alt="Megosztás"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="o-card card o-box-shadow-darker">
                    <div class="o-card-header">
                        <a href="#!">
                            <img src="../../../../img/hirek/hirek-2.png">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <p class="o-noto-bold o-base-red">2020.03.20.</p>
                            <h5 class="o-card-second-title card-title o-noto-bold">CSOK Otthonteremtési támogatás</h5>
                            <h6 class="card-title o-black o-noto-bold">Összefoglaltuk az összes fontos tudnivalót a CSOK-kal kapcsolatban.</h6>
                        </div>
                    </div>
                    <div class="o-card-footer border-top px-3 py-2">
                        <div class="d-flex o-base-red o-noto-bold align-items-center">
                            <span><img width="20" src="../../../../img/svg/tag.svg" alt="cimke"></span>
                            <span class="small o-tags col-10"><a href="#!">támogatás</a>, <a href="#!">csok</a>, <a href="#!">otthon</a>, <a href="#!">tájékoztatás</a></span>
                            <div class="d-flex justify-content-end col-2">
                                <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg" alt="Megosztás"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="o-card card o-box-shadow-darker">
                    <div class="o-card-header">
                        <a href="#!">
                            <img src="../../../../img/hirek/hirek-3.png">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <p class="o-noto-bold o-base-red">2020.03.20.</p>
                            <h5 class="o-card-second-title card-title o-noto-bold">CSOK Otthonteremtési támogatás</h5>
                            <h6 class="card-title o-black o-noto-bold">Összefoglaltuk az összes fontos tudnivalót a CSOK-kal kapcsolatban.</h6>
                        </div>
                    </div>
                    <div class="o-card-footer border-top px-3 py-2">
                        <div class="d-flex o-base-red o-noto-bold align-items-center">
                            <span><img width="20" src="../../../../img/svg/tag.svg" alt="cimke"></span>
                            <span class="small o-tags col-10"><a href="#!">támogatás</a>, <a href="#!">csok</a>, <a href="#!">otthon</a>, <a href="#!">tájékoztatás</a></span>
                            <div class="d-flex justify-content-end col-2">
                                <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg" alt="Megosztás"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-3 d-block d-lg-none">
            <div class="d-flex justify-content-center">
                <a href="#!" class="o-base-blue text-decoration-none o-noto-bold">Összes cikk megtekintése <i class="fas fa-chevron-right ml-2"></i></a>
            </div>
        </div>
    </div>
</section>