<div class="o-bg-white-gray o-box-shadow-darker o-rounded-15 sales-slider-section w-100 position-relative">
    <div class="o-carousel">
        <div class="text-decoration-none">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img class="img-fluid sales-slider-img o-rounded-15" src="../../../../img/aloldalak/karrier/sales1.png" alt="Telitalálatos értékesítő?">
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center position-relative">
                    <div class="slider-text px-3 py-5 px-md-5">
                        <h3 class="o-base-blue text-left">Telitalálatos értékesítő vagy?</h3>
                        <h4 class="o-base-red text-left text-uppercase o-noto-bold py-1 py-xl-3">Csatlakozz hozzánk!</h4>
                        <p class="o-base-blue">Az űrlap kitöltése kb. 3 percet vesz igénybe, kérlek töltsd ki az eredményesebb kiválasztás érdekében.</p>
                        <button type="button" class="o-primary-btn o-btn-group o-btn-write" role="button">
                            <span>Kitöltöm a tesztet!</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--<a class="text-decoration-none" href="">-->
            <!--<div class="row">-->
                <!--<div class="col-12 col-lg-6">-->
                    <!--<img class="img-fluid sales-slider-img o-rounded-15" src="../../../../img/aloldalak/karrier/sales1.png" alt="Telitalálatos értékesítő?">-->
                <!--</div>-->
                <!--<div class="col-12 col-lg-6 d-flex align-items-center">-->
                    <!--<div class="slider-text px-2 py-5 px-md-5">-->
                        <!--<h3 class="o-base-blue text-left">Telitalálatos értékesítő?</h3>-->
                        <!--<h4 class="o-base-red text-left text-uppercase o-noto-bold py-1 py-xl-3">Csatlakozzon hozzánk!</h4>-->
                        <!--<p class="o-base-blue">Az űrlap kitöltése kb. 3 percet vesz igénybe, kérjük töltse ki az eredményesebb kiválasztás érdekében.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a>-->
        <!--<a class="text-decoration-none" href="">-->
            <!--<div class="row">-->
                <!--<div class="col-12 col-lg-6">-->
                    <!--<img class="img-fluid sales-slider-img o-rounded-15" src="../../../../img/aloldalak/karrier/sales1.png" alt="Telitalálatos értékesítő?">-->
                <!--</div>-->
                <!--<div class="col-12 col-lg-6 d-flex align-items-center">-->
                    <!--<div class="slider-text px-2 py-5 px-md-5">-->
                        <!--<h3 class="o-base-blue text-left">Telitalálatos értékesítő?</h3>-->
                        <!--<h4 class="o-base-red text-left text-uppercase o-noto-bold py-1 py-xl-3">Csatlakozzon hozzánk!</h4>-->
                        <!--<p class="o-base-blue">Az űrlap kitöltése kb. 3 percet vesz igénybe, kérjük töltse ki az eredményesebb kiválasztás érdekében.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</a>-->
    </div>
    <!--<div class="o-carousel slider-nav-wrapper">-->
        <!--<div class="sales-nav">-->
            <!--<div class="o-noto-bold o-base-blue text-center"><span class="o-base-red">1</span> / 3</div>-->
            <!--<div class="o-noto-bold o-base-blue text-center"><span class="o-base-red">2</span> / 3</div>-->
            <!--<div class="o-noto-bold o-base-blue text-center"><span class="o-base-red">3</span> / 3</div>-->
        <!--</div>-->
    <!--</div>-->
</div>


