<section class="blue-gray-half-gradient custom-padding-y position-relative" id="whyUs">
    <div class="container">
        <h2 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 text-white">Miért minket válassz?</h2>
        <h5 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 py-3 text-white">Színvonalas szolgáltatásainkat az igényeidhez igazítjuk.
            Az ingatlan és az otthon közötti út élményéért dolgozunk.</h5>
        <header class="o-slick-header w-100 my-3 my-lg-4">
            <nav class="navbar navbar-expand-md navbar-light p-0">
                <ul class="nav nav-tabs d-flex justify-content-center text-center w-100 border-0">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link d-flex px-3 py-2 o-rounded-7 active border-0" href="#firstSlider" target="_blank" data-toggle="tab" role="tab" aria-selected="false">Vásárlóknak / Bérlőknek</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link d-flex px-3 py-2 o-rounded-7 border-0" href="#secondSlider" target="_blank" data-toggle="tab" role="tab" aria-selected="false">Eladóknak / Bérbeadóknak</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link d-flex px-3 py-2 o-rounded-7 border-0" href="#thirdSlider" target="_blank" data-toggle="tab" role="tab" aria-selected="false">Pénzügyi szolgáltatások</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="tab-content side-tabs">
            <div class="tab-pane fade active show" role="tabpanel" id="firstSlider">
                <div class="o-carousel carousel-services">
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <picture>
                                    <source media="(min-width:650px)" srcset="../../../../img/szolgaltatasok/Openhouse-98_533x296.jpg">
                                    <source media="(min-width:465px)" srcset="../../../../img/szolgaltatasok/Openhouse-98_533x296.jpg">
                                    <img class="img-fluid o-rounded-15 w-100 m-auto o-box-shadow-darker" src="../../../../img/szolgaltatasok/Openhouse-98_533x296.jpg" alt="Kényelmes és biztonságos keresés">
                                </picture>
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Kényelmes és biztonságos keresés</div>
                                            <p class="card-text">Velünk időt és energiát takaríthatsz meg.</p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                 data-toggle="collapse" data-target="#showMoreService1" role="button"  aria-expanded="false" aria-controls="showMoreService1">
                                                    <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService1">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Online kényelmesen megtekintheted ingatlankínálatunkat vagy értékesítő kollégáink korszerű irodáinkban egy kávé mellett bemutatják számodra a legfrissebb ajánlatokat. </em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <picture>
                                    <source media="(min-width:650px)" srcset="../../../../img/szolgaltatasok/IMGL9713_536x357.jpg">
                                    <source media="(min-width:465px)" srcset="../../../../img/szolgaltatasok/IMGL9713_536x357.jpg">
                                    <img class="img-fluid o-rounded-15 w-100 m-auto o-box-shadow-darker" src="../../../../img/szolgaltatasok/IMGL9713_536x357.jpg" alt="Fejlett technológia">
                                </picture>
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Fejlett technológia</div>
                                            <p class="card-text">Mi segítünk gyorsabban megtalálni, amit keresel! </p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService2" role="button"  aria-expanded="false" aria-controls="showMoreService2">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService2">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Saját fejlesztésű, innovatív megoldásunkkal pontosabban meghatározhatod, hogy mire is van szükséged. Keresőmotorjaink folyamatosan pásztázzák a kínálatot, hogy azonnal feldobják a releváns, új találatokat. Értékesítőink pedig az adatbázisokat monitorozva  kiközvetítik számodra a legjobb ár érték arányú ingatlanokat. </em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <picture>
                                    <source media="(min-width:650px)" srcset="../../../../img/szolgaltatasok/Openhouse-67_533x296.jpg">
                                    <source media="(min-width:465px)" srcset="../../../../img/szolgaltatasok/Openhouse-67_533x296.jpg">
                                    <img class="img-fluid o-rounded-15 w-100 m-auto o-box-shadow-darker" src="../../../../img/szolgaltatasok/Openhouse-67_533x296.jpg" alt="Fejlett technológia">
                                </picture>
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Megbízható ingatlanbemutatás</div>
                                            <p class="card-text">Segítünk a nyugodt választásban, megkímélünk a szervezés izgalmaitól.</p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService3"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService3">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService3">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Időpontot egyeztetünk az eladókkal, megszervezzük az ingatlanok megtekintését és a helyszínen bemutatjuk azokat. Szakmai tapasztalatunkkal segítünk a legjobb döntés meghozatalában. </em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-2.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Teljes körű ügyviteli támogatás</div>
                                            <p class="card-text">Megkímélünk az utánajárás fáradalmaitól.</p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService5"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService5">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService5">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Segítünk a jogszabályok közötti eligazodásban, a megfelelő ajánlattételben és a szerződéskötésben, kipróbált és tapasztalt jogi partnereink ajánlásával.</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-3.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Díjmentes pénzügyi szolgáltatások</div>
                                            <p class="card-text">Velünk időt és pénzt takarítasz meg!</p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService6"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService6">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService6">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Hitelszakértőink személyre szabott igényfelméréssel és díjmentes hitelügyintézéssel segítenek a legmegfelelőbb hitelkonstrukció kiválasztásában.</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="secondSlider">
                <div class="o-carousel carousel-services">
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/hirek/hirek-1.png">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Díjmentes felmérés</div>
                                            <p class="card-text">Időt és energiát takaríthatsz meg velünk.</p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService7"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService7">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService7">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>A helyszínen felmérjük az ingatlan műszaki állapotát, a környezeti adottságokat, fotókat és alaprajzot készítünk, lekérjük a tulajdoni lapot, rögzítjük az ingatlan összes fontos paraméterét. Mindez elengedhetetlen a sikeres eladáshoz/bérbeadáshoz.  </em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/penzugy/support.png">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Legjobb ár képzése</div>
                                            <p class="card-text">Segítünk a legjobb ár érték arány elérésében.</p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService8"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService8">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService8">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Az ingatlan felmérése, a környezet és a reális piaci árak  ismeretében árazási javaslatot teszünk, továbbá folyamatosan tájékoztatunk a piacról és a vevői visszajelzésekről. </em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-3.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Hatékony marketing</div>
                                            <p class="card-text">A mi eszközeinkkel, országos hálózatunkkal sokkal nagyobb az esély, hogy megtaláljuk a potenciális vevőt. </p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService9"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService9">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService9">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>A jól megírt hirdetés és a szép  fotók csak az első lépés a sikeres eladás felé vezetó úton. Több ezer ingatlanból álló adatbázisunk elemzésével és a piac figyelésével releváns marketingcsatornákat használunk a vevők felkutatására. A hirdetéseket kiemelésekkel hozzuk kedvezőbb helyre. A klasszikus (pl. újság, brossúra) és újszerű marketing eszközök (pl. közösségi média, remarketing) mellett országos hálózatunk minden irodája és értékesítője is kiajánlja kereső ügyfeleinek az ingatlanodat. </em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-1.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Fejlett technológia</div>
                                            <p class="card-text">Gyorsabban és többen találják meg az ingatlanodat.</p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService10"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService10">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService10">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Saját fejlesztésű informatikai rendszerünkben az ingatlanodat automatikusan összevetjük az összes, országos hálózatunkban szereplő ingatlankereséssel, így biztosítva a hatékonyabb ügyfélkiszolgálást.</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-2.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Összehangolt igények</div>
                                            <p class="card-text">Az ügyfélszűrésre helyezzük a hangsúlyt. </p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService11"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService11">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService11">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Kereső ügyfeleink igényeit előre felmérjük, hogy a kereslet és a kínálat nagyobb valószínűséggel találkozzon. A kereső ügyfeleinkkel pénzügyi közvetítő munkatársaink is találkoznak, hogy hitelfelvétel esetén is gördülékeny ügymenetet tudjunk biztosítani.</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-3.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Biztonságos ingatlanbemutatás</div>
                                            <p class="card-text">Online és személyes ingatlanbemutatókat tartunk.</p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService12"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService12">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService12">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Saját fejlesztésű technológiánk és folyamataink lehetővé teszik, hogy ingatlanodat akár a Te/családod zavarása nélkül online prezentációs eszközökkel  bemutassuk.
                                                        Az ingatlanokat személyesen is bemutatjuk a vásárlók részére, kiegészítve a környékre vonatkozó releváns információval. Bemutatáskor vigyázunk a tisztaság fenntartására és az egészség megóvására.</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-3.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Teljes körű ügyviteli támogatás</div>
                                            <p class="card-text">Szakértők vagyunk az ingatlanos témákban. </p>
                                        </div>
                                        <div class="col-12 col-md-6 offset-md-3 offset-lg-0 mt-3 mb-2">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService13"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService13">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService13">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Segítünk a jogszabályok közötti eligazodásban, a megfelelő ajánlattételben és a szerződéskötésben, kipróbált és tapasztalt jogi partnereink ajánlásával.</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="thirdSlider">
                <div class="o-carousel carousel-services">
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-1.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Díjmentes hitelügyintézés</div>
                                            <p class="card-text">Szakértőink támogatják az ügyfeleket a hitelfelvétel során, érthetően elmagyarázzák és végig kísérik a hiteligénylési folyamatot.</p>
                                        </div>
                                        <div class="col-12 mt-3 mb-2 text-center text-lg-left">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService14"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService14">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService14">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Teljes körű és díjmentes ügyintézés a hiteligénylésnél. Dokumentáció előkészítés, banki kapcsolattartás, a hitelfelvétel nyomon követese a folyósításig.</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-2.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Biztosítás</div>
                                            <p class="card-text">Tudd értékeidet biztonságban, kösd meg biztosításodat nálunk! </p>
                                        </div>
                                        <div class="col-12 mt-3 mb-2 text-center text-lg-left">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService15"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService15">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService15">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Különféle biztosítási termékek elérhetőek Szakértőinknél, akik nem csak a számodra megfelelő hitel kiválasztásában vannak segítségedre, hanem a hitelügylethez kapcsolódó biztosítás megkötésénél is.</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-3.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Több bank ajánlata egy helyen</div>
                                            <p class="card-text">A piacon elérhető összes pénzintézettel együttműködünk</p>
                                        </div>
                                        <div class="col-12 mt-3 mb-2 text-center text-lg-left">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService16"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService16">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService16">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>A hiteligény felmérése során személyre szabottan összegyűjtjük Neked a megfelelő banki ajánlatokat, nem kell a bankokat személyesen felkeresned.</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-1.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Egyedi banki kedvezmények</div>
                                            <p class="card-text">A banki ajánlatoknál kedvezőbb feltételekkel elérhetőek a hitelek nálunk</p>
                                        </div>
                                        <div class="col-12 mt-3 mb-2 text-center text-lg-left">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService17"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService17">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService17">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Szakértőink segítségével egyedi kamatkedvezményeket és díjelengedéseket kaphatsz, kedvezőbb lehet a hiteled, mintha közvetlenül a bankhoz fordulnál.</em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card o-card text-center text-md-left o-card-deck">
                            <div class="o-card-header">
                                <img src="../../../../img/szolgaltatasok/szolg-2.jpg">
                                <div class="o-card-img-overlay"></div>
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <div class="o-card-second-title card-title h5">Hitelkiváltás</div>
                                            <p class="card-text">Meglévő, több éves, magas kamatozású kölcsönök kiváltásának teljes ügyintézése kedvezőbb kamatozású hitelre</p>
                                        </div>
                                        <div class="col-12 mt-3 mb-2 text-center text-lg-left">
                                            <button type="button" class="o-primary-btn o-btn-group o-medium-btn-size chevron-down collapsed"
                                                    data-toggle="collapse" data-target="#showMoreService18"
                                                    role="button"  aria-expanded="false" aria-controls="showMoreService18">
                                                <span>Bővebben</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse o-gray-200" id="showMoreService18">
                                                <div class="px-3">
                                                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                                                </div>
                                                <div class="card card-body o-box-shadow-none">
                                                    <p><em>Az évekkel ezelőtt felvett hitelek esetében érdemes hitelkiváltáson gondolkodni. A mostani piaci környezetben jellemzően alacsonyabbak a kamatok az előző évekhez képest, így olcsóbbak a hitelek és kiszámíthatóbb a törlesztésük is, hiszen rögzített kamatozásúak. </em></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="#" class="stretched-link"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>