.franchise {
  .open-section {
   max-height: 692px;
  }

  .counter-card {
    min-height: 270px;
    width: 90%;
    @media all and (min-width: $xl-up){
      min-width: 660px;
      width: 100%;
      position: relative;
      right: 40%;
    }
    background-image: url('/img/aloldalak/franchise/terkep/pic.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @extend .o-rounded-15;
  }
}