.franchise {
  .main-hero {
    min-height: 430px;
    background-image: url('/img/aloldalak/franchise/hero/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 3rem;
  }
}