#faqAccordion {
  [data-toggle="collapse"] .fas:before {
    content: "\f068";
  }

  [data-toggle="collapse"]{
    @extend .o-blue-opacity-bg;
    color: $white;
  }

  [data-toggle="collapse"].collapsed {
    background-color: $white;
    color: $base-blue;
    box-shadow: $box-shadow-05-02-black;
  }

  [data-toggle="collapse"].collapsed .fas:before {
    content: "\f067";
  }

  .fas {
    position: absolute;
    right: 20px;
  }

  h5 {
    button {
      padding: 1rem;
      width: 100%;
      text-align: left;
      text-decoration: none;
      font-family: $noto-bold;
      border-radius: $rounded-15;
    }
  }

  .card {
    box-shadow: none;
  }
}