.first-card-section {
  @include media-breakpoint-up(xl) {
    .card-col {
      position: absolute;
      right: 0;
    }
  }
  li {
    display: flex;
    align-content: center;
    padding: 1rem 0;
  }

  .first-col {
    margin-top: -6rem;
  }

  .second-col {
    display: flex;
    align-items: center;
  }

  .o-card {
    padding: 2rem 0;
    -webkit-box-shadow: $box-shadow-05-02-black;
    -moz-box-shadow: $box-shadow-05-02-black;
    box-shadow: $box-shadow-05-02-black;
    .card-body {
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
}