.dropdown-menu {
  .dropdown-content {
    @include media-breakpoint-down(sm) {
      overflow-y: scroll;
      max-height: 15rem;
    }
    .dropdown-header {
      .nav-item {
        margin-left: 0 !important;
      }
      .nav-item .nav-link {
        color: $base-blue !important;
        &:hover {
          @extend .o-red-primary-btn;
        }
      }
    }

    #accordion {
      .card-header:first-child {
        @extend .o-rounded-7;
        padding: 0.1rem;
      }
      
      h5 button {
        color: $black-gray-100;
        font-family: $noto-bold;
        text-decoration: none;
      }
      
      p {
        font-family: $noto-regular;
        color: $base-blue;
      }

      .fas {
        font-size: 1.606875rem;
        margin-right: 1rem;
      }
    }
  }
}