/* #Navigation
================================================== */

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 1.79875rem 0 1.425rem;
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: $box-shadow-01-02-black;
  height: 90px;
  z-index: 1000;
  @include media-breakpoint-up(md) {
    height: auto;
    padding: 1rem 0;
  }
  &.scroll-on {
    box-shadow: $box-shadow-01-02-black;
    @include media-breakpoint-up(md) {
      padding: 0 0 0.8rem;
    }
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
    .navbar-brand img {
      //@extend .w-75;
      -webkit-transition : all 0.3s ease-out;
      transition : all 0.3s ease-out;
    }
  }

  .navbar {
    @include media-breakpoint-up(md) {
      height: 85px;
    }

    .navbar-brand {
      img.logo {
        width: 150px;
        display: block;
        -webkit-transition : all 0.3s ease-out;
        transition : all 0.3s ease-out;
        max-height: 50px;
        @include media-breakpoint-up(lg) {
          width: auto;
          max-width: 200px;
          max-height: 100%;
        }

        @media(min-width: $xl-up) {
          max-width: 260px;
        }

        @media(min-width: $xxl-up) {
          max-width: 285px;
        }
      }

      img.ipad-logo {
        width: 60px;
      }

      img {
        height: 100%;
        max-height: 40px;
        @include media-breakpoint-up(lg) {
          height: auto;
          max-height: inherit;
        }
      }
    }

    .navbar-collapse {
      @include media-breakpoint-down(sm) {
        position: relative;
        top: 3rem;
        background-color: $white;
        border-radius: $rounded-15;
        box-shadow: $box-shadow-05-02-black;
        padding: 1rem 2rem 2rem;
      }

      .navbar-nav {
        @include media-breakpoint-down(lg) {
          width: 100%;
        }
      }
    }

    .navbar-toggler {
      float: right;
      border: none;
      padding: 0;
      &:active,
      &:focus {
        outline: none;
      }
      .navbar-toggler-icon {
        width: 30px;
        height: 30px;
        background-image: none;
        position: relative;
        border-bottom: 7px solid $darker-gray;
        transition: all 300ms linear;
        &:after,
        &:before {
          width: 30px;
          position: absolute;
          height: 7px;
          background-color: $darker-gray;
          top: 0;
          left: 0;
          content: '';
          z-index: 2;
          transition: all 300ms linear;
        }
        &:after {
          top: 12px;
        }
        &.second::after {
          top: 8px;
        }
      }
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
      &.first {
        display: block;
      }
      &.second {
        border-color: transparent;
        &:before,
        &:after {
          height: 2px;
          background-color: $base-blue;
        }

        &:after {
          transform: rotate(45deg);
        }

        &:before {
          transform: translateY(8px) rotate(-45deg);
        }
      }
    }

    .nav-item {
      position: relative;
      transition: all 200ms linear;
      &.active:hover:after {
        opacity: 0;
      }

      @include media-breakpoint-up(md) {
        margin-left: 0.2rem;
      }

      @media (min-width: $xl-up) {
        margin-left: 2rem;
      }

      .nav-link {
        font-family: $noto-bold;
        color: $base-blue;
        transition: all 200ms linear;
        position: relative;
        padding: 0.25rem 0;
        display: inline-block;
        line-height: 25px;
        @media (min-width:$xxl-up) {
          font-size: 1.125rem;
        }
        @include media-breakpoint-down(sm) {
          border-radius: $rounded-7;
          background-color: $white;
          box-shadow: $box-shadow-13-01-black;
          padding: .4rem 1rem;
          width: 100%;
          margin: 0 0 0.7rem 0;
        }
         @media all and (max-width: 350px) {
          padding: .2rem 0.5rem;
          margin: 0 0 0.2rem 0;
        }
      }


      .dropdown-menu {
        transform: translate3d(0, 10px, 0);
        visibility: hidden;
        opacity: 0;
        display: block;
        margin: 0;
        transition: all 200ms linear;
        padding: 1rem .2rem;
        font-size: 13px;
        letter-spacing: 1px;
        color: $base-blue;
        background-color: $white;
        border: none;
        border-radius: $rounded-15;
        box-shadow: $box-shadow-05-02-black;
        @include media-breakpoint-down(sm) {
          position: absolute;
        }
        @include media-breakpoint-up(md) {
          width: 65%;
          margin: auto;
          left: 0;
          right: 0;
          flex-direction: column;
          position: fixed;
        }
      }

      &.show .dropdown-menu {
        opacity: 1;
        visibility: visible;
        max-height: 999px;
        transform: translate3d(0, 0px, 0);
        @include media-breakpoint-down(sm) {
          position: relative;
        }
      }

      .dropdown-toggle::after {
        display: none;
      }

      .dropdown-item {
        padding: 0.25rem 1rem;
        color: $base-blue;
        border-radius: 2px;
        transition: all 200ms linear;
        &:hover,
        &:focus {
          background-color: $light-gray;
        }
      }
    }

    .nav-item:hover .nav-link{
      color: $base-red;
    }

    .nav-item:hover:after{
      bottom: 0;
      opacity: 1;
    }

    .nav-item.active .nav-link{
      color: $base-red;
    }

    .mobile-search {
      right: 3rem;
      position: absolute;
      top: .85rem;
      img {
        width: 40px;
      }
    }
  }

  .o-button-group {
    @media (min-width: 1150px){
      position: absolute;
      right: 0;
    }
    &.navbar-nav {
      .nav-item:hover .nav-link {
        color: $white;
      }

      .nav-item {
        @media (min-width: $xl-up) {
          margin-left: 0;
        }
        .nav-link {
          color: $white;
          @extend .o-rounded-7;
          padding: 0.5rem 1rem;
        }
        &:after {
          content: none;
        }
      }
    }
    .icon img {
      width: 25px;
    }

    @include media-breakpoint-down(lg) {
      li span {
        font-size: 10px;
      }
    }
  }
}

.bottom-10 {
  @include media-breakpoint-up(md) {
    position: relative;
    bottom: -10px;
  }
}

.bottom-10-xl {
  @include media-breakpoint-up(xl) {
    position: relative;
    bottom: -10px;
  }
}

.o-bottom-nav {
  z-index: 999;
  padding: 0;
  &.fixed-bottom {
    @include media-breakpoint-up(lg) {
      left: 0;
      right: inherit;
    }

    ul {
      margin-bottom: 1rem;
      display: flex;
      @include media-breakpoint-up(lg) {
        display: block;
        margin-bottom: 0;
      }

      li {
        padding-left: 1rem;
        padding-right: 1rem;
        @include media-breakpoint-up(lg) {
          padding-bottom: 1.3rem;
          padding-left: inherit;
          padding-right: inherit;
        }

        img {
          width: 25px;
          @include media-breakpoint-up(lg) {
            width: 30px;
          }
        }
      }
    }
  }
}

//Back to top button

#backToTopButton {
  display: inline-block;
  background-color: $dark-blue;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: $rounded-35;
  position: fixed;
  bottom: 80px;
  right: 15px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1032;
  text-decoration: none;
  &::after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    line-height: 40px;
    color: $white;
  }

  &:hover {
    cursor: pointer;
    background-color: $base-blue;
  }

  &:active {
    background-color: $intense-red;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}




