#exit_popup {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
  .popup-wrapper {
    position: relative;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 0;
    width: 90%;
    margin: auto;
    @include media-breakpoint-up(md) {
      width: 60%;
    }
    background-color: $white;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
  }

  .popup-btn {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: auto;
    }
  }
}


#reg_log_popup, #career_popup {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  //transition: all 0.5s ease 0s;
  .popup-wrapper {
    position: relative;
    top: 15%;
    width: 98%;
    @include media-breakpoint-up(md) {
      width: 100%;
      top: 10%;
      max-width: 1200px;
    }
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    //margin-top: 30px;
    background-color: $white;
  }
  .close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 9999;
  }

  .popup-btn {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: auto;
    }
  }

  .o-card {
    min-height: 80vh;
    @media all and (min-width: 350px) {
      min-height: 55vh;
    }

    @media all and (min-width: 400px) {
      min-height: 60vh;
    }

    @include media-breakpoint-up(md) {
       min-height: 55vh;
    }

    @include media-breakpoint-up(xl) {
      min-height: 55vh;
    }
    /*iphone x*/
    @media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {
      min-height: 45vh;
    }
    /*iphone 5*/
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px)
    and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
    {
      min-height: 65vh;
    }
  }
  .otab-menu.active {
    @extend .o-blue-secondary-btn;
    @extend .o-rounded-7;
  }
  .otabs {
    position: relative;
    .otab {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      top: 5px;
      transition: all 0.4s;
      &.active {
        opacity: 1;
        visibility: visible;
        top: 0;
        transition: all 0.4s;
      }
    }
  }
}

#career_popup {
  .close-btn {
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 9999;
    @include media-breakpoint-up(md) {
      top: 0;
    }
  }
}