<section class="container-fluid position-relative o-blue-opacity-bg custom-padding-y">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y pt-0">
                    <h2 class="o-bubble-title mb-0 base-red-bg text-white">Mi történik az ingatlanommal?</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-12 py-0">
                <h4 class="text-white">Kényelmesen, Biztonságosan, Sikeresen.</h4>
                <h5 class="text-white">Színvonalas szolgáltatásainkat az igényeidhez igazítjuk. Az ingatlan és az otthon közötti út élményéért dolgozunk.</h5>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid road-map-section position-relative mb-5 overflow-hidden" id="salesRoadMap">
    <div class="container">
        <div class="row animation-left py-3 py-xl-4" id="mapFirstRow">
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mb-3 mb-md-0">
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/1.svg" alt="Folyamatábra">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/megbizasba_adom/1.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker right-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Legjobb ár képzése</h5>
                    </div>
                    <div class="card-body">
                        <p>A legjobb ár az, ami a legközelebb áll az eladó elvárásához úgy, hogy azt a vevő is megfizeti. Mi ismerjük a piacot és látjuk a változásokat. Kiterjedt adatbázisunkra támaszkodva neked is tudunk az árképzésben segíteni.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-right py-3 py-xl-4 flex-column-reverse flex-xl-column-reverse-none" id="mapSecondRow">
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker left-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Alaprajz, fotók, videó készítése</h5>
                    </div>
                    <div class="card-body">
                        <p>Értékesítőink professzionális programmal jól áttekinthető alaprajzot készítenek. Hozzáértő szemmel fotózzák be az ingatlant és az értékesítést támogató videót vagy körpanorámás fotókat is készítenek. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center flex-column-reverse flex-xl-column-reverse-none">
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/megbizasba_adom/2.png" alt="">
                        </picture>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mt-3 mt-md-0 mb-3 mb-md-0">
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/2.svg" alt="Folyamatábra">
                            </div>
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-left py-3 py-xl-4" id="mapThirdRow">
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mb-3 mb-md-0">
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/3.svg" alt="Folyamatábra">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/megbizasba_adom/3.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker right-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Megbízási szerződés</h5>
                    </div>
                    <div class="card-body">
                        <p>Többféle szerződéstípus közül választhatsz. Igényeidhez igazodva különböző szolgáltatás csomagok állnak a rendelkezésedre, melyet hosszabb, rövidebb vagy akár határozatlan ideig vehetsz igénybe. Sikerdíjért dolgozunk, így a jutalék is akkor válik esedékessé, amikor sikerül vevőt találni az ingatlanodra.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-right py-3 py-xl-4 flex-column-reverse flex-xl-column-reverse-none" id="mapFourthRow">
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker left-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Hatékony marketing</h5>
                    </div>
                    <div class="card-body">
                        <p>Ma már nagyon sokféle módon és helyen lehet az ingatlanokat hirdetni. A jó hirdetésszöveg, fotók és videók mellett a legmegfelelőbb csatornák kombinációját, mint pl. a közösségi média, a saját ügyfélkörben történő promóciók, a hirdetési portálok és az írott sajtó biztosítjuk ügyfeleinknek.  </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center flex-column-reverse flex-xl-column-reverse-none">
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/megbizasba_adom/4.png" alt="">
                        </picture>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mt-3 mt-md-0 mb-3 mb-md-0">
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/4.svg" alt="Folyamatábra">
                            </div>
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-left py-3 py-xl-4" id="mapFifthRow">
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mb-3 mb-md-0">
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/5.svg" alt="Folyamatábra">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/megbizasba_adom/5.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker right-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Vevőszűrés, ingatlan bemutatás</h5>
                    </div>
                    <div class="card-body">
                        <p>Vajon a sok érdeklődőből ki lesz potenciális vevő? Rendelkezik a vevő a szükséges pénzügyi forrásokkal, hitelképes? Mit és hogyan mutass be az ingatlanodon? Hogyan bonyolítsd a beérkező telefonokat miközben dolgozol, értekezleten vagy, utazol, esetleg családi programod van? Mi ebben is segítünk, ha bennünket bízol meg az ingatlanod értékesítésével.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-right py-3 py-xl-4 flex-column-reverse flex-xl-column-reverse-none" id="mapSixthRow">
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker left-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Sikeres eladás/bérbeadás</h5>
                    </div>
                    <div class="card-body">
                        <p>Nem elég a vevőt megtalálni, az ingatlan eladását/bérbe adását jogilag és pénzügyileg is le kell zárni. Értékesítőink a megfelelő dokumentumok előkészítésében is segítenek, az adásvételi szerződést az Openhouse ügyvédjeinek közreműködésével menedzseljük irodáinkban. </p>
                        <p>Szolgáltatásaink a hitvallásunkat tükrözik, miszerint az ingatlan és az otthon közötti út élményéért dolgozunk.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center flex-column-reverse flex-xl-column-reverse-none">
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/megbizasba_adom/6.png" alt="">
                        </picture>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mt-3 mt-md-0 mb-3 mb-md-0">
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/6.svg" alt="Folyamatábra">
                            </div>
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-between align-items-center pb-3 pb-xl-4">
            <div class="justify-content-center d-flex w-100">
                <a href="#top" type="button" class="o-primary-btn o-btn-group o-btn-info text-decoration-none mt-3" role="link">
                    <span> Érdekel</span>
                </a>
            </div>
        </div>
    </div>
</section>