<section class="position-relative mb-3">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y">
                    <h2 class="o-bubble-title o-blue-primary-bg text-white mb-0">Kiemelt ajánlataink!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h5>
                    Szeretnéd, hogy a Te ingatlanod is kiemelten jelenjen meg a hirdetések között és készüljön róla videó vagy 360 fokos fotó? Add meg adataidat, hogy felvegyük Veled a kapcsolatot!
                </h5>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="col-lg-4 pl-0">
                        <a href="#top" class="d-flex align-items-center w-100 mt-3 text-decoration-none">
                            <div class="o-line-height-base d-flex align-items-center justify-content-center col-2">
                                <img width="25" src="../../../../img/svg/dupla_nyil2.svg" alt=""></div>
                            <div class="o-noto-bold o-base-blue col-6">Érdekel</div>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="position-relative">
    <div class="container pb-5">
        {{> spec_offers }}
    </div>
</section>