<section class="container-fluid position-relative o-blue-opacity-bg" id="top">
    <div class="container">
        <div class="row justify-content-center custom-padding-y">
            <div class=" o-card o-rounded-15 col-12 col-lg-7 mb-3 mb-lg-0 mr-lg-5">
                <div class="sales-details-card">
                    <div class="row">
                        <div class="col-12 pb-2 pb-md-0">
                            <div class="mt-3">
                                <h1 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start">Megbízásba adom</h1>
                                <h6 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start mb-4 mt-4">Eladnád vagy bérbe adnád az ingatlanodat?  2 munkanapon belül megkeresünk időpont egyeztetés céljából.</h6>
                                <!--<span class="o-smaller text-white">*Kötelezően kitöltendő mezők</span>-->
                            </div>
                        </div>
                    </div>
                    <!--<hr class="o-border-top-gray-2">-->
                    <form action="" id="baseContactFormS">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-3">
                                <label class="sr-only" for="contactNameS">Név *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="contactNameS" placeholder="Név *" required>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 pb-3 mb-xl-0">
                                <label class="sr-only" for="contactMailS">E-mail *</label>
                                <div class="input-group">
                                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="contactMailS" placeholder="E-mail *" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-3 mb-xl-0">
                                <label class="sr-only" for="contactTelS">Telefon *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="contactTelS" placeholder="Telefon *" required>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 pb-3 mb-xl-0">
                                <label class="sr-only" for="contactAddressS">Település *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="contactAddressS" placeholder="Település *">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-lg-6 pb-3 mb-xl-0">
                                <label class="sr-only" for="contactQuestionS">Ingatlan típusa</label>
                                <select name="contactQuestionS" id="contactQuestionS"  class="form-control o-rounded-15">
                                    <option value=""></option>
                                    <option value="1">Kérdés 1</option>
                                    <option value="2">Kérdés 2</option>
                                </select>
                            </div>
                            <div class="col-12 col-lg-6 pb-3 mb-xl-0">
                                <label class="sr-only" for="contactOfficePlaceS">Eladom/Bérbe adom</label>
                                <select name="contactOfficePlaceS" id="contactOfficePlaceS"  class="form-control o-rounded-15">
                                    <option value=""></option>
                                    <option value="1">Eladom</option>
                                    <option value="2">Bérbeadom</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 mb-3">
                                <label class="sr-only" for="userMessageP">Üzenet</label>
                                <div class="input-group jQTAreaCountBox">
                                    <small class="jQTAreaCountRow">
                                        <em class="jQTAreaCount"></em> / <em class="jQTAreaValue"></em>
                                    </small>
                                    <textarea maxlength="256" class="w-100 o-box-shadow-base form-control resize-none py-3" name="userMessage" rows="6" id="userMessageP" placeholder="Üzenet"></textarea>
                                    <p class="jQTAreaExt mt-3 o-rounded-15"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-8 pb-3 px-0">
                                <div class="d-flex px-3 align-items-center text-decoration-none justify-content-start">
                                    <input class="mr-2 input-height-50 p-2 checkbox-bigger" type="checkbox" id="newsletterP">
                                    <label class="mb-0 o-line-height-1" for="newsletterP"><span class="o-small text-white">Az <a class="text-white o-underline-text" href="">Adatvédelmi nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</span></label>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4 pb-3">
                                <div class="c-input-box text-center">
                                    <input type="file" name="file-1" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="">
                                    <label for="file-1" class="d-flex align-items-center justify-content-center"> <img class="mr-2" src="../../../../img/svg/plus2.svg" alt="" title=".jpg, .png, .pdf, .docx formátum a megengedett"> <span>Új fájl hozzáadása</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-lg-6">
                                <button type="button" class="o-primary-btn o-btn-group o-btn-send o-large-medium-size w-100" role="button">
                                    <span>Üzenet küldése</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="o-border-red-deco o-card bg-white o-rounded-15 p-3 custom-margin-y">
                    <div class="sales-details-card p-1 p-lg-3 p-xl-4">
                        <div class="row">
                            <div class="col-12 pb-2 pb-md-0">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="w-100 d-flex align-items-center o-base-blue justify-content-center justify-content-md-start mb-0">Miért minket?</h3>
                                </div>
                                <!--<hr class="o-border-top-gray-2">-->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="pt-3">
                                            <ul class="list-unstyled">
                                                <li class="o-done-icon mb-2"><p class="mb-0">Eredményes</p></li>
                                                <li class="o-done-icon mb-2"><p class="mb-0">Díjmentes felmérés</p></li>
                                                <li class="o-done-icon mb-2"><p class="mb-0">Legjobb ár képzése</p></li>
                                                <li class="o-done-icon mb-2"><p class="mb-0">Hatékony marketing</p></li>
                                                <li class="o-done-icon mb-2"><p class="mb-0">Fejlett technológia</p></li>
                                                <li class="o-done-icon mb-2"><p class="mb-0">Összehangolt igények</p></li>
                                                <li class="o-done-icon mb-2"><p class="mb-0">Biztonságos ingatlan bemutatás</p></li>
                                                <li class="o-done-icon mb-2"><p class="mb-0">Teljes körű ügyviteli támogatás</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>