<div class="card o-card bg-white o-rounded-15 px-3 px-lg-5 py-5 mt-5">
    <div class="career-details-intro">
         <h4 class="o-noto-bold o-base-blue mb-0">Pozíció részletes leírása</h4>
        <hr class="o-border-top-gray-2">
        <h6 class="o-noto-bold o-black-grayish">Téged keresünk, ha:</h6>
        <ul class="mb-4">
            <li>Szívesen foglalkozol emberekkel</li>
            <li>Hiszel önmagadban, és nem éred be átlagfizetéssel</li>
            <li>Szabadon osztanád be a saját idődet</li>
            <li>Önállóan tudsz és akarsz dolgozni</li>
            <li>Folyamatosan teszel céljaid megvalósításáért</li>
            <li>Pozitív, optimista, vidám személyiséggel rendelkezel</li>
            <li>Fontos számodra, hogy támogató, szakmailag felkészült csapatban dolgozz</li>
            <li>Kisgyermek(ek) mellett nem tudsz 8 órás munkát vállalni</li>
            <li>Felsőfokú tanulmányaid mellett van szabadidőd</li>
        </ul>
        <p class="o-base-red o-noto-bold py-4">Legyél részese sikereinknek, csatlakozz irodáinkhoz!</p>
        <h6 class="o-noto-bold o-black-grayish">Amivel foglalkozol, ha nálunk dolgozol majd:</h6>
        <ul>
            <li>Eladó (új és használt) ingatlanok felkutatása, megbízási szerződések megkötése</li>
            <li>Ingatlan bemutatások szervezése és lebonyolítása</li>
            <li>Vételi ajánlatok és ügyletek sikeres zárása, menedzselése</li>
            <li>Értékesítési folyamatok pontos és időbeni adminisztrálása</li>
        </ul>
        <h6 class="o-noto-bold o-black-grayish">Elvárásaink veled szemben:</h6>
        <ul class="mb-4">
            <li>Legalább középfokú végzettség</li>
            <li>Kiváló kommunikációs- és meggyőzőkészség</li>
            <li>Megbízható, precíz munkavégzés</li>
            <li>Kiemelkedő munkabírás, ambiciózus gondolkodás</li>
            <li>Intenzív csapatmunka</li>
            <li>Felhasználószintű számítógépes ismeretek</li>
        </ul>
        <h6 class="o-noto-bold o-black-grayish">Mit nyújtunk mi cserébe?</h6>
        <ul class="mb-4">
            <li>Kiemelkedően magas jövedelem, amely a befektetett munkával elért eredménnyel arányos</li>
            <li>Karrierprogramunkon keresztül előrelépési és fejlődési lehetőség</li>
            <li>Mentor program – napi szakmai gyakorlati támogatás</li>
            <li>Rendszeres továbbképzések</li>
            <li>Országos hálózati (irodai) háttértechnikai és értékesítési-támogató rendszer használata</li>
            <li>Modern átlagon felüli irodai infrastruktúra</li>
            <li>Rugalmasan alakítható munkaidő</li>
            <li>Kedvezményes OKJ vizsga lehetőség</li>
        </ul>
        <h6 class="o-noto-bold o-black-grayish">Előny:</h6>
        <ul class="mb-4">
            <li>Ingatlanközvetítői, értékesítői gyakorlat</li>
            <li>Ingatlanközvetítő szakmai vizsga (OKJ)</li>
            <li>Pénzügyi szolgáltatás közvetítői hatósági MNB vizsga</li>
            <li>Pénzügyi termékek értékesítésében szerzett gyakorlat</li>
            <li>Nyelvtudás</li>
            <li>Meglevő vállalkozói (Egyéni vállalkozó, Bt.; Kft;) státusz</li>

        </ul>
        <h6 class="o-noto-bold o-black-grayish">Munkavégzés helye: <span class="o-noto-regular">Szeged</span></h6>
    </div>
    <div class="row justify-content-center align-items-center py-5">
        <div class="col-12 text-center">
            <h5 class="o-base-blue text-center o-noto-bold mb-5">Jelentkezni fényképes önéletrajzzal lehet a jelentkezem gombra kattintva</h5>
            <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                <button type="submit" class="o-primary-btn o-btn-group o-large-btn-size o-btn-send">
                    <span>Elküldöm a jelentkezésem</span>
                </button>
            </div>
        </div>
    </div>
</div>