<div class="card o-card bg-white o-rounded-15">
    <div class="list-header">
        <div class="row px-3 py-lg-0">
            <div class="col-12 col-md-5 px-0">
                <img class="img-fluid o-rounded-15 w-100 career-details-img" src="../../../../img/aloldalak/karrier/adatlap.png" alt="Adatlap header kép">
            </div>
            <div class="col-12 col-md-7 px-3 px-md-4 py-4 align-items-end">
                <div class="row align-items-center">
                    <div class="col-8">
                        <small>Bérajánlat: <span class="d-block d-lg-none"></span> <span class="o-base-red o-noto-bold">200.000 Ft-tól - 600.000 Ft-ig</span></small>
                    </div>
                    <div class="col-4">
                        <div class="d-flex justify-content-end align-items-center">
                            <a title="Kedvelés" class="p-2" href="#!"><img width="20" src="../../../../img/svg/kedvenc2.svg" alt="Kedvenc"></a>
                            <a title="Megosztás" class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg" alt="Megosztás"></a>
                            <a title="Nyomtatás" class="p-2" href="#!"><img width="20" src="../../../../img/svg/print.svg" alt="Nyomtatás"></a>
                        </div>
                    </div>
                </div>
                <h5 class="o-noto-bold o-black mb-0">Openhouse Szeged Ingatlaniroda</h5>
                <h4 class="o-noto-bold o-base-blue mb-0">Ingatlan értékesítő</h4>
                <div class="o-border-bottom-gray-2 my-3 w-100"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt imperdiet vehicula. Integer vehicula sodales orci a pellentesque. Integer consectetur nibh quis.</p>
                <div class="col-12 col-md-8 px-0">
                    <button type="button" class="o-primary-btn o-btn-group o-btn-send my-4" role="button">
                        <span> Elküldöm a jelentkezésem</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>