<div class="card o-card bg-shite o-rounded-15 px-3 py-5 list-sidebar">
    <div class="list-header m-auto w-100">
        <h4 class="w-100 px-2 o-base-blue d-flex justify-content-start o-noto-bold">A pozícióról</h4>
    </div>
    <div class="card-body py-0 px-2">
        <div class="card-content tag-cloud">
            <ul class="list-unstyled">
                <li>
                    <a id="categories1" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Teljes munkaidő</a>
                </li>
                <li>
                    <a id="categories2" class="o-rounded-15 w-100 o-blue-primary-bg text-white btn d-flex justify-content-center">Szakmai tréningek</a>

                </li>
                <li>
                    <a id="categories3" class="o-rounded-15 w-100 o-intense-red-bg text-white btn d-flex justify-content-center">Rugalmas időbeosztás</a>
                </li>
                <li>
                    <a id="categories4" class="o-rounded-15 w-100 o-blue-primary-bg text-white btn d-flex justify-content-center">Mobiltelefon</a>
                </li>
                <li>
                    <a id="categories5" class="o-rounded-15 w-100 o-blue-primary-bg text-white btn d-flex justify-content-center">Laptop</a>
                </li>
                <li>
                    <a id="categories6" class="o-rounded-15 w-100 o-blue-primary-bg text-white btn d-flex justify-content-center">Céges autó</a>
                </li>
                <li>
                    <a id="categories7" class="o-rounded-15 w-100 o-gray-bg text-white btn d-flex justify-content-center">Megbízhatóság</a>
                </li>
                <li>
                    <a id="categories8" class="o-rounded-15 w-100 o-gray-bg text-white btn d-flex justify-content-center">Középfokú végzettség</a>
                </li>
                <li>
                    <a id="categories9" class="o-rounded-15 w-100 o-gray-bg text-white btn d-flex justify-content-center">Intenzív csapatmunka</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="card o-card bg-shite o-rounded-15 px-3 py-5 list-sidebar mt-5">
    <div class="list-header m-auto w-100">
        <h4 class="w-100 px-2 o-base-blue d-flex justify-content-start o-noto-bold">Az irodáról</h4>
        <hr class="o-border-top-gray-2">
    </div>
    <div class="card-body py-0 px-2">
        <div class="card-content">
            <ul class="list-unstyled">
                <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/location2.svg" alt=""><p class="mb-0 o-gray-200 o-noto-bold">6721 Szeged, József Attila sugárút 2.</p></li>
                <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/call.svg" alt=""><p class="mb-0"><a class="o-gray-200" href="tel:+3662638" target="_blank">+36 62 638</a></p></li>
                <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/mail.svg" alt=""><p class="mb-0"><a class="o-gray-200" href="mailto:szeged.oh@oh.hu" target="_blank">szeged.oh@oh.hu</a></p></li>
                <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/website.svg" alt=""><p class="mb-0"><a class="o-gray-200" href="https://www.szeged.oh.hu" target="_blank">www.szeged.oh.hu</a></p></li>
                <li class="d-flex pb-1"><img class="mr-2" src="../../../../img/svg/facebook2.svg" alt=""><p class="mb-0"><a class="o-gray-200" href="https://www.facebook.com/ohingatlan" target="_blank">www.facebook.com/ohingatlan</a></li>
                <li class="d-flex pb-1"><img class="mr-2" src="../../../../img/svg/clock.svg" alt=""><p class="mb-0 o-gray-200">H: 11:00 - 17:00, K-P: 8:30 - 17:00</p></li>
                <li class="d-flex pb-1 mt-3"><img class="mr-2" src="../../../../img/svg/info2.svg" alt=""><p class="mb-0 o-gray-200">25 munkavállaló</p></li>
            </ul>
        </div>
    </div>
    <div class="card-footer border-top-0 pt-0 pb-0 px-2 bg-white">
        <div class="d-flex flex-wrap align-items-center justify-content-between mt-2">
            <a href="#" class="o-primary-btn o-btn-group o-medium-btn-size o-btn-info mr-2 mt-2">
                <span>Bővebben</span>
            </a>
            <a href="#" class="o-primary-btn o-blue-secondary-btn o-btn-group o-btn-icon-none o-medium-btn-size px-4 mt-2">
                <span>Referenciak</span>
            </a>
        </div>
    </div>
</div>

<div class="card o-card bg-shite o-rounded-15 px-3 py-5 list-sidebar mt-5">
    <div class="list-header m-auto w-100">
        <h4 class="w-100 px-2 o-base-blue d-flex justify-content-start o-noto-bold">További állások</h4>
        <hr class="o-border-top-gray-2">
    </div>
    <div class="card-body py-0 px-2">
        <div class="card o-card bg-white o-rounded-15 px-3 py-4 o-box-shadow-darker mb-4">
            <h6 class="o-noto-bold o-black mb-0">Openhouse Szeged Ingatlaniroda</h6>
            <h5 class="o-noto-bold o-base-blue">Pénzügyi közvetítő</h5>
            <div class="col-12 col-lg-8 px-0">
                <a href="karrier#collapseOffice2" class="mt-3 o-primary-btn o-btn-group o-medium-btn-size o-btn-info mr-2">
                    <span>Bővebben</span>
                </a>
            </div>
        </div>
        <div class="card o-card bg-white o-rounded-15 px-3 py-4 o-box-shadow-darker mb-4">
            <h6 class="o-noto-bold o-black mb-0">Openhouse Szeged Ingatlaniroda</h6>
            <h5 class="o-noto-bold o-base-blue">Irodavezető</h5>
            <div class="col-12 col-lg-8 px-0">
                <a href="karrier#collapseOffice2" class="mt-3 o-primary-btn o-btn-group o-medium-btn-size o-btn-info mr-2">
                    <span>Bővebben</span>
                </a>
            </div>
        </div>
        <div class="card o-card bg-white o-rounded-15 px-3 py-4 o-box-shadow-darker">
            <h6 class="o-noto-bold o-black mb-0">Openhouse Szeged Ingatlaniroda</h6>
            <h5 class="o-noto-bold o-base-blue">Vezető ingatlan értékesítő</h5>
            <div class="col-12 col-lg-8 px-0">
                <a href="karrier#collapseOffice2" class="mt-3 o-primary-btn o-btn-group o-medium-btn-size o-btn-info mr-2">
                    <span>Bővebben</span>
                </a>
            </div>
        </div>
    </div>
</div>