<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar">
    <div class="list-header m-auto w-100">
        <h5 class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex justify-content-center o-noto-bold">Kérj visszahívást!</h5>
        <small class="text-white d-flex justify-content-center text-center pt-3 pb-3 m-auto w-100 o-noto-bold">Kérdésed van? Töltsd ki az alábbi űrlapot
            és visszahívunk!</small>
    </div>
    <div class="card-body px-0 pb-0">
        <form action="">
            <div class="card-content">
                <label class="sr-only" for="userName">Név</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userName" placeholder="Név">
                </div>
                <label class="sr-only" for="userTel">Telefonszám</label>
                <div class="input-group mb-3">
                    <input type="tel" class="form-control o-rounded-15 border-0 o-h-50" id="userTel" placeholder="Telefonszám">
                </div>
                <label class="sr-only" for="userMail">E-mail</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50" id="userMail" placeholder="E-mail">
                </div>
                <label class="sr-only" for="userMessage">Üzenet</label>
                <div class="input-group mb-3">
                    <textarea class="o-rounded-15 w-100" name="userMessage" id="userMessage" rows="5"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="row o-card-footer justify-content-between px-3 mt-3 align-items-center">
        <small class="o-blue-primary-btn d-flex o-rounded-15 px-3 align-items-center text-decoration-none">
            <input class="mr-2 input-height-50" type="checkbox" id="offPrivacy">
            <label class="mb-0" for="offPrivacy">Az <a class="text-white" href="#!">Adatvédelmi nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</label>
        </small>
         <button type="button" class="o-primary-btn o-btn-group o-btn-send o-medium-btn-size mt-3 w-100" role="button">
          <span>Visszahívást kérek!</span>
        </button>
    </div>
</div>

<div class="card o-card o-lighter-red-bg-opacity o-rounded-15 px-2 py-5 list-sidebar mt-5">
    <div class="list-header m-auto w-100">
        <h4 class="o-rounded-15 w-100 o-red-primary-btn px-5 py-2 text-white d-flex justify-content-center o-noto-bold">Hitelt szeretnél?</h4>
        <small class="text-white d-flex justify-content-center text-center pt-3 pb-3 m-auto w-100 o-noto-bold">
            Találd meg velünk a Neked legmegfelelőbb hitelkonstrukciót!</small>
    </div>
    <div class="card-body px-0 pb-0">
        <form action="">
            <div class="card-content">
                <label class="sr-only" for="userName2">Név</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userName2" placeholder="Név">
                </div>
                <label class="sr-only" for="userTel2">Telefonszám</label>
                <div class="input-group mb-3">
                    <input type="tel" class="form-control o-rounded-15 border-0 o-h-50" id="userTel2" placeholder="Telefonszám">
                </div>
                <label class="sr-only" for="userMail2">E-mail</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50" id="userMail2" placeholder="E-mail">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userMail2" placeholder="E-mail">
                </div>
                <label class="sr-only" for="houseFlatOption">Üzenet</label>
                <select name="houseFlatOption" id="houseFlatOption" class="form-control o-rounded-15-right-15 o-select">
                    <option></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                </select>
            </div>
        </form>
    </div>
    <div class="row o-card-footer justify-content-between px-3 mt-3 align-items-center">
        <small class="o-red-primary-btn d-flex o-rounded-15 px-3 align-items-center text-decoration-none">
            <input class="mr-2 input-height-50" type="checkbox" id="offPrivacy">
            <label class="mb-0" for="offPrivacy">Az <a class="text-white" href="#!"> Adatvédelmi nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</label>
        </small>
         <button type="button" class="o-primary-btn o-btn-group o-btn-send o-medium-btn-size mt-3 w-100" role="button">
          <span>Egyedi ajánlatot kérek</span>
        </button>
    </div>
</div>