<div class="card o-card bg-white o-rounded-15 py-3 px-3 py-lg-4 px-lg-5">
    <div class="list-header">
        <div class="row">
            <div class="col-12">
                <h5 class="o-noto-bold o-black mb-0">Csongrád megye</h5>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6 align-items-end d-flex pb-2 pb-md-0">
                <h4 class="o-noto-bold o-base-blue mb-0">Openhouse Szeged Ingatlaniroda</h4>
            </div>
            <div class="border-bottom w-100 d-block d-md-none"></div>
            <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end my-2 my-md-0">
                <div class="o-blue-primary-bg text-white o-rounded-15 d-flex justify-content-center align-items-center px-4 o-medium-font py-2 o-noto-regular">
                    <span class="o-noto-regular">Prémium iroda</span>
                </div>
                <div class="o-intense-red-bg text-white o-rounded-15 d-flex justify-content-center align-items-center px-4 py-2 ml-2 o-medium-font o-noto-regular">
                    <span class="o-noto-regular">374 ingatlan</span>
                </div>
            </div>

            <div class="border-bottom w-100 d-block d-md-none"></div>
        </div>
        <div class="o-border-top-gray-2 w-100 mb-2 d-none d-md-block"></div>
        <div class="row pt-2">
            <div class="col-12 col-md-6">
                <p class="o-gray-200 mb-2 o-noto-bold d-flex"><img class="mr-2" width="25" src="../../../../img/svg/location2.svg" alt=""><span>6721 Szeged, József Attila sugárút 2.</span></p>
                <p class="phone d-flex d-flex w-100 mb-2">
                    <img class="mr-2" width="25" src="../../../../img/svg/call.svg" alt="">
                    <a href="#" class="phone-block o-gray-200 pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                        <span>+36 00 000 </span>
                    </a>
                    <a href="#" class="phone-show o-small px-3 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
                </p>
                <p class="d-flex mb-2"><img class="mr-2" width="25" src="../../../../img/svg/mail.svg" alt=""><a class="text-decoration-none o-gray-200" href="mailto:szeged.oh@oh.hu">szeged.oh@oh.hu</a></p>
                <p class="d-flex mb-2"><img class="mr-2" width="25" src="../../../../img/svg/website.svg" alt=""><a class="text-decoration-none o-gray-200" href="https://oh.hu/irodak/reszletek/41-szeged-ingatlaniroda/" target="_blank">www.szeged.oh.hu</a></p>
                <p class="d-flex mb-2"><img class="mr-2" width="25" src="../../../../img/svg/facebook2.svg" alt=""><a class="text-decoration-none o-gray-200" href="https://www.facebook.com/ohingatlan" target="_blank">www.facebook.com/ohingatlan</a></p>
                <p class="d-flex mb-2"><img class="mr-2" width="25" src="../../../../img/svg/clock.svg" alt="">H: 11:00 - 17:00, K-P: 08:30 - 17:00</p>
            </div>
            <div class="border-bottom w-100 d-block d-md-none"></div>
            <div class="col-12 col-md-6 mt-2 mt-md-0">
                <div class="row d-block d-md-none">
                    <div class="col-12">
                        <p class="o-gray-200 d-flex mb-0"><img class="mr-2" width="25" src="../../../../img/svg/info2.svg" alt=""><span>Tisztelt Ügyfelünk!</span></p>
                        <p class="o-gray-200 ml-4 pl-2">Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. </p>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center justify-content-md-end pr-lg-0">
                    <a href="listaoldal" class="o-primary-btn o-btn-group o-btn-house" role="button">
                        <span> Tekintsd meg ingatlan kínálatunkat!</span>
                    </a>
                </div>
                <div class="col-12 d-flex justify-content-center justify-content-md-end pr-lg-0 mt-3">
                    <a href="franchise" class="o-primary-btn o-btn-group o-btn-house" role="button">
                        <span>El szeretném adni. Bérbe szeretném adni.</span>
                    </a>
                </div>
                <div class="col-12 d-flex justify-content-center justify-content-md-end pr-lg-0">
                    <a href="karrier" class="o-rounded-15 mt-3 o-blue-primary-btn px-3 py-2 text-white btn justify-content-center ml-2">Állásajánlataink</a>
                </div>
            </div>
        </div>
        <div class="o-border-top-gray-2 w-100 pt-2 d-none d-md-block"></div>
        <div class="row d-none d-md-block">
            <div class="col-12">
                <p class="o-gray-200 d-flex mb-0"><img class="mr-2" width="25" src="../../../../img/svg/info2.svg" alt=""><span>Tisztelt Ügyfelünk!</span></p>
                <p class="o-gray-200 ml-4 pl-2">Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. </p>
            </div>
        </div>
    </div>
</div>