<div class="card o-card bg-white o-rounded-15 p-3 p-md-4 col-12 col-md-11 mx-auto mt-5">
    <div class="real-intro mt-3 mb-3">
        <div class="d-flex align-items-end">
            <h5 class="o-noto-bold o-base-blue mb-0">Ingatlan adatai</h5>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-6">
                <ul class="list-unstyled">
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="20" src="../../../../img/svg/ingatlan_ikonok/ertekesites_tipusa.svg" alt="Értékesítés típusa"><span class="o-gray-200">Értékesítés típusa:</span>&nbsp;eladó</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/ingatlan_tipusa.svg" alt="Ingatlan típusa"><span class="o-gray-200">Ingatlan típusa:</span>&nbsp;társasházi lakás</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/ingatlan_allapota.svg" alt="Ingatlan állapot"><span class="o-gray-200">Ingatlan állapota:</span>&nbsp;új</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/epitesi_mod.svg" alt="Építési mód"><span class="o-gray-200">Építési mód:</span>&nbsp;tégla</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/futes.svg" alt="Fűtési mód"><span class="o-gray-200">Fűtési mód:</span>&nbsp;konvektor</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/lakoter_merete.svg" alt="Lakótér mérete"><span class="o-gray-200">Lakótér mérete:</span>&nbsp;46 nm</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/kozmu.svg" alt="Közművek"><span class="o-gray-200">Közművek:</span>&nbsp;összközműves</li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <ul class="list-unstyled">
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/szobak.svg" alt="Szobák száma"><span class="o-gray-200">Szobák száma:</span>&nbsp;2 db</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/furdoszoba.svg" alt="Fürdőszobák száma"><span class="o-gray-200">Fürdőszobák száma:</span>&nbsp;1 db</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/garazs.svg" alt="Garázs"><span class="o-gray-200">Garázs:</span>&nbsp;fedett kocsibeálló</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/emelet.svg" alt="Emelet"><span class="o-gray-200">Emelet:</span>&nbsp;2. emelet</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/lift.svg" alt="Lift"><span class="o-gray-200">Lift:</span>&nbsp;van</li>
                    <li class="o-base-blue o-noto-bold d-flex align-items-center"><img class="mr-2" width="15" src="../../../../img/svg/ingatlan_ikonok/kilatas.svg" alt="Kilátás"><span class="o-gray-200">Kilátás:</span>&nbsp;udvari</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="real-intro mt-3 mb-3">
        <div class="d-flex align-items-end">
            <h5 class="o-noto-bold o-base-blue mb-0">Ingatlan bemutatása</h5>
        </div>
        <hr>
        <p>Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus
            non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper
            vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed
            sodales arcu nunc id nibh. Maecenas scelerisque, mauris vel vehicula vulputate, ligula nisi efficitur lorem,
            quis vestibulum urna nisi eu odio. Pellentesque euismod porttitor posuere. Vestibulum libero lorem, sagittis
            at malesuada vitae, hendrerit nec nulla. Donec aliquet ut tortor vel varius.</p>
        <p>Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor.
            Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec
            tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris
            vestibulum magna dui, a vulputate lacus blandit nec. Morbi posuere mi a turpis tempor vulputate. Morbi
            dapibus volutpat mauris ut tincidunt. Sed accumsan vestibulum eros at imperdiet. Aliquam eros ligula,
            fermentum ornare varius at, aliquet id magna.</p>
    </div>
    <div class="real-estate-places mt-3 mb-3">
        <div class="d-flex align-items-end">
            <h5 class="o-noto-bold o-base-blue mb-0">Helyiségek</h5>
        </div>
        <hr>
        {{> table }}
    </div>
    <div class="real-estate-parking mt-3 mb-3">
        <div class="d-flex align-items-end">
            <h5 class="o-noto-bold o-base-blue mb-0">Parkolás</h5>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <p>Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed sodales arcu nunc id nibh. </p>
            </div>
        </div>
    </div>
    <div class="real-estate-public-transport mt-3 mb-3">
        <div class="d-flex align-items-end">
            <h5 class="o-noto-bold o-base-blue mb-0">Tömegközlekedés</h5>
        </div>
        <hr>
        <div class="d-flex align-items-center">
            <span class="o-gray-200 o-noto-bold mr-3">Busz</span>
            <span class="o-rounded-15 o-blue-primary-bg px-2 py-1 px-lg-5 py-lg-2 text-white btn d-flex justify-content-center mr-1 mr-lg-3">237</span>
            <span class="o-rounded-15 o-blue-primary-bg px-2 py-1 px-lg-5 py-lg-2 text-white btn d-flex justify-content-center mr-1 mr-lg-3">218</span>
            <span class="o-rounded-15 o-blue-primary-bg px-2 py-1 px-lg-5 py-lg-2 text-white btn d-flex justify-content-center mr-1 mr-lg-3">137</span>
            <span class="o-rounded-15 o-blue-primary-bg px-2 py-1 px-lg-5 py-lg-2 text-white btn d-flex justify-content-center mr-1 mr-lg-3">901</span>
        </div>
    </div>
    <div class="office-map mt-3 mb-3">
        <div class="d-flex align-items-end pl-0">
            <h5 class="o-noto-bold o-base-blue mb-0">Térkép</h5>
        </div>
        <hr>
        <img class="img-fluid" src="../../../../img/aloldalak/details/map.png" alt="Térkép">
    </div>
</div>
<section class="card o-card bg-white o-rounded-15 px-2 px-lg-5 p-3 col-12 col-md-11 mx-auto mt-5">
    <div class="p-1 p-lg-3 p-xl-4">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Tedd fel a kérdésed az értékesítőnek!</h5>
                </div>
            </div>
        </div>
        <div class="bg-white col-12 mt-3">
            <div class="row">
                <div class="col-12 p-0 small-message-view" id="realEstateMessages">
                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                    <div class="position-relative">
                        <div class="px-3 pt-3 real-messages-view pb-0">
                            <!--<div class="media media-meta-day">jun. 1.</div>-->
                            <div class="px-3 d-flex">
                                <aside class="d-flex align-items-center mr-3">
                                    <figure><a href="#"><img width="40" class="rounded-circle small-img" src="../../../../img/aloldalak/ingatlan/user_1.png" alt="Felhasználó fotó"></a></figure>
                                </aside>
                                <div>
                                    <div class="ml-2">
                                        <span class="o-small d-block o-base-blue">Felhasználó neve, jún. 1.</span>
                                    </div>
                                    <div class="col-12 o-gray-bg mb-3 o-rounded-15">
                                        <p class="mb-0 o-base-black p-1 p-lg-3">Fusce, eu quam ac purus malesuada auctor?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-3 ml-md-5 px-3 py-3 d-flex">
                                <aside class="d-flex align-items-center mr-3">
                                    <figure><a href="#"><img width="40" class="rounded-circle small-img" src="../../../../img/aloldalak/ingatlan/user_2.png" alt="Felhasználó fotó"></a></figure>
                                </aside>
                                <div>
                                    <div class="ml-2">
                                        <span class="o-small d-block o-base-blue">Németh Anna, ingatlanértékesítő, jún. 1.</span>
                                    </div>
                                    <div class="col-12 o-bg-white-gray mb-3 o-rounded-15">
                                        <p class="mb-0 o-base-black p-1 p-lg-3">Vivamus maximus malesuada dignissim. In vitae vulputate odio. </p>
                                        <!--<span class="msg-time-send">Látta</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="ml-3 ml-md-5 px-3 py-3 d-flex">
                                <aside class="d-flex align-items-center mr-3">
                                    <figure><a href="#"><img width="40" class="rounded-circle small-img" src="../../../../img/aloldalak/ingatlan/user_2.png" alt="Felhasználó fotó"></a></figure>
                                </aside>
                                <div>
                                    <div class="ml-2">
                                        <span class="o-small d-block o-base-blue">Németh Anna, ingatlanértékesítő, jún. 1.</span>
                                    </div>
                                    <div class="col-12 o-bg-white-gray mb-3 o-rounded-15">
                                        <p class="mb-0 o-base-black p-1 p-lg-3">Vivamus maximus malesuada dignissim. In vitae vulputate odio. </p>
                                        <!--<span class="msg-time-send">Látta</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                    <div class="row pt-3">
                        <div class="col-12">
                            <div class="input-group bg-white o-box-shadow-darker o-rounded-15 mb-2 lg-mb-4">
                                <input class="form-control border-0 o-h-70 p-3 o-rounded-15" type="text"
                                       name="sendMessages" id="sendMessages" placeholder="Írd ide az üzenetet">
                                <span class="input-group-append">
                                    <button class="btn border-0 o-rounded-15-right-15 o-gray-bg" type="button">
                                        <img width="30" src="../../../../img/svg/kuldes.svg" alt="Küldés">
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="card o-card bg-white o-rounded-15 p-3 col-12 col-md-11 mx-auto mt-5">
    <div class="office-intro">
        <div class="row align-items-center mb-3">
            <div class="col">
                <h5 class="o-noto-bold o-base-blue mb-0">Hasonló ingatlanok</h5>
            </div>
        </div>
        <hr>
        {{> related_offers_slider}}
    </div>
</div>