<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar">
    <div class="list-header m-auto w-100">
        <h5 class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex justify-content-center o-noto-bold mb-3">Az ingatlan értékesítője</h5>
        <figure>
            <img class="img-fluid m-auto d-block w-75" src="../../../../img/aloldalak/details/nemethanna.png" alt="">
        </figure>
        <small class="text-white d-flex justify-content-center text-center pt-3 m-auto w-100 o-noto-bold">Németh Anna</small>
        <small class="text-white d-flex justify-content-center text-center m-auto w-100">irodavezető</small>
        <small class="text-white d-flex justify-content-center text-center m-auto w-100"><a class="text-white" href="mailto:nemeth.anna@oh.hu" target="_blank">nemeth.anna@oh.hu</a></small>
        <small class="phone d-flex justify-content-center text-center m-auto w-100">
            <a href="#" class="phone-block text-white pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                <span>+36 00 000 </span>
            </a>
            <a href="#" class="phone-show px-1 py-1 o-rounded-7 o-blue-secondary-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
        </small>
    </div>
    <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
         <button type="button" class="o-primary-btn o-btn-group chevron-down o-medium-btn-size collapsed w-100" role="button" 
          data-toggle="collapse" data-target="#collapseSidebarRealD" aria-expanded="false" aria-controls="collapseSidebarRealD">
          <span>Kapcsolatfelvétel</span>
        </button>
    </div>
</div>
<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar mt-5 collapse" id="collapseSidebarRealD">
    <div class="list-header m-auto w-100">
        <h4 class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex justify-content-center o-noto-bold">Érdekel az ingatlan?</h4>
        <small class="text-white d-flex justify-content-center text-center pt-3 pb-3 m-auto w-100 o-noto-bold">Amennyiben több információt szeretnél megtudni az ingatlanról, írj értékesítőnknek!</small>
    </div>
    <div class="card-body px-0 pb-0">
        <form action="">
            <div class="card-content">
                <label class="sr-only" for="userName">Név</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userName" placeholder="Név">
                </div>
                <label class="sr-only" for="userTel">Telefonszám</label>
                <div class="input-group mb-3">
                    <input type="tel" class="form-control o-rounded-15 border-0 o-h-50" id="userTel" placeholder="Telefonszám">
                </div>
                <label class="sr-only" for="userMail">E-mail</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50" id="userMail" placeholder="E-mail">
                </div>
                <label class="sr-only" for="userMessage">Üzenet</label>
                <div class="input-group mb-3">
                    <textarea class="o-rounded-15 w-100" name="userMessage" id="userMessage" rows="5"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="row o-card-footer justify-content-between px-3 mt-3 align-items-center">
        <small class="o-blue-primary-btn d-flex o-rounded-15 px-3 align-items-center text-decoration-none">
            <input class="mr-2 input-height-50" type="checkbox" id="offPrivacy">
            <label class="mb-0" for="offPrivacy">Az <a class="text-white" href="#!">Adatvédelmi nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</label>
        </small>
         <button type="button" class="o-primary-btn o-btn-group o-btn-send o-medium-btn-size mt-3 w-100" role="button">
          <span>Elküldöm az üzenetet</span>
        </button>
    </div>
</div>
<div class="card o-card o-lighter-red-bg-opacity o-rounded-15 px-2 py-5 list-sidebar mt-5">
    <div class="list-header m-auto w-100">
        <h6 class="w-100 px-5 py-2 text-white d-flex justify-content-center mb-3 text-center">Hitelek egyedi kedvezményekkel az
            Openhouse-nál! Bízd profikra hitelügyintézésedet!</h6>
        <figure>
            <img class="img-fluid m-auto d-block w-75" src="../../../../img/aloldalak/ingatlan/kovacsreka.png" alt="Munkatársaink">
        </figure>
        <small class="text-white d-flex justify-content-center text-center pt-3 m-auto w-100 o-noto-bold">Kovács Réka</small>
        <small class="text-white d-flex justify-content-center text-center m-auto w-100">ingatlanfinanszírozási szakértő</small>
        <small class="text-white d-flex justify-content-center text-center m-auto w-100"><a class="text-white" href="mailto:kovacs.reka@oh.hu" target="_blank">kovacs.reka@oh.hu</a></small>
        <small class="phone d-flex justify-content-center text-center m-auto w-100">
            <a href="#" class="phone-block text-white pt-1 pr-2" data-item-id="3668" data-item-user-id="0">
                <span>+36 00 000 </span>
            </a>
            <a href="#" class="phone-show px-1 py-1 o-rounded-7 o-dark-red-bg text-white" data-item-id="3668" data-item-user-id="0">Mutasd</a>
        </small>
    </div>
    <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
          <button type="button" class="o-primary-btn o-btn-group chevron-down o-medium-btn-size collapsed w-100" role="button" 
          data-toggle="collapse" data-target="#collapseSidebarCredit" aria-expanded="false" aria-controls="collapseSidebarCredit">
          <span>Kapcsolatfelvétel</span>
        </button>
    </div>
</div>
<div class="card o-card o-lighter-red-bg-opacity o-rounded-15 px-2 py-5 list-sidebar mt-5 collapse" id="collapseSidebarCredit">
    <div class="list-header m-auto w-100">
        <h4 class="o-rounded-15 w-100 o-red-primary-btn px-5 py-2 text-white d-flex justify-content-center o-noto-bold">Hitelt szeretnél?</h4>
        <small class="text-white d-flex justify-content-center text-center pt-3 pb-3 m-auto w-100 o-noto-bold">
            Találd meg velünk a Neked legmegfelelőbb hitelkonstrukciót</small>
    </div>
    <div class="card-body px-0 pb-0">
        <form action="">
            <div class="card-content">
                <label class="sr-only" for="userName2">Név</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userName2" placeholder="Név">
                </div>
                <label class="sr-only" for="userTel2">Telefonszám</label>
                <div class="input-group mb-3">
                    <input type="tel" class="form-control o-rounded-15 border-0 o-h-50" id="userTel2" placeholder="Telefonszám">
                </div>
                <label class="sr-only" for="userMail2">E-mail</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50" id="userMail2" placeholder="E-mail">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userMail2" placeholder="E-mail">
                </div>
                <label class="sr-only" for="houseFlatOption">Ház / Lakás vásárlás</label>
                <select name="houseFlatOption" id="houseFlatOption" class="form-control o-rounded-15-right-15 o-select">
                    <option></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                </select>
            </div>
        </form>
    </div>
    <div class="row o-card-footer justify-content-between px-3 mt-3 align-items-center">
        <small class="o-red-primary-btn d-flex o-rounded-15 px-3 align-items-center text-decoration-none">
            <input class="mr-2 input-height-50" type="checkbox" id="offPrivacy">
            <label class="mb-0 small" for="offPrivacy">A Pénzügyi közvetítő hálózat<a class="text-white" href="#!"> adatvédelmi nyilatkozatát elolvastam és elfogadom.</a></label>
        </small>
        <button type="button" class="o-primary-btn o-btn-group o-btn-send o-medium-btn-size mt-3 w-100" role="button">
          <span>Egyedi ajánlatot kérek</span>
        </button>
        <p class="text-center mt-4 text-white">Pénzügyi közvetítő hálózatunk az <strong>Openhouse cégcsoport</strong>
            tagjaként működik.</p>
    </div>
</div>

<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar mt-5">
    <div class="list-header m-auto w-100">
        <h5 class="o-rounded-15 w-100 o-noto-bold o-base-blue bg-white px-5 py-2 d-flex justify-content-center">Kategóriák</h5>
    </div>
    <div class="card-body px-0 pb-0 pl-0 pr-0">
        <div class="card-content tag-cloud">
            <ul class="list-unstyled">
                <li>
                    <a id="categories1" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">társasházi lakás</a>
                </li>
                <li>
                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Budapest</a>

                </li>
                <li>
                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">összközműves</a>
                </li>
                <li>
                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">eladó</a>
                </li>
                <li>
                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">új</a>
                </li>
                <li>
                    <a id="categories6" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">garázs</a>
                </li>
                <li>
                    <a id="categories7" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">tégla</a>
                </li>
                <li>
                    <a id="categories8" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">lift</a>
                </li>
            </ul>
        </div>
    </div>
</div>



