<div class="card o-card bg-white o-rounded-15 p-3 p-md-5">
  <div class="list-header">
    <div class="row">
      <div class="col-12 align-items-end pb-2 pb-md-0">
        <div class="row flex-column-reverse flex-md-column-reverse-none">
          <div class="col-12 col-md-6">
            <h5 class="o-noto-bold o-black mb-0">Társasházi lakás <small
                class="o-intense-red o-noto-bold">#145820</small></h5>
            <h5 class="o-noto-bold o-base-blue mb-0">Budapest, III. kerület, Raktár utca</h5>
          </div>
          <div class="col-12 col-md-6">
            <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center flex-row-reverse">
              <div class="pr-lg-0">
                <div class="d-flex justify-content-between">
                  <a title="Kedvelés" class="p-2" href="#!"><img width="20" src="../../../../img/svg/kedvenc2.svg"
                      alt="Kedvenc"></a>
                  <a title="Összehasonlítás" class="p-2" href="#!"><img width="25" src="../../../../img/svg/lista.svg"
                      alt="Lista"></a>
                  <a title="Megosztás" class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg"
                      alt="Megosztás"></a>
                  <a title="Nyomtatás" class="p-2" href="#!"><img width="20" src="../../../../img/svg/print.svg"
                      alt="Nyomtatás"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <a class="text-decoration-none" href="#!"><span
            class="o-blue-primary-bg px-3 py-1 px-xl-5 py-xl-2 o-rounded-15 text-white">Eladó</span></a>
        <a class="text-decoration-none" href="#!"><span
            class="o-intense-red-bg px-3 py-1 px-xl-5 py-xl-2 o-rounded-15 text-white">Kiemelt</span></a>
      </div>
      <div class="d-none d-md-block">
        <h2 class="o-base-blue o-noto-bold">25 000 000 Ft</h2>
      </div>
    </div>
    <div class="o-border-top-gray-2 w-100 pb-2 mt-2 d-md-none"></div>
    <div class="d-block d-md-none">
      <div class="d-flex align-items-center justify-content-between">
        <div class="">
          <h2 class="o-base-blue o-noto-bold">25 000 000 Ft</h2>
        </div>
        <div>
          <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/info3.svg" alt="Info"></a>
        </div>
      </div>
    </div>
    <!--<div class="o-border-top-gray-2 w-100 pb-2 mt-2 d-md-none o-border-md-down-top-button-none"></div>-->
    <div class="row o-border-top-gray-2 o-border-bottom-gray-2 mx-0 mt-md-2">
      <div class="col-12 col-md-8 col-xl-7 px-0">
        <div class="row h-100 o-icon-row o-border-top-gray-2 o-border-bottom-gray-2 o-border-md-top-button-none">
          <div class="col o-border-right-gray-2">
            <div class="row h-100 align-items-center">
              <a href="" class="text-decoration-none">
                <div class="col pr-0"><img width="30" src="../../../../img/svg/szoba.svg" alt="icon"></div>
              </a>
              <h5 class="col o-base-blue o-noto-bold mb-0 pl-2 pl-md-3">2</h5>
            </div>
          </div>
          <div class="col o-border-right-gray-2">
            <div class="row  h-100 align-items-center">
              <a href="" class="text-decoration-none">
                <div class="col pr-0"><img width="30" src="../../../../img/svg/bath.svg" alt="icon"></div>
              </a>
              <h5 class="col o-base-blue o-noto-bold h5 mb-0 pl-2 pl-md-3">1</h5>
            </div>
          </div>
          <div class="col o-border-right-gray-2">
            <div class="row h-100 align-items-center">
              <a href="" class="text-decoration-none">
                <div class="col pr-0"><img width="30" src="../../../../img/svg/nm.svg" alt="icon"></div>
              </a>
              <h5 class="col o-base-blue font-weight-bold mb-0 pl-2 pl-md-3">46</h5>
            </div>
          </div>
          <div class="col">
            <div class="row h-100 align-items-center">
              <a href="" class="text-decoration-none">
                <div class="col pr-0"><img width="30" src="../../../../img/svg/garazs.svg" alt="icon"></div>
              </a>
              <h5 class="col o-base-blue font-weight-bold mb-0 pl-2 pl-md-3">1</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-5 d-none d-md-block pr-0">
        <div class="row">
          <div class="col-12 px-0 text-right">
            <button type="button" class="o-primary-btn o-btn-group o-btn-write mt-2 mb-2" role="button">
              <span>Hitelek és állami támogatások</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--slider-->
    <div class="row o-carousel px-3 mt-3">
      <div class="col-12">
        <!-- MAIN SLIDES -->
        <div class="real-estate-slider">
          <div>
            <img src="../../../../img/aloldalak/ingatlan/slider_main.png" alt="Slider kép">
          </div>
          <div>
            <img src="../../../../img/aloldalak/ingatlan/slider_main.png" alt="Slider kép">
          </div>
          <div>
            <img src="../../../../img/aloldalak/ingatlan/slider_main.png" alt="Slider kép">
          </div>
          <div>
            <img src="../../../../img/aloldalak/ingatlan/slider_main.png" alt="Slider kép">
          </div>
          <div>
            <img src="../../../../img/aloldalak/ingatlan/slider_main.png" alt="Slider kép">
          </div>
        </div>

        <!-- THUMBNAILS -->
        <div class="r-slider-nav-thumbnails">
          <div>
            <img src="../../../../img/aloldalak/ingatlan/slider_small.png" alt="Slider kép">
          </div>
          <div><img src="../../../../img/aloldalak/ingatlan/slider_small.png" alt="Slider kép">
          </div>
          <div><img src="../../../../img/aloldalak/ingatlan/slider_small.png" alt="Slider kép">
          </div>
          <div data-visual-label="+3" class="position-relative modal-slider-btn" data-toggle="modal"
            data-target="#moreImage" class="text-decoration-none"><img
              src="../../../../img/aloldalak/ingatlan/slider_small.png" alt="Slider kép">
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="moreImage" tabindex="-1" role="dialog" aria-labelledby="moreImageLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="moreImageLabel">5 kép az ingatlanról</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-slider-more-images">
              <div>
                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png"
                  alt="5 kép az ingatlanról">
              </div>
              <div>
                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png"
                  alt="5 kép az ingatlanról">
              </div>
              <div>
                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png"
                  alt="5 kép az ingatlanról">
              </div>
              <div>
                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png"
                  alt="5 kép az ingatlanról">
              </div>
              <div>
                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png"
                  alt="5 kép az ingatlanról">
              </div>
              <div>
                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png"
                  alt="5 kép az ingatlanról">
              </div>
              <div>
                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png"
                  alt="5 kép az ingatlanról">
              </div>
              <!--<div>-->
              <!--<iframe width="100%" height="400" src="https://www.youtube.com/embed/lnV0J5za8Lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="moreVideo" tabindex="-1" role="dialog" aria-labelledby="moreVideoLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="moreVideoLabel">Videó az ingatlanról</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-slider-video">
              <!--<div>-->
              <!--<iframe width="100%" height="400" src="https://www.youtube.com/embed/lnV0J5za8Lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="d-md-flex mx-0 mt-3 justify-content-between">
        <div class="mb-2">
          <div class="d-flex align-items-center">
            <div class=""><img width="30" src="../../../../img/svg/alaprajz.svg" alt="icon"></div>
            <a href="#" class="text-decoration-none">
              <div class=" o-base-blue mb-0 pl-2 pl-md-3 o-small">Alaprajz</div>
            </a>
          </div>
        </div>
        <div class="mb-2">
          <div class="d-flex align-items-center">
            <div class=""><img width="30" src="../../../../img/svg/tanusitvany.svg" alt="icon"></div>
            <a href="#" class="text-decoration-none">
              <div class=" o-base-blue mb-0 pl-2 pl-md-3 o-small">Energetikai tanúsítvány</div>
            </a>
          </div>
        </div>
        <div class="mb-2">
          <div class="d-flex align-items-center">
            <div class=""><img width="30" src="../../../../img/svg/youtube_gray.svg" alt="icon"></div>
            <a href="#" class="text-decoration-none" data-toggle="modal" data-target="#moreVideo">
              <div class=" o-base-blue mb-0 pl-2 pl-md-3 o-small">1 videó</div>
            </a>
          </div>
        </div>
        <div class="mb-2">
          <div class="d-flex align-items-center">
            <div class=""><img width="30" src="../../../../img/svg/picture.svg" alt="icon"></div>
            <a href="#" class="text-decoration-none">
              <div class=" o-base-blue mb-0 pl-2 pl-md-3 o-small">2 panorámakép</div>
            </a>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="card o-card o-lighter-red-bg-opacity o-rounded-15 px-3 px-md-5 py-3 mt-5">
  <div class="row align-items-center">
    <div class="col-12 col-md-7">
      <h5
        class="mb-0 text-white d-flex text-center justify-content-center align-items-center justify-content-md-start w-100">
        Már 5.000.000 Ft önerőtől! 10 évre akár 85.000 Ft/hó-tól!</h5>
    </div>
    <div class="col-12 col-md-5 d-flex justify-content-center align-items-center justify-content-md-end">
      <button type="button" class="o-primary-btn o-btn-group o-btn-calculator" role="button">
        <span>Kalkulálció és részletek</span>
      </button>
    </div>
  </div>
</div>