<div class="card o-card bg-white o-rounded-15  p-3 p-md-4 col-12 col-md-11 mx-auto mt-5">
    <div class="residential-intro mt-3 mb-3">
        <div class="col-6 d-flex align-items-end">
            <h5 class="o-noto-bold o-base-blue mb-0">Lakópark bemutatása</h5>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <p>Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed sodales arcu nunc id nibh. Maecenas scelerisque, mauris vel vehicula vulputate, ligula nisi efficitur lorem, quis vestibulum urna nisi eu odio. Pellentesque euismod porttitor posuere. Vestibulum libero lorem, sagittis at malesuada vitae, hendrerit nec nulla. Donec aliquet ut tortor vel varius.</p>
                <p>Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui, a vulputate lacus blandit nec. Morbi posuere mi a turpis tempor vulputate. Morbi dapibus volutpat mauris ut tincidunt. Sed accumsan vestibulum eros at imperdiet. Aliquam eros ligula, fermentum ornare varius at, aliquet id magna.</p>
                <p>Ingatlanfejlesztő: <span class="o-base-blue o-noto-bold text-uppercase">LOREM IPSUM HOLDING</span></p>
                <p>Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed sodales arcu nunc id nibh. </p>
                <div class="row">
                    <div class="col-12 col-md-4 px-1 px-lg-3 py-2 py-lg-3">
                        <div class="row align-items-center">
                            <a href="" class="text-decoration-none"><div class="col pr-0"><img width="30" src="../../../../img/svg/referencia.svg" alt="icon"></div></a>
                            <a href="referenciak"><div class="col o-base-blue mb-0 pl-2 pl-md-3">Referenciák megtekintése</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="residential-intro mt-3 mb-3">
        <div class="d-flex align-items-end">
            <h5 class="o-noto-bold o-base-blue mb-0">Környék</h5>
        </div>
        <hr>
        <p>Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed sodales arcu nunc id nibh. Maecenas scelerisque, mauris vel vehicula vulputate, ligula nisi efficitur lorem, quis vestibulum urna nisi eu odio. Pellentesque euismod porttitor posuere. Vestibulum libero lorem, sagittis at malesuada vitae, hendrerit nec nulla. Donec aliquet ut tortor vel varius.</p>
    </div>
    <div class="residential-parking mt-3 mb-3">
        <div class="d-flex align-items-end">
            <h5 class="o-noto-bold o-base-blue mb-0">Parkolás</h5>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <p>Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed sodales arcu nunc id nibh. </p>
            </div>
        </div>
    </div>
    <div class="residential-public-transport mt-3 mb-3">
        <div class="d-flex align-items-end pl-0">
            <h5 class="o-noto-bold o-base-blue mb-0">Tömegközlekedés</h5>
        </div>
        <hr>
        <div class="d-flex align-items-center">
            <span class="o-gray-200 o-noto-bold mr-3">Busz</span>
            <span class="o-rounded-15 o-blue-primary-bg px-2 py-1 px-lg-5 py-lg-2 text-white btn d-flex justify-content-center mr-1 mr-lg-3">237</span>
            <span class="o-rounded-15 o-blue-primary-bg px-2 py-1 px-lg-5 py-lg-2 text-white btn d-flex justify-content-center mr-1 mr-lg-3">218</span>
            <span class="o-rounded-15 o-blue-primary-bg px-2 py-1 px-lg-5 py-lg-2 text-white btn d-flex justify-content-center mr-1 mr-lg-3">137</span>
            <span class="o-rounded-15 o-blue-primary-bg px-2 py-1 px-lg-5 py-lg-2 text-white btn d-flex justify-content-center mr-1 mr-lg-3">901</span>
        </div>
    </div>
    <div class="office-map mt-3 mb-3">
        <div class="d-flex align-items-end pl-0">
            <h5 class="o-noto-bold o-base-blue mb-0">Térkép</h5>
        </div>
        <hr>
        <img class="img-fluid" src="../../../../img/aloldalak/details/map.png" alt="Térkép">
    </div>
</div>
<section class="card o-card bg-white o-rounded-15 p-3 col-12 col-md-11 mx-auto mt-5">
    <div class="p-1 p-lg-3 p-xl-4">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Tedd fel kérdésed az értékesítőnek!</h5>
                </div>
            </div>
        </div>
        <div class="bg-white col-12 mt-3">
            <div class="row">
                <div class="col-12 p-0 small-message-view" id="realEstateMessages">
                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                    <div class="position-relative">
                        <div class="px-3 pt-3 real-messages-view pb-0">
                            <!--<div class="media media-meta-day">jun. 1.</div>-->
                            <div class="px-3 d-flex">
                                <aside class="d-flex align-items-center mr-3">
                                    <figure><a href="#"><img width="40" class="rounded-circle small-img" src="../../../../img/aloldalak/ingatlan/user_1.png" alt="Felhasználó fotó"></a></figure>
                                </aside>
                                <div>
                                    <div class="ml-2">
                                        <span class="o-small d-block o-base-blue">Felhasználó neve, jún. 1.</span>
                                    </div>
                                    <div class="col-12 o-gray-bg mb-3 o-rounded-15">
                                        <p class="mb-0 o-base-black p-1 p-lg-3">Fusce, eu quam ac purus malesuada auctor?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-3 ml-md-5 px-3 py-3 d-flex">
                                <aside class="d-flex align-items-center mr-3">
                                    <figure><a href="#"><img width="40" class="rounded-circle small-img" src="../../../../img/aloldalak/ingatlan/user_2.png" alt="Felhasználó fotó"></a></figure>
                                </aside>
                                <div>
                                    <div class="ml-2">
                                        <span class="o-small d-block o-base-blue">Németh Anna, ingatlanértékesítő, jún. 1.</span>
                                    </div>
                                    <div class="col-12 o-bg-white-gray mb-3 o-rounded-15">
                                        <p class="mb-0 o-base-black p-1 p-lg-3">Vivamus maximus malesuada dignissim. In vitae vulputate odio. </p>
                                        <!--<span class="msg-time-send">Látta</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="ml-3 ml-md-5 px-3 py-3 d-flex">
                                <aside class="d-flex align-items-center mr-3">
                                    <figure><a href="#"><img width="40" class="rounded-circle small-img" src="../../../../img/aloldalak/ingatlan/user_2.png" alt="Felhasználó fotó"></a></figure>
                                </aside>
                                <div>
                                    <div class="ml-2">
                                        <span class="o-small d-block o-base-blue">Németh Anna, ingatlanértékesítő, jún. 1.</span>
                                    </div>
                                    <div class="col-12 o-bg-white-gray mb-3 o-rounded-15">
                                        <p class="mb-0 o-base-black p-1 p-lg-3">Vivamus maximus malesuada dignissim. In vitae vulputate odio. </p>
                                        <!--<span class="msg-time-send">Látta</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="o-border-top-gray-2 mt-1 mb-1">
                    <div class="row pt-3">
                        <div class="col-12">
                            <div class="input-group bg-white o-box-shadow-darker o-rounded-15">
                                <input class="form-control border-0 o-h-70 p-3 o-rounded-15" type="text"
                                       name="sendMessages" id="sendMessages" placeholder="Írd ide az üzenetet">
                                <span class="input-group-append">
                                    <button class="btn border-0 o-rounded-15-right-15 o-gray-bg" type="button">
                                        <img width="30" src="../../../../img/svg/kuldes.svg" alt="Küldés">
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="card o-card bg-white o-rounded-15 p-3 col-12 col-md-11 mx-auto mt-5">
    <div class="office-intro">
        <div class="row align-items-center mb-3 justify-content-between">
            <div class="col-12 col-lg-3 pt-2">
                <h5 class="o-noto-bold o-base-blue mb-0">A lakópark lakásai</h5>
                <hr class="o-border-top-gray-2 mt-1 mb-1 o-border-md-top-button-none">
            </div>
            <div class="col-12 col-lg-9 pt-2">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-9">
                        <form action="" class="d-flex align-items-center justify-content-between">
                             <div class="d-flex justify-content-center align-items-center text-white o-rounded-15 base-red-bg px-3 py-2 w-50 mb-2 mb-lg-0 mr-lg-2" style="height: 48px;">
                                30 találat</div>
                            <div class="mb-2 mb-md-0 w-100">
                                <label class="sr-only" for="sorting">Rendezés: Ár szerint növekvő</label>
                                <select name="sorting" id="sorting"  class="form-control o-rounded-15">
                                    <!--<option value=""></option>-->
                                    <option value="1">Rendezés: Ár szerint növekvő</option>
                                    <option value="2">Rendezés: Ár szerint csökkenő</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <form action="" class="d-flex align-items-center justify-content-end">
                            <div class="mb-2 mb-md-0 w-100">
                                <label class="sr-only" for="result">2 találat/oldal</label>
                                <select name="result" id="result"  class="form-control o-rounded-15">
                                    <!--<option value=""></option>-->
                                    <option value="1">2 találat/oldal</option>
                                    <option value="2">6 találat/oldal</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr class="o-border-top-gray-2 mt-1 mb-1">
        {{> related_offers_card}}
    </div>
</div>
<div class="card o-card bg-white o-rounded-15 p-3 col-12 col-md-11 mx-auto mt-5">
    <div class="office-intro">
        <div class="row align-items-center mb-3 justify-content-between">
            <div class="col-12 pt-2">
                <h5 class="o-noto-bold o-base-blue mb-0">További lakóparkok a környéken</h5>
                <hr class="o-border-top-gray-2 mt-1 mb-1 o-border-md-top-button-none">
            </div>
        </div>
        <hr class="o-border-top-gray-2 mt-1 mb-1">
        {{> more_residential }}
    </div>
</div>
