<div class="card o-card bg-white o-rounded-15 p-3 p-md-5">
    <div class="list-header">
        <div class="row">
            <div class="col-12 align-items-end pb-2 pb-md-0">
                <div class="row flex-column-reverse flex-md-column-reverse-none">
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <h5 class="o-noto-bold o-base-blue mb-0">Budapest, III. kerület, Szellő Lakópark</h5>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                            <div class="col-6 col-lg-7">
                            </div>
                            <div class="col-6 col-lg-5 pr-lg-0">
                                <div class="d-flex justify-content-between">
                                    <a title="Kedvelés" class="p-2" href="#!"><img width="20" src="../../../../img/svg/kedvenc2.svg" alt="Kedvenc"></a>
                                    <a title="Összehasonlítás" class="p-2" href="#!"><img width="25" src="../../../../img/svg/lista.svg" alt="Lista"></a>
                                    <a title="Megosztás" class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg" alt="Megosztás"></a>
                                    <a title="Nyomtatás" class="p-2" href="#!"><img width="20" src="../../../../img/svg/print.svg" alt="Nyomtatás"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-border-top-gray-2 w-100 pb-2 mt-2"></div>
        <div class="d-flex align-items-center justify-content-between py-3">
            <div>
                <h5 class="o-noto-bold o-black mb-0">30 eladó lakás</h5>
            </div>
            <div class="d-none d-md-block">
                <a class="text-decoration-none" href="#!"><span class="o-intense-red-bg px-3 py-1 px-xl-5 py-xl-2 o-rounded-15 text-white">Új építésű</span></a>
            </div>
        </div>
        <div class="o-border-top-gray-2 w-100 pb-2 mt-2 d-md-none"></div>
        <div class="d-block d-md-none">
            <div class="d-flex align-items-center justify-content-between">
                <div class="">
                    <h2 class="o-base-blue o-noto-bold">35 000 000 Ft</h2>
                </div>
                <div>
                    <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/info3.svg" alt="Info"></a>
                </div>
            </div>
        </div>
        <!--<div class="o-border-top-gray-2 w-100 pb-2 mt-2 d-md-none o-border-md-down-top-button-none"></div>-->
        <div class="row o-border-top-gray-2 o-border-bottom-gray-2 mx-0 mt-md-2">
            <div class="col-12 col-md-8">
                <div class="row o-icon-row o-border-top-gray-2 o-border-bottom-gray-2 o-border-md-top-button-none">
                    <div class="col o-border-right-gray-2 px-1 px-lg-3 py-2 py-lg-3">
                        <div class="row align-items-center">
                            <a href="" class="col-4 text-decoration-none"><div class="pr-0"><img width="30" src="../../../../img/svg/key.svg" alt="icon"></div></a>
                            <h6 class="col-8 o-base-blue o-noto-bold mb-0 pl-2 pl-md-3 text-uppercase">Átadva</h6>
                        </div>
                    </div>
                    <div class="col o-border-right-gray-2 px-1 px-lg-3 py-2 py-lg-3">
                        <div class="row align-items-center">
                            <a href="" class="col-4 text-decoration-none"><div class="pr-0"><img width="30" src="../../../../img/svg/wallet.svg" alt="icon"></div></a>
                            <h6 class="col-8 o-base-blue o-noto-bold mb-0 pl-2 pl-md-3 text-uppercase">24-73 M/FT</h6>
                        </div>
                    </div>
                    <div class="col o-border-right-gray-2 px-1 px-lg-3 py-2 py-lg-3">
                        <div class="row align-items-center">
                            <a href="" class="col-4 text-decoration-none"><div class="pr-0"><img width="30" src="../../../../img/svg/nm.svg" alt="icon"></div></a>
                            <h6 class="col-8 o-base-blue font-weight-bold mb-0 pl-2 pl-md-3">44-99</h6>
                        </div>
                    </div>
                    <div class="col px-1 px-lg-3 py-2 py-lg-3">
                        <div class="row align-items-center">
                            <a href="" class="col-4 text-decoration-none"><div class="pr-0"><img width="30" src="../../../../img/svg/garazs.svg" alt="icon"></div></a>
                            <h6 class="col-8 o-base-blue font-weight-bold mb-0 pl-2 pl-md-3">2-5</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-none d-md-block pr-0">
                <div class="row">
                    <div class="col-12 px-0 pt-1 mt-lg-2">
                        <button type="button" class="o-primary-btn o-btn-group o-btn-info" role="button">
                            <span>Hitelek és állami támogatások</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--slider-->
        <div class="row o-carousel p-3 mt-3">
            <div class="col-12">
                <!-- MAIN SLIDES -->
                <div class="real-estate-slider">
                    <div>
                        <img src="../../../../img/aloldalak/lakopark/slider_main.png" alt="Slider kép">
                    </div>
                    <div>
                        <img src="../../../../img/aloldalak/lakopark/slider_main.png" alt="Slider kép">
                    </div>
                    <div>
                        <img src="../../../../img/aloldalak/lakopark/slider_main.png" alt="Slider kép">
                    </div>
                    <div>
                        <img src="../../../../img/aloldalak/lakopark/slider_main.png" alt="Slider kép">
                    </div>
                    <div>
                        <img src="../../../../img/aloldalak/lakopark/slider_main.png" alt="Slider kép">
                    </div>
                </div>

                <!-- THUMBNAILS -->
                <div class="r-slider-nav-thumbnails">
                    <div>
                        <img src="../../../../img/aloldalak/lakopark/small.png" alt="Slider kép">
                    </div>
                    <div>
                        <img src="../../../../img/aloldalak/lakopark/small.png" alt="Slider kép">
                    </div>
                    <div>
                        <img src="../../../../img/aloldalak/lakopark/small.png" alt="Slider kép">
                    </div>
                    <div>
                        <img src="../../../../img/aloldalak/lakopark/small.png" alt="Slider kép">
                    </div>
                    <div>
                        <img src="../../../../img/aloldalak/lakopark/small.png" alt="Slider kép">
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3 p-md-0">
            <div class="col-6 col-md-4 px-1 px-lg-3 py-2 py-lg-3">
                <div class="row align-items-center">
                    <a href="" data-toggle="modal" data-target="#moreImage" class="text-decoration-none">
                        <div class="col d-flex align-items-center pr-0"><img width="30" src="../../../../img/svg/picture.svg" alt="icon">
                            <div class="col o-base-blue mb-0 pl-2 pl-md-3 o-small">5 kép az ingatlanról</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="moreImage" tabindex="-1" role="dialog" aria-labelledby="moreImageLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="moreImageLabel">5 kép az ingatlanról</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-slider-more-images">
                            <div>
                                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png" alt="5 kép az ingatlanról">
                            </div>
                            <div>
                                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png" alt="5 kép az ingatlanról">
                            </div>
                            <div>
                                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png" alt="5 kép az ingatlanról">
                            </div>
                            <div>
                                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png" alt="5 kép az ingatlanról">
                            </div>
                            <div>
                                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png" alt="5 kép az ingatlanról">
                            </div>
                            <div>
                                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png" alt="5 kép az ingatlanról">
                            </div>
                            <div>
                                <img class="img-fluid mx-auto" src="../../../../img/aloldalak/ingatlan/slider_new_main.png" alt="5 kép az ingatlanról">
                            </div>
                            <!--<div>-->
                                <!--<iframe width="100%" height="400" src="https://www.youtube.com/embed/lnV0J5za8Lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>