<div class="card o-card bg-white o-rounded-15 py-3 px-3 py-lg-4 px-lg-5">
    <div class="list-header">
        <div class="row">
            <div class="col-12 col-md-6 align-items-end pb-2 pb-md-0">
                <h5 class="o-noto-bold o-black mb-0">Openhouse Szeged Ingatlaniroda</h5>
                <h4 class="o-noto-bold o-base-blue mb-0">Németh Anna, <small>irodavezető</small></h4>
            </div>
            <div class="border-bottom w-100 d-block d-md-none"></div>
            <div class="col-12 col-md-6  my-2 my-md-0 d-flex justify-content-start justify-content-md-end align-items-end">
                    <button id="actSearch" class="o-rounded-15 o-intense-red-bg text-white btn justify-content-center o-small px-4">10 Ingatlan</button>
            </div>
            <div class="border-bottom w-100 d-block d-md-none"></div>
        </div>
        <div class="o-border-top-gray-2 w-100 pb-2 mt-3 d-none d-md-block"></div>
        <div class="row pt-2">
            <div class="col-12 col-md-6">
                <p class="d-flex"><img class="mr-2" width="10" src="../../../../img/svg/share.svg" alt=""><a class="text-decoration-none o-gray-200" href="tel:+3600000">+36 00 000</a></p>
                <p class="d-flex"><img class="mr-2" width="10" src="../../../../img/svg/share.svg" alt=""><a class="text-decoration-none o-gray-200" href="mailto:nemeth.anna@oh.hu">nemeth.anna@oh.hu</a></p>
                <p class="d-flex"><img class="mr-2" width="10" src="../../../../img/svg/share.svg" alt=""><span class="text-decoration-none o-gray-200">magyar, angol, nemet</span></p>
            </div>
            <div class="border-bottom w-100 d-block d-md-none"></div>
            <div class="col-12 col-md-6 mt-2 mt-md-0 px-2">
                <div class="col-12 d-flex justify-content-center justify-content-md-end">
                    <div class="btn-group align-items-center" role="group" aria-label="Button group">
                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50">
                            Az iroda ingatlankínálata
                        </button>
                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center justify-content-md-end">
                    <div class="btn-group align-items-center mt-2" role="group" aria-label="Button group">
                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50">
                            Legyen a Tippadóm!
                        </button>
                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>