<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar">
    <div class="list-header m-auto w-100">
        <figure>
            <img class="img-fluid m-auto d-block w-75" src="../../../../img/aloldalak/details/nemethanna.png" alt="">
        </figure>
        <h5 id="actSearch" class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex justify-content-center o-noto-bold">Kérdése van?</h5>
        <small class="text-white d-flex justify-content-center text-center pt-3 pb-3 m-auto w-100 o-noto-bold">Forduljon hozzám bizalommal,
            írjon üzenetet!</small>
    </div>
    <div class="card-body px-0 pb-0">
        <form action="">
            <div class="card-content">
                <label class="sr-only" for="userName">Név</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userName" placeholder="Név">
                </div>
                <label class="sr-only" for="userTel">Telefonszám</label>
                <div class="input-group mb-3">
                    <input type="tel" class="form-control o-rounded-15 border-0 o-h-50" id="userTel" placeholder="Telefonszám">
                </div>
                <label class="sr-only" for="userMail">E-mail</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50" id="userMail" placeholder="E-mail">
                </div>
                <label class="sr-only" for="userMessage">Üzenet</label>
                <div class="input-group mb-3">
                    <textarea class="o-rounded-15 w-100" name="userMessage" id="userMessage" rows="5"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
        <small class="o-blue-primary-btn d-flex o-rounded-15 px-3 align-items-center text-decoration-none">
            <input class="mr-2 input-height-50" type="checkbox" id="offPrivacy">
            <label class="mb-0" for="offPrivacy">Az <a class="text-white" href="#!">Adatvédelmi nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</label>
        </small>
        <button type="button" class="o-primary-btn o-btn-group o-btn-send mt-3" role="button">
            <span>Visszahívást kérek!</span>
        </button>
    </div>
</div>