<div class="card o-card bg-white o-rounded-15 py-3 px-3 py-lg-4 px-lg-5 col-12 col-md-11 mx-auto mt-5">
    <div class="office-intro">
        <h4 class="o-noto-bold o-base-blue mb-0">Bemutatkozás</h4>
        <hr class="o-border-top-gray-2">
        <p>Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus
            non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper
            vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed
            sodales arcu nunc id nibh. Maecenas scelerisque, mauris vel vehicula vulputate, ligula nisi efficitur lorem,
            quis vestibulum urna nisi eu odio. Pellentesque euismod porttitor posuere. Vestibulum libero lorem, sagittis
            at malesuada vitae, hendrerit nec nulla. Donec aliquet ut tortor vel varius.</p>
        <p>Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor.
            Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec
            tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris
            vestibulum magna dui, a vulputate lacus blandit nec. Morbi posuere mi a turpis tempor vulputate. Morbi
            dapibus volutpat mauris ut tincidunt. Sed accumsan vestibulum eros at imperdiet. Aliquam eros ligula,
            fermentum ornare varius at, aliquet id magna.</p>
    </div>
    <div class="office-references">
        <h4 class="o-noto-bold o-base-blue mb-0">Referenciák</h4>
        <hr class="o-border-top-gray-2">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card o-card bg-white o-rounded-15 p-3 o-box-shadow-darker">
                    <p class="o-noto-bold o-black mb-0">2020.01.01</p>
                    <hr class="o-border-top-gray-2">
                    <h5 class="o-base-blue o-noto-bold">Lorem ipsum dolor!</h5>
                    <p class="card-text o-base-blue">
                        Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui.</p>
                    <div class="btn-group align-items-center pl-0 col-12 col-md-6 w-100 mt-3" role="group">
                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50">Bővebben</button>
                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-h-50 o-line-height-base"><img width="20" src="../../../../img/svg/info.svg"
                                                                                                                               alt="Bővebben"></button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card o-card bg-white o-rounded-15 p-3 o-box-shadow-darker">
                    <p class="o-noto-bold o-black mb-0">2020.01.01</p>
                    <hr class="o-border-top-gray-2">
                    <h5 class="o-base-blue o-noto-bold">Lorem ipsum dolor!</h5>
                    <p class="card-text o-base-blue">
                        Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui.</p>
                    <div class="btn-group align-items-center pl-0 col-12 col-md-6 w-100 mt-3" role="group">
                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50">Bővebben</button>
                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-h-50 o-line-height-base"><img width="20" src="../../../../img/svg/info.svg"
                                                                                                                               alt="Bővebben"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card o-card bg-white o-rounded-15 py-3 px-3 py-lg-4 col-12 col-md-11 mx-auto mt-5">
    <div class="office-intro">
        <div class="row align-items-center mb-3">
            <div class="col">
                <h4 class="o-noto-bold o-base-blue mb-0">Námeth Anna ingatlankínálata</h4>
            </div>
            <div class="col d-flex justify-content-end">
                <a href="#!" class="o-base-blue text-decoration-none d-none o-noto-bold d-lg-block desktop-link right-0">Összes ingatlan megtekintése <i class="fas fa-chevron-right ml-2"></i></a>
            </div>
        </div>
        <hr>
        {{> related_offers_slider}}
    </div>
</div>