<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-3 list-sidebar mb-5">
    <div class="card-body">
        <div class="card-content">
            <div class="row">
                <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                    <label class="sr-only" for="salesAgent">Ingatlan értékesítő</label>
                    <select name="salesAgent" id="salesAgent"  class="form-control o-rounded-15">
                        <option value=""></option>
                        <option value="0">Németh Anna</option>
                        <option value="0">Gipsz Jakab</option>
                    </select>
                </div>
                <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                    <label class="sr-only" for="salesAgentCity">Település</label>
                    <select name="salesAgentCity" id="salesAgentCity"  class="form-control o-rounded-15">
                        <option value=""></option>
                        <option value="0">Budapest</option>
                        <option value="0">Szombathely</option>
                    </select>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="btn-group align-items-center w-100" role="group" aria-label="Button group">
                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-8 col-md-10">
                            Találatok megtekintése
                        </button>
                        <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-4 col-md-2">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>