<section class="base-red-bg pt-5 position-relative o-blue-opacity-bg mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 o-mt-m3 px-0">
                <figure class="o-border-red-deco">
                    <a href="#!">
                        <img class="img-fluid" src="../../../../img/aloldalak/ertekek/csapat.png" alt="Csatlakozzon az Openhouse-hoz!">
                    </a>
                </figure>
            </div>
            <div class="col-12 col-md-7 text-center text-md-left pl-md-5 pl-0 pb-5">
                <h3 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start">Csatlakozz az Openhouse-hoz!</h3>
                <p class="text-white py-3">Érdekel az ingatlanszakma? Csatlakozz hozzánk értékesítőként, nyisd meg ingatlanirodádat hálózatunk tagjaként!
                    Érdekelnek a részletek! </p>
                <div class="row mt-3 justify-content-between align-items-center">
                    <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                        <a href="karrier" class="o-primary-btn o-btn-group">
                            <span>Karrier</span>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                        <a href="karrier" class="o-primary-btn o-btn-group">
                            <span>Franchise</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>