<section class="main-hero o-blue-gradient text-white">
    <h1 class="w-100 d-flex align-items-center justify-content-center text-center pl-5 pr-5 row pt-5 pb-5">Az ingatlan és az otthon közötti út élményéért dolgozunk!</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <p class="text-white text-center font-size-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi non nunc aliquam mattis ut vel sem. Nunc non tortor id justo convallis molestie. Vestibulum sapien nisi, sollicitudin ac arcu vitae, viverra feugiat erat. Aenean laoreet venenatis accumsan. Proin bibendum velit nisl, vitae pharetra magna bibendum at.</p>
            </div>
        </div>
    </div>
</section>