<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Szolgáltatások</a>
<aside class="dropdown-menu">
    <div class="dropdown-content container o-rounded-15 mb-5">
        <header class="dropdown-header w-100">
            <nav class="navbar navbar-expand-md navbar-light p-0">
                <ul class="navbar-nav d-flex justify-content-between text-center w-100">
                    <li class="nav-item">
                        <a class="nav-link d-flex px-3 py-2 o-rounded-7" href="#" target="_blank">Vásárlóknak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex px-3 py-2 o-rounded-7" href="#" target="_blank">Eladóknak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex px-3 py-2 o-rounded-7" href="#" target="_blank">Bérlőknek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex px-3 py-2 o-rounded-7" href="#" target="_blank">Bérbeadóknak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex px-3 py-2 o-rounded-7" href="#" target="_blank">Pénzügyi szolgáltatások</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="card d-block w-100 o-bg-white-gray o-rounded-15">
            <div class="card-body px-4 py-5">
                <div class="row">
                    <div class="col-md-6">
                        {{> nav_accordion }}
                    </div>
                    <div class="col-md-6">
                        {{> nav_accordion_second_col }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>