<header class="navigation-wrap start-header start-style fixed-top w-100">
    <div class="mx-4 mx-md-4 mx-xl-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light p-0">
                    <a class="navbar-brand d-flex mr-0" href="/">
                        <img class="logo d-none d-xl-block" src="../../../../img/nav/logo.svg" alt="Logó">
                        <img class="ipad-logo d-none d-md-block d-xl-none" src="../../../../img/nav/logo_allo.svg" alt="Logó">
                        <img class="logo d-block d-md-none" src="../../../../img/nav/logo-mobil.svg" alt="Logó">
                    </a>
                    <a class="nav-link p-0 d-block d-md-none mobile-search" href="listaoldal" target="_blank"><div class="search-icon"><img class="o-rounded-7" src="../../../../img/nav/search_icon.png" alt=""></div></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon first"></span>
                    </button>

                    <div class="collapse navbar-collapse align-self-sm-end h-70" id="navbarSupportedContent">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon second"></span>
                        </button>
                        <ul class="navbar-nav pt-4 pb-0 pt-md-0 col-md-7 col-xl-8 text-center text-md-left d-flex w-100 justify-content-between justify-content-xl-center">
                            <li class="nav-item pl-xl-2 active">
                                <a class="nav-link" href="eladom-kiadom">Eladom / kiadom</a>
                            </li>
                            <li class="nav-item pl-xl-2">
                                <a class="nav-link" href="penzugyek">Pénzügyek</a>
                            </li>
                            <li class="nav-item pl-xl-2">
                                <a class="nav-link" href="irodaink">Irodáink</a>
                            </li>
                            <li class="nav-item pl-xl-2">
                                <a class="nav-link" href="karrier">Karrier</a>
                            </li>
                            <li class="nav-item pl-xl-2">
                                <a class="nav-link" href="franchise">Franchise</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav d-flex justify-content-end justify-content-xl-center text-center text-md-left text-nowrap o-button-group">
                            <li class="cta-button nav-item pl-xl-2 mr-xl-2">
                                <a class="nav-link d-flex o-blue-primary-btn btn" href="uj-epitesu"><span>Új építésű</span><div class="icon"><img class="pl-2" width="25" src="../../../../img/svg/plusz_feher.svg" alt="Új építésű"></div></a>
                            </li>
                            <li class="search-button nav-item pl-xl-2 d-none d-md-block">
                                <a class="nav-link p-0" href="listaoldal"><div class="search-icon"><img class="o-rounded-7" width="43" src="../../../../img/svg/ingatlan_kereses.svg" alt="Keresés"></div></a>
                            </li>
                            <li class="login-button nav-item pl-xl-2 ml-xl-2">
                                <button class="btn nav-link d-flex o-gray-primary-btn login-btn" title="Hamarosan elérhető"><div class="icon"><img class="pr-1" width="25" src="../../../../img/svg/bejelentkezes.svg" alt="bejelentkezés"> <span>Bejelentkezés</span></div></button>
                            </li>
                            <li class="contact-button nav-item pl-xl-2 ml-xl-2 d-block d-md-none">
                                <a href="kapcsolat" class="btn nav-link d-flex o-blue-secondary-btn contact-btn"><div class="icon"><img class="pr-1" width="25" src="../../../../img/svg/write_white.svg" alt="Írj nekünk"> <span>Írj nekünk</span></div></a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</header>