<section class="container-fluid pt-5 position-relative mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="img-fluid red-box-shadow o-rounded-15" src="../../../../img/aloldalak/szolgaltatasok/vr.png" alt="VR - digitális 360fokos séta az ingatlanban">
            </div>
            <div class="col-12 col-md-6 text-center text-md-left pl-md-5 pl-0 pb-5">
                <h3 class="w-100 d-flex align-items-center o-base-blue justify-content-center justify-content-md-start o-noto-bold">VR - digitális 360fokos séta az ingatlanban</h3>
                <h5 class="w-100 d-flex  align-items-center py-3 o-black-grayish o-noto-bold justify-content-center justify-content-md-start"><img class="mr-2" width="30" src="../../../../img/svg/dupla_nyil2.svg" alt="Lista"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></h5>
                <p class="py-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet cursus pulvinar. Proin congue ultricies diam quis pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet cursus pulvinar. Proin congue ultricies diam quis pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid blue-gray-half-gradient pt-5 position-relative" id="">
    <h2 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 text-white">Kérjen visszahívást!</h2>
    <h5 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 py-3 text-white">Egyéb kérdésekben is szaktanácsot adunk. Kérje munkatársaink segítségét, töltse ki az űrlapot és visszahívjuk!</h5>
    <div class="container pb-5 mb-5">
        <form class="container" action="">
            <div class="form-row align-items-center mt-4">
                <div class="col-6 col-md-3 pr-0 mb-2 mb-md-0">
                    <label class="sr-only" for="name">Név</label>
                    <div class="input-group">
                        <input type="text" class="form-control o-rounded-15-left-15 o-rounded-15-right-0 border-right border-top-0 border-bottom-0 border-left-0 o-h-50" id="name" placeholder="Név">
                    </div>
                </div>
                <div class="col-6 col-md-3 pl-0 pr-0 mb-2 mb-md-0">
                    <label class="sr-only" for="tel">Telefonszám</label>
                    <div class="input-group">
                        <input type="tel" class="form-control rounded-0 border-top-0 border-bottom-0 o-h-50 border-right" id="tel" placeholder="Telefonszám">
                    </div>
                </div>
                <div class="col-12 col-md-3 pl-0 mb-2 mb-md-0">
                    <label class="sr-only" for="settlement">Település</label>
                    <div class="input-group">
                        <input type="text" class="form-control o-rounded-15-left-0 o-rounded-15-right-15 border-0 o-h-50" id="settlement" placeholder="Település">
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-2 mb-md-0">
                    <button type="button" class="o-primary-btn o-btn-group o-btn-send" role="button">
                        <span>Visszahívást kérek</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>