<section class="container-fluid o-lighter-gray-bg py-5">
    <div class="container justify-content-center o-mt-lg-m10">
        <div class="row pb-3">
            <div class="col-12 col-lg-6 pb-5 pb-lg-0">
                <div class="card o-rounded-15 bg-white px-3 py-4 px-md-4 py-md-5 red-box-shadow">
                    <h4 class="o-base-blue o-noto-bold">Ingatlan eladása</h4>
                    <div class="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet cursus pulvinar. Proin
                            congue ultricies diam quis pharetra. Pellentesque habitant morbi tristique senectus et netus
                            et malesuada fames ac turpis egestas.</p>
                        <div class="row mb-3">
                            <div class="col-12 col-xl-6 mb-2">
                                <div class="d-flex">
                                    <img width="30" src="../../../../img/svg/plus3.svg" alt="Lista">
                                    <p class="ml-3 o-black-grayish o-noto-bold mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="d-flex">
                                    <img width="30" src="../../../../img/svg/plus3.svg" alt="Lista">
                                    <p class="o-black-grayish ml-3 o-noto-bold mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-3 mb-xl-0">
                                <a href="eladom-kiadom" class="btn-group align-items-center w-100 text-decoration-none"
                                   tabindex="0">
                                    <button type="button"
                                            class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10"
                                            tabindex="0">
                                        Megbízásba adom
                                    </button>
                                    <button type="button"
                                            class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2"
                                            tabindex="0">
                                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="Megbízásba adom">
                                    </button>
                                </a>
                            </div>
                            <div class="col-12 col-xl-6">
                                <a href="kapcsolat" class="btn d-flex align-items-center w-100 text-decoration-none o-blue-primary-btn o-rounded-15 o-h-50">
                                    Kapcsolatfelvétel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card o-rounded-15 bg-white px-3 py-4 px-md-4 py-md-5 red-box-shadow">
                    <h4 class="o-base-blue o-noto-bold">Ingatlan eladása</h4>
                    <div class="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet cursus pulvinar. Proin
                            congue ultricies diam quis pharetra. Pellentesque habitant morbi tristique senectus et netus
                            et malesuada fames ac turpis egestas.</p>
                        <div class="row mb-3">
                            <div class="col-12 col-xl-6 mb-2">
                                <div class="d-flex">
                                    <img width="30" src="../../../../img/svg/plus3.svg" alt="Lista">
                                    <p class="ml-3 o-black-grayish o-noto-bold mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="d-flex">
                                    <img width="30" src="../../../../img/svg/plus3.svg" alt="Lista">
                                    <p class="o-black-grayish ml-3 o-noto-bold mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-3 mb-xl-0">
                                <a href="eladom-kiadom" class="btn-group align-items-center w-100 text-decoration-none"
                                   tabindex="0">
                                    <button type="button"
                                            class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10"
                                            tabindex="0">
                                        Megbízásba adom
                                    </button>
                                    <button type="button"
                                            class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2"
                                            tabindex="0">
                                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="Megbízásba adom">
                                    </button>
                                </a>
                            </div>
                            <div class="col-12 col-xl-6">
                                <a href="kapcsolat" class="btn d-flex align-items-center w-100 text-decoration-none o-blue-primary-btn o-rounded-15 o-h-50">
                                    Kapcsolatfelvétel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-6 pb-5 pb-lg-0">
                <div class="card o-rounded-15 bg-white px-3 py-4 px-md-4 py-md-5 red-box-shadow">
                    <h4 class="o-base-blue o-noto-bold">Ingatlan eladása</h4>
                    <div class="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet cursus pulvinar. Proin
                            congue ultricies diam quis pharetra. Pellentesque habitant morbi tristique senectus et netus
                            et malesuada fames ac turpis egestas.</p>
                        <div class="row mb-3">
                            <div class="col-12 col-xl-6 mb-2">
                                <div class="d-flex">
                                    <img width="30" src="../../../../img/svg/plus3.svg" alt="Lista">
                                    <p class="ml-3 o-black-grayish o-noto-bold mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="d-flex">
                                    <img width="30" src="../../../../img/svg/plus3.svg" alt="Lista">
                                    <p class="o-black-grayish ml-3 o-noto-bold mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-3 mb-xl-0">
                                <a href="eladom-kiadom" class="btn-group align-items-center w-100 text-decoration-none"
                                   tabindex="0">
                                    <button type="button"
                                            class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10"
                                            tabindex="0">
                                        Megbízásba adom
                                    </button>
                                    <button type="button"
                                            class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2"
                                            tabindex="0">
                                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="Megbízásba adom">
                                    </button>
                                </a>
                            </div>
                            <div class="col-12 col-xl-6">
                                <a href="kapcsolat" class="btn d-flex align-items-center w-100 text-decoration-none o-blue-primary-btn o-rounded-15 o-h-50">
                                    Kapcsolatfelvétel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card o-rounded-15 bg-white px-3 py-4 px-md-4 py-md-5 red-box-shadow">
                    <h4 class="o-base-blue o-noto-bold">Ingatlan eladása</h4>
                    <div class="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet cursus pulvinar. Proin
                            congue ultricies diam quis pharetra. Pellentesque habitant morbi tristique senectus et netus
                            et malesuada fames ac turpis egestas.</p>
                        <div class="row mb-3">
                            <div class="col-12 col-xl-6 mb-2">
                                <div class="d-flex">
                                    <img width="30" src="../../../../img/svg/plus3.svg" alt="Lista">
                                    <p class="ml-3 o-black-grayish o-noto-bold mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="d-flex">
                                    <img width="30" src="../../../../img/svg/plus3.svg" alt="Lista">
                                    <p class="o-black-grayish ml-3 o-noto-bold mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6 mb-3 mb-xl-0">
                                <a href="eladom-kiadom" class="btn-group align-items-center w-100 text-decoration-none"
                                   tabindex="0">
                                    <button type="button"
                                            class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10"
                                            tabindex="0">
                                        Megbízásba adom
                                    </button>
                                    <button type="button"
                                            class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2"
                                            tabindex="0">
                                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="Megbízásba adom">
                                    </button>
                                </a>
                            </div>
                            <div class="col-12 col-xl-6">
                                <a href="kapcsolat" class="btn d-flex align-items-center w-100 text-decoration-none o-blue-primary-btn o-rounded-15 o-h-50">
                                    Kapcsolatfelvétel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>