<!-- Footer -->
<footer class="o-page-footer font-small py-4 py-xl-0 position-relative rectangle-3">
    <div class="o-footer-overlay d-none d-xl-block">
        <img width="100%" src="../../../img/footer/footer.svg" alt="Háttér">
    </div>
    <div class="container">
        <!-- Footer links -->
        <div class="row o-footer-links-row">
            <div class="col-xl-6 mx-auto mt-3 text-center text-md-left">
                <img src="../../../img/footer/footer-logo.png" class="text-uppercase mb-4 font-weight-bold img-fluid" alt="Logó">
            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-xl-2  col-6 mx-auto mt-3">
                <p>
                    <a href="eladom-kiadom">Eladom / Kiadom</a>
                </p>
                <p>
                    <a href="penzugyek">Pénzügyek</a>
                </p>
                <p>
                    <a href="irodaink">Irodáink</a>
                </p>
                <p>
                    <a href="karrier">Karrier</a>
                </p>
                <p>
                    <a href="franchise">Franchise</a>
                </p>
            </div>
            <div class="col-xl-2 col-6 mx-auto mt-3">
                <p>
                    <a href="rolunk">Rólunk</a>
                </p>
                <p>
                    <a href="kapcsolat">Kapcsolat</a>
                </p>
                <p>
                    <a href="szabalyzatok-es-tajekoztatok">Szabályzatok, tájékoztatók</a>
                </p>
            </div>
            <div class="col-xl-2 col-12 mx-auto mt-3 d-block d-xl-none">
                <div class="row">
                    <div class="col-6">
                        <p><img width="20" src="../../../img/svg/call.svg" alt=""> Hívj minket: <br>
                            <a href="szabalyzatok-es-tajekoztatok">+36 20 000 0000</a>
                        </p>
                    </div>
                    <div class="col-6">
                        <nav class="">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/ohingatlan" target="_blank" class="mr-1">
                                        <img width="28" src="../../../img/svg/facebook.svg" alt=Facebook">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/openhouseingatlan/" target="_blank" class="mr-1">
                                        <img width="28" src="../../../img/svg/instagram.svg" alt="Instagram">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.youtube.com/channel/UC7JvFhCjfLw9irv9DG7Yx3A" target="_blank" class="">
                                        <img width="28" src="../../../img/svg/youtube.svg" alt="Youtube">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-6 mx-auto mt-3 d-none d-xl-block">
                <p><img width="20" src="../../../img/svg/call.svg" alt=""> Hívj minket: <br>
                    <a href="szabalyzatok-es-tajekoztatok">+36 20 000 0000</a>
                </p>
                <!-- Social buttons -->
                <nav class="mt-3">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/ohingatlan" target="_blank" class="mr-1">
                                <img width="35" src="../../../img/svg/facebook.svg" alt="">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/openhouseingatlan/" target="_blank" class="mr-1">
                                <img width="35" src="../../../img/svg/instagram.svg" alt="">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UC7JvFhCjfLw9irv9DG7Yx3A" target="_blank" class="">
                                <img width="40" src="../../../img/svg/youtube.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
<div class="o-sticky-footer position-relative bg-white">
    <!-- Footer links -->
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
                <!--Copyright-->
                <p class="mb-5 mb-xl-0 py-3">
                    <a href="#!">
                        <small>© 2020 @Nyitott Ház Kft.</small>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>