<head>
    <meta charset="UTF-8">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">


    <!-- Site Metas -->
    <title>Openhouse Ingatlan- és Pénzügyi Közvetítő Hálózat | Eladó házak, ingatlanok díjmentes hitelügyintézéssel</title>
    <meta name="keywords" content="openhouse, használt ingatlan, új építésű ingatlan, eladó lakás,
    eladó családi ház, építési telek, eladó üzlethelyiség, eladó iroda, kiadó lakás, kiadó családi ház,
    kiadó üzlethelyiség, kiadó iroda, hitel, lízing, biztosítás, értékbecslés, hitelügyintézés, hitelkiváltás,
    karrier, állás, bízza profikra ingatlanügyeit, csere házcsere, egyedi fűtésű téglalakás, eladó családi ház,
    eladó ház, eladó lakás, eladó panellakás, eladó társasház, eladó telek, eladó/kiadó ingatlan, franchise,
    ingatlan franchise hálózat, ingatlanhirdetési központ, ingatlaniroda,
    ingatlanok, irodabérlet, kereskedelmi ingatlan bérlet, kertes ikerház, open house, téglalakás">
    <meta name="description" content="Ingatlanok (lakások, családi házak, építési telkek, üzlethelyiségek, irodák) közvetítése. Ingatlanok bérbeadása. Díjmentes hitelügyintézés. Openhouse, Bízza profikra ingatlanügyeit!">
    <meta name="author" content="Zsena">

    <!--To allow up to 20 characters to be shown in the snippet:-->
    <meta name="robots" content="max-snippet:20">
    <meta name="robots" content="max-image-preview:standard">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet"/>

    <!--social metas-->
    <!--facebook-->
    <meta property="og:title" content="Openhouse Ingatlan- és Pénzügyi Közvetítő Hálózat | Eladó házak, ingatlanok díjmentes hitelügyintézéssel" />
    <meta property="og:description" content="Ingatlanok (lakások, családi házak, építési telkek, üzlethelyiségek, irodák) közvetítése. Ingatlanok bérbeadása. Díjmentes hitelügyintézés. Openhouse, Bízza profikra ingatlanügyeit!">
    <meta property="og:url" content="https://oh.hu/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="hu_HU" />
    <meta property="og:site_name" content="Openhouse Ingatlan- és Pénzügyi Közvetítő Hálózat | Eladó házak, ingatlanok díjmentes hitelügyintézéssel" />
    <!--other-->
    <meta property="article:tag" content="Openhouse Ingatlan- és Pénzügyi Közvetítő Hálózat" />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:alt" content="Openhouse Ingatlan- és Pénzügyi Közvetítő Hálózat | Eladó házak, ingatlanok díjmentes hitelügyintézéssel" />
    <!--twitter-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Ingatlanok (lakások, családi házak, építési telkek, üzlethelyiségek, irodák) közvetítése. Ingatlanok bérbeadása. Díjmentes hitelügyintézés. Openhouse, Bízza profikra ingatlanügyeit!" />
    <meta name="twitter:title" content="Openhouse Ingatlan- és Pénzügyi Közvetítő Hálózat | Eladó házak, ingatlanok díjmentes hitelügyintézéssel" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:image:alt" content="Openhouse Ingatlan- és Pénzügyi Közvetítő Hálózat | Eladó házak, ingatlanok díjmentes hitelügyintézéssel">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="../../../img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../../img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../../img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../../img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../../img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../../img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../../img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../../img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../../../img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../../img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../../img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../../img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--  Non-Essential, But Required for Analytics -->
    <!--<meta property="fb:app_id" content="your_app_id" />-->
    <!--<meta name="twitter:site" content="@website-username">-->
</head>