.o-card-sections {
  .card-sections-container {
    margin-top: -6rem;
    @include media-breakpoint-up(md){
        margin-top: -10rem;
    }
  }


  .o-card {
    background-color: $white;
    min-height: 435px;
    .o-card-blue-title {
      color: $base-blue;
      font-family: $noto-bold;
      max-height: 160px;
    }

    .finances-card-svg {
      max-width: 120px;
      width: 100%;
    }
  }

  .financial-card-slider {
    .o-card {
      margin: 2rem auto;
    }
  }
}