.finances {
  .counter-card-2 {
    width: 100%;
    min-height: 300px;
    @media all and (min-width: $xl-up){
      min-height: 450px;
    }

    background-image: url('/img/penzugy/blue-box.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @extend .o-rounded-15;
  }

  .list-card {
    width: 90%;
    padding: 2rem 1rem;
    font-size: 0.8rem;
    @media all and (max-width: 350px){
      width: 100%;
      padding: 1rem 0.5rem;
    }

    @include media-breakpoint-up(md) {
      font-size: inherit;
    }

    @media all and (min-width: 1200px){
      min-width: 560px;
      width: 100%;
      position: relative;
      right: 20%;
      padding: 3rem 2rem;
      top: 2rem;
    }

    @media all and (min-width: 1280px){
      min-width: 600px;
    }
    background-color: $white;
    @extend .o-rounded-15;
  }
  .choice-section-red {
    padding-bottom: 7rem;
  }
  .choice-section {
    height: 170px;
    @include media-breakpoint-up(md) {
      height: 200px;
    }
    .choice-row {
      position: relative;
      top: -10rem;
      //margin-top: 6rem;
      //margin-left: -3rem;
      .o-card {
        background-color: $white;
        min-height: 270px;
        margin: auto;
        box-shadow: $box-shadow-05-02-black;
        -moz-box-shadow: $box-shadow-05-02-black;
        -webkit-box-shadow: $box-shadow-05-02-black;
        //@media all and (min-width: 991px) and (max-width: 1380px){
        //  min-height: 270px;
        //}
      }
    }
  }

  .financial-flip-slider {
    .slick-list.draggable {
      border-radius: $rounded-15;
    }
    .slick-list {
      margin: 0 -20px;
      //@include media-breakpoint-up(md) {
      //  margin: 0 -35px;
      //}
    }

    .slick-next {
      right: -30px;
      @include media-breakpoint-up(md) {
        right: -25px;
      }
    }
  }

  .pattern-section {
    .pattern2 {
      height: 620px;

      @media all and (max-width: 550px) {
        width: 100%;
        object-fit: cover;
        -o-object-fit: cover;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      @include media-breakpoint-up(lg) {
        height: 670px;
      }

      @include media-breakpoint-up(xl) {
        height: inherit;
      }

      @media all and (min-width: $xxl-up) {
        top: -30%;
      }
    }
    .pattern-bg {
      height: 470px;
      @include media-breakpoint-up(sm) {
        height: 445px;
      }
      @include media-breakpoint-up(lg) {
        height: 490px;
      }
      @extend .o-blue-gradient-80;
      @include media-breakpoint-up(xl) {
        height: 257px;
      }
    }
  }
}

/*
flip card
*/
.card-flip {
  position: relative;
  h5 {
    padding: 0 5px;
    @media all and (min-width: 991px) and (max-width: 1280px){
      font-size: 0.8rem;
    }
  }
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  transform: rotateY(0deg);
  position: relative;
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  background-color: $dark-blue;
  color: $white;
  p {
    @media all and (min-width: 991px) and (max-width: 1280px){
      font-size: 0.75rem;
    }
  }
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}