.finances {
  .main-hero {
    min-height: 540px;
    @include media-breakpoint-up(md){
      min-height: 570px;
    }
    @include media-breakpoint-up(xl){
      min-height: 635px;
      padding-bottom: 10rem;
  }

    background-image: url('/img/penzugy/hero/hero_szerk.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* only iPhone 5/5S */
  @media screen and (device-aspect-ratio: 40/71) {
    .main-hero {
      min-height: 570px;
    }
  }

  /* only iPhone 4/4S */
  @media only screen and (min-device-width: 320px) and (max-device-width:
          480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3)
  {
    .main-hero {
      min-height: 570px;
    }
  }
}