<nav class="navbar o-bottom-nav fixed-bottom d-lg-none">
    <ul class="list-unstyled mx-auto bg-white o-rounded-35 py-3 px-5  py-lg-4 px-lg-2 justify-content-between o-box-shadow-darker">
        <li>
            <a href="/profil-adatok#profileDetailsContent"><img src="../../../img/svg/fiokom.svg" alt="Fiókom" title="Fiókom"></a>
        </li>
        <li>
            <a href="/profil-adatok#realEstateSale"><img src="../../../img/svg/ingatlan.svg" alt="Eladó Ingatlanjaim" title="Eladó Ingatlanjaim"></a>
        </li>
        <li>
            <a href="/profil-adatok#favRealEstate"><img src="../../../img/svg/kedvenc.svg" alt="Kedvenc Ingatlanjaim" title="Kedvenc Ingatlanjaim"></a>
        </li>
        <li>
            <a href="/profil-adatok#notifications"><img src="../../../img/svg/ertesites.svg" alt="Értesítések" title="Értesítések"></a>
        </li>
    </ul>
</nav>