<div class="d-block d-lg-none">
    <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y">
    <h2 class="o-bubble-title text-white mb-0 o-blue-primary-bg">Kedvező kamatozású hitelt szeretne?</h2>
</div>
</div>
<div class="d-none d-lg-block">
    <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y">
        <h2 class="o-bubble-title mb-0 base-red-bg">Kedvező kamatozású hitelt szeretne?</h2>
    </div>
</div>
