<nav class="o-page-pagination" aria-label="Page navigation">
    <ul class="pagination justify-content-center justify-content-md-end">
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Előző">
                <span aria-hidden="true"><img class="pagi-prev" width="20" src="../../../img/svg/nyil.svg" alt="Előző"></span>
                <span class="sr-only">Előző</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link active" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Következő">
                <span aria-hidden="true"><img class="pagi-next" width="20" src="../../../img/svg/nyil.svg" alt="Következő"></span>
                <span class="sr-only">Következő</span>
            </a>
        </li>
    </ul>
</nav>