<section class="position-relative pb-3 pb-md-5 mb-3 mb-md-5 o-blue-opacity-bg">
    <div class="container pb-md-3 pt-md-5">
        <div class="row pt-md-3">
            <div class="col-12 pt-md-3">
                <h3 class="text-white text-center">Történetünk</h3>
                <h4 class="text-white text-center">Az Openhouse cégcsoport elsősorban az Ingatlan - és Pénzügyi Közvetítő Hálózatával vált országosan ismertté. Több tucat ingatlanirodával és közel 250 fős értékesítői gárdával évek óta a piacvezető ingatlanhálózatok között található országos szinten. </h4>
                <h4 class="text-white text-center">Az Openhouse márkanév alatt az ingatlanközvetítés mellett az ingatlanvásárláshoz szorosan kapcsolódó finanszírozásban is segítséget nyújtunk ügyfeleinknek.</h4>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid position-relative pb-3 pb-md-5 o-gray-bg">
    <div class="container pb-md-3 pt-md-5">
        <div class="row pt-md-3">
            <div class="col-12">
                <div class="p-3 p-md-5 bg-white o-box-shadow-darker o-rounded-15">
                    <h4 class="o-noto-bold o-base-blue mb-0">Az Openhouse márka megalakulása</h4>
                    <hr class="o-border-top-gray-2">
                    <p>Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed sodales arcu nunc id nibh. Maecenas scelerisque, mauris vel vehicula vulputate, ligula nisi efficitur lorem, quis vestibulum urna nisi eu odio. Pellentesque euismod porttitor posuere. Vestibulum libero lorem, sagittis at malesuada vitae, hendrerit nec nulla. Donec aliquet ut tortor vel varius.</p>
                    <p>Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui, a vulputate lacus blandit nec. Morbi posuere mi a turpis tempor vulputate. Morbi dapibus volutpat mauris ut tincidunt. Sed accumsan vestibulum eros at imperdiet. Aliquam eros ligula, fermentum ornare varius at, aliquet id magna.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid position-relative pb-3 pb-md-5 o-gray-bg">
    <div class="container">
        <div class="row pt-md-3">
            <div class="col-12">
                <div class="row p-3 p-md-5 o-box-shadow-darker bg-white o-rounded-15">
                    <div class="col-12 col-lg-6">
                        <h4 class="o-noto-bold o-base-blue mb-0">Az Openhopuse értékei</h4>
                        <hr class="o-border-top-gray-2">
                        <p>Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui, a vulputate lacus blandit nec. Morbi posuere mi a turpis tempor vulputate. Morbi dapibus volutpat mauris ut tincidunt. Sed accumsan vestibulum eros at imperdiet. Aliquam eros ligula, fermentum ornare varius at, aliquet id magna.</p>
                        <h4 class="o-noto-bold o-base-blue mb-0 mt-5">Célkitűzéseink</h4>
                        <hr class="o-border-top-gray-2">
                        <div class="row mb-3">
                            <div class="col-12 col-md-6">
                                <ul class="list-unstyled">
                                    <li class="d-flex align-items-center"><img width="50" src="../../img/svg/plus_ikon.svg" alt="" class="mr-2"><h5 class="d-flex align-items-center mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6">
                                <ul class="list-unstyled">
                                    <li class="d-flex align-items-center"><img width="50" src="../../img/svg/plus_ikon.svg" alt="" class="mr-2"><h5 class="d-flex align-items-center mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <picture>
                            <img class="img-fluid o-border-red-deco" src="../../img/aloldalak/franchise/tamogatas/tamogatas.png" alt="Társadalmi felelősségvállalás">
                        </picture>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <p>Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui, a vulputate lacus blandit nec. Morbi posuere mi a turpis tempor vulputate. Morbi dapibus volutpat mauris ut tincidunt. Sed accumsan vestibulum eros at imperdiet. Aliquam eros ligula, fermentum ornare varius at, aliquet id magna.</p>
                            <p>Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. Fusce eu quam ac purus malesuada auctor. Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. Vivamus maximus malesuada dignissim. In vitae vulputate odio. Mauris vestibulum magna dui, a vulputate lacus blandit nec. Morbi posuere mi a turpis tempor vulputate. Morbi dapibus volutpat mauris ut tincidunt. Sed accumsan vestibulum eros at imperdiet. Aliquam eros ligula, fermentum ornare varius at, aliquet id magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>