<!--<div id="spinner">-->
    <!--<img class="loading-image" src="../../../img/gif/loader.gif" alt="Oldal betöltése folyamatban" />-->
    <!--<img class="loading-image loading-logo" src="../../../img/nav/logo-mobil.svg" alt="Logó" />-->
<!--</div>-->
