<div class="row">
    <div class="col-12 col-md-6 d-contents">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="row">Szoba</th>
                <td>12.00 m<sup>2</sup></td>
                <td>Laminált padló</td>
            </tr>
            <tr>
                <th scope="row">Nappali</th>
                <td>18.00 m<sup>2</sup></td>
                <td>Laminált padló</td>
            </tr>
            <tr>
                <th scope="row">Konyha</th>
                <td>7.00 m<sup>2</sup></td>
                <td>Járólap</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-6 d-contents">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th scope="row">Fürdőszoba</th>
                <td>7.00 m<sup>2</sup></td>
                <td>Járólap</td>
            </tr>
            <tr>
                <th scope="row">Előszoba</th>
                <td>2.00 m<sup>2</sup></td>
                <td>Laminált padló</td>
            </tr>
            <tr>
                <th scope="row">Garázs</th>
                <td>20.00 m<sup>2</sup></td>
                <td>Beton</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


