<div class="d-none d-xl-block">
    <div class="row">
        <div class="col-6 first-col">
            <div class="o-border-red-deco card-wrapper">
                <div class="o-card card o-rounded-top-right-0">
                    <div class="card-body">
                        <div class="card-content">
                            <h5 class="o-card-second-title card-title o-noto-bold">Több, mint 90%-os siker</h5>
                            <p class="card-title">Sikeres üzleti modellünk, az ismert márkanév és a csapat ereje Téged is megerősít.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-border-red-deco mt-5 card-wrapper">
                <div class="o-card card o-rounded-top-right-0">
                    <div class="card-body">
                        <div class="card-content">
                            <h5 class="o-card-second-title card-title o-noto-bold">Gyors megtérülés (2 – 4 év)</h5>
                            <p class="card-title">Az ingatlanok értékesítése a hitel-és biztosításközvetítéssel párosítva stabilitást és kiegyensúlyozott bevételi lehetőséget biztosít.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 second-col">
            <div class="o-border-red-deco card-wrapper">
                <div class="o-card card o-rounded-top-right-0">
                    <div class="card-body">
                        <div class="card-content">
                            <h5 class="o-card-second-title card-title o-noto-bold">Szakmai háttér-támogatás</h5>
                            <p class="card-title">Értékesítési technológiák, az ügyfélkezelés és a marketing gyakorlatában élen járunk.
                                Mind az értékesítőket, mind a partnereket folyamatosan mentoráljuk és képezzük.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-12 mt-3">-->
            <!--<small>*sikerességi ráta: a 2013-től 2017 végéig indított irodákmekkora hányada működik még 2020. december 31-én is (legalább egy éves nyitva tartás után).</small>-->
        <!--</div>-->
    </div>
</div>


<div class="d-block d-xl-none">
    <div class="o-carousel franchise-card-carousel">
        <div>
            <div class="o-border-red-deco card-wrapper mt-3 mb-3">
                <div class="o-card card o-rounded-top-right-0">
                    <div class="card-body">
                        <div class="card-content">
                            <h5 class="o-card-second-title card-title o-noto-bold">Több, mint 90%-os siker</h5>
                            <p class="card-title">Sikeres üzleti modellünk, az ismert márkanév és a csapat ereje Téged is megerősít.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="o-border-red-deco mt-3 mb-3 card-wrapper">
                <div class="o-card card o-rounded-top-right-0">
                    <div class="card-body">
                        <div class="card-content">
                            <h5 class="o-card-second-title card-title o-noto-bold">Gyors megtérülés (2 – 4 év)</h5>
                            <p class="card-title">Az ingatlanok értékesítése a hitel-és biztosításközvetítéssel párosítva stabilitást és kiegyensúlyozott bevételi lehetőséget biztosít.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="o-border-red-deco card-wrapper mt-3 mb-3">
                <div class="o-card card o-rounded-top-right-0">
                    <div class="card-body">
                        <div class="card-content">
                            <h5 class="o-card-second-title card-title o-noto-bold">Szakmai háttér-támogatás</h5>
                            <p class="card-title">Értékesítési technológiák, az ügyfélkezelés és a marketing gyakorlatában élen járunk.
                                Mind az értékesítőket, mind a partnereket folyamatosan mentoráljuk és képezzük.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row mt-3">-->
        <!--<div class="col-12">-->
            <!--<small>*sikerességi ráta: a 2013-től 2017 végéig indított irodákmekkora hányada működik még 2020. december 31-én is (legalább egy éves nyitva tartás után).</small>-->
        <!--</div>-->
    <!--</div>-->
</div>