<section class="position-relative mt-5">
    <div class="">
        <div class="o-carousel row">
            <div class="col-12 col-lg-6">
                <div class="card o-card o-box-shadow-darker">
                    <div class="label-holder">
                        <a class="text-decoration-none flag-label o-intense-red-bg " href="#!">Kiemelt</a>
                        <a class="text-decoration-none flag-label o-blue-secondary-bg" href="#!">Videós</a>
                        <a class="text-decoration-none flag-label o-blue-opacity-bg" href="#!">Panorámakép</a>
                        <a class="text-decoration-none flag-label o-lighter-red-bg-opacity" href="#!">5%-os ÁFA</a>
                    </div>
                    <div class="o-card-header">
                        <a class="stretched-link o-img-dot-slider" href="#!">
                            <img src="../../../img/ajanlatok/ajanlat_2.jpg" alt="Ajánlatok" >
                            <img src="../../../img/ajanlatok/ajanlat_1.jpg" alt="Ajánlatok" class="d-none">
                            <img src="../../../img/ajanlatok/ajanlat_3.jpg" alt="Ajánlatok" class="d-none">
                            <img src="../../../img/ajanlatok/ajanlat_1.jpg" alt="Ajánlatok" class="d-none">
                            <img src="../../../img/ajanlatok/ajanlat_2.jpg" alt="Ajánlatok" class="d-none">
                        </a>
                        <div class="o-card-img-overlay"></div>
                        <div class="img-bottom-overlay">
                            <span class="text-white h5 o-price-label o-noto-bold">25 000 000 Ft</span>
                            <div class="o-slider-dots">
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-0">
                        <div class="card-content">
                            <div class="row justify-content-between">
                                <div class="col">
                                    <a class="text-decoration-none" href="#!"><h5 class="o-card-title card-title">Társasházi lakás</h5></a>
                                    <a class="text-decoration-none" href="#!"><div class="o-card-second-title card-title h5">Budapest</div></a>
                                </div>
                                <div class="col">
                                    <a href="#!"><span class="o-blue-primary-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-right">Eladó</span></a>
                                </div>
                            </div>

                            <div class="row o-icon-row o-border-top-gray-2 o-border-bottom-gray-2">
                                <div class="col o-border-right-gray-2 px-1 px-lg-3 py-2 py-lg-3">
                                    <div class="row align-items-center">
                                        <div class="col pr-0"><img src="../../../img/svg/nm.svg" alt="icon"></div>
                                        <div class="col o-base-blue o-noto-bold h5">2</div>
                                    </div>
                                </div>
                                <div class="col o-border-right-gray-2 px-1 px-lg-3 py-2 py-lg-3">
                                    <div class="row align-items-center">
                                        <div class="col pr-0"><img src="../../../img/svg/szoba.svg" alt="icon"></div>
                                        <div class="col o-base-blue o-noto-bold h5">1</div>
                                    </div>
                                </div>
                                <div class="col px-1 px-lg-3 py-2 py-lg-3">
                                    <div class="row align-items-center">
                                        <div class="col pr-0"><img src="../../../img/svg/garazs.svg" alt="icon"></div>
                                        <div class="col o-base-blue font-weight-bold h5">46</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                        <div class="col-6">
                            <p class="o-intense-red o-noto-bold mb-0">#145820</p>
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-end align-items-center">
                                <div onclick="changeSvg(event, this)" class="p-2 fav-icon cursor-pointer">
                                    <?xml version="1.0" encoding="utf-8"?>
                                    <svg title="Kedvelés" width="25" alt="Kedvenc" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                                    <path class="layer_2" fill="#B2B2B2" d="M22.2,4.5c-2.5,0-4.9,1.3-5.9,3.4c-1.1-2.1-3.4-3.4-5.9-3.4c-4,0-9.3,3.2-6.9,12C6.3,25,16.3,30.1,16.3,30.1
                                        c0,0,10-5,12.8-13.6C31.6,7.7,26.2,4.5,22.2,4.5z"/>
                                    </svg>
                                </div>
                                <a class="p-2" href="#!"><img width="25" src="../../../img/svg/lista.svg" title="Összehasonlítás" alt="Lista"></a>
                                <a class="p-2" href="#!"><img width="20" src="../../../img/svg/share.svg" title="Megosztás" alt="Megosztás"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card o-card o-box-shadow-darker">
                    <div class="label-holder">
                        <a class="text-decoration-none flag-label o-intense-red-bg " href="#!">Kiemelt</a>
                        <a class="text-decoration-none flag-label o-blue-opacity-bg" href="#!">Panorámakép</a>
                    </div>
                    <div class="o-card-header">
                        <a class="stretched-link o-img-dot-slider" href="#!">
                            <img src="../../../img/ajanlatok/ajanlat_2.jpg" alt="Ajánlatok" >
                            <img src="../../../img/ajanlatok/ajanlat_1.jpg" alt="Ajánlatok" class="d-none">
                            <img src="../../../img/ajanlatok/ajanlat_3.jpg" alt="Ajánlatok" class="d-none">
                            <img src="../../../img/ajanlatok/ajanlat_1.jpg" alt="Ajánlatok" class="d-none">
                            <img src="../../../img/ajanlatok/ajanlat_2.jpg" alt="Ajánlatok" class="d-none">
                        </a>
                        <div class="o-card-img-overlay"></div>
                        <div class="img-bottom-overlay">
                            <span class="text-white h5 o-price-label o-noto-bold">25 000 000 Ft</span>
                            <div class="o-slider-dots">
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-0">
                        <div class="card-content">
                            <div class="row justify-content-between">
                                <div class="col">
                                    <a class="text-decoration-none" href="#!"><h5 class="o-card-title card-title">Társasházi lakás</h5></a>
                                    <a class="text-decoration-none" href="#!"><div class="o-card-second-title card-title h5">Budapest</div></a>
                                </div>
                                <div class="col">
                                    <a href="#!"><span class="o-blue-primary-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-right">Eladó</span></a>
                                </div>
                            </div>

                            <div class="row o-icon-row o-border-top-gray-2 o-border-bottom-gray-2">
                                <div class="col o-border-right-gray-2 px-1 px-lg-3 py-2 py-lg-3">
                                    <div class="row align-items-center">
                                        <div class="col pr-0"><img src="../../../img/svg/nm.svg" alt="icon"></div>
                                        <div class="col o-base-blue o-noto-bold h5">2</div>
                                    </div>
                                </div>
                                <div class="col o-border-right-gray-2 px-1 px-lg-3 py-2 py-lg-3">
                                    <div class="row align-items-center">
                                        <div class="col pr-0"><img src="../../../img/svg/szoba.svg" alt="icon"></div>
                                        <div class="col o-base-blue o-noto-bold h5">1</div>
                                    </div>
                                </div>
                                <div class="col px-1 px-lg-3 py-2 py-lg-3">
                                    <div class="row align-items-center">
                                        <div class="col pr-0"><img src="../../../img/svg/garazs.svg" alt="icon"></div>
                                        <div class="col o-base-blue font-weight-bold h5">46</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                        <div class="col-6">
                            <p class="o-intense-red o-noto-bold mb-0">#145820</p>
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-end align-items-center">
                                <div onclick="changeSvg(event, this)" class="p-2 fav-icon cursor-pointer">
                                    <?xml version="1.0" encoding="utf-8"?>
                                    <svg title="Kedvelés" width="25" alt="Kedvenc" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                                    <path class="layer_2" fill="#B2B2B2" d="M22.2,4.5c-2.5,0-4.9,1.3-5.9,3.4c-1.1-2.1-3.4-3.4-5.9-3.4c-4,0-9.3,3.2-6.9,12C6.3,25,16.3,30.1,16.3,30.1
                                        c0,0,10-5,12.8-13.6C31.6,7.7,26.2,4.5,22.2,4.5z"/>
                                    </svg>
                                </div>
                                <a class="p-2" href="#!"><img width="25" src="../../../img/svg/lista.svg" title="Összehasonlítás" alt="Lista"></a>
                                <a class="p-2" href="#!"><img width="20" src="../../../img/svg/share.svg" title="Megosztás" alt="Megosztás"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-12 ml-lg-5 col-lg-6 d-flex justify-content-center justify-content-lg-end">
                <a href="#!" class=" o-base-blue text-decoration-none text-center">1 oldal / 8 </a>
            </div>
            <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-end">
                <a href="#!" class="o-base-blue text-decoration-none">Következő oldal  <i class="fas fa-chevron-right ml-2"></i></a>
            </div>
        </div>
    </div>
</section>