<section class="card o-card credit-card img-card o-rounded-15 p-3 col-12 mb-5">
    <div class="drop-shadow-01"></div>
    <div class="row p-1 p-lg-3 p-xl-4">
        <div class="col-12 col-lg-9 pb-2 pb-md-0">
            <h3 class="o-noto-bold o-intense-red mb-4 mt-3">Miben vagyunk jobbak, mint a bankfiókod?</h3>
            <div class="statement d-block o-rounded-15 px-2 px-lg-5 py-2 o-noto-bold">
                <ul class="list-unstyled o-gray-200 o-noto-bold py-2">
                    <li class="d-flex align-items-center pb-2"><img width="15" class="mr-2" src="../../../../img/svg/plusz.svg" alt="Tipp"><span> ingyenes szolgáltatást, gyors ügyintézést biztosítunk</span></li>
                    <li class="d-flex align-items-center pb-2"><img width="15" class="mr-2" src="../../../../img/svg/plusz.svg" alt="Tipp"><span> független szakértői csapat áll rendelkezésedre</span></li>
                    <li class="d-flex align-items-center pb-2"><img width="15" class="mr-2" src="../../../../img/svg/plusz.svg" alt="Tipp"><span> megoldást kínálunk a legbonyolultabb esetben is</span></li>
                    <li class="d-flex align-items-center pb-2"><img width="15" class="mr-2" src="../../../../img/svg/plusz.svg" alt="Tipp"><span> 24 órán belül megtudhatod mekkora összegű hitelt kaphatsz</span></li>
                    <li class="d-flex align-items-center pb-2"><img width="15" class="mr-2" src="../../../../img/svg/plusz.svg" alt="Tipp"><span> nálunk elkerülheted a felesleges sorbanállást</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="card o-card bg-white o-rounded-15 p-3 col-12">
    <div class="p-1 p-lg-3 p-xl-4">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Kérjen ingyenes tanácsadást szakértőnktől!</h5>
                    <span class="o-smaller o-base-blue">* Kötelezően kitöltendő mezők</span>
                </div>
            </div>
        </div>
        <hr>
        <form action="" id="creditForm">
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="crName">Név *</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="crName" placeholder="Név *" required>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="crTel">Telefon *</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="crTel" placeholder="Telefon *" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="crMail">E-mail *</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="crMail" placeholder="E-mail *" required>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="crAddress">Település</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="crAddress" placeholder="Település *">
                    </div>
                </div>
            </div>
            <div class="row mt-1 justify-content-between align-items-center">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="crSelect">Ház / Lakásvásárlás</label>
                    <select name="crSelect" id="crSelect"  class="form-control o-rounded-15">
                        <option value=""></option>
                        <option value="1">Lakásvásárlás</option>
                        <option value="2">Házvásárlás</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3 justify-content-between align-items-center">
                <div class="col-12 mb-3 mb-xl-0">
                    <label class="sr-only" for="crMessage">Üzenet</label>
                    <div class="input-group mb-3">
                        <textarea class="o-rounded-15 w-100 o-box-shadow-base form-control resize-none py-3 reset" name="crMessage" rows="6" id="crMessage" placeholder="Üzenet"></textarea>
                    </div>
                </div>
                <div class="col-12 mb-3 mb-xl-0">
                    <div class="d-flex px-3 align-items-center text-decoration-none justify-content-start">
                        <input class="mr-2 checkbox-base" type="checkbox" id="crCheckBox">
                        <label class="mb-0 o-line-height-1" for="crCheckBox"><span class="o-small o-base-blue">Az <a class="o-base-blue o-underline-text" href="">Adatvédelmi nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</span></label>
                    </div>
                </div>
            </div>
            <div class="row mt-3 justify-content-between align-items-center">
                <div class="col-lg-4">
                    <button type="button" class="o-primary-btn o-btn-group o-btn-send mt-3" role="button">
                    <span>Visszahívást kérek</span>
                </button>
                </div>
            </div>
        </form>
    </div>
</section>