<section class="card o-card bg-white o-rounded-15 p-3 col-12">
    <div class="p-1 p-lg-3 p-xl-4">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Üzenetek</h5>
                    <div class="d-flex">
                        <a href="#" class="text-decoration-none px-2 mr-1" title="Beállitások">
                            <img width="20" src="../../../../img/svg/settings.svg" alt="Beállitások">
                        </a>
                        <a href="#" class="text-decoration-none px-2" title="Új üzenet">
                            <img width="20" src="../../../../img/svg/write.svg" alt="Új üzenet">
                        </a>
                    </div>
                </div>
                <hr class="o-border-top-gray-2 mt-1 mb-1">
            </div>
        </div>
        <div class="card o-card bg-white o-rounded-15 col-12 mt-3 mb-3 o-box-shadow-darker">
            <div class="row">
                <div class="col-12 col-lg-4 o-border-right-gray-2 p-3 messages-sidebar">
                    <div class="input-group bg-white o-box-shadow-darker o-rounded-15 mb-2 lg-mb-4">
                        <input class="form-control border-0 o-h-70 p-3 o-rounded-15" type="text" name="searchMessages" id="searchMessages" placeholder="keresés az üzenetek között">
                        <span class="input-group-append">
                            <button class="btn border-0 o-rounded-15-right-15" type="button">
                                <img width="20" src="../../../../img/svg/kereses.svg" alt="Keresés">
                            </button>
                        </span>
                    </div>
                    <figure class="d-flex align-items-center px-3 py-2 mb-4 user-details-box active position-relative">
                        <a href="#" class="stretched-link"><img width="65" class="rounded-circle img-fluid" src="../../../../img/üzenetek/user_normal.png" alt="Felhasználó fotó"></a>
                        <div class="ml-2">
                            <span class="o-small d-block o-base-blue">Felhasználó neve</span>
                            <span class="o-small d-block o-base-blue">jún. 1.</span>
                        </div>
                    </figure>
                    <figure class="d-flex align-items-center mb-4 user-details-box px-3 py-2 position-relative">
                        <a href="#" class="stretched-link"><img width="65" class="rounded-circle img-fluid" src="../../../../img/üzenetek/user_normal.png" alt="Felhasználó fotó"></a>
                        <div class="ml-2">
                            <span class="o-small d-block o-base-blue">Felhasználó neve</span>
                            <span class="o-small d-block o-base-blue">máj. 3.</span>
                        </div>
                    </figure>
                </div>
                <div class="col-12 col-lg-8 p-0" id="messagesViewCol">
                    <div class="d-flex justify-content-between align-items-center o-border-bottom-gray-2 px-3 pt-3">
                        <aside class="d-flex align-items-center">
                            <figure><a href="/profil-adatok#messages"><img width="65" class="rounded-circle img-fluid" src="../../../../img/üzenetek/user_small.png" alt="Felhasználó fotó"></a></figure>
                            <div class="ml-2">
                                <span class="o-small d-block o-base-blue">Felhasználó neve</span>
                                <a class="o-base-blue" href=""><span class="o-small d-block">Budapest, 13. ker. - Társasházi lakás&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25.000.000 Ft</span></a>
                            </div>
                        </aside>
                        <div class="d-flex align-items-center">
                            <a href="#" class="text-decoration-none px-2" title="Törlés">
                                <img width="22" src="../../../../img/svg/trash.svg" alt="Törlés">
                            </a>
                            <div class="text-decoration-none px-2 cursor-pointer" title="Keresés az üzenetek között">
                                <div class="messages-menu" id="actionMenuBtn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative">
                        <div class="px-3 pt-3 messages-view">
                            <div class="media media-meta-day">jun. 1.</div>
                            <div class="row px-3 py-3 py-md-5 mt-5">
                                <div class="col-12 col-md-9 bg-white mb-3 o-rounded-15">
                                    <p class="mb-0 o-base-black o-small p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed placerat felis. Ut pretium sed dui vitae aliquam. </p>
                                </div>
                                <div class="col-12 col-md-9 offset-md-3 o-blue-primary-bg mb-3 o-rounded-15">
                                    <p class="mb-0 text-white o-small p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed placerat felis. Ut pretium sed dui vitae aliquam. </p>
                                </div>
                            </div>
                            <div class="media media-meta-day">jun. 2.</div>
                            <div class="row px-3 py-3 py-md-5 mt-3">
                                <div class="col-12 col-md-9 offset-md-3 o-blue-primary-bg mb-3 o-rounded-15">
                                    <p class="mb-0 text-white o-small p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed placerat felis. Ut pretium sed dui vitae aliquam. </p>
                                    <span class="msg-time-send">Látta</span>
                                </div>
                            </div>
                        </div>
                        <div class="row send-message-row">
                            <div class="col-12">
                                <div class="input-group bg-white o-box-shadow-darker o-rounded-15 mb-2 lg-mb-4">
                                    <input class="form-control border-0 o-h-70 p-3 o-rounded-15" type="text"
                                           name="sendMessages" id="sendMessages" placeholder="Írd ide az üzenetet">
                                    <span class="input-group-append">
                            <button class="btn border-0 o-rounded-15-right-15 o-gray-bg" type="button">
                                <img width="30" src="../../../../img/svg/kuldes.svg" alt="Küldés">
                            </button>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>