<section class="card o-card bg-white o-rounded-15 p-3 col-12">
    <div class="newsletter-card">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <h5 class="o-noto-bold o-base-blue mb-0">Feliratkozás</h5>
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                <a href="" class="o-blue-primary-btn d-flex o-rounded-15 px-3 py-2 align-items-center text-decoration-none justify-content-start">
                    <input class="mr-2 checkbox-base" type="checkbox" id="buyerContent2">
                    <label class="mb-0" for="buyerContent2">Vásárlói tartalmak érdekelnek</label>
                </a>
            </div>
            <div class="col-12 col-lg-6">
                <a href="" class="o-blue-primary-btn d-flex o-rounded-15 px-3 py-2 align-items-center text-decoration-none justify-content-start">
                    <input class="mr-2 checkbox-base" type="checkbox" id="sellerContent">
                    <label class="mb-0" for="sellerContent">Eladói tartalmak érdekelnek</label>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <a href="" class="o-blue-primary-btn d-flex o-rounded-15 px-3 py-2 align-items-center text-decoration-none justify-content-start">
                    <input class="mr-2 checkbox-base" type="checkbox" id="tenantContent">
                    <label class="mb-0" for="tenantContent">Bérlői tartalmak érdekelnek</label>
                </a>
            </div>
            <div class="col-12 col-lg-6">
                <a href="" class="o-blue-primary-btn d-flex o-rounded-15 px-3 py-2 align-items-center text-decoration-none justify-content-start">
                    <input class="mr-2 checkbox-base" type="checkbox" id="forHireContent">
                    <label class="mb-0" for="forHireContent">Bérbeadói tartalmak érdekelnek</label>
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <a href="" class="o-blue-primary-btn d-flex o-rounded-15 px-3 py-2 align-items-center text-decoration-none justify-content-start">
                    <input class="mr-2 checkbox-base" type="checkbox" id="financialContent">
                    <label class="mb-0" for="financialContent">Pénzügyi tartalmak érdekelnek</label>
                </a>
            </div>
        </div>
        <div class="row mb-5 mt-5">
            <div class="col-12 col-lg-4">
                <button type="button" class="o-primary-btn o-btn-group o-btn-write" role="button">
                    <span>Mentés</span>
                </button>
            </div>
        </div>
    </div>
</section>
<div class="card o-card bg-white o-rounded-15 p-3 col-12 mt-5">
    <div class="news-intro">
        <div class="row align-items-center mb-3">
            <div class="col-12 col-md-6">
                <h5 class="o-noto-bold o-base-blue mb-0">Aktuális híreink</h5>
            </div>
            <div class="col d-flex justify-content-end">
                <a href="#!" class="o-base-blue text-decoration-none d-none o-noto-bold d-lg-block desktop-link right-0">Összes cikk megtekintése <i class="fas fa-chevron-right ml-2"></i></a>
            </div>
        </div>
        <hr>
        {{> related_news_slider}}
    </div>
</div>