<section class="card o-card bg-white o-rounded-15 p-3 col-12 notification-section">
    <div class="p-1 p-lg-3 p-xl-4">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <h5 class="o-noto-bold o-base-blue mb-0">Értesítések beállításai</h5>
            </div>
        </div>
        <hr class="o-border-top-gray-2 mt-1 mb-1">
        <div class="row">
            <div class="col-12">
                <h6 class="o-base-blue o-noto-bold my-3">Az alábbi változásokról kap értesítéseket:</h6>
                <div class="card o-card px-2 py-3 px-lg-5 mb-3">
                    <p class="o-gray-200 o-noto-bold mb-0">Mentett kereséseimmel kapcsolatos változások</p>
                    <div class="d-flex align-items-center">
                        <div class="toggle-wrapper">
                            <div class="toggle simple-switch">
                                <input id="switch" class="custom-switch" type="checkbox"/>
                                <label class="toggle-item" for="switch"></label>
                            </div>
                        </div>
                        <label for="switch" class="o-small o-base-blue cursor-pointer">E-mailben is szeretnék értesítést kérni.</label>
                    </div>
                </div>
                <div class="card o-card px-2 py-3 px-lg-5 mb-3">
                    <p class="o-gray-200 o-noto-bold mb-0">Kedvenc ingatlanjaimmal kapcsolatos változások</p>
                    <div class="d-flex align-items-center">
                        <div class="toggle-wrapper">
                            <div class="toggle simple-switch">
                                <input id="switch1" class="custom-switch" type="checkbox"/>
                                <label class="toggle-item" for="switch1"></label>
                            </div>
                        </div>
                        <label for="switch1" class="o-small o-base-blue cursor-pointer">E-mailben is szeretnék értesítést kérni.</label>
                    </div>
                </div>
                <div class="card o-card px-2 py-3 px-lg-5 mb-3">
                    <p class="o-gray-200 o-noto-bold mb-0">Árcsökkentett ingatlanokkal kapcsolatos változások</p>
                    <div class="d-flex align-items-center">
                        <div class="toggle-wrapper">
                            <div class="toggle simple-switch">
                                <input id="switch2" class="custom-switch" type="checkbox"/>
                                <label class="toggle-item" for="switch2"></label>
                            </div>
                        </div>
                        <label for="switch2" class="o-small o-base-blue cursor-pointer">E-mailben is szeretnék értesítést kérni.</label>
                    </div>
                </div>
                <div class="card o-card px-2 py-3 px-lg-5 mb-3">
                    <p class="o-gray-200 o-noto-bold mb-0">Eladó ingatlanjaimmal kapcsolatos változások</p>
                    <div class="d-flex align-items-center">
                        <div class="toggle-wrapper">
                            <div class="toggle simple-switch">
                                <input id="switch3" class="custom-switch" type="checkbox"/>
                                <label class="toggle-item" for="switch3"></label>
                            </div>
                        </div>
                        <label for="switch3" class="o-small o-base-blue cursor-pointer">E-mailben is szeretnék értesítést kérni.</label>
                    </div>
                </div>
                <div class="card o-card px-2 py-3 px-lg-5 mb-3">
                    <p class="o-gray-200 o-noto-bold mb-0">Új tippekkel kapcsolatos változások</p>
                    <div class="d-flex align-items-center">
                        <div class="toggle-wrapper">
                            <div class="toggle simple-switch">
                                <input id="switch4" class="custom-switch" type="checkbox"/>
                                <label class="toggle-item" for="switch4"></label>
                            </div>
                        </div>
                        <label for="switch4" class="o-small o-base-blue cursor-pointer">E-mailben is szeretnék értesítést kérni.</label>
                    </div>
                </div>
                <div class="card o-card px-2 py-3 px-lg-5 mb-3">
                    <p class="o-gray-200 o-noto-bold mb-0">Új üzenet esetén</p>
                    <div class="d-flex align-items-center">
                        <div class="toggle-wrapper">
                            <div class="toggle simple-switch">
                                <input id="switch5" class="custom-switch" type="checkbox"/>
                                <label class="toggle-item" for="switch5"></label>
                            </div>
                        </div>
                        <label for="switch5" class="o-small o-base-blue cursor-pointer">E-mailben is szeretnék értesítést kérni.</label>
                    </div>
                </div>
                <div class="card o-card px-2 py-3  px-lg-5 mb-3">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-12 col-lg-7">
                            <p class="o-gray-200 o-noto-bold mb-0">Milyen gyakorisággal szeretne e-mailben értesítést kapni?</p>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label class="sr-only" for="emailNotify">Azonnal</label>
                            <select name="emailNotify" id="emailNotify"  class="form-control o-rounded-15">
                                <option value=""></option>
                                <option value="1">Később</option>
                                <option value="2">Soha</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>