<div class="card o-card bg-white o-rounded-15 p-3">
    <div class="list-header">
        <div class="row">
            <div class="col-6 d-flex align-items-end">
                <h5 class="o-noto-bold o-base-blue mb-0">Mentett keresés 1</h5>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button id="grid"
                        class="o-rounded-15 o-bg-transparent active p-2 mr-2 btn d-flex justify-content-center align-items-center">
                    <img width="25" src="../../../../img/svg/list2.svg" alt=""></button>
                <button id="grid"
                        class="o-rounded-15 o-bg-transparent p-2 mr-2 btn d-flex justify-content-center align-items-center">
                    <img width="25" src="../../../../img/svg/lista.svg" alt=""></button>
                <button id="grid"
                        class="o-rounded-15 o-bg-transparent p-2 mr-2 btn d-flex justify-content-center align-items-center">
                    <img width="25" src="../../../../img/svg/map.svg" alt=""></button>
            </div>
        </div>
        <hr class="o-blue-border">
        <div class="row">
            <div class="col-6">
                <form action="" class="d-md-flex align-items-center justify-content-between">
                     <div class="o-rounded-15 base-red-bg text-white active px-3 py-2 d-flex justify-content-center align-items-center mb-2 mb-md-0">
                        4 találat
                    </div>
                    <div class="mb-2 mb-md-0">
                        <label class="sr-only" for="sorting">Rendezés: Ár szerint növekvő</label>
                        <select name="sorting" id="sorting" class="form-control o-rounded-15">
                            <option value="1">Rendezés: Ár szerint növekvő</option>
                            <option value="2">Rendezés: Ár szerint csökkenő</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <form action="" class="d-flex align-items-center justify-content-end">
                    <div class="mb-2 mb-md-0 w-50">
                        <label class="sr-only" for="result">10 találat/oldal</label>
                        <select name="result" id="result" class="form-control o-rounded-15">
                            <option value="1">10 találat/oldal</option>
                            <option value="2">50 találat/oldal</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row pt-5">
    <div class="col-12 col-lg-6">
        <div class="o-carousel">
            <div class="card o-card">
                <a class="text-decoration-none" href="#!">
                    <span class="base-red-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-righ o-sale-label">-5%</span></a>
                <span class="o-intense-red-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-righ o-red-label">Kiemelt</span></a>
                <div class="o-card-header">
                    <a class="stretched-link" href="#!"><img src="../../../../img/ajanlatok/ajanlat_1.jpg"></a>
                    <div class="o-card-img-overlay"></div>
                    <div class="img-bottom-overlay">
                        <span class="text-white h5 o-sale-price o-noto-bold del-text">25 000 000 Ft</span>
                        <span class="text-white h5 o-price-label o-noto-bold">25 000 000 Ft</span>
                        <div class="o-slider-dots">
                            <span></span>
                            <span></span>
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="card-body pb-0">
                    <div class="card-content">
                        <div class="row justify-content-between">
                            <div class="col">
                                <a class="text-decoration-none" href="#!"><h5 class="o-card-title card-title">Társasházi
                                    lakás</h5></a>
                                <a class="text-decoration-none" href="#!">
                                    <div class="o-card-second-title card-title h5">Budapest</div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#!"><span
                                        class="o-blue-primary-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-right">Eladó</span></a>
                            </div>
                        </div>

                        <div class="row o-icon-row border-top border-bottom">
                            <div class="col border-right px-1 px-lg-3 py-2 py-lg-3">
                                <div class="row align-items-center">
                                    <div class="col pr-0"><img src="../../../../img/ajanlatok/bed_icon.png" alt="icon">
                                    </div>
                                    <div class="col o-base-blue o-noto-bold h5">2</div>
                                </div>
                            </div>
                            <div class="col border-right px-1 px-lg-3 py-2 py-lg-3">
                                <div class="row align-items-center">
                                    <div class="col pr-0"><img src="../../../../img/ajanlatok/car_icon.png" alt="icon">
                                    </div>
                                    <div class="col o-base-blue o-noto-bold h5">1</div>
                                </div>
                            </div>
                            <div class="col px-1 px-lg-3 py-2 py-lg-3">
                                <div class="row  align-items-center">
                                    <div class="col pr-0"><img src="../../../../img/ajanlatok/m2_icon.png" alt="icon"></div>
                                    <div class="col o-base-blue font-weight-bold h5">46</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                    <div class="col-7 col-lg-8">
                        <p class="o-intense-red o-noto-bold mb-0">#145820</p>
                    </div>
                    <div class="col-5 col-lg-4">
                        <div class="d-flex justify-content-between">
                            <a class="p-2" href="#!"><i class="fas fa-heart o-intense-red"></i></a>
                            <a class="p-2" href="#!"><img width="25" src="../../../../img/svg/lista.svg" alt="Lista"></a>
                            <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg"
                                                          alt="Megosztás"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card o-card bg-white o-rounded-15 p-3 mt-5">
    <div class="list-header">
        <div class="row">
            <div class="col-6 d-flex align-items-end">
                <h5 class="o-noto-bold o-base-blue mb-0">Mentett keresés 2</h5>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button id="grid"
                        class="o-rounded-15 o-bg-transparent active p-2 mr-2 btn d-flex justify-content-center align-items-center">
                    <img width="25" src="../../../../img/svg/list2.svg" alt=""></button>
                <button id="grid"
                        class="o-rounded-15 o-bg-transparent p-2 mr-2 btn d-flex justify-content-center align-items-center">
                    <img width="25" src="../../../../img/svg/lista.svg" alt=""></button>
                <button id="grid"
                        class="o-rounded-15 o-bg-transparent p-2 mr-2 btn d-flex justify-content-center align-items-center">
                    <img width="25" src="../../../../img/svg/map.svg" alt=""></button>
            </div>
        </div>
        <hr class="o-blue-border">
        <div class="row">
            <div class="col-6">
                <form action="" class="d-md-flex align-items-center justify-content-between">
                    <div class="o-rounded-15 base-red-bg text-white active px-3 py-2 d-flex justify-content-center align-items-center mb-2 mb-md-0">
                        4 találat
                    </div>
                    <div class="mb-2 mb-md-0">
                        <label class="sr-only" for="sorting">Rendezés: Ár szerint növekvő</label>
                        <select name="sorting" id="sorting" class="form-control o-rounded-15">
                            <option value="1">Rendezés: Ár szerint növekvő</option>
                            <option value="2">Rendezés: Ár szerint csökkenő</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <form action="" class="d-flex align-items-center justify-content-end">
                    <div class="mb-2 mb-md-0 w-50">
                        <label class="sr-only" for="result">10 találat/oldal</label>
                        <select name="result" id="result" class="form-control o-rounded-15">
                            <option value="1">10 találat/oldal</option>
                            <option value="2">50 találat/oldal</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row pt-5">
    <div class="col-12 col-lg-6">
        <div class="o-carousel">
            <div class="card o-card">
                <a class="text-decoration-none" href="#!">
                    <span class="base-red-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-righ o-sale-label">-5%</span></a>
                <span class="o-intense-red-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-righ o-red-label">Kiemelt</span></a>
                <div class="o-card-header">
                    <a class="stretched-link" href="#!"><img src="../../../../img/ajanlatok/ajanlat_1.jpg"></a>
                    <div class="o-card-img-overlay"></div>
                    <div class="img-bottom-overlay">
                        <span class="text-white h5 o-sale-price o-noto-bold del-text">25 000 000 Ft</span>
                        <span class="text-white h5 o-price-label o-noto-bold">25 000 000 Ft</span>
                        <div class="o-slider-dots">
                            <span></span>
                            <span></span>
                            <span class="active"></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="card-body pb-0">
                    <div class="card-content">
                        <div class="row justify-content-between">
                            <div class="col">
                                <a class="text-decoration-none" href="#!"><h5 class="o-card-title card-title">Társasházi
                                    lakás</h5></a>
                                <a class="text-decoration-none" href="#!">
                                    <div class="o-card-second-title card-title h5">Budapest</div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#!"><span
                                        class="o-blue-primary-bg px-3 py-1 px-xl-4 o-rounded-15 text-white float-right">Eladó</span></a>
                            </div>
                        </div>

                        <div class="row o-icon-row border-top border-bottom">
                            <div class="col border-right px-1 px-lg-3 py-2 py-lg-3">
                                <div class="row align-items-center">
                                    <div class="col pr-0"><img src="../../../../img/ajanlatok/bed_icon.png" alt="icon">
                                    </div>
                                    <div class="col o-base-blue o-noto-bold h5">2</div>
                                </div>
                            </div>
                            <div class="col border-right px-1 px-lg-3 py-2 py-lg-3">
                                <div class="row align-items-center">
                                    <div class="col pr-0"><img src="../../../../img/ajanlatok/car_icon.png" alt="icon">
                                    </div>
                                    <div class="col o-base-blue o-noto-bold h5">1</div>
                                </div>
                            </div>
                            <div class="col px-1 px-lg-3 py-2 py-lg-3">
                                <div class="row  align-items-center">
                                    <div class="col pr-0"><img src="../../../../img/ajanlatok/m2_icon.png" alt="icon"></div>
                                    <div class="col o-base-blue font-weight-bold h5">46</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
                    <div class="col-7 col-lg-8">
                        <p class="o-intense-red o-noto-bold mb-0">#145820</p>
                    </div>
                    <div class="col-5 col-lg-4">
                        <div class="d-flex justify-content-between">
                            <a class="p-2" href="#!"><i class="fas fa-heart o-intense-red"></i></a>
                            <a class="p-2" href="#!"><img width="25" src="../../../../img/svg/lista.svg" alt="Lista"></a>
                            <a class="p-2" href="#!"><img width="20" src="../../../../img/svg/share.svg"
                                                          alt="Megosztás"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>