<div class="tab-pane fade show active" id="profilePassword" role="tabpanel">
    {{> _profile_password }}
</div>
<div class="tab-pane fade" id="profileDelete" role="tabpanel">
    {{> _profile_delete }}
</div>
{{> _profile_password_change }}
{{> _profile_fb_connect }}