<section class="card o-card bg-white o-rounded-15 p-3 col-12 mt-5">
    <div class="password-box">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Kapcsolt fiók</h5>
                </div>
            </div>
        </div>
        <hr>
        <div class="row align-items-center">
            <div class="col-12 mb-3 mb-xl-0 d-flex align-items-center justify-content-start">
                <figure class="mr-4 mb-0">
                    <img class="m-auto" width="35" src="../../../../img/svg/fb-rounded-blue.svg" alt="">
                </figure>
                <article>
                    <p class="o-gray-200 mb-0">Leválasztás</p>
                    <small class="o-base-blue">Ha leválasztod a fiókodat, nálunk regisztrált email címedre elküldjük az információkat új jelszó beállításához.</small>
                </article>
            </div>
        </div>
    </div>
</section>