<section class="card o-card bg-white o-rounded-15 p-3 col-12">
    <div class="personal-details-card p-1 p-lg-3 p-xl-4">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Adataim</h5>
                    <span class="o-smaller o-base-blue">*Kötelezően kitöltendő mezők</span>
                </div>
            </div>
        </div>
        <hr>
        <form action="" id="basePassForm">
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userNameP">Név *</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="Tamás Zsanett" id="userNameP" placeholder="Név *" required>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userMailP">E-mail *</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="zsanett.tamas87@gmail.com" id="userMailP" placeholder="E-mail *" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userTelP">Telefon *</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="06205032515" id="userTelP" placeholder="Telefon *" required>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userAddressP">Levelezési cím</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="Budapest, 1148, Kerepesi út 38." id="userAddressP" placeholder="Levelezési cím">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userMessageP">Honnan hallott rólunk?</label>
                    <div class="input-group mb-3">
                        <textarea class="o-rounded-15 w-100 o-box-shadow-base form-control resize-none py-3 reset" name="userMessage" rows="1" id="userMessageP" placeholder="Honnan hallott rólunk?">Facebook</textarea>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <div class="d-flex px-3 align-items-center text-decoration-none justify-content-start h-100">
                        <input class="mr-2 checkbox-base" type="checkbox" id="newsletterP">
                        <label class="mb-0 o-line-height-1" for="newsletterP"><span class="o-small o-base-blue">Feliratkozom az Openhouse <a class="o-base-blue o-underline-text" href="">hírleveleire</a></span></label>
                    </div>
                </div>
            </div>
            <div class="row mt-1 justify-content-between align-items-center">
                <div class="col-lg-4">
                     <button type="button" class="o-primary-btn o-btn-group o-btn-write" role="button">
                        <span>Mentés</span>
                    </button>
                </div>
                <div class="col-lg-3" role="presentation">
                    <div class="d-flex align-items-center justify-content-end mt-3" role="tablist">
                          <a href="#profileDelete" type="button" class="o-primary-btn o-btn-group delete-icon o-blue-secondary-btn px-4 o-btn-icon-none" data-toggle="tab" role="tab">
                        <span>Profil törlése</span>
                    </a>
                    </div>
                   
                </div>
            </div>
        </form>
    </div>
</section>
