<section class="card o-card bg-white o-rounded-15 p-3 col-12 mt-5">
    <div class="password-box">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Jelszó megváltoztatása</h5>
                </div>
            </div>
        </div>
        <hr>
        <form action="">
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userOldPasswordP">Régi jelszó *</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" id="userOldPasswordP" placeholder="Régi jelszó *" required>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userNewPasswordP">Új jelszó *</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" id="userNewPasswordP" placeholder="Új jelszó *" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userNewPasswordConfirmP">Új jelszó megerősítése *</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" id="userNewPasswordConfirmP" placeholder="Új jelszó megerősítése *" required>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-lg-4">
                   <button type="button" class="o-primary-btn o-btn-group o-btn-write mt-3" role="button">
                        <span>Mentés</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>