<section class="card o-card bg-white o-rounded-15 p-3 col-12">
    <div class="personal-delete-card p-1 p-lg-3 p-xl-4">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Adataim</h5>
                    <span class="o-smaller o-base-blue">*Kötelezően kitöltendő mezők</span>
                </div>
            </div>
        </div>
        <hr>
        <form action="">
            <div class="row">
                <div class="col-12 o-blue-primary-bg text-white o-rounded-15 p-2 p-md-3 p-5">
                    <div class="px-0 py-0 px-md-5 py-md-3">
                        <h3 class="o-noto-bold text-center text-md-left py-3">Biztosan szeretné törölni a profilját?</h3>
                        <div class="row pt-3 pb-3">
                            <div class="col-12 col-md-4 mb-2 mb-md-0" role="presentation">
                                <a href="#profilePassword" class="btn o-blue-primary-btn o-rounded-15 d-block w-100 m-auto" id="clearFields" data-toggle="tab" role="tab">
                                    <span>Igen, szeretném törölni</span>
                                </a>
                            </div>
                            <div class="col-12 col-md-2" role="presentation">
                                <div class="d-flex align-items-center w-100" role="tablist">
                                    <a href="#profilePassword" class="btn o-red-primary-btn o-rounded-15 d-block m-auto m-md-0" data-toggle="tab" role="tab">
                                        <span>Nem</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1 justify-content-between align-items-center">
                <div class="col-lg-4">
                     <button type="button" class="o-primary-btn o-btn-group o-btn-write mt-3" role="button">
                        <span>Mentés</span>
                    </button>
                </div>
                <div class="col-lg-3" role="presentation">
                    <div class="d-flex align-items-center w-100 mt-3" role="tablist">
                        <a href="#profileDelete" class="btn disabled o-blue-primary-btn o-rounded-15 py-2 o-noto-bold col-12" data-toggle="tab" role="tab">
                            <span>Profil törlése</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>