<section class="card o-card tip-card img-card o-rounded-15 p-3 col-12 mb-5">
    <div class="drop-shadow-01"></div>
    <div class="row p-1 p-lg-3 p-xl-4">
        <div class="col-12 pb-2 pb-md-0">
            <h3 class="o-noto-bold o-intense-red mb-4 mt-3">Legyen Ön is tippadónk!</h3>
            <span class="text-white o-noto-bold">Ha ismer olyan embereket, akik...</span>
            <ul class="list-unstyled text-white o-noto-bold py-2">
                <li class="d-flex align-items-center pb-2"><img width="15" class="mr-2" src="../../../../img/svg/plusz.svg" alt="Tipp"><span> ingatlant keresnek,</span></li>
                <li class="d-flex align-items-center pb-2"><img width="15" class="mr-2" src="../../../../img/svg/plusz.svg" alt="Tipp"><span> eladnának vagy bérbe adnának,</span></li>
                <li class="d-flex align-items-center pb-2"><img width="15" class="mr-2" src="../../../../img/svg/plusz.svg" alt="Tipp"><span> ingatlan célú megtakarítást vagy hitelt szeretnének,</span></li>
                <li class="d-flex align-items-center pb-2"><img width="15" class="mr-2" src="../../../../img/svg/plusz.svg" alt="Tipp"><span> esetleg ingatlanértékesítői állást keresnek.</span></li>
            </ul>
        </div>
        <div class="col-12 pb-2 pb-md-0">
            <div class="statement o-rounded-15 px-2 px-lg-5 py-2 o-noto-bold">
                <div class="d-flex align-items-center">
                    <span class="o-intense-red text-80-base">!</span>
                    <p class="o-gray-200 mb-0">Egyetlen tipp beküldésével akár több százezer forintot is kereshet nálunk!
                        Sikeres ügylet esetén jutalékunkból Ön is részesülni fog!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="card o-card bg-white o-rounded-15 p-3 col-12">
    <div class="p-1 p-lg-3 p-xl-4">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Tippadás</h5>
                    <span class="o-smaller o-base-blue">* Kötelezően kitöltendő mezők</span>
                </div>
            </div>
        </div>
        <hr>
        <form action="" id="tipForm">
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="tipProperty">Eladó ingatlan</label>
                    <select name="tipProperty" id="tipProperty"  class="form-control o-rounded-15">
                        <option value=""></option>
                        <option value="1">Opció 1</option>
                        <option value="2">Opció 2</option>
                    </select>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="tipName">Ajánlott neve *</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="tipName" placeholder="Ajánlott neve *" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="tipMail">Ajánlott e-mail címe*</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="tipMail" placeholder="Ajánlott e-mail címe *" required>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="tipTel">Ajánlott telefonszáma *</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="tipTel" placeholder="Ajánlott telefonszáma *" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 mb-xl-0">
                    <div class="d-flex px-3 align-items-center text-decoration-none justify-content-start">
                        <input class="mr-2 input-height-50 checkbox-bigger" type="checkbox" id="newsletterM">
                        <label class="mb-0 o-line-height-1" for="newsletterM"><span class="o-small o-base-blue">Az <a class="o-base-blue o-underline-text" href="">Adatvédelmi nyilatkozatot</a> és a <a class="o-base-blue o-underline-text" href="">Tippadás szabályzatát</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</span></label>
                    </div>
                </div>
            </div>

            <div class="row mt-3 justify-content-between align-items-center">
            <div class="col-lg-3">
                 <button type="button" class="o-primary-btn o-btn-group o-btn-send mt-3" role="button">
                    <span>Küldés</span>
                </button>
            </div>
        </div>
        </form>
    </div>
</section>
<section class="card o-card bg-white o-rounded-15 p-3 col-12 mt-5" id="statSection">
    <div class="p-1 p-lg-3 p-xl-4" id="statCard" >
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Tip1</h5>
                    <a class="text-decoration-none" href="#" id="tipDelete"><span class="o-small o-base-blue o-noto-bold">Tipp törlése <img width="20" class="ml-2" src="../../../../img/svg/trash.svg"></span></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 col-xl-5">
                <p class="mb-0 o-blue-primary-bg px-3 py-2 text-white o-rounded-15 o-noto-bold o-h-50 d-flex justify-content-center align-items-center">Tipp státusza feldolgozva</p>
            </div>
            <div class="col-8 col-lg-4 mt-3 mt-lg-0">
                <button type="button" class="btn o-blue-primary-btn o-rounded-15 o-h-50 o-noto-bold col-12">Tipp módosítása</button>
            </div>
        </div>
    </div>
</section>