<section class="card o-card bg-white o-rounded-15 p-3 col-12">
    <div class="personal-mandate-card p-1 p-lg-3 p-xl-4">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="o-noto-bold o-base-blue mb-0">Megbízásba adom</h5>
                    <span class="o-smaller o-base-blue">*Kötelezően kitöltendő mezők</span>
                </div>
            </div>
        </div>
        <hr>
        <form action="" id="mandateForm">
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userNameM">Név *</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="userNameM" placeholder="Név *" required>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userMailM">E-mail *</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="userMailM" placeholder="E-mail *" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userTelM">Telefon *</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="userTelM" placeholder="Telefon *" required>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userAddressM">Levelezési cím</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="userAddressM" placeholder="Levelezési cím">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="userCityM">Település neve *</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="userCityM" placeholder="Település neve *" required>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3 mb-xl-0">
                    <label class="sr-only" for="office">Kiválasztott iroda</label>
                    <select name="office" id="office"  class="form-control o-rounded-15">
                        <option value=""></option>
                        <option value="1">Budapest</option>
                        <option value="2">Szombathely</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3 mb-xl-0">
                    <label class="sr-only" for="userMessageM">Üzenet</label>
                    <div class="input-group mb-3">
                        <textarea class="o-rounded-15 w-100 o-box-shadow-base form-control resize-none py-3 reset" name="userMessage" rows="6" id="userMessageM" placeholder="Üzenet"></textarea>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12 pb-2 pb-md-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="o-noto-bold o-base-blue mb-0">Fájlok feltöltése</h5>
                        <span class="o-smaller o-base-blue">Maximális file méret 5 MB (jpg, jpeg, png, pdf, doc)</span>
                    </div>
                </div>
            </div>
            <hr class="o-border-top-gray-2 mt-1">
            <div class="row pt-3">
                <div class="ml-3 c-input-box">
                    <input type="file" name="file-1" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="">
                    <label for="file-1"> <img src="../../../../img/svg/plus2.svg" alt=""> <span>Új fájl hozzáadása</span></label>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 mb-xl-0">
                    <div class="d-flex px-3 align-items-center text-decoration-none justify-content-start">
                        <input class="mr-2 checkbox-base" type="checkbox" id="newsletterM">
                        <label class="mb-0 o-line-height-1" for="newsletterM"><span class="o-small o-base-blue">Az <a class="o-base-blue o-underline-text" href="">Adatvédelmi nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</span></label>
                    </div>
                </div>
            </div>

            <div class="row mt-3 justify-content-between align-items-center">
                <div class="col-lg-3">
                     <button type="button" class="o-primary-btn o-btn-group o-btn-send mt-3" role="button">
                        <span>Küldés</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="card o-card bg-white o-rounded-15 p-3 col-12 mt-5">
    <div class="personal-mandate-card p-1 p-lg-3 p-xl-4">
        <div class="row">
            <div class="col-12 pb-2 pb-md-0">
                <div class="o-line-height-base">
                    <h5 class="o-noto-bold o-base-blue mb-0">Prémium szolgáltatások</h5>
                    <hr class="o-border-top-gray-2 mt-2 mb-2">
                    <p>
                        Amennyiben az Openhouse-ra bízza ingatlana eladását, illetve bérbeadását, két prémium szolgáltatáscsomaggal állunk rendelkezésére.
                        <strong class="o-noto-bold o-gray-100">Válassza az Openhouse-t! Mi a garantáltan gyors sikerrel értékeljük bizalmát!</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-12 col-xl-6 card-deck pl-xl-0 mb-5 mb-xl-0">
                <div class="o-card ml-xl-0 o-rounded-15 o-box-shadow-base">
                        <div class="o-card-header py-3 o-blue-primary-bg border-bottom-0 text-white text-center">
                            <h4 class="text-uppercase">Kiemelet megbízás</h4>
                            <h5><strong>50.000 Ft / hónap</strong></h5>
                        </div>
                        <div class="o-card-body px-4 pt-5">
                            <ul class="list-unstyled ml-3">
                                <li class="d-flex align-items-center pb-2 pt-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Kiemelt internetes hirdetések</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Teljes irodai értékesítői csapat bevonása</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Piaci összehasonlító elemzés készítése</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Sajtóhirdetések megjelentetése</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Elkészítjük az ingatlan teljes adatszerkezetét</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>3D-s panorámakép készítése az ingatlanról</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Vállaljuk az ingatlan 48 órán belüli feltöltését az oh.hu weboldalra</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Tulajdoni lap beszerzése a megbízó részére</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Havi kapcsolattartás a megbízóval</span></li>
                            </ul>
                        </div>
                        <div class="o-card-footer row justify-content-between align-items-center px-4 pb-5">
                            <div class="col-12">
                                 <a href="#" type="button" class="o-primary-btn o-btn-group o-btn-info mt-3" role="button">
                                    <span>Érdekelnek a részletek</span>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-12 col-xl-6 card-deck pr-xl-0">
                <div class="o-card mr-xl-0 o-rounded-15 o-box-shadow-base">
                        <div class="o-card-header py-3 o-blue-primary-bg border-bottom-0 text-white text-center">
                            <h4 class="text-uppercase">ExKluzív megbízás</h4>
                            <h5><strong>100.000 Ft / hónap</strong></h5>
                        </div>
                        <div class="o-card-body px-4 pt-5">
                            <ul class="list-unstyled ml-3">
                                <li class="d-flex align-items-center pb-2 pt-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Karaván bemutatási technika</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Versenytárgyalás alkalmazása</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>„Home staging” tanácsadás – „Eladásgenerátor” alkalmazása</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>„Eladó” tábla vagy molinó kihelyezése az ingatlanra</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Irodai ingatlankínálóban hirdetési lehetőség</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Kéthetente kapcsolattartás a megbízóval</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Adók és illetékek kiszámítása</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Műszaki képviselet az eladó részére</span></li>
                                <li class="d-flex align-items-center pb-2"><img width="25" class="mr-3" src="../../../../img/svg/check-circle-regular.svg" alt="Lista"><span>Kedvezményes költöztetés</span></li>
                            </ul>
                        </div>
                        <div class="o-card-footer row justify-content-between align-items-center px-4 pb-5">
                            <div class="col-12">
                                 <a href="#" type="button" class="o-primary-btn o-btn-group o-btn-info mt-3" role="button">
                                    <span>Érdekelnek a részletek</span>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

