<section class="container-fluid pt-5 position-relative o-blue-opacity-bg">
    <div class="container">
        <div class="row pt-3 pb-5">
            <div class="col-12 col-lg-4 mb-3">
                <div class="d-block d-lg-none">
                    <a href="#" class="o-primary-btn o-btn-group" role="button">
                        <span>Openhouse Franchise Központ</span>
                    </a>
                </div>
                <div class="d-none d-lg-block">
                    <h4 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start o-noto-bold"><p>Openhouse Franchise Központ</p></h4>
                    <ul class="list-unstyled text-white">
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/location2.svg" alt=""><p class="mb-0 text-white o-noto-bold">6721 Szeged, József Attila sugárút 2.</p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/call.svg" alt=""><p class="mb-0"><a class="text-white" href="tel:+3662638" target="_blank">+36 62 638 88</a></p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/mail.svg" alt=""><p class="mb-0"><a class="text-white" href="mailto:szeged.oh@oh.hu" target="_blank">szeged.oh@oh.hu</a></p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/website.svg" alt=""><p class="mb-0"><a class="text-white" href="https://www.szeged.oh.hu" target="_blank">www.szeged.oh.hu</a></p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/facebook2.svg" alt=""><p class="mb-0"><a class="text-white" href="https://www.facebook.com/ohingatlan" target="_blank">www.facebook.com/ohingatlan</a></p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/clock.svg" alt=""><p class="mb-0 text-white">H: 11:00 - 17:00, K-P: 8:30 - 17:00</p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/info.svg" alt=""><p class="mb-0 text-white">25 munkavállaló</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3">
                <div class="d-block d-lg-none">
                    <a href="#" class="o-primary-btn o-btn-group" role="button">
                        <span>Pénzügyi közvetítő hálózat</span>
                    </a>
                </div>
                <div class="d-none d-lg-block">
                    <h4 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start o-noto-bold"><p>Pénzügyi közvetítő hálózat</p></h4>
                    <ul class="list-unstyled text-white">
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/location2.svg" alt=""><p class="mb-0 text-white o-noto-bold">6721 Szeged, József Attila sugárút 2.</p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/call.svg" alt=""><p class="mb-0"><a class="text-white" href="tel:+3662638" target="_blank">+36 62 638 88</a></p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/mail.svg" alt=""><p class="mb-0"><a class="text-white" href="mailto:szeged.oh@oh.hu" target="_blank">szeged.oh@oh.hu</a></p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/website.svg" alt=""><p class="mb-0"><a class="text-white" href="https://www.szeged.oh.hu" target="_blank">www.szeged.oh.hu</a></p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/facebook2.svg" alt=""><p class="mb-0"><a class="text-white" href="https://www.facebook.com/ohingatlan" target="_blank">www.facebook.com/ohingatlan</a></p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/clock.svg" alt=""><p class="mb-0 text-white">H: 11:00 - 17:00, K-P: 8:30 - 17:00</p></li>
                        <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/info.svg" alt=""><p class="mb-0 text-white">25 munkavállaló</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3">
                <form action="">
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <label class="sr-only" for="contactOffice">Ingatlanirodák</label>
                            <select name="contactOffice" id="contactOffice"  class="form-control o-rounded-15">
                                <option value=""></option>
                                <option value="0">Ingatlanirodák</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-md-8">
                            <a href="#baseContactFormSection" class="o-primary-btn o-btn-group o-btn-search" role="button">
                                <span>Találatok</span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>