<section class="contact-cards container-fluid o-gray-bg pt-5 pb-5" id="baseContactFormSection">
    <div class="mr-2 ml-2 mr-md-4 ml-md-4">
        <div class="row justify-content-center o-mt-m6">
            <div class="card card-first o-card bg-white o-rounded-15 p-3 col-12 col-lg-7 mb-5 mb-lg-0 mr-lg-5">
                <div class="contact-details-card p-1 p-lg-3 p-xl-4">
                    <div class="row">
                        <div class="col-12 pb-2 pb-md-0">
                            <h5 class="w-100 d-flex align-items-center o-black justify-content-center justify-content-md-start mb-0 o-noto-bold">Csongrád megye</h5>
                            <h4 class="w-100 d-flex align-items-center o-base-blue justify-content-center justify-content-md-start mb-3 o-noto-bold">Openhouse Szeged Ingatlaniroda</h4>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <h4 class="d-flex align-items-center o-base-blue justify-content-center justify-content-md-start mb-0 o-noto-bold">Üzenetet küldök:</h4>
                                <span class="o-smaller o-base-blue">*Kötelezően mező</span>
                            </div>
                        </div>
                    </div>
                    <hr class="o-border-top-gray-2">
                    <form action="" id="baseContactForm">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-3">
                                <label class="sr-only" for="contactName">Név *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="contactName" placeholder="Név *" required>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 pb-3">
                                <label class="sr-only" for="contactTel">Telefon *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="contactTel" placeholder="Telefon *" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-3">
                                <label class="sr-only" for="contactMail">E-mail *</label>
                                <div class="input-group">
                                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base" value="" id="contactMail" placeholder="E-mail *" required>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 pb-3">
                                <label class="sr-only" for="contactAddress">Település</label>
                                <div class="input-group">
                                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50 o-box-shadow-base reset" value="" id="contactAddress" placeholder="Település *" required>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-lg-6 pb-3">
                                <label class="sr-only" for="contactQuestion">Tárgy</label>
                                <select name="contactQuestion" id="contactQuestion"  class="form-control o-rounded-15" required>
                                    <option value=""></option>
                                    <option value="1">Ingatlant keresek</option>
                                    <option value="2">Eladom / kiadom</option>
                                    <option value="3">Hitelt vennék fel</option>
                                    <option value="4">Panasz</option>
                                    <option value="5">Egyéb</option>
                                </select>
                            </div>
                            <div class="col-12 col-lg-6 pb-3">
                                <label class="sr-only" for="contactOfficePlace">Szegedi ingatlaniroda</label>
                                <select name="contactOfficePlace" id="contactOfficePlace"  class="form-control o-rounded-15">
                                    <option value=""></option>
                                    <option value="1">Szegedi ingatlaniroda </option>
                                    <option value="2">Budapesti ingatlaniroda</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-12 pb-3">
                                <label class="sr-only" for="userMessageP">Üzenet</label>
                                <div class="mb-3 input-group jQTAreaCountBox">
                                    <small class="jQTAreaCountRow">
                                        <em class="jQTAreaCount"></em> / <em class="jQTAreaValue"></em>
                                    </small>
                                    <textarea maxlength="256" class="w-100 o-box-shadow-base form-control resize-none py-3" name="userMessage" rows="6" id="userMessageP" required placeholder="Üzenet"></textarea>
                                    <p class="jQTAreaExt mt-3 o-rounded-15"></p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 pb-3">
                                <div class="c-input-box">
                                    <input type="file" name="file-1" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="">
                                    <label for="file-1"> <img src="../../../../img/svg/plus2.svg" alt="" title=".jpg, .png, .pdf, .docx formátum a megengedett"> <span>Új fájl hozzáadása</span></label>
                                </div>
                            </div>
                            <div class="col-12 pb-3">
                                <div class="d-flex px-3 align-items-center text-decoration-none justify-content-start">
                                    <input class="mr-2 input-height-50 checkbox-bigger" type="checkbox" id="newsletterP" required>
                                    <label class="mb-0 o-line-height-1" for="newsletterP"><span class="o-small o-base-blue">Az <a class="o-base-blue o-underline-text" href="szabalyzatok-es-tajekoztatok#privacy2"> Adatvédelmi nyilatkozatot </a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-6">
                                <button type="button" class="o-primary-btn o-btn-group o-btn-send" role="button">
                                    <span>Üzenet küldése</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card card-second o-card bg-white o-rounded-15 p-3 col-12 col-lg-4">
                <div class="personal-details-card p-1 p-lg-3 p-xl-4">
                    <div class="row">
                        <div class="col-12 pb-2 pb-md-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="w-100 d-flex align-items-center o-base-blue justify-content-center justify-content-md-start mb-0 o-noto-bold">Elérhetőség</h4>
                            </div>
                            <hr class="o-border-top-gray-2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pt-3">
                                        <ul class="list-unstyled">
                                            <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/location2.svg" alt=""><p class="mb-0 o-gray-200 o-noto-bold">6721 Szeged, József Attila sugárút 2.</p></li>
                                            <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/call.svg" alt=""><p class="mb-0"><a class="o-gray-200" href="tel:+3662638" target="_blank">+36 62 638</a></p></li>
                                            <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/mail.svg" alt=""><p class="mb-0"><a class="o-gray-200" href="mailto:szeged.oh@oh.hu" target="_blank">szeged.oh@oh.hu</a></p></li>
                                            <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/website.svg" alt=""><p class="mb-0"><a class="o-gray-200" href="https://www.szeged.oh.hu" target="_blank">www.szeged.oh.hu</a></p></li>
                                            <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/facebook2.svg" alt=""><p class="mb-0"><a class="o-gray-200" href="https://www.facebook.com/ohingatlan" target="_blank">www.facebook.com/ohingatlan</a></li>
                                            <li class="d-flex pb-1"><img class="mr-2" width="25" height="25" src="../../../../img/svg/clock.svg" alt=""><p class="mb-0 o-gray-200">H: 11:00 - 17:00, K-P: 8:30 - 17:00</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr class="o-border-top-gray-2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="pt-3">
                                        <ul class="list-unstyled">
                                            <li class="d-flex pb-1 align-items-start"><img class="mr-2 pt-1" width="25" src="../../../../img/svg/info2.svg" alt="">
                                                <p class="mb-0">Tisztelt Ügyfelünk!
                                                    A kialakult járványügyi helyzet miatt irodánk csak előre egyeztetett időpontban fogad ügyfeleket. Telefonon és e-mailen továbbra is elérhetőek vagyunk, keressenek minket bizalommal! </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 justify-content-between align-items-center">
                                <div class="col-12 mb-3">
                                    <a href="ingatlan" class="o-primary-btn o-btn-group o-btn-house" role="button">
                                        <span>Ingatlankínálatunk</span>
                                    </a>
                                </div>
                                <div class="col-12 mb-3">
                                    <a href="eladom-kiadom" class="o-primary-btn o-btn-group o-btn-house" role="button">
                                        <span>Eladom / kiadom</span>
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a href="szabalyzatok-es-tajekoztatok#privacy1" class="o-primary-btn o-btn-group o-btn-info" role="button">
                                        <span>Panaszkezelés</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
