<section class="container-fluid bg-white" id="map"></section>
<script>
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 47.4813602, lng: 18.9902188 },
            zoom: 10,
            mapId: 'c91b22f93a93f14b'

        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtP3it4SaBept-fewzCUoOAt1ljJAYJVI&map_ids=c91b22f93a93f14b&callback=initMap">
</script>