.list {
  .list-header {
    button {
      img {
        width: 25px;
      }
      .delete-icon {
        width: 15px;
      }
    }
  }

  .select2-container--bootstrap4 .select2-selection {
    background-color: $lighter-gray;
  }

  .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    color: $base-blue;
  }

  .bb-logo-wrapper {
    padding: 0.5rem 2rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
  }

  .bp-bg {
    min-height: 260px;
    background-image: url('/img/aloldalak/list/bb_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #privacy {
    width: 4rem;
  }

  .privacy-label {
    font-size: 0.5rem;
  }

  .list-sidebar {
    input[type=checkbox] {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

}

.open-sidebar {
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 50%;
  background-color: $dark-red;
  color: $white;
  z-index: 99999;
  padding: 0.3rem;
  border-radius: 8px;
}

.sidenavR{
  z-index: 9999;
  background-color: $grad-gray;
  height:100%;
  overflow-x:hidden;
  padding-top:60px;
  position:fixed;
  right:0;top:0;
  transition:.5s;
  width:0;
  .closebtn{
    font-size:36px;
    margin-left:50px;
    position:absolute;
    right:25px;top:0;
    color: $darker-blue;
    text-decoration: none;
  }
}
@media screen and (max-height: 450px) {
  .sidenavR {padding-top:15px;}
}