<section class="text-white categories-section bg-white position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                {{> call_to_action_bubble }}
            </div>
        </div>
        <div class="row mb-2 categories-section_main">
            <div class="col-12 col-lg-4 mb-2 mb-xl-0">
                <div class="card o-rounded-15">
                    <picture>
                        <source media="(min-width:650px)" srcset="../../../../img/kategoriak/ujepitesu6_535x400.jpg">
                        <source media="(min-width:465px)" srcset="../../../../img/kategoriak/ujepitesu6_535x400.jpg">
                        <img class="card-img o-rounded-15" src="../../../../img/kategoriak/ujepitesu6_535x400.jpg" alt="Ingatlan">
                    </picture>
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <div class="title-wrapper">
                            <h4 class="card-title">Új építésű ingatlan</h4>
                            <div class="link d-flex">
                                <a href="#" class="card-link o-light-red-btn px-2 py-1 o-rounded-15 text-center stretched-link">6234 ingatlan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-2 mb-xl-0">
                <div class="card o-rounded-15">
                    <picture>
                        <source media="(min-width:650px)" srcset="../../../../img/kategoriak/tarsashazi_535x400.jpg">
                        <source media="(min-width:465px)" srcset="../../../../img/kategoriak/tarsashazi_535x400.jpg">
                        <img class="card-img o-rounded-15" src="../../../../img/kategoriak/tarsashazi_535x400.jpg" alt="Ingatlan">
                    </picture>
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <div class="title-wrapper">
                            <h4 class="card-title">Társasházi lakás</h4>
                            <div class="link d-flex">
                                <a href="#" class="card-link o-light-red-btn px-2 py-1 o-rounded-15 text-center stretched-link">1236 ingatlan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card o-rounded-15">
                    <picture>
                        <source media="(min-width:650px)" srcset="../../../../img/kategoriak/csaladi_535x400.jpg">
                        <source media="(min-width:465px)" srcset="../../../../img/kategoriak/csaladi_535x400.jpg">
                        <img class="card-img o-rounded-15" src="../../../../img/kategoriak/csaladi_535x400.jpg" alt="Ingatlan">
                    </picture>
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <div class="title-wrapper">
                            <h4 class="card-title">Családi ház</h4>
                            <div class="link d-flex">
                                <a href="#" class="card-link o-light-red-btn px-2 py-1 o-rounded-15 text-center stretched-link">936 ingatlan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-5 categories-section_main">
            <div class="col-12 col-lg-4 mb-2 mb-xl-0">
                <div class="card o-rounded-15">
                    <picture>
                        <source media="(min-width:650px)" srcset="../../../../img/kategoriak/telek_535x400.jpg">
                        <source media="(min-width:465px)" srcset="../../../../img/kategoriak/telek_535x400.jpg">
                        <img class="card-img o-rounded-15" src="../../../../img/kategoriak/telek_535x400.jpg" alt="Ingatlan">
                    </picture>
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <div class="title-wrapper">
                            <h4 class="card-title">Telek</h4>
                            <div class="link d-flex">
                                <a href="#" class="card-link o-light-red-btn px-2 py-1 o-rounded-15 text-center stretched-link">332 ingatlan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-2 mb-xl-0">
                <div class="card o-rounded-15">
                    <img class="card-img o-rounded-15" src="../../../../img/kategoriak/nyaralo.jpg" alt="Ingatlan">
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <div class="title-wrapper">
                            <h4 class="card-title">Nyaraló</h4>
                            <div class="link d-flex">
                                <a href="#" class="card-link o-light-red-btn px-2 py-1 o-rounded-15 text-center stretched-link">636 ingatlan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card o-rounded-15">
                    <picture>
                        <source media="(min-width:650px)" srcset="../../../../img/kategoriak/sorhaz_535x400.jpg">
                        <source media="(min-width:465px)" srcset="../../../../img/kategoriak/sorhaz_535x400.jpg">
                        <img class="card-img o-rounded-15" src="../../../../img/kategoriak/sorhaz_535x400.jpg" alt="Ingatlan">
                    </picture>
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                        <div class="title-wrapper">
                            <h4 class="card-title">Sorház</h4>
                            <div class="link d-flex">
                                <a href="#" class="card-link o-light-red-btn px-2 py-1 o-rounded-15 text-center stretched-link">32 ingatlan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>