<section class="container-fluid text-white pattern-section pt-0 px-0 custom-margin-y mb-0 mb-lg-5 mt-0">
    <div class="container">
        <div class="row align-items-center custom-margin-y mb-lg-2">
            <div class="col-12 custom-margin-y mt-0">
                {{> bubble-blue_and_red }}
            </div>
        </div>
    </div>
    <div class="position-relative mb-lg-5">
        <img class="pattern-bg" src="../../../../img/call-to-action-1/hatter_2.jpg" alt="">
        <div class="container">
            <div class="row align-items-center pattern-row">
                <div class="col-12 col-xl-8">
                    <h5 class="text-center text-lg-left o-noto-bold">Találja meg velünk az Önnek legmegfelelőbb
                        hitelkonstrukciót! Teljeskörű ügyintézést biztosítunk.</h5>
                </div>
                <div class="col-12 col-xl-4 text-center text-xl-right">
                    <button type="button" class="o-primary-btn o-btn-group o-btn-info o-large-btn-size" role="button">
                        <span> Érdekelnek a részletek</span>
                    </button>
                </div>
            </div>
        </div>
        <img class="pattern" src="../../../../img/call-to-action-1/teglalap_vagott.svg" alt="">
    </div>
</section>