<script>
    function docReady(fn) {
        if (document.readyState === "complete" || document.readyState === "interactive") {
            setTimeout(fn, 1);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }    

    function changeSellRentForm(changeTo) {
        if(changeTo == "rent") {
            document.getElementById('area_unit_sell').style.display = "none"; 
            document.getElementById('area_unit_rent').style.display = "";
            document.querySelector("#sell_rent_switch .rent-switch").classList.add('active');
            document.querySelector("#sell_rent_switch .sell-switch").classList.remove('active');
        }
        if(changeTo == "sell") {
            document.getElementById('area_unit_sell').style.display = ""; 
            document.getElementById('area_unit_rent').style.display = "none"; 
            document.querySelector("#sell_rent_switch .rent-switch").classList.remove('active');
            document.querySelector("#sell_rent_switch .sell-switch").classList.add('active');
        }
    }

    function showPriceControls(event) {
        event.stopPropagation();

        document.querySelector('#price_overlay').style.display="none";
        document.querySelectorAll('.price-control').forEach((element) => {
            element.style.display = "";
        });
    }

    function hidePriceControls(event) {
        if(event != undefined) {
            event.stopPropagation();
        }

        if(parseInt(document.querySelector('#min_price').value) > 0 || parseInt(document.querySelector('#max_price').value) > 0) {
            document.querySelector('#price_overlay').style.display="none";
            return;
        }

        document.querySelector('#price_overlay').style.display="";
        document.querySelectorAll('.price-control').forEach((element) => {
            element.style.display = "none";
        });
    }

    function showRoomControls(event) {
        event.stopPropagation();

        document.querySelector('#room_overlay').style.display="none";
        document.querySelectorAll('.room-control').forEach((element) => {
            element.style.display = "";
        });
    }

    function hideRoomControls(event) {
        if(event != undefined) {
            event.stopPropagation();
        }

        if(parseInt(document.querySelector('#min_room').value) > 0 || parseInt(document.querySelector('#max_room').value) > 0) {
            document.querySelector('#room_overlay').style.display="none";
            return;
        }

        document.querySelector('#room_overlay').style.display="";
        document.querySelectorAll('.room-control').forEach((element) => {
            element.style.display = "none";
        });
    }

    function showAreaControls(event) {
        event.stopPropagation();

        document.querySelector('#area_overlay').style.display="none";
        document.querySelectorAll('.area-control').forEach((element) => {
            element.style.display = "";
        });
    }

    function hideAreaControls(event) {
        if(event != undefined) {
            event.stopPropagation();
        }

        if(parseInt(document.querySelector('#min_area').value) > 0 || parseInt(document.querySelector('#max_area').value) > 0) {
            document.querySelector('#area_overlay').style.display="none";
            return;
        }

        document.querySelector('#area_overlay').style.display="";
        document.querySelectorAll('.area-control').forEach((element) => {
            element.style.display = "none";
        });
    }

    docReady(function() {
        changeSellRentForm("sell");
        hidePriceControls();
        hideAreaControls();
        hideRoomControls();
    });

</script>
<section class="main-hero container-fluid o-dark-blue-lighter-grad text-white" onclick="hidePriceControls(event); hideAreaControls(event); hideRoomControls(event);">
    <h1 class="w-100 d-flex align-items-center justify-content-center text-center pl-lg-5 pr-lg-5 custom-padding-t">Az ingatlan és az otthon közötti út élményéért dolgozunk!</h1>
    <div class="container px-0">
        <div class="tab-content mt-5">
            <nav class="mb-4">
                <ul class="d-flex list-unstyled justify-content-center justify-content-md-start" id="sell_rent_switch">
                    <li class="tab-item mr-3 sell-switch active">
                        <span class="tab-link text-white cursor-pointer px-3 py-2 o-rounded-7 font-18 o-noto-bold" onclick="changeSellRentForm('sell')">Eladó</span>
                    </li>
                    <li class="tab-item rent-switch">
                        <span class="tab-link text-white cursor-pointer px-3 py-2 o-rounded-7 font-18 o-noto-bold" onclick="changeSellRentForm('rent')">Kiadó</span>
                    </li>
                </ul>
            </nav>
            <form action="">
                <div class="form-row w-100">
                    <div class="col-10 col-sm-11 col-md-4 mb-3 mb-md-0">
                        <label class="sr-only" for="city">Település</label>
                        <select name="city[]" id="city"  class="form-control o-rounded-15" multiple="multiple">
                            <option value=""></option>
                            <option value="1">Budapest</option>
                            <option value="2">Szombathely</option>
                        </select>
                    </div>
                    <div class="col-2 col-sm-1 mb-3 mb-md-0 px-0">
                        <a class="nav-link p-0" href="#" target="_blank"><div class="map-icon ml-auto mr-0 mr-md-auto ml-md-auto ml-lg-4"><i class="fas fa-map-marker-alt"></i></div></a>
                    </div>
                    <div class="col-12 col-md-4 pr-0 pr-lg-2">
                        <select name="typeOfApartment[]" id="typeOfApartment"  class="form-control o-rounded-15" multiple="multiple">
                            <option value=""></option>
                            <option value="0">Társasházi lakás</option>
                            <option value="0">Családi ház</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-3 mt-3 mt-md-0 pr-0">
                        <div class="o-blue-secondary-bg d-flex o-rounded-15 px-3 align-items-center text-decoration-none">
                            <input class="mr-2 input-height-50 checkbox-25" type="checkbox" id="new">
                            <label class="mb-0" for="new">új építésű ingatlan</label>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center mt-3 mt-lg-4 w-100">
                    <div class="col-12 col-md-4 col-lg-3 pr-0">
                        <label class="sr-only" for="price">Ár</label>
                        <div class="input-group mb-3 mb-lg-0 o-prepend-group">
                            <div class="input-overlay o-rounded-15" id="price_overlay" onclick="showPriceControls(event);">
                                Ár
                            </div>
                            <input type="text" class="form-control o-rounded-15-left-15 o-rounded-15-right-0 border-0 price-control" id="min_price" placeholder="Min" onclick="event.stopPropagation()">
                            <!--<span class="price-control"> - </span>-->
                            <input type="text" class="form-control o-rounded-15-right-0 border-left border-right-0 border-top-0 border-bottom-0 price-control" id="max_price" placeholder="Max" onclick="event.stopPropagation()">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span id="area_unit_sell">millió Ft</span> <span id="area_unit_rent">százezer Ft</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 pl-md-0 pr-0">
                        <div class="input-group  mb-3 mb-lg-0 o-prepend-group">
                        <div class="input-overlay rounded-0" id="area_overlay" onclick="showAreaControls(event);">
                            Alapterület
                        </div>
                            <input type="text" class="form-control rounded-0 border-left border-right-0 border-bottom-0 area-control" id="min_area" placeholder="Min" onclick="event.stopPropagation()">
                            <!--<span class="area-control"> - </span>-->
                            <input type="text" class="form-control rounded-0 border-left border-right-0 border-bottom-0 area-control" id="max_area" placeholder="Max" onclick="event.stopPropagation()">

                            <div class="input-group-prepend">
                                <div class="input-group-text">m<sup>2</sup></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 pl-0 ml-2 ml-md-0">
                        <!--<label class="sr-only" for="roomNum">Szobaszám</label>-->
                        <div class="input-group mb-3 mb-lg-0">
                            <div class="input-overlay o-rounded-15-left-0 o-rounded-15-right-15" id="room_overlay" onclick="showRoomControls(event);">
                                Szobaszám
                            </div>
                            <input type="text" class="form-control rounded-0 border-left o-rounded-15-left-15-md-down border-right-0 border-bottom-0 room-control" id="min_room" placeholder="Min" onclick="event.stopPropagation()">
                            <!--<span class="area-control"> - </span>-->
                            <input type="text" class="form-control o-rounded-15-right-15 border-left border-right-0 border-bottom-0 room-control" id="max_room" placeholder="Max" onclick="event.stopPropagation()">
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 pr-0">
                        <button type="button" class="o-primary-btn o-btn-group o-btn-search" role="button">
                            <span>Keresés</span>
                        </button>
                    </div>
                    <div class="col-12 d-block d-md-none py-3">
                        <div class="d-flex justify-content-center custom-padding-y pt-3">
                            <a href="listaoldal" class="text-white text-center">Részletes kereső <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>

                </div>
               <div class="d-none d-md-block">
                   <div class="flex-row custom-padding-y pt-3">
                       <a href="listaoldal" class="text-white o-noto-bold">Részletes kereső <i class="fas fa-chevron-right"></i></a>
                   </div>
               </div>
            </form>
        </div>
    </div>
</section>
<section class="container-fluid bg-white">
    <div class="container">
        <h2 class="text-center custom-padding-t o-black-grayish">Keress gyorsan, egyedi kategóriákra!</h2>
        <div class="o-carousel icon-slider custom-padding-y">
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/panorama.svg" alt="Ikonok">
                <div class="slide-text">Panorámakép</div>
            </div>
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/video.svg" alt="Ikonok">
                <div class="slide-text">Videó</div>
            </div>
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/kizarolag_nalunk.svg" alt="Ikonok">
                <div class="slide-text">Kizárólag nálunk</div>
            </div>
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/vizpart.svg" alt="Ikonok">
                <div class="slide-text">Vízparti</div>
            </div>
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/arcsokkentett.svg" alt="Ikonok">
                <div class="slide-text">Árcsökkentett</div>
            </div>
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/energiatakarekos.svg" alt="Ikonok">
                <div class="slide-text">Energiatakarékos </div>
            </div>
        </div>
    </div>
</section>