<section class="hero-search">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h1>Az ingatlan és az otthon közötti út élményéért dolgozunk!</h1>
              <div class="d-flex">
                  <div class="hero2-mode-select">
                      <button class="search-option active" data-mode="for-sale">Eladó</button>
                      <button class="search-option" data-mode="for-rent">Kiadó</button>
                  </div>
              </div>

              <form action="" class="for-sale hero-search_form">
                  <div class="d-flex hero-search_top">
                      <div class="hero-search_city">
                          <select name="city[]" id="city" class="">
                              <option value=""></option>
                              <option value="1">Budapest</option>
                              <option value="2">Szombathely</option>
                          </select>
                          <div class="map-icon"><i class="fas fa-map-marker-alt"></i></div>
                      </div>
                      <div class="hero-search_flat-type">
                          <select name="typeOfApartment[]" id="typeOfApartment">
                              <option value=""></option>
                              <option value="0">Társasházi lakás</option>
                              <option value="0">Családi ház</option>
                          </select>
                      </div>
                      <div class="hero-search_is-new">
                          <div class="o-blue-secondary-bg d-flex o-rounded-15 align-items-center text-decoration-none">
                              <input class="mr-2 input-height-50 checkbox-25" type="checkbox" id="new">
                              <label class="mb-0" for="new">új építésű ingatlan</label>
                          </div>
                      </div>

                  </div>
                  <div class="d-flex hero-search_bottom">

                      <div class="hero-seaarch_input-group">
                          <div class="hero-search_price hero-search_flat-detail">
                              <div class="hero-search_price_inputs">
                                  <div class="hero-search_layer">
                                      Ár
                                  </div>
                                  <input type="number" class="hero-search-input hidden" name="price_min" id="price_min" placeholder="Min">
                                  <input type="number" class="hero-search-input hidden" name="price_max" id="price_max" placeholder="Max">

                                  <div class="hero-search_unit">
                                      <span class="sell-unit" id="area_unit_sell">millió Ft</span>
                                      <span class="rent-unit" id="area_unit_rent">százezer Ft</span>
                                  </div>

                              </div>
                          </div>
                          <div class="hero-search_area_inputs  hero-search_flat-detail">
                              <div class="hero-search_layer">
                                  Alapterület
                              </div>
                              <input type="number" class="hero-search-input hidden" name="area_min" id="area_min" placeholder="Min">
                              <input type="number" class="hero-search-input hidden" name="area_max" id="area_max" placeholder="Max">
                              <div class="hero-search_unit">
                                  <span>m<sup>2</sup></span>
                              </div>
                          </div>
                          <div class="hero-search_room_inputs  hero-search_flat-detail">
                              <div class="hero-search_layer">
                                  Szobaszám
                              </div>
                              <input type="number" class="hero-search-input hidden" name="room_min" id="room_min" placeholder="Min">
                              <input type="number" class="hero-search-input hidden" name="room_max" id="room_max" placeholder="Max">
                          </div>
                      </div>



                      <div class="last-row">
                          <a href="listaoldal" class="text-white o-noto-bold d-block d-lg-none">Részletes kereső <i
                                  class="fas fa-chevron-right"></i></a>
                          <button type="submit" class="o-primary-btn o-btn-group o-btn-search" role="button">
                              <span>Találatok megtekintése</span>
                          </button>
                      </div>



                  </div>
              </form>
              <div class="d-none d-lg-block">
                  <div class="flex-row custom-padding-y pt-3">
                      <a href="listaoldal" class="text-white o-noto-bold">Részletes kereső <i class="fas fa-chevron-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<script>
  let heroSearch = document.querySelector(".hero-search");
  let heroSearchLayers = document.querySelectorAll(".hero-search_layer");

  heroSearchLayers.forEach(element => {
    element.addEventListener("click", function (event) {
      event.stopPropagation();
      element.classList.toggle("hidden");
      element.parentNode.querySelectorAll("input").forEach(input => {
        input.classList.toggle("hidden");
      });
    });
  });

  heroSearch.addEventListener("click", function (event) {
    console.log(event.target.classList);
    if (!event.target.classList.contains("hero-search-input")) {
      heroSearchLayers.forEach(e => {
        e.parentNode.querySelectorAll("input").forEach(input => {
          input.classList.add("hidden");
        });
        e.parentNode.querySelectorAll(".hero-search_layer").forEach(input => {
          input.classList.remove("hidden");
        });
      });
    }
  });

  let searchOptions = document.querySelectorAll(".search-option")
  searchOptions.forEach(element => {
    element.addEventListener("click", function () {
      searchOptions.forEach(e => e.classList.remove("active"));
      element.classList.add("active");
      console.log(element.dataset);
      document.querySelector(".hero-search_form").classList.remove("for-sale");
      document.querySelector(".hero-search_form").classList.remove("for-rent");
      document.querySelector(".hero-search_form").classList.add(element.dataset.mode);
    });
  });
</script>
<section class="container-fluid bg-white">
    <div class="container">
        <h2 class="text-center custom-padding-t o-black-grayish">Keress gyorsan, egyedi kategóriákra!</h2>
        <div class="o-carousel icon-slider custom-padding-y">
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/panorama.svg" alt="Ikonok">
                <div class="slide-text">Panorámakép</div>
            </div>
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/video.svg" alt="Ikonok">
                <div class="slide-text">Videó</div>
            </div>
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/kizarolag_nalunk.svg" alt="Ikonok">
                <div class="slide-text">Kizárólag nálunk</div>
            </div>
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/vizpart.svg" alt="Ikonok">
                <div class="slide-text">Vízparti</div>
            </div>
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/arcsokkentett.svg" alt="Ikonok">
                <div class="slide-text">Árcsökkentett</div>
            </div>
            <div>
                <a href="#" class="stretched-link"></a>
                <img width="50" src="../../../../img/svg/ikonok_fooldal_slider/energiatakarekos.svg" alt="Ikonok">
                <div class="slide-text">Energiatakarékos </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="full-img-slider mb-0">
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <img class="cover-img" src="../../../../img/hero_after/client_szerk.jpg" alt="Váltsa valóra ambícióit az Openhouse-nál!">
                <div class="info">
                    <div class="container">
                        <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y">
                            <h2 class="o-bubble-title text-white base-red-bg mb-0">Váltsa valóra ambícióit az Openhouse-nál!</h2>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-12 col-md-6">
                                <h3 class="slider-heading">Érdeklik a pénzügyekkel kapcsolatos kérdések?
                                    Szeretne bepillantást nyerni a hitelezés világába?</h3>
                            </div>
                            <div class="col-12 col-md-6 col-xl- mt-3 mt-lg-0 position-relative text-right">
                                <a href="" class="o-primary-btn o-btn-group o-btn-info o-large-btn-size text-decoration-none">
                                    <span> Érdekelnek a részletek</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <img class="cover-img" src="../../../../img/penzugy/blue-box.jpg" alt="Váltsa valóra ambícióit az Openhouse-nál!">
                <div class="info">
                    <div class="container">
                        <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y">
                            <h2 class="o-bubble-title text-white base-red-bg mb-0">Váltsa valóra ambícióit az Openhouse-nál!</h2>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-12 col-md-6 px-0">
                                <h3 class="slider-heading">Érdeklik a pénzügyekkel kapcsolatos kérdések?
                                    Szeretne bepillantást nyerni a hitelezés világába?</h3>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 col-xl-3 mt-3 mt-lg-0 position-relative">
                                <a href="" class="o-primary-btn o-btn-group o-btn-info o-large-btn-size text-decoration-none">
                                    <span> Érdekelnek a részletek</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <img class="cover-img" src="../../../../img/call-to-action-1/hatter.png" alt="Váltsa valóra ambícióit az Openhouse-nál!">
                <div class="info">
                    <div class="container">
                        <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y">
                            <h2 class="o-bubble-title text-white base-red-bg mb-0">Váltsa valóra ambícióit az Openhouse-nál!</h2>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-12 col-md-6 px-0">
                                <h3 class="slider-heading">Érdeklik a pénzügyekkel kapcsolatos kérdések?
                                    Szeretne bepillantást nyerni a hitelezés világába?</h3>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 col-xl-3 mt-3 mt-lg-0 position-relative">
                                <a href="" class="o-primary-btn o-btn-group o-btn-info o-large-btn-size text-decoration-none">
                                    <span> Érdekelnek a részletek</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <img class="cover-img" src="../../../../img/hero_after/client_szerk.jpg" alt="Váltsa valóra ambícióit az Openhouse-nál!">
                <div class="info">
                    <div class="container">
                        <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y">
                            <h2 class="o-bubble-title text-white base-red-bg mb-0">Váltsa valóra ambícióit az Openhouse-nál!</h2>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-12 col-md-6 px-0">
                                <h3 class="slider-heading">Érdeklik a pénzügyekkel kapcsolatos kérdések?
                                    Szeretne bepillantást nyerni a hitelezés világába?</h3>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 col-xl-3 mt-3 mt-lg-0 position-relative">
                                <a href="" class="o-primary-btn o-btn-group o-btn-info o-large-btn-size text-decoration-none">
                                    <span> Érdekelnek a részletek</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <img class="cover-img" src="../../../../img/call-to-action-1/hatter.png" alt="Váltsa valóra ambícióit az Openhouse-nál!">
                <div class="info">
                    <div class="container">

                        <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y">
                            <h2 class="o-bubble-title text-white base-red-bg mb-0">Váltsa valóra ambícióit az Openhouse-nál!</h2>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-12 col-md-6 px-0">
                                <h3 class="slider-heading">Érdeklik a pénzügyekkel kapcsolatos kérdések?
                                    Szeretne bepillantást nyerni a hitelezés világába?</h3>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 col-xl-3 mt-3 mt-lg-0 position-relative">
                                <a href="" class="o-primary-btn o-btn-group o-btn-info o-large-btn-size text-decoration-none">
                                    <span> Érdekelnek a részletek</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</section>