<section class="base-red-bg position-relative custom-padding-y newsletter-section-homepage">
  <h2 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 text-white">Mi történik az
    ingatlanpiacon? Iratkozz fel Hírlevelünkre!</h2>
  <h5 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 py-3 text-white">Így Te is
    megkapod szakmai híreinket az ingatlanokról, pénzügyi konstrukciókról, aktualitásokról.</h5>
  <div class="container">
    <form class="" action="">
      <div class="form-row align-items-center mt-4">
        <div class="flex-grow-1 row mb-md-2 mb-xl-0">
          <div class="col-12 col-md-4 mb-2 mb-md-0">
            <label class="sr-only" for="buyerContent">Vásárlói tartalmak érdekelnek</label>
            <select name="buyerContent" id="buyerContent" class="form-control o-rounded-15">
              <option value=""></option>
              <option value="1">Vásárlói tartalom 1</option>
              <option value="2">Vásárlói tartalom 2</option>
            </select>
          </div>
          <div class="col-6 col-md-4 pr-0 mb-2 mb-md-0">
            <label class="sr-only" for="name2">Név</label>
            <div class="input-group">
              <input type="text"
                class="form-control o-rounded-15-left-15 o-rounded-15-right-0 border-right border-top-0 border-bottom-0 border-left-0 o-h-50"
                id="name2" placeholder="Név">
            </div>
          </div>
          <div class="col-6 col-md-4 pl-0 mb-2 mb-md-0">
            <label class="sr-only" for="mail2">E-mail</label>
            <div class="input-group">
              <input type="email" class="form-control o-rounded-15-left-0 o-rounded-15-right-15 border-0 o-h-50"
                id="mail2" placeholder="E-mail">
            </div>
          </div>
        </div>
        <button type="button" class="o-primary-btn o-btn-group o-btn-newsletter o-medium-btn-size" role="button">
          <span>Feliratkozom!</span>
        </button>
      </div>
      <div class="form-row align-items-center mt-4">
        <div class="col-12 py-2">
          <div class="d-flex px-3 align-items-center justify-content-center text-decoration-none">
            <input class="mr-2 input-height-50 checkbox-medium" type="checkbox" id="homepageNewsLetterPrivacy">
            <label class="mb-0 o-line-height-1" for="homepageNewsLetterPrivacy"><span class="o-small text-white">Az <a
                  class="text-white o-underline-text" href="szabalyzatok-es-tajekoztatok#privacy2">Adatvédelmi
                  nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok
                kezeléséhez.</span></label>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>