<section class="bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                {{> bubble_blue2 }}
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<section class="custom-padding-y position-relative mb-3 mb-md-5 o-grad-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{> real_estate_slider }}
            </div>
        </div>
    </div>
</section>