<section class="base-red-bg position-relative custom-padding-y o-blue-gradient-13">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <figure class="o-border-red-deco">
                    <a href="#!">
                        <img class="img-fluid w-100" src="../../../../img/tarsadalmi-felelosseg/1.png" alt="Társadalmi felelősségvállalás">
                    </a>
                </figure>
            </div>
            <div class="col-12 col-lg-7 text-center text-md-left pl-lg-5">
                <h2 class="w-100 d-flex align-items-center pt-0 pt-lg-5 text-white justify-content-center justify-content-md-start mt-4">Társadalmi felelősségvállalás</h2>
                <h5 class="w-100 d-flex align-items-center py-1 text-white justify-content-center justify-content-md-start">Elkötelezettek vagyunk a társadalmi ügyek előremozdítása iránt.</h5>
                <div class="show-more-box">
                    <p class="text-white">Támogatjuk a környezetünk védelmét, a kultúrát és a sportot. Emellett az esélyegyenlőség jegyében segítjük a hátrányos helyzetben lévő gyermekeket és családokat.
                        Fontos számunkra, hogy cégcsoportunkban is erősödjön a társadalmi szerepvállalás tudata, ezért önkéntes adománygyűjtéseket, véradást és támogató programokat szervezünk országszerte. </p>
                    <p class="text-white"><em>Ha ügyfelünkké válsz, te is részese leszel programunknak, mert  minden ingatlanközvetítési megbízás után 100 Ft-ot a perselybe teszünk, melyet jótékonysági célra költünk. </em></p>
                    <div class="col-12 col-md-6 mb-2 mb-md-0 pl-0">
                        <div class="mb-2">
                            <div class="counter-box text-center text-md-left">
                                <h5 class="counter-title">Hol tartunk most?</h5>
                                <i class="fas fa-tags"></i> <span class="counter">556000</span> <span class="currency">Ft</span>
                            </div>
                        </div>
                    </div>
                    <div class="read-more align-items-center w-100 col-12">
                        <button type="button" class="o-primary-btn py-3 show-more-btn d-block o-btn-group text-center w-75 m-auto">
                            <span>Tovább olvasom</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>