<section class="o-light-red-bg custom-padding-t trust-section position-relative contact-element">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2 class="w-100 d-flex align-items-center justify-content-center text-center text-white">Kérdésed van?
                  Eladnál vagy vásárolnál? Pénzügyi megoldást keresel?</h2>
              <h5 class="w-100 d-flex align-items-center justify-content-center text-center py-3 text-white">Töltsd ki az
                  alábbi űrlapot, és hamarosan visszahívunk.</h5>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <form action="">
                  <div class="form-row align-items-center mt-4">
                      <div class="flex-grow-1 row mb-md-2 mb-xl-0">
                          <div class="col-12 col-md-4 mb-2 mb-md-0">
                              <label class="sr-only" for="settlement">Település</label>
                              <div class="input-group">
                                  <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="settlement"
                                         placeholder="Település">
                              </div>
                          </div>
                          <div class="col-6 col-md-4 pr-0 mb-2 mb-md-0">
                              <label class="sr-only" for="name">Név</label>
                              <div class="input-group">
                                  <input type="text"
                                         class="form-control o-rounded-15-left-15 o-rounded-15-right-0 border-right border-top-0 border-bottom-0 border-left-0 o-h-50"
                                         id="name" placeholder="Név">
                              </div>
                          </div>
                          <div class="col-6 col-md-4 pl-0 mb-2 mb-md-0">
                              <label class="sr-only" for="tel">Telefonszám</label>
                              <div class="input-group">
                                  <input type="tel" class="form-control o-rounded-15-left-0 o-rounded-15-right-15 border-0 o-h-50" id="tel"
                                         placeholder="Telefonszám">
                              </div>
                          </div>
                      </div>
                      <button type="button" class="o-primary-btn o-btn-group o-btn-send o-medium-btn-size" role="button">
                          <span> Érdekelnek a részletek</span>
                      </button>
                  </div>
                  <div class="row pt-lg-2 pb-5">
                      <div class="col-12 py-2">
                          <div class="d-flex px-3 align-items-center justify-content-center text-decoration-none">
                              <input class="mr-2 input-height-50 checkbox-medium" type="checkbox" id="homepageNewsLetterPrivacy">
                              <label class="mb-0 o-line-height-1" for="homepageNewsLetterPrivacy"><span class="o-small text-white">Az <a
                                      class="text-white o-underline-text" href="szabalyzatok-es-tajekoztatok#privacy2">Adatvédelmi
                  nyilatkozatot</a> elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok
                kezeléséhez.</span></label>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
<section class="bg-white pt-4 position-relative">
  <div class="container o-mt-m3">
      <div class="row">
          <div class="col-12">
              <div class="o-carousel carousel-trust">
                  <div>
                      <a href="ertekesito-adatlap" class="card o-card">
                          <div class="o-card-header o-rounded-15 position-relative o-card-img-overlay">
                              <img class="o-rounded-15" src="../../../../img/forduljon-hozzank/team-4.png">
                              <div class="o-card-img-overlay o-rounded-15"></div>
                              <div class="img-bottom-overlay">
                                  <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                  <p class="text-white">Irodavezető</p>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div>
                      <a href="ertekesito-adatlap" class="card o-card">
                          <div class="o-card-header o-rounded-15 position-relative o-card-img-overlay">
                              <img class="o-rounded-15" src="../../../../img/forduljon-hozzank/team-3.png">
                              <div class="o-card-img-overlay o-rounded-15"></div>
                              <div class="img-bottom-overlay">
                                  <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                  <p class="text-white">Irodavezető</p>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div>
                      <a href="ertekesito-adatlap" class="card o-card">
                          <div class="o-card-header o-rounded-15 position-relative o-card-img-overlay">
                              <img class="o-rounded-15" src="../../../../img/forduljon-hozzank/team-2.png">
                              <div class="o-card-img-overlay o-rounded-15"></div>
                              <div class="img-bottom-overlay">
                                  <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                  <p class="text-white">Irodavezető</p>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div>
                      <a href="ertekesito-adatlap" class="card o-card">
                          <div class="o-card-header o-rounded-15 position-relative o-card-img-overlay">
                              <img class="o-rounded-15" src="../../../../img/forduljon-hozzank/team-1.png">
                              <div class="o-card-img-overlay o-rounded-15"></div>
                              <div class="img-bottom-overlay">
                                  <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                  <p class="text-white">Irodavezető</p>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div>
                      <a href="ertekesito-adatlap" class="card o-card">
                          <div class="o-card-header o-rounded-15 position-relative o-card-img-overlay">
                              <img class="o-rounded-15" src="../../../../img/forduljon-hozzank/team-4.png">
                              <div class="o-card-img-overlay o-rounded-15"></div>
                              <div class="img-bottom-overlay">
                                  <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                  <p class="text-white">Irodavezető</p>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div>
                      <a href="ertekesito-adatlap" class="card o-card">
                          <div class="o-card-header o-rounded-15 position-relative o-card-img-overlay">
                              <img class="o-rounded-15" src="../../../../img/forduljon-hozzank/team-3.png">
                              <div class="o-card-img-overlay o-rounded-15"></div>
                              <div class="img-bottom-overlay">
                                  <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                  <p class="text-white">Irodavezető</p>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div>
                      <a href="ertekesito-adatlap" class="card o-card">
                          <div class="o-card-header o-rounded-15 position-relative o-card-img-overlay">
                              <img class="o-rounded-15" src="../../../../img/forduljon-hozzank/team-2.png">
                              <div class="o-card-img-overlay o-rounded-15"></div>
                              <div class="img-bottom-overlay">
                                  <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                  <p class="text-white">Irodavezető</p>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div>
                      <a href="ertekesito-adatlap" class="card o-card">
                          <div class="o-card-header o-rounded-15 position-relative o-card-img-overlay">
                              <img class="o-rounded-15" src="../../../../img/forduljon-hozzank/team-1.png">
                              <div class="o-card-img-overlay o-rounded-15"></div>
                              <div class="img-bottom-overlay">
                                  <h6 class="text-white o-noto-bold mb-0">Németh Anna</h6>
                                  <p class="text-white">Irodavezető</p>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>