.o-page-footer {
  background-color: $dark-blue;
  color: $white;
  @include media-breakpoint-up(xl) {
    background-color: transparent;
  }
  .o-footer-overlay {
    position: absolute;
    top: -15px;
  }
  .o-footer-links-row {
    display: flex;
    align-items: flex-start;
    min-height: 240px;
    @include media-breakpoint-up(xl) {
      padding-top: 2rem;
    }

    a {
      text-decoration: none;
      color: $white;
      font-size: 0.9375rem;
      &:hover {
        color: $lighter-red;
      }
    }
  }
  p {
    margin-bottom: 0;
  }
}

.o-sticky-footer{
  a {
    text-decoration: none;
    color: $black-gray-100;
  }
}