.hero-search {
  background: #2e4859;
  background: linear-gradient(180deg, #0f324e -70%, rgba(55, 82, 91, 0.9) 120%);
  padding-top: 60px;

  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 44px;
    display: block;
  }

  .last-row{
    flex-shrink: 0;
  }

  .search-option {
    border-radius: 4px;
    background: transparent;
    border: none;
    color: #fff;
    line-height: 14px;
    padding: 7px 10px;
    font-weight: 700;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-right: 30px;
  }

  .hero-search_top {
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  .hero-search_unit {
    flex-shrink: 0;
  }

  .hero-search_flat-type {
    flex-grow: 1;
  }

  .map-icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #860816;
    color: white;
    font-size: 2rem;
    border-radius: 0.9375rem;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 43px;
    align-items: center;
  }

  .hero-search_is-new {
    &>div {
      padding-left: 29px;
      padding-right: 29px;
    }

    margin-left: 13px;
    color: #fff;
  }

  .search-option.active {
    background-color: #860816;
  }

  .hero-search_city {
    flex-grow: 1;
  }

  .hero-search_flat-type select {
    width: 100%;
  }

  .hero-search_city {
    flex-grow: 1;
    display: flex;

    select,
    .select2-container {
      width: calc(100% - 80px);
      flex-grow: 1;
    }
  }

  .hero-search_flat-type {
    flex-grow: 1;
    display: flex;

    select,
    .select2-container {
      width: 100%;
      flex-grow: 1;
    }
  }

  .hero-search_flat-detail {
    flex-grow: 1;
    background: #fff;

    input {
      height: 50px;
      border: none;
    }

    .hidden {
      display: none;
    }

    .hero-search_layer {
      height: 50px;
      padding: 0 20px;
      line-height: 50px;
      color: $tr-gray-black-1;
    }

    i.fas.fa-chevron-right {
      margin-left: 7px;
    }
  }

  .hero-search_bottom {
    margin-bottom: 24px;
    flex-wrap: nowrap;

    .hero-search_flat-detail {
      border-right: 2px solid #C8C8C8;
      height: 50px;
    }

    .hero-search_flat-detail:first-of-type {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

      input:first-of-type {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
    }

    .hero-search_flat-detail:last-of-type {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border: none;

      input:last-of-type {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
      height: 50px;
    }
  }

  .hero-search_price_inputs,
  .hero-search_area_inputs,
  .hero-search_room_inputs {
    display: flex;

    .hero-search_layer {
      flex-grow: 1;
    }
  }

  .hero-seaarch_input-group {
    display: flex;
    flex-grow: 1;

    &>div {
      width: 33%;
    }

    input {
      padding-left: 20px;
      padding-right: 20px;
      width: 50%;
    }
  }



  .for-sale {
    .sell-unit {
      display: block;
    }

    .rent-unit {
      display: none;
    }
  }

  .for-rent {
    .rent-unit {
      display: block;
    }

    .sell-unit {
      display: none;
    }
  }

  .o-btn-group span {
    padding-right: 0;
  }

  .o-btn-search {
    flex-shrink: 0;
  }

  .hero-search_unit {
    color: #2E4859;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    font-family: "NotoSans-Bold";
    padding: 0 20px;
  }

  .o-btn-search {
    padding-left: 54px;
    padding-right: 104px;
    width: initial;
    margin-left: 40px;
    height: 50px;
  }

  .o-btn-search::after {
    background-repeat: no-repeat;
    content: "";
    background-position: center;
    background-size: 28px;
  }

  @media screen and (min-width: 1200px) {

    .search-option {
      font-size: 20px;
      line-height: 27px;
      padding: 12px 23px;
      font-weight: 700;
      border-radius: 7px;
    }


  }

  @media screen and (max-width: 1199px) {
    font-size: rem(14px);
    padding-top: 24px;

    .search-option {
      margin-right: 17px;
    }

    .hero2-mode-select .search-option:last-of-type {
      margin-right: 0;
    }

    .o-btn-search::after {
      background-size: 14px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }

    .hero-search_bottom {
      flex-direction: column;

      &>div {
        flex-wrap: wrap;
      }
    }

    .last-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      margin-top: 5px;

      .text-white.o-noto-bold.d-block.d-lg-none{
        margin-left: -10px;
      }

      a {
        padding: 10px;
        flex-shrink: 0;
      }

      button{
        flex-shrink: 0;
        margin-left: auto;

        span{
          padding-right: 1rem;
        }
      }
    }
    

    .o-btn-group::after {
      width: 41px;
    }

    .map-icon {
      height: 41px;
      width: 41px;
      line-height: 41px;
      font-size: 1.4rem;
      border-radius: 7px;
      margin-left: 11px;
      margin-right: 0;

    }

    .hero-search_top {
      flex-direction: column;
      margin-bottom: 10px;
    }

    .hero2-mode-select {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      justify-content: center;
      width: 100%;

      button {
        margin-bottom: 8px;
      }
    }

    .hero-search_flat-detail {

      input {
        height: 41px;
      }

      .hero-search_layer {
        height: 41px;
        line-height: 41px;
      }
    }

    .hero-search_bottom {

      .hero-search_flat-detail {
        height: 41px;
        border: none;
      }

      .hero-search_flat-detail:first-of-type {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
      }

      .hero-search_flat-detail:last-of-type {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        border: none;

        input:last-of-type {
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
        }
      }
    }

    .hero-search_bottom .select2-container .select2-selection--single .select2-selection__rendered {
      height: 41px;
    }

    .select2-container--bootstrap4 .select2-selection--single,
    input.form-control,
    div.form-control,
    .select2-container--bootstrap4 .select2-selection--multiple {
      height: 41px;
      min-height: 41px;
      border-radius: 7px;
      margin-bottom: 10px;
    }

    .select2-container--bootstrap4 .select2-selection--single {
      height: 41px !important;
    }

    .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
      line-height: 41px;
    }

    .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
      margin-top: -11px;
    }

    .hero-search_unit {
      line-height: 41px;
    }

    .input-height-50,
    .main-hero .form-control {
      height: 41px;
    }

    .checkbox-25 {
      width: 13px;
    }

    .o-rounded-15 {
      border-radius: 7px;
    }

    .hero-search_is-new {
      margin-left: 0;
    }

    .hero-seaarch_input-group {
      flex-direction: column;
      width: 100%;
    }

    .hero-seaarch_input-group>div {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 7px;
    }

    .hero-search_is-new>div {
      padding-left: 10px;
      padding-right: 29px;
    }

    .hero-search_unit {
      font-size: 14px;
    }

    .o-btn-search {
      padding: 7px 42px 7px 14px;
      margin-left: 0;
      font-size: 14px;
      height: 41px;
    }

    .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder,
    .select2-container .select2-search--inline .select2-search__field {
      font-size: 14px;
      width: 100% !important;
    }

    h1 {
      font-size: 1rem;
      max-width: 80%;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 41px;
    }

    .select2-container--bootstrap4 .select2-selection--single,
    input.form-control,
    div.form-control,
    .select2-container--bootstrap4 .select2-selection--multiple {
      padding-left: 5px;
    }

    .hero-search_flat-detail .hero-search_layer {
      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 1199px) {

  .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {}

  .hero-search .select2-container--bootstrap4 .select2-selection--single,
  .hero-search input.form-control,
  .hero-search input.input-overlay,
  .hero-search div.form-control,
  .hero-search div.input-overlay,
  .hero-search .select2-container--bootstrap4 .select2-selection--multiple {
    height: 41px;
    min-height: 41px;
    border-radius: 7px;
    margin-bottom: 10px;
  }
}