<section class="main-hero o-blue-gradient text-white" id="top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y">
                    <h2 class="o-bubble-title mb-0 base-red-bg text-white">Nyiss velünk ingatlanirodát!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="w-100 d-flex align-items-center justify-content-start">Biztonságos és nyereséges befektetési lehetőséget keresel?</h1>
                <h4 class="w-100 d-flex align-items-center justify-content-start pt-3 pb-5">Most akár 500.000 - 1.000.000 Ft összegű irodanyitási támogatást nyerhetsz.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <a href="kapcsolat" class="o-primary-btn o-btn-group o-btn-send">
                    <span>Kitöltöm a jelentkezési lapot!</span>
                </a>
            </div>
        </div>
    </div>
</section>