<section class="base-red-bg pt-5 position-relative o-blue-opacity-bg mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 o-mt-m6">
                <figure class="o-border-red-deco">
                    <a href="#!">
                        <img class="img-fluid" src="../../../../img/aloldalak/franchise/csatlakozz/pic.png" alt="Csatlakozzon az Openhouse-hoz!">
                    </a>
                </figure>
            </div>
            <div class="col-12 col-md-7 text-center text-md-left pl-md-5 pl-0 pb-5">
                <h3 class="w-100 d-flex align-items-center text-white justify-content-center justify-content-md-start">Csatlakozzon az Openhouse-hoz!</h3>
                <h4 class="w-100 d-flex o-noto-bold align-items-center py-3 text-white justify-content-center justify-content-md-start">Ingatlan és marketingkommunikáció</h4>
                <p class="text-white py-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet cursus pulvinar. Proin congue ultricies diam quis pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                </p>
            </div>
        </div>
    </div>
</section>