<section class="franchise-support o-blue-opacity-bg position-relative">
    <div class="full-img-slider-2 o-carousel container">
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <div class="info">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-5 mt-3">
                            <img class="img-fluid slide-img o-border-red-deco" src="../../../../img/aloldalak/franchise/tamogatas/tamogatas.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div class="col-12 col-lg-7 text-center text-lg-left">
                            <h4 class="slider-heading w-100 d-flex o-noto-bold align-items-center py-3 text-white justify-content-center justify-content-lg-start">Felmérjük a lehetőségeket</h4>
                            <h5 class="text-white py-3">
                                Megvizsgáljuk a piacot, elemezzük a versenytársakat, hogy döntésed megalapozott és elképzelésed megvalósítható legyen.
                            </h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <div class="info">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-5 mt-3">
                            <img class="img-fluid slide-img o-border-red-deco" src="../../../../img/aloldalak/franchise/folyamatabra/Group6.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div class="col-12 col-lg-7 text-center text-lg-left pb-5">
                            <h4 class="slider-heading w-100 d-flex o-noto-bold align-items-center py-3 text-white justify-content-center justify-content-lg-start">Átbeszéljük az üzleti tervet</h4>
                            <h5 class="text-white py-3">
                                Befektetőként fontos tervezni. Üzleti terved elkészítéséhez megosztjuk veled a hálózatépítésterén szerzett tapasztalatainkat.
                            </h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <div class="info">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-5 mt-3">
                            <img class="img-fluid slide-img o-border-red-deco" src="../../../../img/aloldalak/franchise/folyamatabra/Group1.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div class="col-12 col-lg-7 text-center text-lg-left pb-5">
                            <h4 class="slider-heading w-100 d-flex o-noto-bold align-items-center py-3 text-white justify-content-center justify-content-lg-start">Egységes irodai arculatot biztosítunk</h4>
                            <h5 class="text-white py-3">
                                Megtervezzük az irodád külső-belső arculatát. Az iroda kialakítását is menedzseljük, hogy az arculati elemek, irodai eszközök megfelelő formában és minőségben kerüljenek a helyükre.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <div class="info">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-5 mt-3">
                            <img class="img-fluid slide-img o-border-red-deco" src="../../../../img/aloldalak/franchise/folyamatabra/Group2.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div class="col-12 col-lg-7 text-center text-lg-left pb-5">
                            <h4 class="slider-heading w-100 d-flex o-noto-bold align-items-center py-3 text-white justify-content-center justify-content-lg-start">A toborzásban is segítünk</h4>
                            <h5 class="text-white py-3">
                                A sikeredet egy jó csapat felépítése alapozza meg. A toborzás, kiválasztás, képzés, integrálás minden lépésénél fogjuk a kezedet.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <div class="info">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-5 mt-3">
                            <img class="img-fluid slide-img o-border-red-deco" src="../../../../img/aloldalak/franchise/folyamatabra/Group3.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div class="col-12 col-lg-7 text-center text-lg-left pb-5">
                            <h4 class="slider-heading w-100 d-flex o-noto-bold align-items-center py-3 text-white justify-content-center justify-content-lg-start">Komplex vállalatirányításai rendszert fejlesztünk</h4>
                            <h5 class="text-white py-3">
                                Saját IT rendszereinket folyamatosan innovatív megoldásokkal bővítjük, melyet Te és kollégáid teljes mértékben használhattok a hirdetések egyszerű áttöltésére éppúgy, mint az ingatlanok és ügyfelek kezelésére vagy vezetői feladataid támogatására.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->

        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <div class="info">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-5 mt-3">
                            <img class="img-fluid slide-img o-border-red-deco" src="../../../../img/aloldalak/franchise/folyamatabra/Group4.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div class="col-12 col-lg-7 text-center text-lg-left pb-5">
                            <h4 class="slider-heading w-100 d-flex o-noto-bold align-items-center py-3 text-white justify-content-center justify-content-lg-start">A működéshez jogi támogatást adunk</h4>
                            <h5 class="text-white py-3">
                                Az ingatlan- és pénzügyi közvetítés széleskörű, összetett előírásoknak kell, hogy megfeleljen. Biztosítjuk irodád számára a szükséges dokumentumokat, szerződéseket.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <div class="info">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-5 mt-3">
                            <img class="img-fluid slide-img o-border-red-deco" src="../../../../img/aloldalak/franchise/folyamatabra/Group5.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div class="col-12 col-lg-7 text-center text-lg-left pb-5">
                            <h4 class="slider-heading w-100 d-flex o-noto-bold align-items-center py-3 text-white justify-content-center justify-content-lg-start">Támogatjuk a marketing tevékenységedet</h4>
                            <h5 class="text-white py-3">
                                Az ingatlanhirdetések automatikus áttöltése mellett a központi hirdetési csomagjaink árelőnyét is élvezheted. Országos marketing kampányok szervezésével erősítjük hálózatunk ismertségét.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
            <div class="img-fill">
                <div class="info">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-5 mt-3">
                            <img class="img-fluid slide-img o-border-red-deco" src="../../../../img/aloldalak/franchise/folyamatabra/Group6.png" alt="Társadalmi felelősségvállalás">
                        </div>
                        <div class="col-12 col-lg-7 text-center text-lg-left pb-5">
                            <h4 class="slider-heading w-100 d-flex o-noto-bold align-items-center py-3 text-white justify-content-center justify-content-lg-start">Folyamatos fejlődési lehetőséget kínálunk</h4>
                            <h5 class="text-white py-3">
                                Szakmai tapasztalat nélkül is sikeres lehetsz, mi segítünk megszerezni a szükséges tudást. Gondoskodunk a partnereinket és az értékesítőket támogató, magas színvonalú fejlesztési programokról.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Item -->

    </div>
    <!-- THUMBNAILS -->
    <div class="o-carousel container pagi-container">
        <div class="full-img-slider-2-pagi o-page-pagination">
            <ul class="pagination mb-0 justify-content-center justify-content-lg-start full-img-slider-2-nav">
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item"><a class="page-link">4</a></li>
                <li class="page-item"><a class="page-link">5</a></li>
                <li class="page-item"><a class="page-link">6</a></li>
            </ul>
        </div>
    </div>
</section>