<section class="position-relative custom-padding-y">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y pt-0">
                    <h2 class="o-bubble-title mb-0 base-red-bg text-white">Miért válaszd az Openhouse-t?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 pb-5 pb-lg-0">
                <h5>Franchise modellünk a garancia a befektetésed gyors és biztonságos megtérülésére.
                    Lépj kapcsolatba velünk!</h5>
                <div class="col-12 col-md-8 pl-0 mt-3 d-none d-lg-block">
                    <a href="kapcsolat" class="o-primary-btn o-btn-group o-btn-send">
                        <span>Kitöltöm a jelentkezési lapot!</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div id="faqAccordion">
                    <div class="card o-rounded-15 mb-3">
                        <div id="faqAccordion1">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed d-flex align-items-center " data-toggle="collapse" data-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                                    Alacsony tőkebefektetés
                                    <i class="fas"></i>
                                </button>
                            </h5>
                        </div>

                        <div id="faqCollapse1" class="collapse" aria-labelledby="faqAccordion1" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>
                                    Alacsony belépési díj mellett relatív alacsony tőkére van szükséged, mellyel a magad hasznára fordíthatod kipróbált üzleti modellünket és a bevezetett márkanevünket.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card o-rounded-15 mb-3">
                        <div id="faqAccordion2">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                                    Akár szakmai tapasztalat nélkül
                                    <i class="fas"></i>
                                </button>
                            </h5>
                        </div>
                        <div id="faqCollapse2" class="collapse" aria-labelledby="faqAccordion2" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>
                                    A vállalkozásod elindításához nem szükséges szakmai tapasztalat, azt segítünk megszerezni.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card o-rounded-15 mb-3">
                        <div id="faqAccordion3">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                                    Segítünk a működtetésben
                                    <i class="fas"></i>
                                </button>
                            </h5>
                        </div>
                        <div id="faqCollapse3" class="collapse" aria-labelledby="faqAccordion3" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>
                                    Partnereinket és az értékesítőket nemcsak betanítjuk, hanem folyamatos fejlődést biztosítunk részükre. Emellett a vezetési, a promóciós és a beszerzési tevékenységben is támogatjuk. A működéshez szükséges jogi dokumentációs hátteret is biztosítjuk.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 d-block d-lg-none">
                    <a href="kapcsolat" class="o-primary-btn o-btn-group o-btn-send">
                        <span>Kitöltöm a jelentkezési lapot!</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>