<section class="road-map-section position-relative" id="franchiseRoadMap">
    <div class="container">
        <div class="row animation-left py-3 py-xl-4" id="mapFirstRow">
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mb-3 mb-md-0">
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/1.svg" alt="Folyamatábra">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/aloldalak/franchise/folyamatabra/Group1.png" alt="Folyamatábra">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker right-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Személyes vagy online interjú</h5>
                    </div>
                    <div class="card-body">
                        <p>Első találkozásunkkor megismerjük egymás elképzeléseit, beszélgetünk a franchise-ról és irányított kérdéseken keresztül felmérjük a motivációdat, terveidet.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-right py-3 py-xl-4 mt-5 mt-xl-0 flex-column-reverse flex-xl-column-reverse-none" id="mapSecondRow">
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker left-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Szándéknyilatkozat aláírása, belépési díj befizetése</h5>
                    </div>
                    <div class="card-body">
                        <p>Az előszerződés aláírásával és a belépési díj megfizetésével a csatlakozási szándékodat jogilag is megerősíted.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center flex-column-reverse flex-xl-column-reverse-none">
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/aloldalak/franchise/folyamatabra/Group2.png" alt="Folyamatábra">
                        </picture>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mt-3 mt-md-0 mb-3 mb-md-0">
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/2.svg" alt="Folyamatábra">
                            </div>
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-left py-3 py-xl-4" id="mapThirdRow">
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mb-3 mb-md-0">
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/3.svg" alt="Folyamatábra">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/aloldalak/franchise/folyamatabra/Group3.png" alt="Folyamatábra">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker right-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Üzleti terv elkészítése, CF modellezés, döntés</h5>
                    </div>
                    <div class="card-body">
                        <p>Bevételeid és költségeid mellett a céljaidat is előre vetítheted, melyek kidolgozásában tanácsokkal segítünk. CF kalkulátorunk segítségével modellezheted új vállalkozásod pénzáramlását.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-right py-3 py-xl-4 flex-column-reverse flex-xl-column-reverse-none" id="mapFourthRow">
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker left-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Franchise szerződés aláírása</h5>
                    </div>
                    <div class="card-body">
                        <p>Mint Franchise Átadó és Franchise Átvevő, a franchise hálózatunk jogait és kötelezettségeit a partneri együttműködésünkről írásos szerződésbe foglaljuk.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center flex-column-reverse flex-xl-column-reverse-none">
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/aloldalak/franchise/folyamatabra/Group4.png" alt="Folyamatábra">
                        </picture>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mt-3 mt-md-0 mb-3 mb-md-0">
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/4.svg" alt="Folyamatábra">
                            </div>
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-left py-3 py-xl-4" id="mapFifthRow">
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mb-3 mb-md-0">
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/5.svg" alt="Folyamatábra">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/aloldalak/franchise/folyamatabra/Group5.png" alt="Folyamatábra">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker right-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Irodahelyszín keresése</h5>
                    </div>
                    <div class="card-body">
                        <p>Segítünk felkutatni Openhouse iroda kialakítására alkalmas ingatlanokat. Közös döntés alapján kerül kiválasztásra a megfelelő irodahelyiség.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-right py-3 py-xl-4 flex-column-reverse flex-xl-column-reverse-none" id="mapSixthRow">
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker left-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Iroda kialakítása</h5>
                    </div>
                    <div class="card-body">
                        <p>Irodád kialakításához átadjuk az Openhouse arculati elemeinek leírását, megtervezzük az iroda külső-belső arculatát.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center flex-column-reverse flex-xl-column-reverse-none">
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/aloldalak/franchise/folyamatabra/Group6.png" alt="Folyamatábra">
                        </picture>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mt-3 mt-md-0 mb-3 mb-md-0">
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/6.svg" alt="Folyamatábra">
                            </div>
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animation-left py-3 py-xl-4" id="mapSeventhRow">
            <div class="col-12 col-xl-6">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-xl-3">
                        <div class="d-flex align-items-center mb-3 mb-md-0">
                            <picture>
                                <img class="map-arrow" width="50" src="../../../../img/svg/dupla_nyil.svg" alt="Folyamat">
                            </picture>
                            <div class="map-number">
                                <img width="60" src="../../../../img/svg/numbers/5.svg" alt="Folyamatábra">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-9">
                        <picture class="map-img">
                            <img class="img-fluid" src="../../../../img/aloldalak/franchise/folyamatabra/Group5.png" alt="Folyamatábra">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 map-right-col">
                <div class="card o-box-shadow-darker right-box">
                    <div class="map-card-header d-flex justify-content-center align-items-center mb-2">
                        <h5 class="map-card-header-title o-lighter-red-bg-opacity text-white px-3 py-4 o-rounded-15 text-center">Képzés, integráció</h5>
                    </div>
                    <div class="card-body">
                        <p>Vezetői képzésünk és integrációs programunk felkészít az ingatlaniroda vezetésére, elméleti és on the job módszertannal is támogatjuk a sikeres vezetővé válást.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-between align-items-center pb-3 pb-xl-4">
            <div class="d-flex justify-content-center w-100">
                <a href="#top" class="o-primary-btn o-btn-group o-btn-info">
                    <span>Nyitás</span>
                </a>
            </div>
        </div>
    </div>
</section>