<section class="pt-5 position-relative mt-5">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-xl-8 o-mt-m6">
                <p class="d-block d-xl-none py-3 o-black o-noto-bold">
                    Franchise partnereink országos jelenléte és több mint 15 éves működésünk számodra is a folyamatos fejlődést és a kiszámíthatóságot biztosítja.
                </p>
                <a href="#!">
                    <img class="img-fluid o-rounded-15" src="../../../../img/aloldalak/franchise/terkep/map.png" alt="Csatlakozzon az Openhouse-hoz!">
                </a>
            </div>
            <div class="col-12 col-xl-4 text-center text-md-left">
                <p class="d-none d-xl-block py-3 o-black o-noto-bold">
                    Franchise partnereink országos jelenléte és több mint 15 éves működésünk számodra is a folyamatos fejlődést és a kiszámíthatóságot biztosítja.                  </p>
                <div class="row pt-3 position-relative o-mt-m6 mt-xl-0">
                    <div class="col-12">
                        <div class="counter-card row text-white justify-content-center align-items-center m-auto o-box-shadow-darker">
                            <div class="col-12 px-4">
                                <div class="row text-center">
                                    <div class="col-6 border-right p-3">
                                        <h2><span id="value1">13</span> +</h2>
                                        <p>tapasztalat</p>
                                    </div>
                                    <div class="col-6 p-3">
                                        <h2><span id="value2">32</span></h2>
                                        <p>iroda</p>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-6 border-top border-right p-3">
                                        <h2><span id="value3">130</span> +</h2>
                                        <p>munkatárs</p>
                                    </div>
                                    <div class="col-6 border-top p-3">
                                        <h2><span id="value4">60.000</span> +</h2>
                                        <p>Elégedett ügyfél</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>