<section class="pt-3 position-relative mb-3 mb-md-5 first-card-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 py-0">
                <h2 class="o-base-blue pt-4">Miért velünk?</h2>
                <h5>Vállalkozásod elindítását megkönnyíti egy tapasztalt, stabil üzleti partner. Az Openhouse Ingatlan - és Pénzügyi Közvetítő Hálózat hosszútávú, jövedelmező együttműködési lehetőséget kínál:</h5>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <ul class="list-unstyled">
                            <li class="o-plus-icon"><h5 class="d-flex align-items-center mb-0">mind a nyitásban, mind a napi operációban támogatunk;</h5></li>
                            <li class="o-plus-icon"><h5 class="d-flex align-items-center mb-0">innovatív megoldásokat alkalmazunk;</h5></li>
                            <li class="o-plus-icon"><h5 class="d-flex align-items-center mb-0">kiemelkedő jövedelemszerzési lehetőséget biztosítunk;</h5></li>
                            <li class="o-plus-icon"><h5 class="d-flex align-items-center mb-0">márkánkat tudatosan, a vásárlói elégedettségre építjük;</h5></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <ul class="list-unstyled">
                            <li class="o-plus-icon"><h5 class="d-flex align-items-center mb-0">országos hálózattal rendelkezünk;</h5></li>
                            <li class="o-plus-icon"><h5 class="d-flex align-items-center mb-0">minőségi szolgáltatásokat nyújtunk ügyfeleinknek és partnereinknek;</h5></li>
                            <li class="o-plus-icon"><h5 class="d-flex align-items-center mb-0">vállalati kultúránkat a munkatársainkkal együtt építjük. </h5></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6 card-col">
                {{> franchise_3_col_simple_card }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center mb-3">
            <div class="col-12">
                <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y pt-0">
                    <h2 class="o-bubble-title mb-0 base-red-bg text-white">Mit kapsz az Openhouse franchise hálózat tagjaként?</h2>
                </div>
            </div>
        </div>
    </div>
</section>