<section class="custom-padding-y position-relative mb-5 o-blue-opacity-bg mt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="o-call-to-action-bubble d-flex align-items-center custom-padding-y pt-0">
                    <h2 class="o-bubble-title mb-0 base-red-bg text-white">Egyszerűen, gyorsan! Válts életformát!</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-12 py-0">
                <h4 class="text-white">Csak néhány lépés, hogy az Openhouse franchise hálózat tagja legyél.</h4>
            </div>
        </div>
    </div>
</section>