<section class="container-fluid o-blue-gradient text-white sample">
    <div class="container">
        <div class="row sample-row">
            <div class="col-12 d-flex align-items-center w-100">
                <article class="">
                    <h1>Button variations</h1>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15">Left</button>
                        <button type="button" class="btn o-gray-primary-btn">Middle</button>
                        <button type="button" class="btn o-blue-primary-btn o-rounded-15-right-15">Right</button>
                    </div>
                    <div class="btn-group align-items-center" role="group" aria-label="Basic example">
                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15">Text</button>
                        <button type="button" class="btn btn-secondary o-rounded-15-right-15 o-line-height-base"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="btn-group align-items-center" role="group" aria-label="Basic example">
                        <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50">Text</button>
                        <button type="button" class="btn o-red-primary-btn o-rounded-15-right-15 o-h-50 o-line-height-base"><i class="fas fa-search"></i></button>
                    </div>
                </article>
                <article class="bg-white ml-5 p-5">
                    <button type="button" class="btn o-red-primary-btn o-rounded-15">15px radius red</button>
                    <button type="button" class="btn o-gray-primary-btn o-rounded-7">7px r Gray</button>
                    <button type="button" class="btn o-blue-primary-btn o-rounded-15">blue</button>
                </article>
            </div>
        </div>
    </div>
</section>
