<section class="container-fluid o-blue-gradient text-white sample p-5">
    <div class="container">
        <h1>Card variations</h1>
        <div class="row sample-row">
            <div class="col-12 col-lg-6 d-flex align-items-center w-100">
                {{> offers_card }}
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center w-100 o-black">
                {{> simple_card_franchise }}
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center w-100 o-black mt-5">
                {{> news_card }}
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center w-100 o-black mt-5">
                {{> offers_card }}
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center w-100 o-black mt-5">
                {{> services_card }}
            </div>
        </div>
    </div>
</section>