<section class="container-fluid o-blue-gradient text-white sample">
    <div class="container">
        <div class="row sample-row">
            <div class="col-12 d-flex align-items-center w-100">
                <article class="">
                    <h1>Icons</h1>
                    <ul style="margin: 0;">
                        <li><span class="icon login"></span> Login</li>
                        <li><span class="icon tps"></span> TPS Reports</li>
                        <li><span class="icon twitter"></span> Twitter</li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</section>
