<div class="o-border-red-deco card-wrapper">
    <div class="o-card card o-rounded-top-right-0">
        <div class="card-body">
            <div class="card-content">
                <h5 class="o-card-second-title card-title o-noto-bold">Ingatlan értékesítés</h5>
                <p class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet cursus pulvinar. Proin congue ultricies diam quis pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>
</div>