<section class="container-fluid base-red-bg text-white sample">
    <div class="container">
        <div class="row sample-row">
            <div class="col-12 d-flex align-items-center w-100">
                <article class="">
                    <h1>Heading, Secondary Text</h1>
                    <p>The small element is used to create a lighter, secondary text in any heading:</p>
                    <h1>h1 heading <small>secondary text</small></h1>
                    <h2>h2 heading <small>secondary text</small></h2>
                    <h3>h3 heading <small>secondary text</small></h3>
                    <h4>h4 heading <small>secondary text</small></h4>
                    <h5>h5 heading <small>secondary text</small></h5>
                    <h6>h6 heading <small>secondary text</small></h6>
                </article>
            </div>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>
</section>