.pattern-section {
  min-height: 500px;
  padding-bottom: 2rem;
  padding-top: 2rem;

  @include media-breakpoint-up(md) {
    min-height: 580px;
  }

  .pattern-bg {
    position: absolute;
    width: 100%;
    height: 257px;
    object-fit: cover;
    -o-object-fit: cover;
    @extend .o-blue-gradient-80;
    @include media-breakpoint-up(sm) {
      object-fit: inherit;
      -o-object-fit: inherit;
    }
  }

  .pattern-row {
    min-height: 260px;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 3rem 0;
  }

  .pattern-row2 {
    padding: 2rem 0;
  }

  .pattern {
    position: absolute;
    right: 0;
    top: -16%;
    width: 350px;
    z-index: -1;
    @include media-breakpoint-up(md) {
      width: 450px;
      top: -35%;
    }
  }


  .pattern2 {
    position: absolute;
    right: 0;
    top: -15%;
    width: 470px;
    height: 470px;
    z-index: -1;
    @include media-breakpoint-up(md) {
      width: auto;
    }

    @include media-breakpoint-up(xl) {
      top: -40%;
      height: auto;
    }
  }
}