.carousel-real-estate-list {
  &.card {
    @extend .o-rounded-7;
    .card-content {
      ul {
        margin-bottom: 0;
        li {
          line-height: 1;
          a {
            color: $base-blue;
            font-weight: 900;
            font-family: $noto-bold;
            font-size: 0.8rem;
            @include media-breakpoint-up(sm) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.real-estate-nav {
  .estate-item {
    p {
      cursor: pointer;
      color: $darker-red;
      font-family: $noto-bold;
      padding: 0.5rem;
      text-align: center;
      @extend .o-rounded-7;
      &.active,
      &:hover {
        background-color: $darker-red;
        color: $white;
      }
    }
  }

  // slick slide override
  .slick-next::before {
    content: '\f054';
    @include media-breakpoint-up(md) {
      right: -20px;
    }
  }

  .slick-next {
    right: -20px;
    @include media-breakpoint-up(md) {
      right: -25px;
    }
  }

  .slick-prev {
    left: -20px;
    @include media-breakpoint-up(md) {
      left: -25px;
    }
  }

  .slick-prev::before {
    content: '\f053';
    @include media-breakpoint-up(md) {
      left: -20px;
    }
  }

  .slick-prev::before, .slick-next::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: $blue-gray;
    position: absolute;
    top: -10px;
  }

  .slick-track {
    margin-bottom: 5px;
  }

  /* the slides */
  .slick-slide {
    margin: 0 5px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -5px;
  }
}