<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="news">

{{> header }}

<main class="main list">
    <section class="container-fluid pt-5 position-relative pb-5 pt-5 o-lighter-gray-bg">
        <div class="row news-row justify-content-center">
                <div class="col-12 col-xl-3">
                    {{> list_sidebar_news }}
                </div>
                <div class="col-12 col-xl-8 ml-xl-5 mb-5 mb-lg-0">
                    <div class="card o-card bg-white o-rounded-15 p-3 col-12">
                        <div class="news-card">
                            <div class="row align-items-center mb-3">
                                <div class="col">
                                    <nav class="navbar navbar-expand-md p-0 news-nav">
                                        <ul class="navbar-nav d-flex justify-content-between text-center w-100">
                                            <li class="nav-item active">
                                                <a class="o-noto-bold o-base-blue d-flex px-3 py-2 o-rounded-7 text-decoration-none" href="#" target="_blank">Vásárlóknak</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="o-noto-bold o-base-blue d-flex px-3 py-2 o-rounded-7 text-decoration-none" href="#" target="_blank">Eladóknak</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="o-noto-bold o-base-blue d-flex px-3 py-2 o-rounded-7 text-decoration-none" href="#" target="_blank">Bérlőknek</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="o-noto-bold o-base-blue d-flex px-3 py-2 o-rounded-7 text-decoration-none" href="#" target="_blank">Bérbeadóknak</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="o-noto-bold o-base-blue d-flex px-3 py-2 o-rounded-7 text-decoration-none" href="#" target="_blank">Pénzügyi szolgáltatások</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                    {{> news_card }}
                                </div>
                                <div class="col-12 col-lg-6">
                                    {{> news_card }}
                                </div>
                            </div>
                            <div class="row mt-3 mt-lg-5">
                                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                    {{> news_card }}
                                </div>
                                <div class="col-12 col-lg-6">
                                    {{> news_card }}
                                </div>
                            </div>
                            <div class="row mt-3 mt-lg-5">
                                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                    {{> news_card }}
                                </div>
                                <div class="col-12 col-lg-6">
                                    {{> news_card }}
                                </div>
                            </div>
                            <div class="row mt-3 mt-lg-5">
                                <div class="col-12 col-lg-7">
                                    <div class="d-flex justify-content-center justify-content-lg-end">
                                        <span class="o-gray-100 pr-lg-5">1 oldal / 24</span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 offset-lg-2">
                                    <div class="d-flex justify-content-center justify-content-lg-end">
                                        <a href="#!" class="o-base-blue text-decoration-non o-noto-bold">Következő oldal <i class="fas fa-chevron-right ml-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="base-red-bg pt-5 position-relative pb-5 mb-3 mt-5 o-rounded-15 newsletter-section">
                        <h2 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 text-white">Érdekel az ingatlan piac változása? Iratkozz fel hírlevelünkre!</h2>
                        <h5 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 py-3 text-white">Szakmai tartalmak, hitelkonstrukciók,  aktualitások.</h5>
                        <div class="container pb-5">
                            <form class="" action="">
                                <div class="form-row justify-content-center align-items-center mt-4">
                                    <div class="col-6 col-md-3 pr-0 mb-2 mb-md-0">
                                        <label class="sr-only" for="name2">Név</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control o-rounded-15-left-15 o-rounded-15-right-0 border-right border-top-0 border-bottom-0 border-left-0 o-h-50" id="name2" placeholder="Név">
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3 pl-0 mb-2 mb-md-0">
                                        <label class="sr-only" for="mail2">E-mail</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control o-rounded-15-left-0 o-rounded-15-right-15 border-0 o-h-50" id="mail2" placeholder="E-mail">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                                     <button type="button" class="o-primary-btn o-btn-group o-btn-newsletter o-medium-btn-size w-100" role="button">
                                        <span>Feliratkozom!</span>
                                    </button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
    </section>
</main>
{{> footer }}

</body>

</html>