<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="newsDetails">

{{> header }}

<main class="main news-details list">
    <section class="container-fluid pt-5 position-relative pb-5 pt-5 o-lighter-gray-bg">
        <div class="row news-row justify-content-center">
            <div class="col-12 col-xl-3">
                {{> list_sidebar_news }}
            </div>
            <div class="col-12 col-xl-8 ml-lg-4 mb-5 mb-lg-0">
                <div class="card o-card bg-white o-rounded-15 p-3 p-lg-5">
                    <article class="news-card p-3 p-lg-5">
                        <div class="row align-items-center mb-3">
                            <figure class="col-12">
                                <img class="o-rounded-15 rounded-bottom-left-right-0 img-fluid w-100 m-auto" src="../../../img/aloldalak/details/news.png" alt="">
                            </figure>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-9">
                                <h3 class="o-base-blue">CSOK Otthonteremtési támogatás</h3>
                                <h6 class="o-black-grayish o-noto-bold">Összefoglaltuk az összes fontos tudnivalót a CSOK-kal kapcsolatban.</h6>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="d-flex justify-content-end">
                                    <span class="o-red-card-label" id="date">2020.01.01</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 article-body o-gray-200">
                                <p>Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed sodales arcu nunc id nibh. Maecenas scelerisque, mauris vel vehicula vulputate, ligula nisi efficitur lorem, quis vestibulum urna nisi eu odio. Pellentesque euismod porttitor posuere. Vestibulum libero lorem, sagittis at malesuada vitae, hendrerit nec nulla. Donec aliquet ut tortor vel varius.</p>
                                <p>Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. tt Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. tMauris vestibulum magna dui, a vulputate lacus blandit nec. Morbi posuere mi a turpis tempor vulputate. Morbi dapibus volutpat mauris ut tincidunt. Sed accumsan vestibulum eros at imperdiet. Aliquam eros ligula, fermentum ornare varius at, aliquet id magna.</p>
                                <p class="o-noto-bold">Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed sodales arcu nunc id nibh. </p>
                                <figure>
                                    <img class="img-fluid image-left mr-0 mr-lg-3" src="../../../img/aloldalak/details/news.jpg" alt="Hírek">
                                </figure>
                                <p>Maecenas scelerisque, mauris vel vehicula vulputate, ligula nisi efficitur lorem, quis vestibulum urna nisi eu odio. Pellentesque euismod porttitor posuere. Vestibulum libero lorem, sagittis at malesuada vitae, hendrerit nec nulla. </p>
                                <p>Donec aliquet ut tortor vel varius. Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. tt Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. tMauris vestibulum magna dui, a vulputate lacus blandit nec. Morbi posuere mi a turpis tempor vulputate. Morbi dapibus volutpat mauris ut tincidunt. Sed accumsan vestibulum eros at imperdiet. Aliquam eros ligula, fermentum ornare varius at, aliquet id magna.</p>
                                <p>Praesent eget lorem in massa accumsan dapibus nec sed erat. Proin bibendum sed mi quis eleifend. Sed in risus non dui pellentesque lobortis. Vestibulum sit amet nisl dui. Nunc feugiat ipsum ac massa congue, semper vestibulum est tincidunt. Integer dignissim, enim nec molestie pharetra, nulla tortor suscipit neque, sed sodales arcu nunc id nibh. Maecenas scelerisque, mauris vel vehicula vulputate, ligula nisi efficitur lorem, quis vestibulum urna nisi eu odio. Pellentesque euismod porttitor posuere. Vestibulum libero lorem, sagittis at malesuada vitae, hendrerit nec nulla. Donec aliquet ut tortor vel varius.</p>
                                <p>Cras egestas tincidunt nulla et cursus. Ut ac molestie dui. tt Suspendisse tempus aliquet erat, ac elementum justo eleifend eget. Pellentesque sodales aliquam lacus, nec tristique ligula rutrum quis. tMauris vestibulum magna dui, a vulputate lacus blandit nec. Morbi posuere mi a turpis tempor vulputate. <span class="o-noto-bold">Morbi dapibus volutpat mauris ut tincidunt. Sed accumsan vestibulum eros at imperdiet. Aliquam eros ligula, fermentum ornare varius at, aliquet id magna.</span></p>
                            </div>
                        </div>
                         <div class="d-flex flex-column flex-xl-row mb-5 mt-5">
                            <a href="#" class="o-primary-btn o-btn-group o-btn-info o-medium-btn-size mb-3 mb-xl-0 mr-xl-5 h-auto" role="button">
                                <span>Hitelek és állami támogatások</span>
                            </a>
                                <a href="#" class="o-primary-btn o-blue-secondary-btn o-btn-group o-btn-contact o-medium-btn-size h-auto">
                                <span>Kapcsolat</span>
                            </a>
                        </div>
                        <hr>
                        <div class="row mt-3 mb-3 px-3 py-2">
                            <div class="col-12">
                                <div class="d-flex o-base-red o-noto-bold align-items-center">
                                    <span><img width="20" src="../../../img/svg/tag.svg" alt="cimke"></span>
                                    <span class="small o-tags col-10"><a href="#!">támogatás</a>, <a href="#!">csok</a>, <a href="#!">otthon</a>, <a href="#!">tájékoztatás</a></span>
                                    <div class="d-flex justify-content-end col-2">
                                        <a class="p-2" href="#!"><img width="20" src="../../../img/svg/share.svg" alt="Megosztás"></a>
                                        <a class="p-2" href="#!"><img width="25" src="../../../img/svg/print.svg" alt="Nyomtatás"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row px-3 py-2">
                            <div class="col-12">
                                <div class="d-flex justify-content-start">
                                    <a href="#!" class="o-base-blue text-decoration-none"> <i class="fas fa-chevron-left mr-3"></i> Előző oldal</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <section class="base-red-bg pt-5 position-relative pb-5 mb-3 mt-5 o-rounded-15 newsletter-section">
                    <h2 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 text-white">Érdekel az ingatlan piac változása? Iratkozz fel hírlevelünkre! </h2>
                    <h5 class="w-100 d-flex align-items-center justify-content-center text-center px-md-5 py-3 text-white">Szakmai tartalmak, hitelkonstrukciók,  aktualitások.</h5>
                    <div class="container pb-5">
                        <form class="" action="">
                            <div class="form-row justify-content-center align-items-center mt-4">
                                <div class="col-6 col-md-3 pr-0 mb-2 mb-md-0">
                                    <label class="sr-only" for="name2">Név</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control o-rounded-15-left-15 o-rounded-15-right-0 border-right border-top-0 border-bottom-0 border-left-0 o-h-50" id="name2" placeholder="Név">
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 pl-0 mb-2 mb-md-0">
                                    <label class="sr-only" for="mail2">E-mail</label>
                                    <div class="input-group">
                                        <input type="email" class="form-control o-rounded-15-left-0 o-rounded-15-right-15 border-0 o-h-50" id="mail2" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mb-2 mb-md-0">
                                     <button type="button" class="o-primary-btn o-btn-group o-btn-newsletter o-medium-btn-size w-100" role="button">
                                        <span>Feliratkozom!</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</main>
{{> footer }}

</body>

</html>