<div class="privacy-card p-1 p-lg-3 p-xl-4">
    <div class="row">
        <div class="col-12 pb-2 pb-md-0">
            <div class="d-block d-sm-flex justify-content-between align-items-center">
                <h5 class="o-noto-bold o-base-blue mb-3 mb-sm-0">Panaszkezelési tájékoztató</h5>
                <span class="o-red-card-label" id="date">Frissitve: 2020.01.01</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <picture>
                <source media="(min-width:650px)" srcset="../../../img/aloldalak/szabalyzatok/panaszkezeles.jpg" alt="Panaszkezelési tájékoztató">
                <source media="(min-width:465px)" srcset="../../../img/aloldalak/szabalyzatok/panaszkezeles_tab.jpg" alt="Panaszkezelési tájékoztató">
                <img class="img-fluid o-rounded-15 w-100 m-auto o-box-shadow-darker" src="../../../img/aloldalak/szabalyzatok/panaszkezeles_mob.jpg" alt="Panaszkezelési tájékoztató">
            </picture>
        </div>
    </div>
    <div class="row mb-4 mt-3 justify-content-between">
        <div class="col-12 col-lg-5 mt-3">
            <a href="#" type="button" class="o-primary-btn o-btn-group o-btn-send  text-decoration-none" role="button">
                <span>Nyitott Ház Kft. szabályzata</span>
            </a>
        </div>
        <div class="col-12 col-lg-5 mt-3">
            <a href="#" type="button" class="o-primary-btn o-btn-group o-btn-send  text-decoration-none" role="button">
                <span>Open House Kft. szabályzata</span>
            </a>
        </div>
    </div>
    <hr class="o-border-top-gray-2">
    <div class="row mt-3 mb-3 px-3 py-2">
        <div class="col-12">
            <div class="d-flex o-base-red o-noto-bold align-items-center">
                <span><img width="20" src="../../../img/svg/tag.svg" alt="cimke"></span>
                <span class="small o-tags col-10"><a href="#!">tájékoztatás</a>, <a href="#!">szabályzat</a>, <a href="#!">panaszkezelés</a></span>
                <div class="d-flex justify-content-end col-2">
                    <a class="p-2" href="#!"><img width="25" src="../../../img/svg/print.svg" alt="Nyomtatás"></a>
                </div>
            </div>
        </div>
    </div>
</div>