<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="profileDetails">

{{> header }}

<main class="main profile-details list">
    <section class="container-fluid pt-5 position-relative pb-5 pt-5 o-lighter-gray-bg">
        <div class="pb-5">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-3 mb-5 mb-xl-0">
                    {{> list_sidebar_profile }}
                </div>
                <div class="col-12 col-xl-8 ml-xl-3 mb-5 mb-lg-0">
                    <div class="tab-content side-tabs">
                        <div class="tab-pane fade show active" id="profileDetailsContent" role="tabpanel">
                            {{> _profile_personal_details }}
                        </div>
                        <div class="tab-pane fade" id="profileSavedSearch" role="tabpanel">
                            {{> _prof_saved_search }}
                        </div>
                        <div class="tab-pane fade" id="favRealEstate" role="tabpanel">
                            {{> _fav_real_estate }}
                        </div>
                        <div class="tab-pane fade" id="newRealEstateHits" role="tabpanel">
                            {{> _new_real_estate_hits }}
                        </div>
                        <div class="tab-pane fade" id="priceDropMonitor" role="tabpanel">
                            {{> _price_drop_monitor }}
                        </div>
                        <div class="tab-pane fade" id="mandate" role="tabpanel">
                            {{> _profile_mandate }}
                        </div>
                        <div class="tab-pane fade" id="realEstateSale" role="tabpanel">
                            {{> _real_estate_sale }}
                        </div>
                        <div class="tab-pane fade" id="newTip" role="tabpanel">
                            {{> _profile_new_tip }}
                        </div>
                        <div class="tab-pane fade" id="notifications" role="tabpanel">
                            {{> _notifications }}
                        </div>
                        <div class="tab-pane fade" id="credit" role="tabpanel">
                            {{> _credit }}
                        </div>
                        <div class="tab-pane fade" id="messages" role="tabpanel">
                            {{> _messages }}
                        </div>
                        <div class="tab-pane fade" id="newsletters" role="tabpanel">
                            {{> _newsletter }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer }}

</body>

</html>