<!DOCTYPE html>
<html lang="hu" id="my-scrollbar">
{{> head }}
<body id="residentialPark">

{{> header }}

<main class="main list residential-park">
    <section class="container-fluid pt-5 position-relative pb-5 pt-5 o-lighter-gray-bg">
        <div class="pb-5">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8">
                    {{> residential_park_detail_card_header }}
                    {{> residential_park_detail_intro }}
                </div>
                <div class="col-12 col-xl-3 mt-5 mt-xl-0">
                    {{> real_detail_sidebar }}
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer }}

</body>

</html>