/*
@include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }

Example usage: https://getbootstrap.com/docs/4.0/layout/overview/

@include media-breakpoint-down(xs) { ... }
@include media-breakpoint-down(sm) { ... }
@include media-breakpoint-down(md) { ... }
@include media-breakpoint-down(lg) { ... }


@include media-breakpoint-between(sm, md) {
  // your code
}
//  Compiled:
//    @media (min-width: 576px) and (max-width: 992px) {}

https://www.dev-tips-and-tricks.com/use-bootstrap-4-media-query-mixins
*/
/*new breakpoints*/
$xl-up: 1440px;
$xxl-up: 1920px;

//nav
@include media-breakpoint-up(xl) {
  .navigation-wrap {
    .container {
      max-width: 90%;
    }
  }
}