//Responsive typography
html {
  font-size: 0.875rem;

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
  @media(min-width: $xxl-up) {
    font-size: 1.2rem;
  }
}

h1, h2, h3 {
  font-family: $noto-bold;
}

h1 {
  font-size: 1.4rem;
  @include media-breakpoint-up(md) {
    font-size: 1.6rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2.0625rem;
  }
}

h2 {
  font-size: 1.4rem;
  @include media-breakpoint-up(xl) {
    font-size: 2.0625rem;
  }
}

.o-call-to-action-bubble {
  h2 {
    font-size: 1.4rem;

    @include media-breakpoint-up(xl) {
      font-size: 1.8333rem;
    }
  }
}

.font-18 {
  font-size: 1.125rem;
}

.del-text {
  text-decoration-line: line-through;;
  text-decoration-style: solid;
  text-decoration-color: $intense-red;
  text-decoration-thickness: 3.5px;
}

.text-80 {
  font-size: 3rem;
  @include media-breakpoint-up(lg){
    font-size: 5rem;
  }
}

.text-80-base {
  font-size: 4rem;
}

.text-60 {
  font-size: 1.5rem;
  @include media-breakpoint-up(lg){
    font-size: 2.8rem;
  }
}




/* font style
------------------------------------ */

.o-noto-bold {
  font-family: $noto-bold;
}

.o-noto-regular {
  font-family: $noto-regular;
}

.o-small {
  font-size: $small-font-size - 1;
}

.o-smaller {
  font-size: $small-font-size - 25;
}

.o-medium-font {
  font-size: $btn-font-size - 25;
}

.o-underline-text {
  text-decoration: underline;
}

.font-size-18 {
  font-size: 1.125rem;
}

.font-size-25 {
  font-size: 1.563rem;
}

.font-size-20 {
  font-size: 1.25rem;
}