$fa-font-path:         "../webfonts" !default;

$medium-button-size: 46px;
$large-button-size: 70px;

/* base colours
------------------------------------ */

$gradient-blue: rgba(15,50,78,1);
$grad-blue-1: #0f324e;
$grad-blue-2: #37525b;



$darker-blue: #0e2d42;
$dark-blue: #143247;
$base-blue: #2e4859;

$base-blue-opacity: rgba(46, 72, 89, .8);

$black: rgba(0,0,0,0.9);
$base-black: #181818;
$black-grayish: #333;
$black-gray: #373737;
$black-gray-100: #4f4f4f;
$black-gray-200: #464646;

$white: #fff;
$white-opacity: rgba(255, 255, 255, 0.92);

$base-red: #b0091b;
$darker-red: #860816;
$dark-red: #a32136;
$lighter-red: #b82131;
$light-red: #bb141e;
$intense-red: #d80018;
$base-red-opacity: rgba(176, 9, 27, 0.9);

$darker-gray: #b2b2b2;
$dark-gray: #bdbdbd;

$light-gray: #c8c8c8;
$lighter-gray: #d8d8d8;
$white-gray: #f2f2f2;
$blue-gray: #7e8c95;

$slide-text: #828282;

$grad-gray: #D8D8D8;



/* transparent colours */
$tr-gray-white-base: rgba(0,0,0,0.1);
$tr-gray-white-1: rgba(0,0,0,0.18);
$tr-gray-white-2: rgba(0,0,0,0.2);
$tr-gray-white-3: rgba(0,0,0,0.25);
$tr-gray-light: rgba(200,200,200,0.59);
$tr-gray-black-base: rgba(0,0,0,0.5);
$tr-gray-black-1: rgba(24,24,24,0.6);





/* background colours - gradients
------------------------------------ */

$blue-linear: linear-gradient(180deg, $grad-blue-1 0%, $grad-blue-2 100%);
$gray-linear: linear-gradient(180deg, $base-black 0%, rgba(24,24,24,0) 100%);
$overlay-bg: linear-gradient(180deg, #181818 -29%, rgba(24,24,24,0) 71%);
$overlay-bg-2: linear-gradient(180.58deg, rgba(24, 24, 24, 0) 71%, #181818 110%);
$overlay-bg-3: linear-gradient(180.58deg, rgba(24, 24, 24, 0) 50%, #181818 120%);

$red-gray-half: linear-gradient(180deg, rgba(176,9,27,0.9) 50%, rgba(216,216,216,1) 50%);
$red-white-half: linear-gradient(180deg, rgba(176,9,27,0.9) 50%, rgba(256,256,256,1) 50%);
$blue-white-half: linear-gradient(180deg, rgba(46,72,89,0.9) 50%, rgba(216,216,216,1) 50%);
$blue-white-half2: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 50%, rgb(46, 72, 89) 50%);
$blue-white-half3: linear-gradient(180deg, rgba(46,72,89,0.9) 50%, rgb(255, 255, 255) 50%);
$blue-gradient-80: linear-gradient(180deg, rgba(14,45,66,0.8) 100%, rgba(216,216,216,0) 100%);
$blue-gradient-13: linear-gradient(180deg, rgba(255,255,255,1) 13%, rgba(46,72,89,1) 13%);
$gray-gradiend-35: linear-gradient(180deg, rgba(255,255,255,1) 35%, rgba(216,216,216,1) 35%);
$gray-gradiend-35-c8: linear-gradient(180deg, rgba(255,255,255,1) 65%, rgb(200, 200, 200) 35%);
$gray-gradiend-22: linear-gradient(180deg, rgba(255,255,255,1) 22%, rgba(216,216,216,1) 22%);
$dark-blue-lighter-grad: linear-gradient(180deg, rgba(15,50,78,1) -70%, rgba(55,82,91,0.9) 120%);

/* border colours
------------------------------------ */

$red-border: 1px solid $base-red;
/*
  $rounded-7 = 7px //my value
   //Bootstrap base variable name
  $1rem = 16px
  --------------------------------------------------------
  $rounded-7 * $border-radius = 1.75
  $border-radius * 1.75 = 0.4375rem
  $1rem * 0.4375rem = 7px (browser calculated value)
*/
/* 7px */
$rounded-7: $border-radius * 1.75;
$rounded-15: $border-radius * 3.75;
$rounded-35: $border-radius * 9.75;

/* box-shadow colours
------------------------------------ */
/*opacity: 05, offset: 02 blur: 4px */
$box-shadow-05-02-black: 0 2px 4px 0 rgba(0,0,0,0.5);
$box-shadow-18-02-black: 0 2px 4px 0 rgba(0,0,0,0.18);
$box-shadow-01-02-black: 0 2px 2px 0 rgba(0,0,0,0.1);
$box-shadow-13-01-black: 0 1px 2px 0 rgba(0,0,0,0.13);
$box-shadow-22-02-black: 0 0 2px 0 rgba(0,0,0,0.22);
$box-shadow-darker: 0 2px 4px 0 rgba(0,0,0,0.3), 0 2px 6px 0 rgba(0,0,0,0.22);
$red-shadow: rgba(176, 9, 27, 0.9);
$red-rgb: rgb(176, 9, 27);



/* font-family
------------------------------------ */

$noto-regular: 'NotoSans-Regular', sans-serif;
$noto-italic: 'NotoSans-Italic', sans-serif;
$noto-bold: 'NotoSans-Bold', sans-serif;
$noto-bold-italic: 'NotoSans-BoldItalic', sans-serif;


/* Bootstrap variable - overrides */

/*50px*/
$input-height-50: add($input-line-height * 1em, add($input-padding-y * 4, $input-height-border, false)) !default;

$xxl: 1400​px;