// Bootstrap and its default variables
//@import "../../node_modules/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap";
/* @import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins"; */
$slick-font-path: "../../node_modules/slick-slider/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../../node_modules/slick-slider/slick/" !default;
$slick-arrow-color: black !default;
@import "../../node_modules/slick-slider/slick/slick";
@import "../../node_modules/slick-slider/slick/slick-theme";
@import "../../node_modules/swiper/dist/css/swiper.css";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/select2/dist/css/select2.min.css";
@import "../../node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";
@import "~animate.css";

@import "variables";
@import "mixins";
@import "fonts";
@import "breakpoint";
@import "typography";
@import "templates/base";
@import "select2_custom";
@import "atoms/buttons";
@import "atoms/card";
@import "atoms/pagi";
@import "atoms/tagcloud";
@import "atoms/border_shadow_image";
@import "atoms/call_to_action";
@import "organisms/header";
@import "organisms/hero-search";
@import "molecules/hero";
@import "molecules/nav/nav";
@import "molecules/categories";
@import "molecules/nav/dropdown-content";
@import "molecules/carousels/slick_card_3_cols";

@import "molecules/modals/exit_popup";

@import "organisms/footer";
@import "pages/homepage/credit_section";
@import "pages/homepage/real_estate_slider_list";

@import "pages/finances/finances_hero";
@import "pages/finances/finances_8_card_section";
@import "pages/finances/finances";

@import "pages/franchise/franchise";
@import "pages/franchise/franchise_hero";
@import "pages/franchise/franchise_first_section";
@import "pages/franchise/franchise_faq";

@import "pages/offices/offices";

@import "pages/contact";
@import "pages/references";
@import "pages/career";
@import "pages/values";

@import "pages/_csr/csr";

@import "pages/_list/list";
@import "pages/_details/news";
@import "pages/_details/profile";
@import "pages/_details/privacy";

@import "organisms/sample_blocks/sample_blocks";