<section class="main-hero o-blue-gradient text-white">
    <div class="row align-items-center mb-3">
        <div class="col-7">
            <div class="o-call-to-action-bubble d-flex align-items-center mt-5 mb-4">
                <h2 class="o-bubble-title base-red-bg mb-0">Társadalmi felelősségvállalás az Openhouse-nál</h2>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="container">
        <h1 class="w-100 d-flex align-items-center py-5 px-2">Az ingatlan és az otthon közötti út élményéért dolgozunk!</h1>
        <div class="col-12 col-sm-8 col-lg-4 col-xl-3 pl-0 mt-5">
            <a href="kapcsolat" class="btn-group align-items-center w-100 text-decoration-none">
                <button type="button" class="btn o-red-primary-btn o-rounded-15-left-15 o-h-50 col-10">
                    Kapcsolatfelvétel
                </button>
                <button type="button" class="btn o-light-red-btn o-rounded-15-right-15 o-line-height-base o-h-50 col-2">
                    <img width="20" src="../../../../img/svg/kuldes.svg" alt="Küldés">
                </button>
            </a>
        </div>
    </div>
</section>