<div class="card o-card bg-white o-rounded-15 p-3">
    <div class="list-header">
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-end">
                <h5 class="o-noto-bold o-base-blue mb-3 mb-md-0">Eladó lakások</h5>
            </div>
            <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center justify-content-sm-start justify-content-lg-end">
                <a href="listaoldal" id="" class="o-rounded-15 o-bg-transparent active p-2 mr-2 btn d-flex justify-content-center align-items-center">
                    <img width="30" src="../../../../img/svg/list2.svg" alt="rács"></a>
                <a href="listaoldal2" id="" class="o-rounded-15 o-bg-transparent p-2 mr-2 btn d-flex justify-content-center align-items-center">
                    <img width="30" src="../../../../img/svg/lista_gray.svg" alt="lista"></a>
                <button id="" class="o-rounded-15 o-bg-transparent p-2 mr-2 btn d-flex justify-content-center align-items-center">
                    <img src="../../../../img/aloldalak/list/icons/terkep.png" alt=""></button>
            </div>
            <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center justify-content-sm-end mt-3 mt-md-0">
                <button id="" class="o-rounded-15 o-blue-secondary-bg px-3 py-2 text-white btn d-flex justify-content-center col-12">Keresés mentése
                    <img class="ml-3" src="../../../../img/aloldalak/list/icons/save.png" alt="Mentés"></button>
            </div>
        </div>
        <hr class="o-blue-border">
        <div class="row">
            <div class="col-12 pt-2">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <form action="" class="d-flex align-items-center justify-content-between flex-column flex-md-row">
                            <div class="d-flex justify-content-center align-items-center text-white o-rounded-15 base-red-bg px-3 py-2 w-50 mb-2 mb-lg-0 mr-lg-2" style="height: 48px;">
                                30 találat</div>
                            <div class="mb-2 mb-md-0 w-100">
                                <label class="sr-only" for="sorting">Rendezés: Ár szerint növekvő</label>
                                <select name="sorting" id="sorting"  class="form-control o-rounded-15">
                                    <option value="1">Rendezés: Ár szerint növekvő</option>
                                    <option value="2">Rendezés: Ár szerint csökkenő</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-3 offset-md-1">
                        <form action="" class="d-flex align-items-center justify-content-end">
                            <div class="mb-2 mb-md-0 w-100">
                                <label class="sr-only" for="result">2 találat/oldal</label>
                                <select name="result" id="result"  class="form-control o-rounded-15">
                                    <option value="1">4 találat/oldal</option>
                                    <option value="2">6 találat/oldal</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-block d-xl-none">
        <span class="open-sidebar" onclick="openNavR()">☰</span>
    </div>
    <div id="mySidenavR" class="sidenavR">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNavR()">×</a>
        {{> list_sidebar }}
    </div>



    <script>

        function openNavR() {
            document.getElementById("mySidenavR").style.width = "100%";
            var lgMedia = window.matchMedia("(min-width: 768px)");

            if (lgMedia.matches) { // If media query matches
                document.getElementById("mySidenavR").style.width = "50%";
            }
        }
        function closeNavR() {
            document.getElementById("mySidenavR").style.width = "0";

        }
    </script>
</div>