<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar">
    <div class="list-header m-auto w-100">
        <h6 class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex justify-content-center o-noto-bold">Gipsz Jakab</h6>
        <button type="button" class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white btn d-flex justify-content-center d-xl-none collapsed" data-toggle="collapse" data-target="#mobile">Felhasználói adatok <i class="fas ml-3 pt-1"></i></button>
    </div>
    <div id="mobile" class="collapse d-xl-none">
        <div class="card-body pb-0">
            <div class="card-content user-details">
                <ul class="nav nav-tabs profile-list" role="tablist">
                    <li role="presentation">
                        <a href="#profileDetailsContent" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Adataim</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a href="#profileSavedSearch" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Mentett keresések</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a href="#favRealEstate" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Kedvenc ingatlanjaim</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a a href="#newRealEstateHits" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Új ingatlan találat</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a href="#priceDropMonitor" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Árcsökkenés figyelő</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a href="#mandate" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Megbízásba adom</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a href="#realEstateSale" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Eladó ingatlanjaim</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a a href="#newTip" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Új Tipp</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a href="#notifications" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Értesítések</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a href="#messages" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Üzenetek</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a href="#credit" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Hitelt szeretnék</span>
                        </a>
                    </li>
                    <hr class="border-white mt-1 mb-1">
                    <li role="presentation">
                        <a href="#newsletters" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                            <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                            <span>Hírlevelek</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
            <button type="button" class="o-primary-btn o-btn-group o-btn-logout mt-3" role="button">
                <span>Kijelentkezek</span>
            </button>
        </div>
    </div>
    <div class="card-body pb-0 d-none d-xl-block">
        <div class="card-content user-details">
            <ul class="nav nav-tabs profile-list" role="tablist">
                <li role="presentation">
                    <a href="#profileDetailsContent" class="px-2 py-2 text-white w-100 d-flex active" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Adataim</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a href="#profileSavedSearch" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Mentett keresések</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a href="#favRealEstate" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Kedvenc ingatlanjaim</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a a href="#newRealEstateHits" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Új ingatlan találat</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a href="#priceDropMonitor" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Árcsökkenés figyelő</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a href="#mandate" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Megbízásba adom</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a href="#realEstateSale" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Eladó ingatlanjaim</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a a href="#newTip" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Új Tipp</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a href="#notifications" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Értesítések</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a href="#messages" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Üzenetek</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a href="#credit" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Hitelt szeretnék</span>
                    </a>
                </li>
                <hr class="border-white mt-1 mb-1">
                <li role="presentation">
                    <a href="#newsletters" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <img width="20" src="../../../../img/svg/nyil_feher.svg" alt="">
                        <span>Hírlevelek</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center d-none d-xl-block">
        <button type="button" class="o-primary-btn o-btn-group o-btn-logout" role="button">
            <span>Kijelentkezek</span>
        </button>
    </div>
</div>