<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar mb-5">
    <div class="list-header m-auto w-100">
        <h5 class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex justify-content-center">Keresés</h5>
    </div>
    <div class="card-body px-0 pb-0">
        <div class="card-content">
            <label class="sr-only" for="articleSearch">Cikkben szereplő kifejezés</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control o-rounded-15 border-0 o-h-50 text-left o-noto-bold" id="articleSearch" placeholder="Cikkben szereplő kifejezés">
            </div>
        </div>
    </div>
    <button type="button" class="o-primary-btn o-btn-group o-btn-search" role="button">
        <span>Keresés indítása!</span>
    </button>
</div>
<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar mb-5">
    <div class="list-header m-auto w-100">
        <h5 class="o-rounded-15 w-100 o-noto-bold o-base-blue px-5 py-2 bg-white d-flex justify-content-center">Kategóriák</h5>
    </div>
    <div class="card-body px-0 pb-0 pl-0 pr-0">
        <div class="card-content tag-cloud">
            <ul class="list-unstyled">
                <li>
                    <a id="categories1" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">társasházi lakás</a>
                </li>
                <li>
                    <a id="categories2" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">Budapest</a>

                </li>
                <li>
                    <a id="categories3" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">tájékoztatás</a>
                </li>
                <li>
                    <a id="categories4" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">eladó</a>
                </li>
                <li>
                    <a id="categories5" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">csok</a>
                </li>
                <li>
                    <a id="categories6" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">hitelfelvétel</a>
                </li>
                <li>
                    <a id="categories7" class="o-rounded-15 w-100 o-blue-secondary-bg text-white btn d-flex justify-content-center">jogi képviselet</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar">
    <div class="list-header m-auto w-100">
        <h5 class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex justify-content-center o-noto-bold">Kapcsolatfelvétel</h5>
        <small class="text-white d-flex justify-content-center text-center pt-3 pb-3 m-auto w-100 o-noto-bold">Kérdése merült fel? Írjon nekünk!</small>
    </div>
    <div class="card-body px-0 pb-0">
        <form action="">
            <div class="card-content">
                <label class="sr-only" for="userName">Név</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userName" placeholder="Név">
                </div>
                <label class="sr-only" for="userTel">Telefonszám</label>
                <div class="input-group mb-3">
                    <input type="tel" class="form-control o-rounded-15 border-0 o-h-50" id="userTel" placeholder="Telefonszám">
                </div>
                <label class="sr-only" for="userMail">E-mail</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50" id="userMail" placeholder="E-mail">
                </div>
                <label class="sr-only" for="userMessage">Üzenet</label>
                <div class="input-group mb-3">
                    <textarea class="o-rounded-15 w-100" name="userMessage" id="userMessage" rows="5"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
        <small class="o-blue-primary-btn d-flex o-rounded-15 px-3 align-items-center text-decoration-none">
            <input class="mr-2 input-height-50" type="checkbox" id="offPrivacy">
            <label class="mb-0" for="offPrivacy">Az <a class="text-white" href="#!">Adatvédelmi nyilatkozatot </a>elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</label>
        </small>
        <button type="button" class="o-primary-btn o-btn-group o-btn-send mt-3 w-100" role="button">
            <span>Elküldöm az üzenetet!</span>
        </button>
    </div>
</div>