<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar mb-4 mb-xl-5">
    <div class="list-header m-auto w-100">
        <h6 class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex justify-content-center">Szabályzatok és Tájékoztatók</h6>
    </div>
    <div class="card-body p-2">
        <div class="card-content privacy-details">
            <ul class="nav nav-tabs privacy-list border-bottom-0" role="tablist">
                <li role="presentation">
                    <a href="#privacy1" class="px-2 py-2 text-white w-100 d-flex active" data-toggle="tab" role="tab">
                        <span>Panaszkezelési tájékoztató</span>
                    </a>
                </li>
                <hr class="border-white mt-0 mb-0">
                <li role="presentation">
                    <a href="#privacy2" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <span>Adatvédelmi tájékoztató</span>
                    </a>
                </li>
                <hr class="border-white mt-0 mb-0">
                <li role="presentation">
                    <a href="#privacy3" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <span>Süti kezelési tájékoztató</span>
                    </a>
                </li>
                <hr class="border-white mt-0 mb-0">
                <li role="presentation">
                    <a a href="#privacy4" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <span>Ügyfél-azonosítási tájékoztató</span>
                    </a>
                </li>
                <hr class="border-white mt-0 mb-0">
                <li role="presentation">
                    <a href="#privacy5" class="px-2 py-2 text-white w-100 d-flex" data-toggle="tab" role="tab">
                        <span>Üzletszabályzat</span>
                    </a>
                </li>
                <hr class="border-white mt-0 mb-0">
                <li class="mt-3" role="presentation">
                    <button type="button" class="o-primary-btn o-btn-group chevron-down o-medium-btn-size collapsed"
                            data-toggle="collapse" data-target="#collapseSidebarPrivacy" role="button"  aria-expanded="false" aria-controls="collapseSidebarPrivacy">
                        <span>Kapcsolatfelvétel</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar collapse" id="collapseSidebarPrivacy">
    <div class="list-header m-auto w-100">
        <h5 class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex justify-content-center o-noto-bold">Kapcsolatfelvétel</h5>
        <small class="text-white d-flex justify-content-center text-center pt-3 pb-3 m-auto w-100 o-noto-bold">Kérdése merült fel? Írjon nekünk!</small>
    </div>
    <div class="card-body px-0 pb-0">
        <form action="">
            <div class="card-content">
                <label class="sr-only" for="userName">Név</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userName" placeholder="Név">
                </div>
                <label class="sr-only" for="userTel">Telefonszám</label>
                <div class="input-group mb-3">
                    <input type="tel" class="form-control o-rounded-15 border-0 o-h-50" id="userTel" placeholder="Telefonszám">
                </div>
                <label class="sr-only" for="userMail">E-mail</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50" id="userMail" placeholder="E-mail">
                </div>
                <label class="sr-only" for="userMessage">Üzenet</label>
                <div class="input-group mb-3">
                    <textarea class="o-rounded-15 w-100" name="userMessage" id="userMessage" rows="5"></textarea>
                </div>
            </div>
            <div class="o-card-footer mt-3">
                <small class="o-blue-primary-btn d-flex o-rounded-15 px-3 align-items-center text-decoration-none">
                    <input class="mr-2 input-height-50" type="checkbox" id="offPrivacy">
                    <label class="mb-0" for="offPrivacy">Az <a class="text-white" href="#!">Adatvédelmi nyilatkozatot</a>elolvastam, annak tartalmát elfogadom. Hozzájárulok a fent megadott adatok kezeléséhez.</label>
                </small>
                <button type="button" class="o-primary-btn o-btn-group o-btn-send mt-3 w-100" role="button">
                    <span>Elküldöm az üzenetet!</span>
                </button>
            </div>
        </form>
    </div>
</div>
