
<div class="card o-card o-blue-primary-bg o-rounded-15 px-2 py-5 list-sidebar">
    <div class="list-header m-auto w-100">
        <h4 class="o-rounded-15 w-100 o-blue-secondary-bg px-5 py-2 text-white d-flex justify-content-center o-noto-bold">Mit keresel?</h4>
        <button class="text-white d-flex align-items-center justify-content-center o-rounded-15 py-2 btn o-bg-transparent m-auto w-100 my-4">
            <img class="delete-icon mr-2" src="../../../../img/svg/x_svg.svg" alt="Törlöm a beállításokat"> Törlöm a beállításokat</button>
    </div>
    <div class="card-body px-0 pb-0">
        <div class="card-content">
            <label class="sr-only" for="id">Azonosító</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control o-rounded-15 border-0 o-h-50" id="id" placeholder="Azonosító">
            </div>
            <div class="pt-4" id="salesTypeAccordion">
                <div class="px-3">
                    <div class="" id="salesType">
                        <h5 class="mb-0">
                            <div class="text-white collapsed cursor-pointer" data-toggle="collapse" data-target="#collapseSales" aria-expanded="true" aria-controls="salesType">
                                <i class="fas" aria-hidden="true"></i>
                                Étékesítés típusa
                            </div>
                        </h5>
                    </div>
                    <div id="collapseSales" class="collapse show" aria-labelledby="salesType" data-parent="#salesTypeAccordion">
                        <div>
                            <div class="d-flex align-items-center mt-3">
                                <input class="mr-2 checkbox-base" type="radio" name="radio" id="salable">
                                <label class="mb-0 text-white" for="salable">Elado</label>
                            </div>
                            <div class="d-flex align-items-center mt-3">
                                <input class="mr-2 checkbox-base" type="radio" name="radio" id="vacancy">
                                <label class="mb-0 text-white" for="vacancy">Kiado</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-white">
            <div id="realETypeAccordion">
                <div class="">
                    <div class="px-3" id="realEType">
                        <h5 class="mb-0">
                            <div class="cursor-pointer text-white collapsed" data-toggle="collapse" data-target="#collapseRealEType" aria-expanded="true" aria-controls="realEType">
                                <i class="fas" aria-hidden="true"></i>
                                Ingatlan típusa
                            </div>
                        </h5>
                    </div>
                    <div id="collapseRealEType" class="collapse show pt-3" aria-labelledby="realEType" data-parent="#realETypeAccordion">
                        <div class="py-2">
                            <label class="sr-only" for="realEstateType">Társasházi lakás</label>
                            <select name="realEstateType[]" id="realEstateType" class="form-control o-rounded-15">
                                <option></option>>
                                <option value="1">Társasházi lakás</option>
                                <option value="2">Családi ház</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-white">
            <div id="cityAccordion">
                <div class="">
                    <div class="px-3" id="cityAria">
                        <h5 class="mb-0">
                            <div class="cursor-pointer text-white collapsed" data-toggle="collapse" data-target="#collapseCity" aria-expanded="true" aria-controls="cityAria">
                                <i class="fas" aria-hidden="true"></i>
                               Település
                            </div>
                        </h5>
                    </div>

                    <div id="collapseCity" class="collapse show pt-3" aria-labelledby="cityAria" data-parent="#cityAccordion">
                        <div class="py-2">
                            <label class="sr-only" for="city">Társasházi lakás</label>
                            <select name="city[]" id="city" class="form-control o-rounded-15">
                                <option value=""></option>
                                <option value="1">Társasházi lakás</option>
                                <option value="2">Családi ház</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-white">
            <div id="prizeAccordion">
                <div class="">
                    <div class="px-3" id="prizeAria">
                        <h5 class="mb-0">
                            <div class="cursor-pointer text-white collapsed" data-toggle="collapse" data-target="#collapsePrize" aria-expanded="true" aria-controls="prizeAria">
                                <i class="fas" aria-hidden="true"></i>
                                Ár
                            </div>
                        </h5>
                    </div>

                    <div id="collapsePrize" class="collapse show pt-3" aria-labelledby="prizeAria" data-parent="#prizeAccordion">
                        <div class="py-2">
                             <div class="input-group mb-3 mb-lg-0 o-prepend-group">
                                <input type="text" class="form-control o-rounded-15-left-15 o-rounded-15-right-0 border-0 price-control" placeholder="Min">
                                <input type="text" class="form-control o-rounded-15-right-0 border-left border-right-0 border-top-0 border-bottom-0 price-control" placeholder="Max">
                                <div class="o-rounded-15 o-rounded-15-left-0 bg-white d-flex align-items-center px-3">
                                    <div class="o-base-blue o-noto-bold"><span id="area_unit_sell">millió Ft</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-white">
            <div id="baseAreaAccordion">
                <div class="">
                    <div class="px-3" id="baseArea">
                        <h5 class="mb-0">
                            <div class="cursor-pointer text-white collapsed" data-toggle="collapse" data-target="#collapsebaseArea" aria-expanded="true" aria-controls="baseArea">
                                <i class="fas" aria-hidden="true"></i>
                                Alapterület
                            </div>
                        </h5>
                    </div>
                    <div id="collapsebaseArea" class="collapse show" aria-labelledby="baseArea" data-parent="#baseAreaAccordion">
                        <div class="py-2">
                            <div class="d-flex align-items-center mt-3">
                                <input class="mr-2 input-height-50 form-control o-rounded-15" type="text" id="baseAreaA">
                                <label class="sr-only mb-0 text-white" for="baseAreaA">Település</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-white">
            <div id="energyAccordion">
                <div class="">
                    <div class="px-3" id="energyAria">
                        <h5 class="mb-0">
                            <div class="cursor-pointer text-white collapsed" data-toggle="collapse" data-target="#collapseEnergy" aria-expanded="true" aria-controls="energyAria">
                                <i class="fas" aria-hidden="true"></i>
                                Energiatakarékos
                            </div>
                        </h5>
                    </div>
                    <div id="collapseEnergy" class="collapse show" aria-labelledby="energyAria" data-parent="#energyAccordion">
                        <div class="px-3">
                            <div class="d-flex align-items-center mt-3">
                                <input class="mr-2" type="checkbox" id="powerSavingYes">
                                <label class="mb-0 text-white" for="powerSavingYes">Igen</label>
                            </div>
                            <div class="d-flex align-items-center mt-3">
                                <input class="mr-2" type="checkbox" id="powerSavingNo">
                                <label class="mb-0 text-white" for="powerSavingNo">Nem</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center mt-3">
        <div class="col-12">
            <button type="button" class="o-primary-btn o-btn-group o-btn-search w-100" role="button">
                <span>Keresés (&nbsp;<span>x</span>&nbsp;) db</span>
            </button>
        </div>
    </div>
</div>
<div class="card o-card o-lighter-red-bg-opacity o-rounded-15 px-2 py-5 list-sidebar mt-5 d-none d-md-block">
    <div class="list-header m-auto w-100">
        <h4 class="o-rounded-15 w-100 o-red-primary-btn px-5 py-2 text-white d-flex justify-content-center o-noto-bold">Hitelt szeretnél?</h4>
        <small class="text-white d-flex justify-content-center text-center pt-3 pb-3 m-auto w-100 o-noto-bold">
            Találd meg velünk a Neked legmegfelelőbb hitelkonstrukciót</small>
    </div>
    <div class="card-body px-0 pb-0">
        <form action="">
            <div class="card-content">
                <label class="sr-only" for="userName2">Név</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userName2" placeholder="Név">
                </div>
                <label class="sr-only" for="userTel2">Telefonszám</label>
                <div class="input-group mb-3">
                    <input type="tel" class="form-control o-rounded-15 border-0 o-h-50" id="userTel2" placeholder="Telefonszám">
                </div>
                <label class="sr-only" for="userMail2">E-mail</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control o-rounded-15 border-0 o-h-50" id="userMail2" placeholder="E-mail">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control o-rounded-15 border-0 o-h-50" id="userMail2" placeholder="E-mail">
                </div>
                <label class="sr-only" for="houseFlatOption">Üzenet</label>
                <select name="houseFlatOption" id="houseFlatOption" class="form-control o-rounded-15-right-15 o-select">
                    <option></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                </select>
            </div>
        </form>
    </div>
    <div class="row o-card-footer justify-content-between px-3 py-2 align-items-center">
        <small class="o-red-primary-btn d-flex o-rounded-15 px-3 align-items-center text-decoration-none">
            <input class="mr-2 input-height-50" type="checkbox" id="offPrivacy">
            <label class="mb-0" for="offPrivacy">A Pénzügyi közvetítő hálózat<a class="text-white" href="#!">adatvédelmi nyilatkozatát elolvastam és elfogadom.</a></label>
        </small>
        <button type="button" class="o-primary-btn o-btn-group o-btn-send mt-3 w-100" role="button">
            <span>Egyedi ajánlatot kérek</span>
        </button>
    </div>
</div>