html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: $noto-regular;
}

.main {
  position: relative;
  margin-top: 90px;

  @include media-breakpoint-up(md) {
    margin-top: 115px;
  }
}

.h-70 {
  @include media-breakpoint-up(md) {
    height: 70px;
  }
}

//custom padding
.custom-padding-y {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media-breakpoint-up(md) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 3.4rem;
    padding-bottom: 3.4rem;
  }
}

.custom-padding-t {
  padding-top: 2rem;

  @include media-breakpoint-up(md) {
    padding-top: 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 3.4rem;
  }
}

.custom-padding-b {
  padding-bottom: 2rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 3.4rem;
  }
}

.px-32 {
  padding-left: 16px;
  padding-right: 16px;
  @include media-breakpoint-up(md) {
    padding-left: 32px;
    padding-right: 33px;
  }
}

//------------------------------
//custom margin
.custom-margin-y {
  @include media-breakpoint-down(md) {
    margin-top: 1.625rem;
    margin-bottom: 1.625rem;
  }

  margin-top: 2.625rem;
  margin-bottom: 2.625rem;
}

.custom-margin-t {
  @include media-breakpoint-down(md) {
    margin-top: 1.625rem;
  }

  margin-top: 2.625rem;
}

.custom-margin-b {
  @include media-breakpoint-down(md) {
    margin-bottom: 1.625rem;
  }

  margin-bottom: 2.625rem;
}

a,
button {
  &:focus {
    outline: -webkit-focus-ring-color auto 0;
  }
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: $lighter-gray;
}

.custom-mobile-col {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) and (min-width: 320px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.o-mt-m3 {
  margin-top: -3rem;
}

.o-mt-m6 {
  margin-top: -6rem;
}

.o-mt-m5 {
  margin-top: -5rem;
}

.o-mt-lg-m5 {
  @include media-breakpoint-up(lg) {
    margin-top: -5rem;
  }
}

.o-mt-xl-m6 {
  @include media-breakpoint-up(xl) {
    margin-top: -6rem;
  }
}


.o-mt-lg-m6 {
  @include media-breakpoint-up(lg) {
    margin-top: -6rem;
  }
}

.o-mt-m10 {
  margin-top: -10rem;
}

.o-mt-lg-m10 {
  @include media-breakpoint-up(lg) {
    margin-top: -10rem;
  }
}

.mh-200 {
  min-height: 200px !important;
}

.flex-md-column-reverse-none {
  @include media-breakpoint-up(md) {
    flex-direction: row !important;
  }
}

.flex-xl-column-reverse-none {
  @include media-breakpoint-up(xl) {
    flex-direction: row !important;
  }
}

.flex-lg-column-reverse-none {
  @include media-breakpoint-up(lg) {
    flex-direction: row !important;
  }
}

::selection {
  color: #fff;
  background-color: $light-gray;
}

::-moz-selection {
  color: #fff;
  background-color: $light-gray;
}

.right-0 {
  right: 0 !important;
}

.o-hidden {
  display: none;
}

@media all and (min-width: 768px) {

  .container,
  .container-sm,
  .container-md {
    max-width: 90%;
  }
}


@media all and (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 90%;
  }
}


/* background colours - gradients
------------------------------------ */
.o-blue-gradient {
  background: $gradient-blue;
  background: $blue-linear;
}

.o-dark-blue-lighter-grad {
  background: $base-blue;
  background: $dark-blue-lighter-grad;
}

.o-gray-gradient {
  background: $black;
  background: $gray-linear;
}

.base-red-bg {
  background-color: $base-red;
}

.o-light-red-bg {
  background-color: $light-red;
}

.o-dark-red-bg {
  background-color: $darker-red;
}

.o-lighter-red-bg-opacity {
  background-color: $base-red-opacity;
}

.o-gray-bg {
  background-color: $lighter-gray;
}

.o-bg-white-gray {
  background-color: $white-gray;
}

.o-lighter-gray-bg {
  background-color: $light-gray;
}

.o-grad-gray {
  background-color: $grad-gray;
}

.red-gray-half-gradient {
  background: $base-red;
  background: $red-gray-half;
}

.red-white-half-gradient {
  background: $base-red;
  background: $red-white-half;
}

.blue-white-half-gradient {
  background: $base-blue;
  background: $blue-white-half3;
}

.blue-gray-half-gradient {
  background: $base-blue;
  background: $blue-white-half;
}

.white-blue-half-gradient {
  background: $base-blue;
  background: $blue-white-half2;
}

.o-blue-primary-bg {
  background-color: $base-blue;
}

.o-blue-secondary-bg {
  background-color: $dark-blue;
}


.o-blue-opacity-bg {
  background-color: rgba(46, 72, 89, 0.9);
}

.o-intense-red-bg {
  background-color: $intense-red;
}

.o-blue-gradient-80 {
  background: $darker-blue;
  background: $blue-gradient-80;
}

.o-blue-gradient-13 {
  background: $white;
  background: $blue-gradient-13;
}

.o-gray-gradient-35 {
  background: white;
  background: $gray-gradiend-22;

  @include media-breakpoint-up(lg) {
    background: $gray-gradiend-35;
  }
}

.o-gray-gradient-35-c8 {
  background: white;
  background: $gray-gradiend-35-c8;
}

/* colors
------------------------------------ */

.o-base-blue {
  color: $base-blue;
}

.o-base-black {
  color: $base-black;
}

.o-base-dark {
  color: $black;
}

.o-black-grayish {
  color: $black-grayish;
}

.o-intense-red {
  color: $intense-red;
}

.o-base-red {
  color: $base-red;
}

.o-dark-red {
  color: $darker-red;
}

.o-black {
  color: $black;
}

.o-light-gray {
  color: $light-gray;
}

.o-gray-100 {
  color: $black-gray-100;
}

.o-gray-200 {
  color: $black-gray-200;
}


/* box-shadow colours
------------------------------------ */

.red-box-shadow {
  //background-color: $white; /* Needed for IEs */
  -moz-box-shadow: -25px -35px 2px $red-shadow !important;
  -webkit-box-shadow: -25px -35px 2px $red-shadow !important;
  -o-box-shadow: -25px -35px 2px $red-shadow !important;
  box-shadow: -25px -35px 2px $red-shadow !important;
}

.o-box-shadow-base {
  -webkit-box-shadow: $box-shadow-05-02-black;
  -moz-box-shadow: $box-shadow-05-02-black;
  box-shadow: $box-shadow-05-02-black;
}

.o-box-shadow-none {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.o-box-shadow-secondary {
  -webkit-box-shadow: $box-shadow-18-02-black;
  -moz-box-shadow: $box-shadow-18-02-black;
  box-shadow: $box-shadow-18-02-black;
}

.o-box-shadow-darker {
  -webkit-box-shadow: $box-shadow-darker !important;
  -moz-box-shadow: $box-shadow-darker !important;
  box-shadow: $box-shadow-darker !important;
}

/* border radius
------------------------------------ */

.o-rounded-7 {
  border-radius: $rounded-7 !important;
}

.o-rounded-15 {
  border-radius: $rounded-15;
}

.o-rounded-35 {
  border-radius: $rounded-35;
}

.o-rounded-xl-0 {
  @include media-breakpoint-up(xl) {
    border-radius: 0;
  }
}

.o-rounded-15-left-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.o-rounded-top-right-0 {
  border-top-right-radius: 0 !important;
}

.o-rounded-15-right-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.o-rounded-15-right-xl-0 {
  @include media-breakpoint-up(xl) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.o-rounded-15-left-xl-0 {
  @include media-breakpoint-up(xl) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.o-rounded-15-right-15 {
  border-top-right-radius: $rounded-15 !important;
  border-bottom-right-radius: $rounded-15 !important;
}

.o-rounded-15-left-15-md-down {
  @include media-breakpoint-down(sm) {
    border-top-left-radius: $rounded-15 !important;
    border-bottom-left-radius: $rounded-15 !important;
  }
}

.o-rounded-15-left-15 {
  border-top-left-radius: $rounded-15 !important;
  border-bottom-left-radius: $rounded-15 !important;
}

.o-rounded-15-top-left-15 {
  border-top-left-radius: $rounded-15 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.rounded-bottom-left-right-0 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

//borders

.o-border-red-deco {
  box-shadow: 0px -15px 0px 0px $base-red;
  -webkit-box-shadow: 0px -15px 0px 0px $base-red;
  -moz-box-shadow: 0px -15px 0px 0px $base-red;
  border-radius: 15px;
}

.o-red-deco {
  border-top: 20px solid $base-red;
}

.o-border-blue-deco {
  box-shadow: 0px -15px 0px 0px $base-blue;
  -webkit-box-shadow: 0px -15px 0px 0px $base-blue;
  -moz-box-shadow: 0px -15px 0px 0px $base-blue;
  border-radius: 15px;
}

.o-red-border {
  width: 100%;
  height: 5px;
  content: '';
  background-color: $base-red;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.o-blue-border {
  width: 100%;
  height: 5px;
  content: '';
  background-color: $base-blue;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.o-border-top-gray-2 {
  border-top: 1px solid $lighter-gray;

  @include media-breakpoint-up(md) {
    border-top: 2px solid $lighter-gray;
  }
}

.o-border-bottom-gray-2 {
  border-bottom: 1px solid $lighter-gray;

  @include media-breakpoint-up(md) {
    border-bottom: 2px solid $lighter-gray;
  }
}

.o-border-right-gray-2 {
  border-right: 1px solid $lighter-gray;

  @include media-breakpoint-up(md) {
    border-right: 2px solid $lighter-gray;
  }
}

.o-border-left-gray-2 {
  border-left: 1px solid $lighter-gray;

  @include media-breakpoint-up(md) {
    border-left: 2px solid $lighter-gray;
  }
}

.o-border-lg-down-top-button-none {
  @include media-breakpoint-down(lg) {
    border-top: 0;
    border-bottom: 0;
  }
}

.o-border-md-top-button-none {
  @include media-breakpoint-up(md) {
    border-top: 0;
    border-bottom: 0;
  }
}


/* forms
------------------------------------ */

.input-height-50 {
  height: $input-height-50;
}

.o-line-height-base {
  line-height: inherit;
}

.o-line-height-1 {
  line-height: 1;
}

.o-line-height-medium {
  line-height: 1.5;
}


/*.o-h-50 {
  height: 40px;
  @include media-breakpoint-up(md){
    height: 50px;
  }
 }*/

.o-h-70 {
  height: 70px;
}

/*.o-h-40 {
  height: 40px;
}*/

.o-h-30 {
  height: 30px;
}

.o-h-55 {
  height: 55px;

  @media all and (min-width: 375px) {
    height: 50px;
  }
}

.resize-none {
  resize: none;
}



/* collapse action
------------------------------------ */

[data-toggle="collapse"] .fas:before {
  content: "\f106";
}

[data-toggle="collapse"].collapsed .fas:before {
  content: "\f107";
}

/* labels - position
------------------------------------ */
.label-holder {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.flag-label {
  @extend .px-3;
  @extend .py-1;
  @extend .px-xl-4;
  @extend .o-rounded-15;
  @extend .text-white;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .my-1;
}

.o-red-label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}

.o-sale-label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 999;
}

.cursor-pointer {
  cursor: pointer;
}

.o-sales-red-label {
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  z-index: 999;
}

/* transform - rotate
------------------------------------ */
.o-rotate-180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

//bs custom checkbox
.custom-c-input {
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: $base-blue !important;
  }

  .custom-checkbox .custom-control-input:checked:focus~.custom-control-label::before {
    box-shadow: $base-blue;
  }

  .custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
  }

  .custom-checkbox .custom-control-input:active~.custom-control-label::before {
    background-color: #C8FFC8;
  }

  .custom-checkbox .custom-control-label {
    cursor: pointer;
  }

  .custom-checkbox .custom-control-label::before {
    border-radius: 3px;
  }
}

.custom-c-input-50 {

  .custom-control-label::before,
  .custom-control-label::after {
    width: 1.8rem;
    height: 1.8rem;

    top: 0;
    left: -2.5rem;
    display: inline-block;
  }
}


//icon slider - homepage

.icon-slider {
  img {
    width: 42px;
    margin: auto;

    @include media-breakpoint-up(md) {
      width: 110px;
    }
  }

  .slide-text {
    color: $slide-text;
    font-weight: 700;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;

    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
      line-height: 27px;
      margin-top: 15px;
    }
  }

  .slick-prev,
  .slick-next {
    top: 43%;
    //@include media-breakpoint-up(md) {
    //  top: 50%;
    //}
  }
}



/* ==== homepage - full img slider === */
.full-img-slider {
  .img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;

    .cover-img {
      min-height: 100%;
      min-width: 100%;
      position: relative;
      display: inline-block;
      max-width: none;
    }
  }

  .slick-slider {
    margin: 0;
    padding: 0 !important;
  }

  .slick-slide {
    float: left
      /* If RTL Make This Right */
    ;
    padding: 0;
  }

  .slick-track {
    height: 350px;

    @include media-breakpoint-up(xl) {
      height: 380px;
    }
  }

  /* ==== Slider Style === */
  .item .img-fill {
    height: 350px;

    @include media-breakpoint-up(xl) {
      height: 380px;
    }
  }

  .item .img-fill .info {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .20);
    line-height: 5;
    text-align: center;
  }

  .slick-dots {
    bottom: 1rem;

    @include media-breakpoint-up(xl) {
      bottom: 3rem;
    }

    li.slick-active button:before {
      color: $white;
    }

    li button:before {
      color: $white;
      font-size: 0.8rem;
    }
  }

  .slider-heading {
    font: 1rem/2rem $noto-bold;
    color: $white;
    animation: fadeInDown 1s both;
    margin: 0;
    padding: 0;
    text-align: left;

    @include media-breakpoint-up(md) {
      font: 1.5rem/2rem $noto-bold;
    }
  }

  .slick-active .slider-heading {
    animation: fadeInDown 1s both 1s;
  }

  //.slick-active {
  //  animation: slideInRight 1s both;
  //}

  background: $base-black;
}

.full-img-slider-2 {
  .slide-img {
    margin: 3rem auto 1rem;
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
  }

  .img-fill .info {
    line-height: inherit;
  }

  .slider-heading {
    font: 1rem/2rem $noto-bold;
    color: $white;
    animation: fadeInDown 1s both;
    margin: 0;
    padding: 0;
    text-align: left;

    @include media-breakpoint-up(md) {
      font: 1.5rem/2rem $noto-bold;
    }
  }

  .slick-active .slider-heading {
    animation: fadeInDown 1s both 1s;
  }

  .slick-active {

    /*
    animation: slideInRight 1s both;
    */
    .page-link {
      color: $darker-red
    }
  }
}

.pagi-container {
  max-width: 100%;
  padding-bottom: 4rem;
  margin-top: -5rem !important;

  @media all and (min-width: 400px) {
    max-width: 75%;
  }

  @include media-breakpoint-up(sm) {
    max-width: 450px;
    margin-top: 0 !important;
    padding-bottom: 3rem;
  }
}

.full-img-slider-2-pagi {
  .slick-current.slick-active {

    /*
    animation: Slick-FastSwipeIn 1s both;
    */
    .page-link {
      color: $darker-red
    }
  }

  .page-item {
    display: flex !important;
    justify-content: center;
  }

  .slick-prev {
    left: -50px !important;
    top: 0px;

    @include media-breakpoint-up(xl) {
      left: -35px !important;
    }
  }

  .slick-slide {
    margin: 0 9px !important;

    @include media-breakpoint-up(xl) {
      margin: auto !important;
    }
  }

  .slick-next {
    right: -25px !important;
    top: 0px;

    @include media-breakpoint-up(xl) {
      right: -35px !important;
    }
  }

  .slick-prev::before,
  .slick-next::before {
    display: none;
    font-size: 14px !important;
    background-color: $white;
    padding: 10px 12px;
    border-radius: $rounded-7;

    @include media-breakpoint-up(md) {
      font-size: 20px !important;
      padding: 14px 17px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 27px !important;
      padding: 14px 17px;
    }

    @media all and (min-width: 1920px) {
      padding: 20px 22px;
    }
  }
}


/* ==== Slider Image Transition === */
@keyframes Slick-FastSwipeIn {
  0% {
    transform: rotate3d(0, 1, 0, 150deg) scale(0) perspective(400px);
  }

  100% {
    transform: rotate3d(0, 1, 0, 0deg) scale(1) perspective(400px);
  }
}


/*
.o-gray-200.collapsing {
  height: 100% !important;
}
*/

.collapse.show {
  display: block !important;
}

// prize counter

.counter-box {
  display: block;
  padding: 1rem;
  text-align: left;

  .counter-title {
    margin: 5px 0 0;
    padding: 0;
    color: $white;
    font-size: 1rem;
    font-weight: 500
  }

  i {
    font-size: 1.5rem;
    margin: 0 0 15px;
    color: $white;
  }

  .counter,
  .currency {
    //display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: $white;
    line-height: 28px
  }
}


.counter-box.colored {
  background: $lighter-red;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: $white;
}



.residential-park-main .main-hero {
  min-height: 400px;
}


//animation with animate.css
.road-map-section {

  /* background-image: url("/img/svg/roadmap_bg.svg");
  background-position: center;
  background-size: cover;*/
  .animation-left {
    animation-delay: calc(var(--scroll) * -1s); // u can find this variable in a js file
    animation: backInDown;
    /* referring directly to the animation's @keyframe declaration / animate.css*/
    animation-duration: 5s;
    /* don't forget to set a duration! */
    z-index: 1;
    position: relative;
  }

  .animation-right {
    animation-delay: calc(var(--scroll) * -1s); // u fcan find this variable in a js file
    animation: backInUp;
    /* referring directly to the animation's @keyframe declaration / animate.css*/
    animation-duration: 5s;

    /* don't forget to set a duration! */
    .map-arrow {
      transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }
  }

  .map-img {
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      -o-object-fit: cover;
      border-radius: $rounded-15;
      @extend .o-box-shadow-darker;

      @include media-breakpoint-up(lg) {
        height: 300px;
      }
    }
  }

  .map-number {
    width: 45px;
    height: 45px;
    margin-bottom: 5px;

    @include media-breakpoint-up(lg) {
      width: 83px;
      height: 84px;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      @extend .o-box-shadow-darker;
      border-radius: 5px;
    }
  }

  .map-card-header {
    position: absolute;
    width: 100%;

    @include media-breakpoint-up(md) {
      min-width: max-content;
    }

    @include media-breakpoint-up(xl) {
      max-width: 400px;
      min-width: 250px;
    }

    @media all and (min-width: 1440px) {
      max-width: 460px;
      min-width: max-content;
    }

    .map-card-header-title {
      width: 100%;
      position: relative;
      top: -3rem;
      left: 0;
      z-index: 1;

      @include media-breakpoint-up(xl) {
        left: 4rem;
      }
    }
  }

  .map-right-col {
    .right-box {
      @include media-breakpoint-up(lg) {
        min-width: 545px;
        width: 100%;
      }

      @include media-breakpoint-up(xl) {
        position: absolute;
        left: -3rem;
        bottom: 3px;
        z-index: -1;
      }
    }

    .left-box {
      @include media-breakpoint-up(lg) {
        min-width: 545px;
        width: 100%;
      }

      @include media-breakpoint-up(xl) {
        position: absolute;
        left: 3rem;
        bottom: 3px;
        z-index: -1;
      }
    }
  }

  .card-body {
    padding: 3rem 1rem 1rem;

    @include media-breakpoint-up(lg) {
      padding: 3rem 4rem 1rem;
    }
  }
}

.jQTAreaCountBox {
  .jQTAreaCountRow {
    color: $darker-red;
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: 1;
  }

  textarea {
    border-radius: $rounded-15 !important;
  }

  .jQTAreaExt {
    height: 5px;
    background-color: $dark-red;
  }
}


//about us

.about-us {
  .main-hero {
    min-height: 300px;
    padding-bottom: 7rem;
  }

  @include media-breakpoint-up(lg) {
    .main-hero {
      min-height: 400px;
      padding-bottom: 10rem;
    }
  }

  .counter-card {
    min-height: 270px;
    width: 100%;
    background-image: url('/img/penzugy/blue-box.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @extend .o-rounded-15;
  }
}

.team-box {
  .team-slider img {
    max-height: 160px;
    margin: auto;
  }

  .slider-wrapper {
    padding: 2rem;

    @include media-breakpoint-up(lg) {
      padding: 4rem;
    }
  }
}

.partner-section {
  .slider-wrapper {
    padding: 1rem;

    @include media-breakpoint-up(lg) {
      padding: 2rem;
    }

    .slick-next {
      right: -40px;

      @include media-breakpoint-up(xl) {
        right: -60px;
      }
    }

    .slick-prev {
      left: -40px;

      @include media-breakpoint-up(xl) {
        left: -60px;
      }
    }
  }

  .slick-slide img {
    object-fit: cover;
    width: 200px;
    height: 100px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size: cover;
    transition: all .5s linear;

    &:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
}

//services

.services {
  .main-hero {
    min-height: 400px;
  }
}


//loader
#spinner {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  //display: block;
  opacity: .95;
  background-color: $white;
  z-index: 99999;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-image {
    position: absolute;
    top: 50%;
    //left: 50%;
    z-index: 100;
    width: 75px;

    &.loading-logo {
      top: 45%;
      //left: 49.5%;
    }
  }
}


// show more btn

.hide-content {
  overflow: hidden;
  line-height: 1em;
  height: 2em;
}

.show-content {
  line-height: 1em;
  height: auto;
}

.contact-element {
  .form-row {
    width: 100%;
    justify-content: space-between;

  }

  .o-btn-send {
    width: 100%;
    @include media-breakpoint-up(md) {
        width: 50%;
        margin: auto;
    }

    @include media-breakpoint-up(lg) {
        width: auto;
        margin-left: rem(30px);
    }
  }
}

.select2-container--bootstrap4 .select2-selection--single {
  height: rem(50px) !important;
}